Repository gemini-hlsw/lucuma-core: changes, and which Mergify rules are due for each by the changed paths.
All: Label ags PRs, Label benchmarks PRs, Label catalog PRs, Label catalog-testkit PRs, Label catalog-tests PRs, Label core PRs, Label horizons PRs, Label npm PRs, Label testkit PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJS)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label ags PRs
  conditions:
  - files~=^modules/ags/
  actions:
    label:
      add:
      - ags
      remove: []
- name: Label benchmarks PRs
  conditions:
  - files~=^modules/benchmarks/
  actions:
    label:
      add:
      - benchmarks
      remove: []
- name: Label catalog PRs
  conditions:
  - files~=^modules/catalog/
  actions:
    label:
      add:
      - catalog
      remove: []
- name: Label catalog-testkit PRs
  conditions:
  - files~=^modules/catalog-testkit/
  actions:
    label:
      add:
      - catalog-testkit
      remove: []
- name: Label catalog-tests PRs
  conditions:
  - files~=^modules/catalog-tests/
  actions:
    label:
      add:
      - catalog-tests
      remove: []
- name: Label core PRs
  conditions:
  - files~=^modules/core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label horizons PRs
  conditions:
  - files~=^modules/horizons/
  actions:
    label:
      add:
      - horizons
      remove: []
- name: Label npm PRs
  conditions:
  - files~=^modules/npm/
  actions:
    label:
      add:
      - npm
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^modules/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^modules/tests/
  actions:
    label:
      add:
      - tests
      remove: []

Fix PWFS arm angle calculation
  modules/core/shared/src/main/scala/lucuma/core/geom/pwfs/PwfsProbeArm.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
Due: Label core PRs, Label tests PRs

Add syntax to simplify some operations
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/package.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/pwfs/PwfsProbeArm.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/syntax/package.scala
  modules/core/shared/src/main/scala/lucuma/core/math/syntax/units.scala
Due: Label core PRs

cleanup
  modules/core/shared/src/main/scala/lucuma/core/geom/pwfs/PwfsProbeArm.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
Due: Label core PRs, Label tests PRs

Add demo with gmos + pwfs
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
Due: Label tests PRs

scalafix
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/package.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/pwfs/PwfsCandidatesArea.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/pwfs/PwfsPatrolField.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/pwfs/PwfsProbeArm.scala
  modules/core/shared/src/main/scala/lucuma/core/math/syntax/units.scala
Due: Label core PRs

Update binary version
  build.sbt
Due: none

Swap parameters as suggested on the PR
  modules/core/shared/src/main/scala/lucuma/core/geom/flamingos2/Flamingos2CandidatesArea.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/flamingos2/Flamingos2PatrolField.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/flamingos2/Flamingos2ScienceAreaGeometry.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosCandidatesArea.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosScienceAreaGeometry.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/pwfs/PwfsPatrolField.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/syntax/ShapeExpression.scala
Due: Label core PRs

Define a subset of filters that can be used with F2 spectroscopy
  modules/core/shared/src/main/scala/lucuma/core/enums/Flamingos2Filter.scala
Due: Label core PRs

Use a field to denotate spectroscopy support
  modules/core/shared/src/main/scala/lucuma/core/enums/Flamingos2Filter.scala
Due: Label core PRs

wip
  modules/core/shared/src/main/scala/lucuma/core/model/Ephemeris.scala
  modules/core/shared/src/main/scala/lucuma/core/model/EphemerisKey.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Target.scala
  modules/core/shared/src/main/scala/lucuma/core/parser/EphemerisKeyParsers.scala
  modules/horizons-tests/shared/src/test/scala/lucuma/horizons/HorizonsClientAsteroidSuite.scala
  modules/horizons-tests/shared/src/test/scala/lucuma/horizons/HorizonsClientCometSuite.scala
  modules/horizons-tests/shared/src/test/scala/lucuma/horizons/HorizonsClientEphemerisSuite.scala
  modules/horizons-tests/shared/src/test/scala/lucuma/horizons/HorizonsClientMajorBodySuite.scala
  modules/horizons/src/main/scala/lucuma/horizons/AbstractHorizonsClient.scala
  modules/horizons/src/main/scala/lucuma/horizons/HorizonsClient.scala
  modules/horizons/src/main/scala/lucuma/horizons/HorizonsEphemeris.scala
  modules/horizons/src/main/scala/lucuma/horizons/HorizonsParser.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbEphemerisKey.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbTarget.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/EphemerisKeySuite.scala
Due: Label core PRs, Label horizons PRs, Label testkit PRs, Label tests PRs

scalafix
  modules/core/shared/src/main/scala/lucuma/core/model/Ephemeris.scala
Due: Label core PRs

wi[
  modules/core/shared/src/main/scala/lucuma/core/model/Ephemeris.scala
  modules/core/shared/src/main/scala/lucuma/core/parser/EphemerisKeyParsers.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbEphemerisKey.scala
Due: Label core PRs, Label testkit PRs

wip
  modules/core/shared/src/main/scala/lucuma/core/data/PerSite.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Ephemeris.scala
  modules/horizons-tests/shared/src/test/scala/lucuma/horizons/HorizonsClientEphemerisSuite.scala
  modules/horizons/src/main/scala/lucuma/horizons/AbstractHorizonsClient.scala
  modules/horizons/src/main/scala/lucuma/horizons/HorizonsClient.scala
Due: Label core PRs, Label horizons PRs

delete ephemeriskey
  modules/core/shared/src/main/scala/lucuma/core/model/EphemerisKey.scala
Due: Label core PRs

fix parser
  modules/core/shared/src/main/scala/lucuma/core/model/Ephemeris.scala
Due: Label core PRs

bump version
  build.sbt
Due: none

add site option
  modules/horizons/src/main/scala/lucuma/horizons/AbstractHorizonsClient.scala
  modules/horizons/src/main/scala/lucuma/horizons/HorizonsClient.scala
Due: Label horizons PRs

scalafix
  modules/horizons/src/main/scala/lucuma/horizons/HorizonsClient.scala
Due: Label horizons PRs

adjust extension
  modules/ags/src/main/scala/lucuma/ags/syntax/package.scala
Due: Label ags PRs

relocate files
  modules/ags/src/main/scala/lucuma/ags/Ags.scala
  modules/ags/src/main/scala/lucuma/ags/AgsAnalysis.scala
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
  modules/ags/src/main/scala/lucuma/ags/AgsVisualization.scala
  modules/ags/src/main/scala/lucuma/ags/package.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/AgsSuite.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/offsets/GeometryType.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/offsets/OffsetPosition.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/offsets/OffsetPositions.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/offsets/package.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsAgsDemo.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
Due: Label ags PRs, Label catalog-tests PRs, Label core PRs, Label tests PRs

extract offset positioning code from ags, adapt for unguided
  build.sbt
  modules/ags/src/main/scala/lucuma/ags/Ags.scala
  modules/ags/src/main/scala/lucuma/ags/AgsAnalysis.scala
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
  modules/ags/src/main/scala/lucuma/ags/AgsVisualization.scala
  modules/ags/src/main/scala/lucuma/ags/GeometryType.scala
  modules/ags/src/main/scala/lucuma/ags/OffsetPosition.scala
  modules/ags/src/main/scala/lucuma/ags/OffsetPositions.scala
  modules/ags/src/main/scala/lucuma/ags/package.scala
  modules/ags/src/main/scala/lucuma/ags/syntax/package.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/AgsSelectionApp.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/AgsSelectionStreamApp.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/ags/7060.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/AgsSuite.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/SequenceType.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsAgsDemo.scala
Due: Label ags PRs, Label catalog-tests PRs, Label core PRs, Label tests PRs

remove unused dep
  build.sbt
Due: none

bump base version
  build.sbt
Due: none

relocate GeometryType, rename instances
  modules/core/shared/src/main/scala/lucuma/core/geom/GeometryType.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsAgsDemo.scala
Due: Label core PRs, Label tests PRs

Fake SED and brightness for blind offsets
  modules/catalog/src/main/scala/lucuma/catalog/BlindOffsets.scala
Due: Label catalog PRs

update version
  build.sbt
Due: none

Integrate pwfs to ags
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
Due: Label ags PRs

ags-demo
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/AgsSelectionApp.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsAgsDemo.scala
Due: Label ags PRs, Label catalog-tests PRs, Label tests PRs

Some changes to the blind offset analysis
  modules/catalog/src/main/scala/lucuma/catalog/BlindOffsets.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/ADQLInterpreter.scala
Due: Label catalog PRs

Add logic to assign guiders to obs types and targets
  modules/core/shared/src/main/scala/lucuma/core/model/probes.scala
Due: Label core PRs

Better names for some geometries
  modules/core/shared/src/main/scala/lucuma/core/geom/pwfs/PwfsProbeArm.scala
Due: Label core PRs

Add order by separation to blind offset candidate adql query
  modules/catalog/src/main/scala/lucuma/catalog/votable/ADQLInterpreter.scala
Due: Label catalog PRs

Order by separation in gaia query for blind offset candidates
  modules/catalog/src/main/scala/lucuma/catalog/votable/ADQLInterpreter.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
Due: Label catalog PRs

Change to blind offset scoring algorithm
  modules/catalog/src/main/scala/lucuma/catalog/BlindOffsets.scala
Due: Label catalog PRs

Refactor some code to make clear what is general of the instrument and what of the guider
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/flamingos2/Flamingos2OiwfsPatrolField.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/flamingos2/Flamingos2OiwfsProbeArm.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/flamingos2/package.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosOiwfsPatrolField.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosOiwfsProbeArm.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/package.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
Due: Label ags PRs, Label core PRs, Label tests PRs

Fix bug in blind offset scoring
  modules/catalog/src/main/scala/lucuma/catalog/BlindOffsets.scala
Due: Label catalog PRs

Fix for PR comments
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
Due: Label ags PRs
