Repository gemini-hlsw/lucuma-core: changes, and which Mergify rules are due for each by the changed paths.
All: Label ags PRs, Label catalog PRs, Label catalog-testkit PRs, Label catalog-tests PRs, Label core PRs, Label horizons PRs, Label horizons-tests PRs, Label npm PRs, Label testkit PRs, Label tests PRs

Label ags PRs:
  label:
    add:
    - ags
    remove: []

Label catalog PRs:
  label:
    add:
    - catalog
    remove: []

Label catalog-testkit PRs:
  label:
    add:
    - catalog-testkit
    remove: []

Label catalog-tests PRs:
  label:
    add:
    - catalog-tests
    remove: []

Label core PRs:
  label:
    add:
    - core
    remove: []

Label horizons PRs:
  label:
    add:
    - horizons
    remove: []

Label horizons-tests PRs:
  label:
    add:
    - horizons-tests
    remove: []

Label npm PRs:
  label:
    add:
    - npm
    remove: []

Label testkit PRs:
  label:
    add:
    - testkit
    remove: []

Label tests PRs:
  label:
    add:
    - tests
    remove: []

visitor ags mode
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
Due: Label ags PRs

fmt
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
Due: Label ags PRs

radius -> diameter
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
Due: Label ags PRs

enums for gnirs offsets
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsSlitOffsets.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsSlitOffsetsType.scala
Due: Label core PRs

take 4
  modules/core/shared/src/main/scala/lucuma/core/enums/GhostIfuMappingType.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostIfuMapping.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/ghost/arb/ArbGhostIfuMapping.scala
Due: Label core PRs, Label testkit PRs

take 2
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostIfuMapping.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostTarget.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/ghost/arb/ArbGhostIfuMapping.scala
Due: Label core PRs, Label testkit PRs

GhostIfuMapping
  modules/core/shared/src/main/scala/lucuma/core/enums/GhostIfuMappingType.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/ghost/package.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostIfuMapping.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostStaticConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/ghost/arb/ArbGhostIfuMapping.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/ghost/arb/ArbGhostStaticConfig.scala
Due: Label core PRs, Label testkit PRs

take 3
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostIfuMapping.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostTarget.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/ghost/arb/ArbGhostIfuMapping.scala
Due: Label core PRs, Label testkit PRs

that ain't optional
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostStaticConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/ghost/arb/ArbGhostStaticConfig.scala
Due: Label core PRs, Label testkit PRs

Add science area geometry for GNIRS
  modules/core/shared/src/main/scala/lucuma/core/geom/gnirs/GnirsScienceAreaGeometry.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gnirs/package.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
Due: Label core PRs, Label tests PRs

generalize offset mode, more general Display derivation
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/SlitOffsetMode.scala
  modules/core/shared/src/main/scala/lucuma/core/model/SlitTelescopeConfigs.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/TelescopeConfigAlongSlit.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/igrins2/Igrins2StaticConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/igrins2/package.scala
  modules/core/shared/src/main/scala/lucuma/core/util/Display.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/igrins2/arb/ArbIgrins2DynamicConfig.scala
Due: Label core PRs, Label testkit PRs

Add geometry for visitors and maroonX
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/visitors/MaroonXScienceAreaGeometry.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/visitors/VisitorScienceAreaGeometry.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
Due: Label ags PRs, Label core PRs, Label tests PRs

megative time isn't actually needed
  modules/core/shared/src/main/scala/lucuma/core/model/Allocation.scala
  modules/core/shared/src/main/scala/lucuma/core/model/PartnerSplit.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ProposalType.scala
  modules/itac/src/main/scala/impl/block/TimeAccountingCategoryBlockIterator.scala
  modules/itac/src/main/scala/impl/block/TooBlocks.scala
  modules/itac/src/main/scala/impl/resource/PerRightAscensionResource.scala
  modules/itac/src/main/scala/impl/resource/SemesterResource.scala
  modules/itac/src/main/scala/log/RejectOverAllocation.scala
  modules/itac/src/main/scala/log/RejectTimeAccountingCategoryOverAllocation.scala
  modules/itac/src/main/scala/util/BoundedTime.scala
  modules/itac/src/main/scala/util/Time.scala
Due: Label core PRs

time->timespan
  modules/core/shared/src/main/scala/lucuma/core/util/TimeSpan.scala
  modules/itac/src/main/scala/api/config/Default.scala
  modules/itac/src/main/scala/api/queue/ProposalQueue.scala
  modules/itac/src/main/scala/api/queue/time/QueueTime.scala
  modules/itac/src/main/scala/api/queue/time/TimeAccountingCategoryTime.scala
  modules/itac/src/main/scala/impl/QueueEngine2.scala
  modules/itac/src/main/scala/impl/ShutdownCalc.scala
  modules/itac/src/main/scala/impl/block/BlockIterator.scala
  modules/itac/src/main/scala/impl/block/TimeAccountingCategoryBlockIterator.scala
  modules/itac/src/main/scala/impl/block/TooBlocks.scala
  modules/itac/src/main/scala/impl/resource/ConditionsCategoryMapResource.scala
  modules/itac/src/main/scala/impl/resource/DeclinationMapResource.scala
  modules/itac/src/main/scala/impl/resource/RightAscensionMapResource.scala
  modules/itac/src/main/scala/impl/resource/SemesterResource.scala
  modules/itac/src/main/scala/impl/resource/TimeRestrictionResource.scala
  modules/itac/src/main/scala/log/LogMessage.scala
  modules/itac/src/main/scala/log/ObsRejectMessage.scala
  modules/itac/src/main/scala/log/RejectOverAllocation.scala
  modules/itac/src/main/scala/log/RejectTimeAccountingCategoryOverAllocation.scala
  modules/itac/src/main/scala/log/RejectToo.scala
  modules/itac/src/main/scala/log/TimeBinMessageFormatter.scala
  modules/itac/src/main/scala/p1/ItacObservation.scala
  modules/itac/src/main/scala/p1/Ntac.scala
  modules/itac/src/main/scala/util/BoundedTime.scala
  modules/itac/src/main/scala/util/Time.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/RaBinGroupTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/RestrictionConfigTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/SiteSemesterConfigTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/TimeRestrictionTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/block/BlockIteratorTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/block/TimeAccountingCategoryBlockIteratorTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/ConditionsResourceTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/DecResourceTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/Fixture.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/RaResourceTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceGroupTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceTest.scala
Due: Label core PRs

derive mode from proposal tpe
  modules/core/shared/src/main/scala/lucuma/core/model/ProposalType.scala
  modules/itac/src/main/scala/api/config/BandRestriction.scala
  modules/itac/src/main/scala/impl/QueueEngineBandProblems.scala
  modules/itac/src/main/scala/p1/Proposal.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/TimeRestrictionTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/QueueEngineBandProblemsTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/block/BlockIteratorTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/block/TimeAccountingCategoryBlockIteratorTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/ConditionsResourceTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/DecResourceTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/Fixture.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceGroupTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceTest.scala
Due: Label core PRs

wip
  modules/itac/src/main/scala/api/queue/ProposalQueue.scala
  modules/itac/src/main/scala/impl/block/Block.scala
  modules/itac/src/main/scala/impl/block/BlockIterator.scala
  modules/itac/src/main/scala/log/RejectToo.scala
  modules/itac/src/main/scala/log/TimeBinMessageFormatter.scala
  modules/itac/src/main/scala/p1/ItacObservation.scala
  modules/itac/src/main/scala/p1/Proposal.scala
Due: none

oops
  modules/itac/src/main/scala/p1/ItacProposal.scala
Due: none

remove cruft
  modules/itac/src/main/scala/p1/Proposal.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/QueueEngineBandProblemsTest.scala
Due: none

remove most of Ntac
  modules/itac/src/main/scala/api/queue/ProposalQueue.scala
  modules/itac/src/main/scala/impl/QueueEngine3.scala
  modules/itac/src/main/scala/impl/QueueEngineBandProblems.scala
  modules/itac/src/main/scala/impl/QueueFrame.scala
  modules/itac/src/main/scala/impl/block/Block.scala
  modules/itac/src/main/scala/impl/block/BlockIterator.scala
  modules/itac/src/main/scala/impl/resource/SemesterResource.scala
  modules/itac/src/main/scala/log/AcceptMessage.scala
  modules/itac/src/main/scala/log/RejectTimeAccountingCategoryOverAllocation.scala
  modules/itac/src/main/scala/p1/Ntac.scala
  modules/itac/src/main/scala/p1/Proposal.scala
  modules/itac/src/main/scala/p1/Proposal2.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/TimeRestrictionTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/block/BlockIteratorTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/block/TimeAccountingCategoryBlockIteratorTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/ConditionsResourceTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/DecResourceTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/RaResourceTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceGroupTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceTest.scala
Due: none

remove context
  modules/itac/src/main/scala/api/QueueCalc.scala
  modules/itac/src/main/scala/api/config/SiteSemesterConfig.scala
  modules/itac/src/main/scala/ctx/Context.scala
  modules/itac/src/main/scala/impl/QueueEngine2.scala
  modules/itac/src/main/scala/impl/ShutdownCalc.scala
Due: none

interim progress on removing ntac
  modules/itac/src/main/scala/api/queue/ProposalQueue.scala
  modules/itac/src/main/scala/impl/QueueFrame.scala
  modules/itac/src/main/scala/impl/block/Block.scala
  modules/itac/src/main/scala/impl/block/BlockIterator.scala
  modules/itac/src/main/scala/impl/resource/SemesterResource.scala
  modules/itac/src/main/scala/log/RejectTimeAccountingCategoryOverAllocation.scala
  modules/itac/src/main/scala/p1/Ntac.scala
  modules/itac/src/main/scala/p1/Proposal.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/QueueEngineBandProblemsTest.scala
Due: none

progress
  modules/core/shared/src/main/scala/lucuma/core/model/ProposalType.scala
  modules/itac/src/main/scala/impl/QueueCalcStage.scala
  modules/itac/src/main/scala/impl/QueueEngine2.scala
  modules/itac/src/main/scala/impl/QueueEngine3.scala
  modules/itac/src/main/scala/impl/block/BlockIterator.scala
  modules/itac/src/main/scala/impl/queue/ProposalQueueBuilder.scala
  modules/itac/src/main/scala/p1/ItacObservation.scala
  modules/itac/src/main/scala/p1/Proposal2.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/QueueEngineBandProblemsTest.scala
Due: Label core PRs

Proposal.Id -> ProposalReference
  modules/itac/src/main/scala/api/QueueCalc.scala
  modules/itac/src/main/scala/impl/QueueCalcStage.scala
  modules/itac/src/main/scala/impl/QueueFrame.scala
  modules/itac/src/main/scala/impl/ShutdownCalc.scala
  modules/itac/src/main/scala/impl/block/TimeAccountingCategoryBlockIterator.scala
  modules/itac/src/main/scala/log/AcceptMessage.scala
  modules/itac/src/main/scala/log/ProposalLog.scala
  modules/itac/src/main/scala/p1/ItacObservation.scala
  modules/itac/src/main/scala/p1/Proposal.scala
  modules/itac/src/main/scala/p1/Proposal2.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/TimeRestrictionTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/QueueEngineBandProblemsTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/block/BlockIteratorTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/block/TimeAccountingCategoryBlockIteratorTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/ConditionsResourceTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/DecResourceTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/Fixture.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceGroupTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceTest.scala
Due: none

cleanup
  modules/itac/src/main/scala/p1/ItacObservation.scala
  modules/itac/src/main/scala/p1/Proposal.scala
Due: none

test
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/RaBinGroupTest.scala
Due: none

add missing GnirsLongSlit case in Configuration
  modules/core/shared/src/main/scala/lucuma/core/geom/gnirs/GnirsScienceAreaGeometry.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Configuration.scala
Due: Label core PRs

remove dead code
  modules/core/shared/src/main/scala/lucuma/core/model/Configuration.scala
Due: Label core PRs

scalafix, add arbitraries/cogens
  modules/core/shared/src/main/scala/lucuma/core/model/Configuration.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbConfiguration.scala
Due: Label core PRs, Label testkit PRs

Add patrol field for maroonx
  modules/core/shared/src/main/scala/lucuma/core/geom/visitors/MaroonXScienceAreaGeometry.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/visitors/package.scala
Due: Label core PRs

add grating to gnirs configuration
  modules/core/shared/src/main/scala/lucuma/core/model/Configuration.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbConfiguration.scala
Due: Label core PRs, Label testkit PRs

bump base version
  build.sbt
Due: none

add comments and gnirs decker inference
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsDecker.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsFilter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsReadMode.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsWellDepth.scala
Due: Label core PRs

shard
  modules/itac/src/main/scala/api/queue/ProposalQueue.scala
  modules/itac/src/main/scala/impl/QueueCalcStage.scala
  modules/itac/src/main/scala/impl/QueueEngine3.scala
  modules/itac/src/main/scala/impl/block/TimeAccountingCategoryBlockIterator.scala
  modules/itac/src/main/scala/impl/queue/ProposalQueueBuilder.scala
  modules/itac/src/main/scala/impl/resource/SemesterResource.scala
  modules/itac/src/main/scala/log/RejectOverAllocation.scala
  modules/itac/src/main/scala/log/RejectTimeAccountingCategoryOverAllocation.scala
  modules/itac/src/main/scala/p1/ItacProposal.scala
  modules/itac/src/main/scala/p1/Proposal.scala
Due: none

all tests pass
  modules/itac/src/main/scala/api/QueueCalc.scala
  modules/itac/src/main/scala/api/config/BandRestriction.scala
  modules/itac/src/main/scala/api/config/Default.scala
  modules/itac/src/main/scala/api/config/TimeRestriction.scala
  modules/itac/src/main/scala/api/queue/ProposalQueue.scala
  modules/itac/src/main/scala/impl/QueueCalcStage.scala
  modules/itac/src/main/scala/impl/QueueEngine3.scala
  modules/itac/src/main/scala/impl/QueueEngineBandProblems.scala
  modules/itac/src/main/scala/impl/QueueFrame.scala
  modules/itac/src/main/scala/impl/block/Block.scala
  modules/itac/src/main/scala/impl/block/BlockIterator.scala
  modules/itac/src/main/scala/impl/block/TimeAccountingCategoryBlockIterator.scala
  modules/itac/src/main/scala/impl/queue/ProposalQueueBuilder.scala
  modules/itac/src/main/scala/impl/resource/SemesterResource.scala
  modules/itac/src/main/scala/log/AcceptMessage.scala
  modules/itac/src/main/scala/log/LogMessage.scala
  modules/itac/src/main/scala/log/ObsRejectMessage.scala
  modules/itac/src/main/scala/log/ProposalLog.scala
  modules/itac/src/main/scala/log/RejectCategoryOverAllocation.scala
  modules/itac/src/main/scala/log/RejectConditions.scala
  modules/itac/src/main/scala/log/RejectOverAllocation.scala
  modules/itac/src/main/scala/log/RejectRestrictedBin.scala
  modules/itac/src/main/scala/log/RejectTarget.scala
  modules/itac/src/main/scala/log/RejectTimeAccountingCategoryOverAllocation.scala
  modules/itac/src/main/scala/log/RejectToo.scala
  modules/itac/src/main/scala/log/RemovedRejectMessage.scala
  modules/itac/src/main/scala/log/TimeBinMessageFormatter.scala
  modules/itac/src/main/scala/log/package.scala
  modules/itac/src/main/scala/p1/ItacObservation.scala
  modules/itac/src/main/scala/p1/Proposal.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/TimeRestrictionTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/QueueEngineBandProblemsTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/block/BlockIteratorTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/block/TimeAccountingCategoryBlockIteratorTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/ConditionsResourceTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/DecResourceTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/Fixture.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/RaResourceTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceGroupTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceTest.scala
Due: none

fix warnings
  modules/itac/src/main/scala/impl/QueueCalcStage.scala
  modules/itac/src/main/scala/impl/QueueEngine3.scala
  modules/itac/src/main/scala/impl/QueueFrame.scala
  modules/itac/src/main/scala/impl/block/BlockIterator.scala
  modules/itac/src/main/scala/log/AcceptMessage.scala
  modules/itac/src/main/scala/log/ObsRejectMessage.scala
  modules/itac/src/main/scala/log/ProposalLog.scala
  modules/itac/src/main/scala/p1/Ntac.scala
  modules/itac/src/main/scala/p1/Proposal.scala
  modules/itac/src/main/scala/p1/ProposalShard.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/TimeRestrictionTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/QueueEngineBandProblemsTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/block/BlockIteratorTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/block/TimeAccountingCategoryBlockIteratorTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/ConditionsResourceTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/DecResourceTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/Fixture.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/RaResourceTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceGroupTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceTest.scala
Due: none

Add ProposalStatus enum
  modules/core/shared/src/main/scala/lucuma/core/enums/ProposalStatus.scala
Due: Label core PRs

gnirs obs read mode + camera better names
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsCamera.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsObsReadMode.scala
Due: Label core PRs

add missing arbitraries
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbSlitTelescopeConfigs.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbTelescopeConfigAlongSlit.scala
Due: Label testkit PRs

MaroonX AGS needs an extended exclusion are for vignetting
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/visitors/MaroonXScienceAreaGeometry.scala
Due: Label ags PRs, Label core PRs

Path conditions:
  Label ags PRs: any of: ^modules/ags/
  Label catalog PRs: any of: ^modules/catalog/
  Label catalog-testkit PRs: any of: ^modules/catalog-testkit/
  Label catalog-tests PRs: any of: ^modules/catalog-tests/
  Label core PRs: any of: ^modules/core/
  Label horizons PRs: any of: ^modules/horizons/
  Label horizons-tests PRs: any of: ^modules/horizons-tests/
  Label npm PRs: any of: ^modules/npm/
  Label testkit PRs: any of: ^modules/testkit/
  Label tests PRs: any of: ^modules/tests/
