Repository gemini-hlsw/lucuma-core: changes, and which Mergify rules are due for each by the changed paths.
All: Label core PRs, Label testkit PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=scala-steward
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 2.13.8, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 2.13.8, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label core PRs
  conditions:
  - files~=^modules/core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^modules/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^modules/tests/
  actions:
    label:
      add:
      - tests
      remove: []

Update binary version
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/refined/package.scala
Due: Label core PRs

Fix test
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/ParseSimbadFileSuite.scala
Due: none

Some refactorings
  modules/core/shared/src/main/scala/lucuma/core/enums/package.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Parallax.scala
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/TwilightCalc.scala
  modules/core/shared/src/main/scala/lucuma/core/math/units.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Extinction.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ImageQuality.scala
Due: Label core PRs

Prefer algebra over spire
  modules/core/shared/src/main/scala/lucuma/core/geom/flamingos2/Flamingos2ScienceAreaGeometry.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/flamingos2/package.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/syntax/package.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Parallax.scala
  modules/core/shared/src/main/scala/lucuma/core/math/RadialVelocity.scala
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/ImprovedSkyCalcMethods.scala
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/TwilightCalc.scala
  modules/core/shared/src/main/scala/lucuma/core/math/units.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Extinction.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ImageQuality.scala
Due: Label core PRs

Some refactoring
  modules/core/shared/src/main/scala/lucuma/core/enums/CoolStarTemperature.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthDetector.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthDetector.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/Site.scala
  modules/core/shared/src/main/scala/lucuma/core/math/units.scala
  modules/core/shared/src/main/scala/lucuma/core/model/UnnormalizedSED.scala
  modules/core/shared/src/main/scala/lucuma/core/refined/package.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/WavelengthDeltaSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/WavelengthSuite.scala
Due: Label core PRs, Label tests PRs

Inline lucuma-refined
  build.sbt
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/ParseSimbadFileSuite.scala
  modules/catalog-tests/shared/src/main/scala/lucuma/catalog/votable/SimbadQuerySample.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/BlindOffsetCandidatesSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/AdaptersSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/UcdSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/VoTableParser.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/AttachmentType.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/Band.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ExecutionEnvironment.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosBinning.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthDetector.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthDetector.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/Instrument.scala
  modules/core/shared/src/main/scala/lucuma/core/math/BoundedInterval.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Epoch.scala
  modules/core/shared/src/main/scala/lucuma/core/math/units.scala
  modules/core/shared/src/main/scala/lucuma/core/math/validation/MathValidators.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Client.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ConfigurationRequest.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ExecutionEvent.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Role.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Target.scala
  modules/core/shared/src/main/scala/lucuma/core/model/User.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ids.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/Atom.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/Dataset.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/Step.scala
  modules/core/shared/src/main/scala/lucuma/core/model/validation/ModelValidators.scala
  modules/core/shared/src/main/scala/lucuma/core/refined/auto.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/InputValidSplitEpi.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/InputValidWedge.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbWavelength.scala
  modules/tests/shared/src/test/scala/lucuma/core/geom/OffsetGeneratorSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/EpochSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SourceProfileSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SpectralDefinitionSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/validation/InputValidWedgeInstancesSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Limit Timestamp.Max to JS max, remove date range limit from SkyCalc
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/ImprovedSkyCalcMethods.scala
  modules/core/shared/src/main/scala/lucuma/core/util/Timestamp.scala
  modules/core/shared/src/main/scala/lucuma/core/util/TimestampInterval.scala
  modules/core/shared/src/main/scala/lucuma/core/util/time.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/TimestampIntervalSuite.scala
Due: Label core PRs, Label tests PRs

Remove optionality of TimestampInterval.timeSpan and usages
  modules/core/shared/src/main/scala/lucuma/core/model/TimingWindow.scala
  modules/core/shared/src/main/scala/lucuma/core/util/TimeSpan.scala
  modules/core/shared/src/main/scala/lucuma/core/util/TimestampInterval.scala
  modules/core/shared/src/main/scala/lucuma/core/util/TimestampUnion.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/TimestampIntervalSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/TimestampUnionSuite.scala
Due: Label core PRs, Label tests PRs

mima
  build.sbt
Due: none

horizons module initial checkin
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/data/PerSite.scala
  modules/horizons/.js/src/test/scala/lucuma/horizons/HorizonsClientSuite.scala
  modules/horizons/.jvm/src/test/scala/lucuma/horizons/HorizonsClientSuite.scala
  modules/horizons/src/main/scala/lucuma/horizons/HorizonsClient.scala
  modules/horizons/src/main/scala/lucuma/horizons/HorizonsConstants.scala
  modules/horizons/src/main/scala/lucuma/horizons/HorizonsEphemeris.scala
  modules/horizons/src/main/scala/lucuma/horizons/HorizonsParser.scala
  modules/horizons/src/test/scala/lucuma/horizons/HorizonsClientAsteroidSuite.scala
  modules/horizons/src/test/scala/lucuma/horizons/HorizonsClientCometSuite.scala
  modules/horizons/src/test/scala/lucuma/horizons/HorizonsClientEphemerisSuite.scala
  modules/horizons/src/test/scala/lucuma/horizons/HorizonsClientMajorBodySuite.scala
  modules/horizons/src/test/scala/lucuma/horizons/HorizonsClientSearchSuite.scala
Due: Label core PRs

update workflow
  .mergify.yml
Due: none

oops
  modules/horizons/.js/.github/workflows/ci.yml
  modules/horizons/.js/.github/workflows/clean.yml
Due: none

scalafix
  modules/core/shared/src/main/scala/lucuma/core/data/PerSite.scala
Due: Label core PRs

bump
  build.sbt
Due: none

reorg
  build.sbt
  modules/horizons-tests/js/src/test/scala/lucuma/horizons/HorizonsClientSuite.scala
  modules/horizons-tests/jvm/src/test/scala/lucuma/horizons/HorizonsClientSuite.scala
  modules/horizons-tests/shared/src/test/scala/lucuma/horizons/HorizonsClientAsteroidSuite.scala
  modules/horizons-tests/shared/src/test/scala/lucuma/horizons/HorizonsClientCometSuite.scala
  modules/horizons-tests/shared/src/test/scala/lucuma/horizons/HorizonsClientEphemerisSuite.scala
  modules/horizons-tests/shared/src/test/scala/lucuma/horizons/HorizonsClientMajorBodySuite.scala
  modules/horizons-tests/shared/src/test/scala/lucuma/horizons/HorizonsClientSearchSuite.scala
  modules/horizons/.js/.github/workflows/ci.yml
  modules/horizons/.js/.github/workflows/clean.yml
Due: none

upate workflow
  .mergify.yml
Due: none

no publish tests
  build.sbt
Due: none

IdempotencyKey
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/Client.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ExecutionEvent.scala
  modules/core/shared/src/main/scala/lucuma/core/util/IdempotencyKey.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbExecutionEvent.scala
  modules/testkit/src/main/scala/lucuma/core/util/arb/ArbIdempotencyKey.scala
Due: Label core PRs, Label testkit PRs

IdempotencyKey (#1193)
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/Client.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ExecutionEvent.scala
  modules/core/shared/src/main/scala/lucuma/core/util/IdempotencyKey.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbExecutionEvent.scala
  modules/testkit/src/main/scala/lucuma/core/util/arb/ArbIdempotencyKey.scala
Due: Label core PRs, Label testkit PRs

switch to Format
  modules/core/shared/src/main/scala/lucuma/core/util/IdempotencyKey.scala
  modules/testkit/src/main/scala/lucuma/core/util/arb/ArbIdempotencyKey.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/IdempotencyKeySuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Shortcut 5099: switch to `Format` (#1194)
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/util/IdempotencyKey.scala
  modules/testkit/src/main/scala/lucuma/core/util/arb/ArbIdempotencyKey.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/IdempotencyKeySuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

remove comments
  modules/horizons-tests/shared/src/test/scala/lucuma/horizons/HorizonsClientSearchSuite.scala
Due: none

validation
  modules/horizons-tests/shared/src/test/scala/lucuma/horizons/HorizonsClientEphemerisSuite.scala
  modules/horizons/src/main/scala/lucuma/horizons/HorizonsClient.scala
Due: none

Support full target parsing in gaia and use it for BlindOffsets
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/AgsSelectionApp.scala
  modules/catalog/src/main/scala/lucuma/catalog/BlindOffsets.scala
  modules/catalog/src/main/scala/lucuma/catalog/clients/GaiaClient.scala
  modules/catalog/src/main/scala/lucuma/catalog/clients/GaiaClientImpl.scala
Due: none

Add mock gaia client and add some tests
  modules/catalog-testkit/src/main/scala/lucuma/catalog/clients/GaiaClientMock.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/clients/GaiaClientSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/clients/GaiaClientImpl.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/VoTableParser.scala
Due: none

BlindOffset can carry the full target
  modules/catalog-testkit/jvm/src/main/scala/lucuma/catalog/clients/GaiaClientMock.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/BlindOffsetApp.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/BlindOffsetFileTestSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/clients/GaiaClientSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/BlindOffsetCandidatesSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/BlindOffsets.scala
  modules/catalog/src/main/scala/lucuma/catalog/clients/GaiaClient.scala
  modules/catalog/src/main/scala/lucuma/catalog/clients/GaiaClientImpl.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/VoTableParser.scala
Due: none

Refactor catalog-testkit module
  build.sbt
  modules/catalog-testkit/shared/src/main/scala/lucuma/ags/arb/ArbGuideStarCandidate.scala
  modules/catalog-testkit/shared/src/main/scala/lucuma/ags/arb/ArbGuideStarName.scala
  modules/catalog-testkit/shared/src/main/scala/lucuma/catalog/arb/ArbAngularSize.scala
  modules/catalog-testkit/shared/src/main/scala/lucuma/catalog/arb/ArbBrightnessConstraints.scala
  modules/catalog-testkit/shared/src/main/scala/lucuma/catalog/arb/ArbCatalogTargetResult.scala
  modules/catalog-testkit/shared/src/main/scala/lucuma/catalog/arb/package.scala
  modules/catalog-testkit/shared/src/main/scala/lucuma/catalog/votable/VoTableSamples.scala
  modules/catalog-testkit/shared/src/main/scala/lucuma/catalog/votable/arb/ArbFieldId.scala
  modules/catalog-testkit/shared/src/main/scala/lucuma/catalog/votable/arb/ArbUcd.scala
  modules/catalog/src/main/scala/lucuma/catalog/clients/GaiaClientImpl.scala
Due: none

Add model for Tellluric type
  modules/core/shared/src/main/scala/lucuma/core/model/TelluricType.scala
Due: Label core PRs

Sanity check test for f2 ags
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/AgsSuite.scala
Due: none

Add arbitrary for telluric type
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbTelluricType.scala
Due: Label testkit PRs

Add heuristics to read SED from simbad
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/TargetImportSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SimbadSEDMatcher.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/VoTableParser.scala
Due: none

Improve tests and integrate onto the regular parser
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/ParseSimbadFileSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SimbadSEDMatcher.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/VoTableParser.scala
Due: none

Add client to call the telluric targets server
  build.sbt
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/TelluricQueryApp.scala
  modules/catalog/src/main/scala/lucuma/catalog/telluric/TelluricClient.scala
  modules/catalog/src/main/scala/lucuma/catalog/telluric/TelluricSearchInput.scala
  modules/catalog/src/main/scala/lucuma/catalog/telluric/TelluricSearchQuery.scala
  modules/catalog/src/main/scala/lucuma/catalog/telluric/TelluricStar.scala
Due: none

wip
  modules/ags/src/main/scala/lucuma/ags/Ags.scala
  modules/ags/src/main/scala/lucuma/ags/GuideStarCandidate.scala
  modules/ags/src/main/scala/lucuma/ags/package.scala
  modules/benchmarks/src/main/scala/lucuma/core/ProperMotionBenchmark.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/AgsSelectionApp.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/BlindOffsetApp.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/BlindOffsetFileTestSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/BlindOffsetCandidatesSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/BlindOffsets.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogQuery.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Coordinates.scala
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/package.scala
  modules/core/shared/src/main/scala/lucuma/core/model/CompositeTracking.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ConstantTracking.scala
  modules/core/shared/src/main/scala/lucuma/core/model/EphemerisTracking.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ObjectTracking.scala
  modules/core/shared/src/main/scala/lucuma/core/model/SiderealTracking.scala
  modules/core/shared/src/main/scala/lucuma/core/model/package.scala
  modules/core/shared/src/main/scala/lucuma/core/model/syntax/TrackingOps.scala
  modules/core/shared/src/main/scala/lucuma/core/util/TimestampInterval.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbEphemeris.scala
  modules/tests/jvm/src/test/scala/lucuma/core/math/skycalc/ImprovedSkyCalcSuiteJVM.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/ProperMotionSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SiderealTrackingSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

ffs
  modules/core/shared/src/main/scala/lucuma/core/model/SiderealTracking.scala
Due: Label core PRs

Setup npm trusted publishing
  .github/workflows/ci.yml
  build.sbt
Due: none

scalafix
  modules/ags/src/main/scala/lucuma/ags/package.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/BlindOffsetCandidatesSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/BlindOffsets.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Coordinates.scala
  modules/core/shared/src/main/scala/lucuma/core/model/CompositeTracking.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ConstantTracking.scala
  modules/core/shared/src/main/scala/lucuma/core/model/package.scala
  modules/tests/jvm/src/test/scala/lucuma/core/math/skycalc/ImprovedSkyCalcSuiteJVM.scala
Due: Label core PRs, Label tests PRs

more scalafix
  modules/catalog/src/main/scala/lucuma/catalog/BlindOffsets.scala
Due: none

yet more scalafix
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/BlindOffsetFileTestSuite.scala
Due: none
