Repository gemini-hlsw/lucuma-core: changes, and which Mergify rules are due for each by the changed paths.
All: Label ags PRs, Label benchmarks PRs, Label catalog PRs, Label catalog-testkit PRs, Label catalog-tests PRs, Label core PRs, Label horizons PRs, Label npm PRs, Label testkit PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJS)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label ags PRs
  conditions:
  - files~=^modules/ags/
  actions:
    label:
      add:
      - ags
      remove: []
- name: Label benchmarks PRs
  conditions:
  - files~=^modules/benchmarks/
  actions:
    label:
      add:
      - benchmarks
      remove: []
- name: Label catalog PRs
  conditions:
  - files~=^modules/catalog/
  actions:
    label:
      add:
      - catalog
      remove: []
- name: Label catalog-testkit PRs
  conditions:
  - files~=^modules/catalog-testkit/
  actions:
    label:
      add:
      - catalog-testkit
      remove: []
- name: Label catalog-tests PRs
  conditions:
  - files~=^modules/catalog-tests/
  actions:
    label:
      add:
      - catalog-tests
      remove: []
- name: Label core PRs
  conditions:
  - files~=^modules/core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label horizons PRs
  conditions:
  - files~=^modules/horizons/
  actions:
    label:
      add:
      - horizons
      remove: []
- name: Label npm PRs
  conditions:
  - files~=^modules/npm/
  actions:
    label:
      add:
      - npm
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^modules/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^modules/tests/
  actions:
    label:
      add:
      - tests
      remove: []

Change calculation of V band from Gaia bands for blind offsets
  modules/catalog/src/main/scala/lucuma/catalog/BlindOffsets.scala
Due: Label catalog PRs

Add better logging of ags queries
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/GaiaQueryApp.scala
  modules/catalog/src/main/scala/lucuma/catalog/clients/GaiaClientImpl.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
Due: Label catalog PRs, Label catalog-tests PRs

Make the sort direction explicit
  modules/catalog/src/main/scala/lucuma/catalog/votable/ADQLInterpreter.scala
Due: Label catalog PRs

Make the search area for ags bigger to take into account pm motion of stars outside the patrol field in 2016
  modules/catalog/src/main/scala/lucuma/catalog/BlindOffsets.scala
  modules/catalog/src/main/scala/lucuma/catalog/clients/GaiaClientImpl.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogQuery.scala
Due: Label catalog PRs

Update binary version
  build.sbt
  modules/catalog/src/main/scala/lucuma/catalog/clients/GaiaClientImpl.scala
Due: Label catalog PRs

Remove the benchmarks module
  build.sbt
  modules/benchmarks/src/main/scala/lucuma/ags/AgsParamsBenchmark.scala
  modules/benchmarks/src/main/scala/lucuma/core/ProperMotionBenchmark.scala
  modules/benchmarks/src/main/scala/lucuma/core/ShapeExpressionBenchmark.scala
  project/plugins.sbt
Due: Label benchmarks PRs

Updated workflow
  .mergify.yml
Due: none

Add ultility to validate all the test cases agains simnad
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/SEDValidationData.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/SimbadSEDValidationApp.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/SEDMatcherFixture.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/simbad/SimbadSEDMatcherSuite.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/simbad/SpectralTypeParsers.scala
Due: Label catalog PRs, Label catalog-tests PRs

Move Buffer constant to the ags package
  modules/ags/src/main/scala/lucuma/ags/package.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/AgsSelectionApp.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/GaiaQueryPMApp.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogQuery.scala
Due: Label ags PRs, Label catalog PRs, Label catalog-tests PRs

Add static and dynamic config model for igrins2
  modules/core/shared/src/main/scala/lucuma/core/enums/Igrins2FowlerSamples.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ExecutionConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/InstrumentExecutionConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/igrins2/Igrins2DynamicConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/igrins2/Igrins2StaticConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbInstrumentExecutionConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/igrins2/arb/ArbIgrins2DynamicConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/igrins2/arb/ArbIgrins2StaticConfig.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/igrins2/Igrins2DynamicConfigSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Add fowler samples value to the config
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ExecutionConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/InstrumentExecutionConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/igrins2/Igrins2DynamicConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/igrins2/Igrins2StaticConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/igrins2/package.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbInstrumentExecutionConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/igrins2/arb/ArbIgrins2StaticConfig.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/igrins2/Igrins2DynamicConfigSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Fix SO morphology otype matching in SED matcher
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/simbad/SEDMatcherSuite.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/simbad/SEDMatcher.scala
Due: Label catalog PRs, Label catalog-tests PRs

Add readnoise and readout time calculation
  modules/core/shared/src/main/scala/lucuma/core/enums/Igrins2FowlerSamples.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/igrins2/Igrins2DynamicConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/igrins2/package.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/igrins2/arb/ArbIgrins2DynamicConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/igrins2/arb/ArbIgrins2StaticConfig.scala
Due: Label core PRs, Label testkit PRs

Rename exposure time cutoff to readoutTime
  modules/core/shared/src/main/scala/lucuma/core/enums/Igrins2FowlerSamples.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/igrins2/Igrins2DynamicConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/igrins2/arb/ArbIgrins2DynamicConfig.scala
Due: Label core PRs, Label testkit PRs

Accept newly-matched objects
  modules/catalog-tests/js/src/main/scala/lucuma/catalog/SimbadQueryApp.scala
  modules/catalog-tests/jvm/src/main/resources/expected-output-full.csv
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/SimbadSEDValidationApp.scala
Due: Label catalog-tests PRs

Revert unknown output results
  modules/catalog-tests/jvm/src/main/resources/expected-output-full.csv
Due: Label catalog-tests PRs

cleanup
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/SimbadSEDValidationApp.scala
Due: Label catalog-tests PRs

Add Igrins2LongSlit observing mode type
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservingModeType.scala
  modules/core/shared/src/main/scala/lucuma/core/model/probes.scala
Due: Label core PRs

Refine static config
  modules/core/shared/src/main/scala/lucuma/core/enums/Igrins2OffsetMode.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/Igrins2SvcImages.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/InstrumentExecutionConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/igrins2/Igrins2StaticConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/igrins2/package.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbInstrumentExecutionConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/igrins2/arb/ArbIgrins2DynamicConfig.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/igrins2/Igrins2ConfigSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Capitalize SVC
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/igrins2/Igrins2StaticConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/igrins2/package.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/igrins2/arb/ArbIgrins2DynamicConfig.scala
Due: Label core PRs, Label testkit PRs

progress
  build.sbt
  modules/itac/jvm/src/main/scala/api/config/Shutdown.scala
  modules/itac/jvm/src/main/scala/api/config/SiteSemesterConfig.scala
  modules/itac/jvm/src/main/scala/api/queue/ProposalQueue.scala
  modules/itac/jvm/src/main/scala/api/queue/time/PartnerTime.scala
  modules/itac/jvm/src/main/scala/ctx/Context.scala
  modules/itac/jvm/src/main/scala/ctx/Partner.scala
  modules/itac/jvm/src/main/scala/impl/QueueEngine2.scala
  modules/itac/jvm/src/main/scala/impl/QueueEngineBandProblems.scala
  modules/itac/jvm/src/main/scala/impl/QueueFrame.scala
  modules/itac/jvm/src/main/scala/impl/ShutdownCalc.scala
  modules/itac/jvm/src/main/scala/impl/block/Block.scala
  modules/itac/jvm/src/main/scala/impl/block/BlockIterator.scala
  modules/itac/jvm/src/main/scala/impl/block/TooBlocks.scala
  modules/itac/jvm/src/main/scala/impl/queue/ProposalQueueBuilder.scala
  modules/itac/jvm/src/main/scala/impl/resource/DecResourceGroup.scala
  modules/itac/jvm/src/main/scala/impl/resource/RaResource.scala
  modules/itac/jvm/src/main/scala/impl/resource/RaResourceGroup.scala
Due: none

wip
  modules/itac-tests/jvm/src/test/scala/edu/gemini/qengine/skycalc/CsvTable.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/qengine/skycalc/DecBinSizeTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/qengine/skycalc/ExcelRaBinCalcTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/qengine/skycalc/HoursTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/qengine/skycalc/NightIteratorTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/qengine/skycalc/RaBinSizeTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/qengine/skycalc/SemesterTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/tac/qengine/api/config/ConditionsBinGroupTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/tac/qengine/api/config/RaBinGroupTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/tac/qengine/api/config/RestrictionConfigTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/tac/qengine/api/config/SiteSemesterConfigTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/tac/qengine/api/config/TimeRestrictionTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/tac/qengine/impl/block/BlockIteratorTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/tac/qengine/impl/block/PartnerBlockIteratorTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/tac/qengine/impl/resource/CompositeResourceTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/tac/qengine/impl/resource/ConditionsResourceTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/tac/qengine/impl/resource/Fixture.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/tac/qengine/impl/resource/RaResourceTest.scala
  modules/itac/jvm/src/main/scala/p1/Proposal.scala
  modules/itac/jvm/src/main/scala/skycalc/RaBinSize.scala
Due: none

oops
  modules/itac-tests/jvm/src/test/scala/edu/gemini/qengine/skycalc/CsvTable.scala.ignore
  modules/itac-tests/jvm/src/test/scala/edu/gemini/qengine/skycalc/DecBinSizeTest.scala.ignore
  modules/itac-tests/jvm/src/test/scala/edu/gemini/qengine/skycalc/ExcelRaBinCalcTest.scala.ignore
  modules/itac-tests/jvm/src/test/scala/edu/gemini/qengine/skycalc/NightIteratorTest.scala.ignore
  modules/itac-tests/jvm/src/test/scala/edu/gemini/qengine/skycalc/RaBinSizeTest.scala.ignore
  modules/itac-tests/jvm/src/test/scala/edu/gemini/qengine/skycalc/SemesterTest.scala.ignore
Due: none

import
  modules/itac-tests/jvm/src/test/scala/edu/gemini/tac/qengine/impl/resource/ConditionsResourceTest.scala
Due: none

junit -> munit
  build.sbt
  modules/itac-tests/jvm/src/test/scala/edu/gemini/qengine/skycalc/HoursTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/tac/qengine/api/config/ConditionsBinGroupTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/tac/qengine/api/config/ConditionsBinTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/tac/qengine/api/config/ConditionsCategoryTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/tac/qengine/api/config/DecBinGroupTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/tac/qengine/api/config/DecBinTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/tac/qengine/api/config/DecRangeTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/tac/qengine/api/config/RaBinGroupTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/tac/qengine/api/config/RestrictionConfigTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/tac/qengine/api/config/SiteSemesterConfigTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/tac/qengine/api/config/TimeRestrictionTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/tac/qengine/impl/QueueEngineBandProblemsTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/tac/qengine/impl/resource/CompositeResourceTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/tac/qengine/impl/resource/ConditionsResourceTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/tac/qengine/impl/resource/DecResourceTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/tac/qengine/impl/resource/RaResourceTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceGroupTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceTest.scala
Due: none

Update the areas per guide probe
  modules/ags/src/main/scala/lucuma/ags/package.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GuideProbe.scala
Due: Label ags PRs, Label core PRs

nightiterator
  modules/itac-tests/jvm/src/test/scala/edu/gemini/qengine/skycalc/NightIteratorTest.scala
  modules/itac/jvm/src/main/scala/skycalc/NightIterator.scala
Due: none

semestertest
  modules/itac-tests/jvm/src/test/scala/edu/gemini/qengine/skycalc/NightIteratorTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/qengine/skycalc/SemesterTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/qengine/skycalc/SemesterTest.scala.ignore
  modules/itac/jvm/src/main/scala/skycalc/NightIterator.scala
Due: none

bin sizes
  modules/core/shared/src/main/scala/lucuma/core/math/Angle.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/qengine/skycalc/DecBinSizeTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/qengine/skycalc/DecBinSizeTest.scala.ignore
  modules/itac-tests/jvm/src/test/scala/edu/gemini/qengine/skycalc/RaBinSizeTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/qengine/skycalc/RaBinSizeTest.scala.ignore
  modules/itac/jvm/src/main/scala/impl/ShutdownCalc.scala
  modules/itac/jvm/src/main/scala/skycalc/DecBinSize.scala
  modules/itac/jvm/src/main/scala/skycalc/RaBinSize.scala
Due: Label core PRs

scalafix
  modules/itac-tests/jvm/src/test/scala/edu/gemini/qengine/skycalc/NightIteratorTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/qengine/skycalc/RaBinSizeTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/qengine/skycalc/SemesterTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/tac/qengine/api/config/ConditionsBinGroupTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/tac/qengine/api/config/ConditionsCategoryTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/tac/qengine/api/config/DecBinGroupTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/tac/qengine/api/config/DecRangeTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/tac/qengine/api/config/RaBinGroupTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/tac/qengine/api/config/RestrictionConfigTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/tac/qengine/api/config/TimeRestrictionTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/tac/qengine/impl/QueueEngineBandProblemsTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/tac/qengine/impl/resource/ConditionsResourceTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/tac/qengine/impl/resource/DecResourceTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/tac/qengine/impl/resource/RaResourceTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceGroupTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceTest.scala
Due: none

Merge test suite
  modules/catalog-tests/jvm/src/main/resources/expected-output.csv
  modules/catalog-tests/jvm/src/main/resources/simbad-sed-test-data.dat
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherDataSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherFullDataSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/StellarPhysicsSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarLibraryParameters.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarPhysics.scala
Due: Label catalog PRs, Label catalog-tests PRs

Cleanup
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/SpectralTypeParsersSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/StellarPhysicsSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SEDMatcher.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SpectralTypeParsers.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarLibraryParameters.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarPhysics.scala
Due: Label catalog PRs, Label catalog-tests PRs

Improve tests and integrate onto the regular parser
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/ParseSimbadFileSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SimbadSEDMatcher.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SpectralTypeParsers.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/VoTableParser.scala
Due: Label catalog PRs, Label catalog-tests PRs

Improvements to full dataset suite
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SEDMatcher.scala
Due: Label catalog PRs, Label catalog-tests PRs

More tests
  modules/catalog-tests/jvm/src/main/resources/expected-output.csv
  modules/catalog-tests/jvm/src/main/resources/expected-output.jsonl
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherDataSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherFullDataSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/StellarPhysicsSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SpectralTypeParsers.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarLibraryParameters.scala
Due: Label catalog PRs, Label catalog-tests PRs

Add full test list from python
  modules/catalog-tests/jvm/src/main/resources/expected-output-full.csv
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/ParseSimbadFileSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherFullDataSuite.scala
Due: Label catalog-tests PRs
