Repository gemini-hlsw/lucuma-core: changes, and which Mergify rules are due for each by the changed paths.
All: Label ags PRs, Label catalog PRs, Label catalog-testkit PRs, Label catalog-tests PRs, Label core PRs, Label horizons PRs, Label horizons-tests PRs, Label npm PRs, Label testkit PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJS)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label ags PRs
  conditions:
  - files~=^modules/ags/
  actions:
    label:
      add:
      - ags
      remove: []
- name: Label catalog PRs
  conditions:
  - files~=^modules/catalog/
  actions:
    label:
      add:
      - catalog
      remove: []
- name: Label catalog-testkit PRs
  conditions:
  - files~=^modules/catalog-testkit/
  actions:
    label:
      add:
      - catalog-testkit
      remove: []
- name: Label catalog-tests PRs
  conditions:
  - files~=^modules/catalog-tests/
  actions:
    label:
      add:
      - catalog-tests
      remove: []
- name: Label core PRs
  conditions:
  - files~=^modules/core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label horizons PRs
  conditions:
  - files~=^modules/horizons/
  actions:
    label:
      add:
      - horizons
      remove: []
- name: Label horizons-tests PRs
  conditions:
  - files~=^modules/horizons-tests/
  actions:
    label:
      add:
      - horizons-tests
      remove: []
- name: Label npm PRs
  conditions:
  - files~=^modules/npm/
  actions:
    label:
      add:
      - npm
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^modules/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^modules/tests/
  actions:
    label:
      add:
      - tests
      remove: []

Update base version
  build.sbt
Due: none

[sc-8753] Update the short and long names for igrins 2
  modules/core/shared/src/main/scala/lucuma/core/enums/Instrument.scala
Due: Label core PRs

add missing gnirs prism
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/InstrumentExecutionConfig.scala
Due: Label core PRs

gnirs telescope config defaults
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gnirs/package.scala
Due: Label core PRs

add GnirsAcquisitionType enum
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsAcquisitionType.scala
Due: Label core PRs

add telescopeconfig convenience method
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/TelescopeConfig.scala
Due: Label core PRs

remove comment, use ===
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gnirs/package.scala
Due: Label core PRs

remove GnirsObsReadMode enum
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsObsReadMode.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gnirs/package.scala
Due: Label core PRs

correctly model gnirs centralwavelength
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gnirs/GnirsDynamicConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/gnirs/arb/ArbGnirsDynamicConfig.scala
Due: Label core PRs, Label testkit PRs

take 4
  modules/core/shared/src/main/scala/lucuma/core/enums/GhostIfuMappingType.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostIfuMapping.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/ghost/arb/ArbGhostIfuMapping.scala
Due: Label core PRs, Label testkit PRs

take 2
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostIfuMapping.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostTarget.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/ghost/arb/ArbGhostIfuMapping.scala
Due: Label core PRs, Label testkit PRs

take 3
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostIfuMapping.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostTarget.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/ghost/arb/ArbGhostIfuMapping.scala
Due: Label core PRs, Label testkit PRs

that ain't optional
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostStaticConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/ghost/arb/ArbGhostStaticConfig.scala
Due: Label core PRs, Label testkit PRs

GhostIfuMapping
  modules/core/shared/src/main/scala/lucuma/core/enums/GhostIfuMappingType.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/ghost/package.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostIfuMapping.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostStaticConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/ghost/arb/ArbGhostIfuMapping.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/ghost/arb/ArbGhostStaticConfig.scala
Due: Label core PRs, Label testkit PRs

version
  build.sbt
Due: none

Shortcut 8595: GHOST IFU mapping (#1400)
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/GhostIfuMappingType.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/ghost/package.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostIfuMapping.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostStaticConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/ghost/arb/ArbGhostIfuMapping.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/ghost/arb/ArbGhostStaticConfig.scala
Due: Label core PRs, Label testkit PRs

Cache intersection shapes per posAngle
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
Due: Label ags PRs

Add human readable printout of ags stats
  modules/ags/src/main/scala/lucuma/ags/package.scala
Due: Label ags PRs

Calculate time spent on pos angle calculations
  modules/ags/src/main/scala/lucuma/ags/Ags.scala
  modules/ags/src/main/scala/lucuma/ags/package.scala
Due: Label ags PRs

Increase binary version
  build.sbt
Due: none

list gnirs acquisition filter options
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsFilter.scala
Due: Label core PRs

basic fixes
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsFilter.scala
Due: Label core PRs

Add f2 imaging mode
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservingModeType.scala
  modules/core/shared/src/main/scala/lucuma/core/model/probes.scala
Due: Label core PRs

New Voltage type for bias level.
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsWellDepth.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Voltage.scala
  modules/core/shared/src/main/scala/lucuma/core/math/units.scala
Due: Label core PRs

Added LightSinkName for Scorpio.
  modules/core/shared/src/main/scala/lucuma/core/enums/LightSinkName.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Voltage.scala
Due: Label core PRs

Increased base version
  build.sbt
Due: none

Setup F2 imaging params for AGS
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
Due: Label ags PRs, Label tests PRs

GnirsAcquisitionSkyOffset type
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gnirs/GnirsAcquisitionSkyOffset.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/gnirs/arb/ArbGnirsAcquisitionSkyOffset.scala
Due: Label core PRs, Label testkit PRs

GnirsAcquisitionMode
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsAcquisitionType.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsFilter.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gnirs/GnirsAcquisitionMode.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/gnirs/arb/ArbGnirsAcquisitionMode.scala
Due: Label core PRs, Label testkit PRs

bump base version
  build.sbt
Due: none

fix code alignment
  modules/testkit/src/main/scala/lucuma/core/model/sequence/gnirs/arb/ArbGnirsAcquisitionMode.scala
Due: Label testkit PRs

gnirs longslit ags
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/AgsSuite.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gnirs/GnirsScienceAreaGeometry.scala
Due: Label ags PRs, Label catalog-tests PRs, Label core PRs

mima
  build.sbt
Due: none

Use target ids
  modules/core/shared/src/main/scala/lucuma/core/enums/GhostIfuMappingType.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostIfuMapping.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/ghost/arb/ArbGhostIfuMapping.scala
Due: Label core PRs, Label testkit PRs

Shortcut 8595: GHOST IFU Mapping (Again) (#1434)
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/GhostIfuMappingType.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostIfuMapping.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/ghost/arb/ArbGhostIfuMapping.scala
Due: Label core PRs, Label testkit PRs

update gnirs min exp time for very bright read mode
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsReadMode.scala
Due: Label core PRs

fix gnirs x-filter lower bound typo
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsFilter.scala
Due: Label core PRs

X is also an acquisition filter in gnirs
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsFilter.scala
Due: Label core PRs

fix x filter name
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsFilter.scala
Due: Label core PRs
