Repository gemini-hlsw/lucuma-core: changes, and which Mergify rules are due for each by the changed paths.
All: Label ags PRs, Label catalog PRs, Label catalog-testkit PRs, Label catalog-tests PRs, Label core PRs, Label horizons PRs, Label horizons-tests PRs, Label npm PRs, Label testkit PRs, Label tests PRs

Label ags PRs:
  label:
    add:
    - ags
    remove: []

Label catalog PRs:
  label:
    add:
    - catalog
    remove: []

Label catalog-testkit PRs:
  label:
    add:
    - catalog-testkit
    remove: []

Label catalog-tests PRs:
  label:
    add:
    - catalog-tests
    remove: []

Label core PRs:
  label:
    add:
    - core
    remove: []

Label horizons PRs:
  label:
    add:
    - horizons
    remove: []

Label horizons-tests PRs:
  label:
    add:
    - horizons-tests
    remove: []

Label npm PRs:
  label:
    add:
    - npm
    remove: []

Label testkit PRs:
  label:
    add:
    - testkit
    remove: []

Label tests PRs:
  label:
    add:
    - tests
    remove: []

Read MOS mask designs from FITS
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/fits/FitsReaderSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/mos/MosMaskReaderErrorSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/mos/MosMaskReaderSuite.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/fits/Fits.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/fits/FitsBinaryTable.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/fits/FitsHeader.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/mos/MosMaskHeaderDecoder.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/mos/MosMaskProblem.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/mos/MosMaskReader.scala
  modules/core/shared/src/main/scala/lucuma/core/model/mos/MosMaskHeader.scala
Due: Label catalog PRs, Label catalog-tests PRs, Label core PRs

Address code review findings
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/mos/MosMaskReaderErrorSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/mos/MosMaskReaderSuite.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/fits/Fits.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/fits/FitsBinaryTable.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/fits/FitsHeader.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/fits/FitsRow.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/mos/MosMaskHeaderDecoder.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/mos/MosMaskProblem.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/mos/MosMaskReader.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/MosDispersionDirection.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/MosSlitPriority.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/MosSlitType.scala
  modules/core/shared/src/main/scala/lucuma/core/model/mos/MosMask.scala
  modules/core/shared/src/main/scala/lucuma/core/model/mos/MosMaskHeader.scala
  modules/core/shared/src/main/scala/lucuma/core/model/mos/MosMaskProvenance.scala
  modules/core/shared/src/main/scala/lucuma/core/model/mos/MosMaskSlit.scala
  modules/core/shared/src/main/scala/lucuma/core/model/mos/MosSpectroscopyConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/mos/MosSpectrumFootprint.scala
Due: Label catalog PRs, Label catalog-tests PRs, Label core PRs

Always find a GNIRS acquisition filter, and acquire on the blue camera
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsCamera.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsFilter.scala
  modules/tests/shared/src/test/scala/lucuma/core/enums/GnirsCameraSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/enums/GnirsFilterSuite.scala
Due: Label core PRs, Label tests PRs

Revert the shortName changes from PR 1546
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsFilter.scala
Due: Label core PRs

Add GMOS default telescope configs
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/longslit/package.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/mos/package.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/gmos/GmosTelescopeConfigsSuite.scala
Due: Label core PRs, Label tests PRs

Add ags params for f2 mos observations
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/AgsSuite.scala
Due: Label ags PRs, Label catalog-tests PRs

Add a science mode filter to GOA queries
  modules/catalog/shared/src/main/scala/lucuma/catalog/goa/GoaParams.scala
Due: Label catalog PRs

Update binary version
  build.sbt
  modules/catalog/shared/src/main/scala/lucuma/catalog/goa/GoaParams.scala
Due: Label catalog PRs

ToO Target Refactor
  modules/core/shared/src/main/scala/lucuma/core/enums/ExecutionRequirement.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/SchedulingMode.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/TooActivation.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Target.scala
  modules/core/shared/src/main/scala/lucuma/core/model/TargetResolution.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostIfuMappingSyntax.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbTarget.scala
  modules/tests/shared/src/test/scala/lucuma/core/enums/EnumeratedSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/enums/SchedulingModeSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/TargetSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

version
  build.sbt
Due: none

ToO Refactor (#1549)
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/ExecutionRequirement.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/SchedulingMode.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/TooActivation.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Target.scala
  modules/core/shared/src/main/scala/lucuma/core/model/TargetResolution.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostIfuMappingSyntax.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbTarget.scala
  modules/tests/shared/src/test/scala/lucuma/core/enums/EnumeratedSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/enums/SchedulingModeSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/TargetSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Add offset presets for F2 MOS
  modules/core/shared/src/main/scala/lucuma/core/enums/SlitOffsetPreset.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/flamingos2/package.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/flamingos2/Flamingos2ConfigSuite.scala
Due: Label core PRs, Label tests PRs

Clue migration for 0.57.0
  modules/catalog/shared/src/main/scala/lucuma/catalog/telluric/TelluricSearchQuery.scala
Due: Label catalog PRs

Add a JtsDemo rendering a MOS mask design from FITS
  modules/tests/jvm/src/main/resources/ngc7796_ODF.fits
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
Due: Label tests PRs

Add MosMaskGeometry: on-sky shapes for a MOS mask design
  modules/core/shared/src/main/scala/lucuma/core/geom/flamingos2/Flamingos2ScienceAreaGeometry.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosScienceAreaGeometry.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/mos/MosMaskGeometry.scala
  modules/tests/jvm/src/main/resources/n159_ODF.fits
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
  modules/tests/jvm/src/test/scala/lucuma/core/geom/mos/MosMaskGeometrySuite.scala
Due: Label core PRs, Label tests PRs

Derive pre-image parity from the instrument
  modules/core/shared/src/main/scala/lucuma/core/geom/mos/MosMaskGeometry.scala
Due: Label core PRs

Document the MOS mask geometry model
  docs/mos-mask-geometry.html
Due: none

Cleanup
  modules/core/shared/src/main/scala/lucuma/core/geom/flamingos2/Flamingos2ScienceAreaGeometry.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosScienceAreaGeometry.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/mos/MosMaskGeometry.scala
Due: Label core PRs

Validate the fitted geometry against the GMMPS reference data
  docs/mos-mask-geometry.html
  modules/tests/jvm/src/test/scala/lucuma/core/geom/mos/MosMaskGeometrySuite.scala
Due: Label tests PRs

Add the GMMPS visual validation to the mask geometry doc
  docs/mos-mask-geometry.html
Due: none

Convert the mask geometry doc to markdown
  docs/img/fig1-two-frames.svg
  docs/img/fig2-fit.svg
  docs/img/fig3-slit-anatomy.svg
  docs/img/fig5-pixel-frame.png
  docs/img/fig6-gmmps-overlay.jpg
  docs/img/fig7-acq-star.png
  docs/mos-mask-geometry.html
  docs/mos-mask-geometry.md
Due: none

Update binary version
  build.sbt
Due: none

cleanup
  modules/core/shared/src/main/scala/lucuma/core/geom/mos/MosMaskGeometry.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
  modules/tests/jvm/src/test/scala/lucuma/core/geom/mos/MosMaskGeometrySuite.scala
Due: Label core PRs, Label tests PRs

Add two-axis focal-plane aperture extents
  modules/core/shared/src/main/scala/lucuma/core/enums/Flamingos2Fpu.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosFpuType.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthFpu.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthFpu.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsFpuIfu.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsFpuSlit.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/flamingos2/package.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gnirs/GnirsScienceAreaGeometry.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gnirs/package.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/igrins2/Igrins2ScienceAreaGeometry.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/syntax/ShapeExpression.scala
  modules/core/shared/src/main/scala/lucuma/core/math/ApertureExtent.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gnirs/GnirsFpu.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbApertureExtent.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/ApertureExtentSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

wip
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservationValidationCode.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservationWorkflowState.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ObservationValidation.scala
Due: Label core PRs

typo
  modules/core/shared/src/main/scala/lucuma/core/model/ObservationValidation.scala
Due: Label core PRs

Add gitub-cli to devshell
  flake.nix
Due: none

define presets for gmos telescopeconfigs
  modules/core/shared/src/main/scala/lucuma/core/enums/SlitOffsetPreset.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/longslit/package.scala
Due: Label core PRs

scalafix
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/longslit/package.scala
Due: Label core PRs

gmos ifu enums
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthIfuFpu.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthIfuFpu.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservingModeType.scala
  modules/core/shared/src/main/scala/lucuma/core/model/GmosIfuAnalysis.scala
  modules/core/shared/src/main/scala/lucuma/core/model/probes.scala
Due: Label core PRs

gmos ifu geometries and configuration
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthIfuFpu.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthIfuFpu.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosScienceAreaGeometry.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/package.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Configuration.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbConfiguration.scala
  modules/tests/shared/src/test/scala/lucuma/core/geom/gmos/GmosScienceAreaGeometrySuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

offer gmos ifu blue slit
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthIfuFpu.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthIfuFpu.scala
  modules/tests/shared/src/test/scala/lucuma/core/geom/gmos/GmosScienceAreaGeometrySuite.scala
Due: Label core PRs, Label tests PRs

unify methods in tests
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosScienceAreaGeometry.scala
  modules/tests/shared/src/test/scala/lucuma/core/geom/ScienceAreaGeometrySuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/geom/gmos/GmosScienceAreaGeometrySuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/geom/gnirs/GnirsScienceAreaGeometrySuite.scala
Due: Label core PRs, Label tests PRs

Add Summary AttachmentType
  modules/core/shared/src/main/scala/lucuma/core/enums/AttachmentType.scala
Due: Label core PRs

Revert PR #1558 - Generic Warning and For Review
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservationValidationCode.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservationWorkflowState.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ObservationValidation.scala
Due: Label core PRs

Path conditions:
  Label ags PRs: any of: ^modules/ags/
  Label catalog PRs: any of: ^modules/catalog/
  Label catalog-testkit PRs: any of: ^modules/catalog-testkit/
  Label catalog-tests PRs: any of: ^modules/catalog-tests/
  Label core PRs: any of: ^modules/core/
  Label horizons PRs: any of: ^modules/horizons/
  Label horizons-tests PRs: any of: ^modules/horizons-tests/
  Label npm PRs: any of: ^modules/npm/
  Label testkit PRs: any of: ^modules/testkit/
  Label tests PRs: any of: ^modules/tests/
