Repository gemini-hlsw/lucuma-core: changes, and which Mergify rules are due for each by the changed paths.
All: Label ags PRs, Label benchmarks PRs, Label catalog PRs, Label catalog-testkit PRs, Label catalog-tests PRs, Label core PRs, Label horizons PRs, Label npm PRs, Label testkit PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJS)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label ags PRs
  conditions:
  - files~=^modules/ags/
  actions:
    label:
      add:
      - ags
      remove: []
- name: Label benchmarks PRs
  conditions:
  - files~=^modules/benchmarks/
  actions:
    label:
      add:
      - benchmarks
      remove: []
- name: Label catalog PRs
  conditions:
  - files~=^modules/catalog/
  actions:
    label:
      add:
      - catalog
      remove: []
- name: Label catalog-testkit PRs
  conditions:
  - files~=^modules/catalog-testkit/
  actions:
    label:
      add:
      - catalog-testkit
      remove: []
- name: Label catalog-tests PRs
  conditions:
  - files~=^modules/catalog-tests/
  actions:
    label:
      add:
      - catalog-tests
      remove: []
- name: Label core PRs
  conditions:
  - files~=^modules/core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label horizons PRs
  conditions:
  - files~=^modules/horizons/
  actions:
    label:
      add:
      - horizons
      remove: []
- name: Label npm PRs
  conditions:
  - files~=^modules/npm/
  actions:
    label:
      add:
      - npm
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^modules/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^modules/tests/
  actions:
    label:
      add:
      - tests
      remove: []

Make withProbe protected
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
Due: Label ags PRs

Added methods to tell if trakcing is sidereal or not
  modules/core/shared/src/main/scala/lucuma/core/model/Tracking.scala
Due: Label core PRs

GmosAgsParams sholud be private
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
Due: Label ags PRs

Refactor how the ags params are selected having specific imaging and longslit mode params
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/AgsSelectionApp.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/AgsSelectionStreamApp.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/ags/7060.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/AgsSuite.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosOiwfsPatrolField.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosOiwfsProbeArm.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosScienceAreaGeometry.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/package.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsAgsDemo.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
Due: Label ags PRs, Label catalog-tests PRs, Label core PRs, Label tests PRs

UnconstrainedAngles should not be an option
  modules/ags/src/main/scala/lucuma/ags/package.scala
  modules/ags/src/main/scala/lucuma/ags/syntax/package.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsAgsDemo.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
Due: Label ags PRs, Label tests PRs

Update binary version
  build.sbt
Due: none

truncate instants for tracking
  modules/core/shared/src/main/scala/lucuma/core/model/Tracking.scala
Due: Label core PRs

More tests
  modules/catalog-tests/jvm/src/main/resources/expected-output.csv
  modules/catalog-tests/jvm/src/main/resources/expected-output.jsonl
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherDataSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherFullDataSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/StellarPhysicsSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SpectralTypeParsers.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarLibraryParameters.scala
Due: Label catalog PRs, Label catalog-tests PRs

Add full test list from python
  modules/catalog-tests/jvm/src/main/resources/expected-output-full.csv
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/ParseSimbadFileSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherFullDataSuite.scala
Due: Label catalog-tests PRs

Use coulomb
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/StellarPhysicsSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SimbadSEDMatcher.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarLibraryParameters.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarPhysics.scala
Due: Label catalog PRs, Label catalog-tests PRs

Improve tests and integrate onto the regular parser
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/ParseSimbadFileSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SimbadSEDMatcher.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SpectralTypeParsers.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/VoTableParser.scala
Due: Label catalog PRs, Label catalog-tests PRs

Improve parsing of stellar physics
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/StellarPhysicsSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SpectralTypeParsers.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarPhysics.scala
Due: Label catalog PRs, Label catalog-tests PRs

Simplify luminosity class normalization logic
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/StellarPhysicsSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SEDMatcher.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SpectralTypeParsers.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarPhysics.scala
Due: Label catalog PRs, Label catalog-tests PRs

Reuse tempSubclass parser from SpectralTypeParsers
  modules/catalog/src/main/scala/lucuma/catalog/votable/SpectralTypeParsers.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarPhysics.scala
Due: Label catalog PRs

Fix property tests for modifiers and white dwarf temperature
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherDataSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherFullDataSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/StellarPhysicsProperties.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SEDMatcher.scala
Due: Label catalog PRs, Label catalog-tests PRs

Add heuristics to read SED from simbad
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/TargetImportSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SimbadSEDMatcher.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/VoTableParser.scala
Due: Label catalog PRs, Label catalog-tests PRs

Improve SED matching
  modules/catalog-tests/jvm/src/main/resources/simbad-sed-test-data-full.dat
  modules/catalog-tests/jvm/src/main/resources/simbad-sed-test-data.dat
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/SimbadSEDTestApp.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherDataSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherFullDataSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SimbadSEDMatcher.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarLibraryParameters.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarPhysics.scala
Due: Label catalog PRs, Label catalog-tests PRs

scalafmt
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/SimbadSEDTestApp.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherDataSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SimbadSEDMatcher.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SpectralTypeParsers.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarLibraryParameters.scala
Due: Label catalog PRs, Label catalog-tests PRs

Make SED matching best-effort to avoid parse failures
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SimbadSEDMatcher.scala
Due: Label catalog PRs

Handle a few more edge cases
  modules/catalog-tests/jvm/src/main/resources/expected-output.jsonl
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherDataSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/StellarPhysicsProperties.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SEDMatcher.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SpectralTypeParsers.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarLibraryParameters.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarPhysics.scala
Due: Label catalog PRs, Label catalog-tests PRs

Refactor stellar matching to functional style with type-safe ScoredMatch
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/StellarPhysicsProperties.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SimbadSEDMatcher.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarPhysics.scala
Due: Label catalog PRs, Label catalog-tests PRs

cleanup
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/SimbadSEDTestApp.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherDataSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherFullDataSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SimbadSEDMatcher.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SpectralTypeParsers.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarLibraryParameters.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarPhysics.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/VoTableParser.scala
Due: Label catalog PRs, Label catalog-tests PRs

Cleanup the api
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherDataSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherFullDataSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogProblem.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SimbadSEDMatcher.scala
Due: Label catalog PRs, Label catalog-tests PRs

Cleanup
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/SpectralTypeParsersSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/StellarPhysicsSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SEDMatcher.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SpectralTypeParsers.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarLibraryParameters.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarPhysics.scala
Due: Label catalog PRs, Label catalog-tests PRs

wip
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/ParseSimbadFileSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/SEDMatcherSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/StellarPhysicsSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SEDMatcher.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SpectralTypeParsers.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarLibraryParameters.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarPhysics.scala
Due: Label catalog PRs, Label catalog-tests PRs

Last fine adjustments
  modules/catalog/src/main/scala/lucuma/catalog/votable/SEDMatcher.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SpectralTypeParsers.scala
Due: Label catalog PRs

Merge test suite
  modules/catalog-tests/jvm/src/main/resources/expected-output.csv
  modules/catalog-tests/jvm/src/main/resources/simbad-sed-test-data.dat
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherDataSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherFullDataSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/StellarPhysicsSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarLibraryParameters.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarPhysics.scala
Due: Label catalog PRs, Label catalog-tests PRs

Add fallback sed matching when spectal data is present
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/ParseSimbadFileSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SEDMatcher.scala
Due: Label catalog PRs, Label catalog-tests PRs

Improve SED matching
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/StellarPhysicsSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarLibraryParameters.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarPhysics.scala
Due: Label catalog PRs, Label catalog-tests PRs

Improvements to full dataset suite
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SEDMatcher.scala
Due: Label catalog PRs, Label catalog-tests PRs

Solve some miss-matches
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/StellarPhysicsSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SEDMatcher.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarPhysics.scala
Due: Label catalog PRs, Label catalog-tests PRs

Update tests
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/ParseSimbadFileSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SEDMatcher.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SpectralTypeParsers.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarLibraryParameters.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarPhysics.scala
Due: Label catalog PRs, Label catalog-tests PRs

Some fine adjustments
  modules/catalog-tests/jvm/src/main/resources/expected-output-full.csv
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/SEDMatcherSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/SpectralTypeParsersSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SEDMatcher.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarPhysics.scala
Due: Label catalog PRs, Label catalog-tests PRs

Create a new package for the sed matching feature
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/ParseSimbadFileSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/simbad/SEDMatcherSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/simbad/SimbadSEDMatcherSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/simbad/StellarPhysicsSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/simbad/SpectralTypeParsersSuite.scala
  modules/catalog/js/src/main/scala/lucuma/catalog/simbad/SEDDataLoader.scala
  modules/catalog/jvm/src/main/scala/lucuma/catalog/simbad/SEDDataLoader.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/simbad/SEDData.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/simbad/SEDDataParsers.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/simbad/SEDMatcher.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/simbad/SpectralTypeParsers.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/simbad/StellarLibraryParameters.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/simbad/StellarPhysics.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
Due: Label catalog PRs, Label catalog-tests PRs

Always set a sed matcher for simbad
  modules/catalog-testkit/jvm/src/main/scala/lucuma/catalog/clients/SimbadClientMock.scala
  modules/catalog-tests/js/src/main/scala/lucuma/catalog/SimbadQueryApp.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/SimbadQueryApp.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/SimbadSEDTestApp.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/TelluricTargetsQueryApp.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/ParseSimbadFileSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/SEDMatcherFixture.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/TargetImportSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/simbad/SEDMatcherSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/simbad/StellarPhysicsSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadAdapterSuite.scala
  modules/catalog-tests/shared/src/main/scala/lucuma/catalog/votable/SimbadQuerySample.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/clients/SimbadClient.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
Due: Label catalog PRs, Label catalog-testkit PRs, Label catalog-tests PRs

More cleanups
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/ParseSimbadFileSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/SEDMatcherFixture.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/simbad/SEDMatcherSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/simbad/SimbadSEDMatcherSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/simbad/StellarPhysicsSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadAdapterSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/simbad/SpectralTypeParsersSuite.scala
  modules/catalog/js/src/main/scala/lucuma/catalog/simbad/SEDDataLoader.scala
  modules/catalog/jvm/src/main/scala/lucuma/catalog/simbad/SEDDataLoader.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/simbad/SEDData.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/simbad/SEDDataParsers.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/simbad/SEDMatcher.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/simbad/SpectralTypeParsers.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/simbad/StellarLibraryParameters.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/simbad/StellarPhysics.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
  modules/core/shared/src/main/scala/lucuma/core/parser/MiscParsers.scala
Due: Label catalog PRs, Label catalog-tests PRs, Label core PRs

Support Simbad OTYPE_S label forms in object type matching
  modules/catalog/shared/src/main/scala/lucuma/catalog/simbad/SEDMatcher.scala
Due: Label catalog PRs

App to query simbad for all the test targets
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/SimbadSEDValidationApp.scala
Due: Label catalog-tests PRs
