Repository gemini-hlsw/lucuma-core: changes, and which Mergify rules are due for each by the changed paths.
All: Label ags PRs, Label catalog PRs, Label catalog-testkit PRs, Label catalog-tests PRs, Label core PRs, Label horizons PRs, Label horizons-tests PRs, Label npm PRs, Label testkit PRs, Label tests PRs

Label ags PRs:
  label:
    add:
    - ags
    remove: []

Label catalog PRs:
  label:
    add:
    - catalog
    remove: []

Label catalog-testkit PRs:
  label:
    add:
    - catalog-testkit
    remove: []

Label catalog-tests PRs:
  label:
    add:
    - catalog-tests
    remove: []

Label core PRs:
  label:
    add:
    - core
    remove: []

Label horizons PRs:
  label:
    add:
    - horizons
    remove: []

Label horizons-tests PRs:
  label:
    add:
    - horizons-tests
    remove: []

Label npm PRs:
  label:
    add:
    - npm
    remove: []

Label testkit PRs:
  label:
    add:
    - testkit
    remove: []

Label tests PRs:
  label:
    add:
    - tests
    remove: []

Bump base version
  build.sbt
Due: none

Reinstate PR #1558 - GenericWarning and ForReview
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservationValidationCode.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservationWorkflowState.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ObservationValidation.scala
Due: Label core PRs

Derive display for ObservationWorkflowState & ConfigurationRequestStatus
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/ConfigurationRequestStatus.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservationWorkflowState.scala
Due: Label core PRs

change gmos slit offset presets
  modules/core/shared/src/main/scala/lucuma/core/enums/SlitOffsetPreset.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/longslit/package.scala
Due: Label core PRs

bump base version
  build.sbt
Due: none

gmos ifu offset presets
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/ifu/package.scala
Due: Label core PRs

Add offset preset used for MOS tellurics
  modules/core/shared/src/main/scala/lucuma/core/enums/SlitOffsetPreset.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/flamingos2/package.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/flamingos2/Flamingos2ConfigSuite.scala
Due: Label core PRs, Label tests PRs

Add ProgramStatus enum
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/ProgramStatus.scala
Due: Label core PRs

Add display instance
  modules/core/shared/src/main/scala/lucuma/core/enums/ProgramStatus.scala
Due: Label core PRs

Add ProposalSubmissionError
  modules/core/shared/src/main/scala/lucuma/core/enums/ProposalSubmissionError.scala
Due: Label core PRs

add GmosIfuAcquisitionRoi
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosIfuAcquisitionRoi.scala
Due: Label core PRs

add fromFpu constructors to gmos ifu fpu enums
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthIfuFpu.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthIfuFpu.scala
  modules/tests/shared/src/test/scala/lucuma/core/enums/GmosIfuFpuSuite.scala
Due: Label core PRs, Label tests PRs

remove for_review
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservationWorkflowState.scala
Due: Label core PRs

Add TelluricType.None, a PI can use it to request no telluric generation
  modules/catalog/shared/src/main/scala/lucuma/catalog/telluric/codecs.scala
  modules/core/shared/src/main/scala/lucuma/core/model/TelluricType.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbTelluricType.scala
Due: Label catalog PRs, Label core PRs, Label testkit PRs

bump
  build.sbt
Due: none

Rename as suggested
  modules/catalog/shared/src/main/scala/lucuma/catalog/telluric/codecs.scala
  modules/core/shared/src/main/scala/lucuma/core/model/TelluricType.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbTelluricType.scala
Due: Label catalog PRs, Label core PRs, Label testkit PRs

gmos ifu ags
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
Due: Label ags PRs

bump base
  build.sbt
Due: none

scalafmt
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
Due: Label ags PRs

rename patrolField and probeArm's longSlitMode => fpuMode
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
  modules/benchmarks/src/main/scala/lucuma/bench/Fixtures.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosOiwfsPatrolField.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosOiwfsProbeArm.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
Due: Label ags PRs, Label core PRs, Label tests PRs

There maybe more than one proposal summary
  modules/core/shared/src/main/scala/lucuma/core/enums/AttachmentType.scala
Due: Label core PRs

flip gmos patrol field offset sign
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosOiwfsPatrolField.scala
  modules/tests/shared/src/test/scala/lucuma/core/geom/gmos/GmosOiwfsGeometrySuite.scala
Due: Label core PRs, Label tests PRs

flip gmos ifu offset signs
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthFpu.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthFpu.scala
Due: Label core PRs

rebase tests, scalafix
  modules/tests/shared/src/test/scala/lucuma/core/geom/gmos/GmosOiwfsGeometrySuite.scala
Due: Label tests PRs

Telluric type encoder sent Solar/A0V where the service only accepts solar/A0
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/TelluricTargetsQueryApp.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/telluric/codecs.scala
Due: Label catalog PRs, Label catalog-tests PRs

fine-grained warnings
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservationValidationCode.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ObservationValidation.scala
Due: Label core PRs

scalafix
  modules/core/shared/src/main/scala/lucuma/core/model/ObservationValidation.scala
Due: Label core PRs

Don't assign a default SED on CSV target import
  modules/catalog-tests/jvm/src/main/resources/galaxies_surface_sidereal.csv
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/TargetImportSuite.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/csv/TargetImport.scala
Due: Label catalog PRs, Label catalog-tests PRs

flip gmos ifu sku position, adjust fields
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthIfuFpu.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthIfuFpu.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosScienceAreaGeometry.scala
  modules/tests/shared/src/test/scala/lucuma/core/geom/gmos/GmosScienceAreaGeometrySuite.scala
Due: Label core PRs, Label tests PRs

swap gmos ifu sky positions
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosScienceAreaGeometry.scala
  modules/tests/shared/src/test/scala/lucuma/core/geom/gmos/GmosScienceAreaGeometrySuite.scala
Due: Label core PRs, Label tests PRs

ToO Refactor
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/ProposalSubmissionError.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/SchedulingMode.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/TooActivation.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Target.scala
  modules/core/shared/src/main/scala/lucuma/core/model/TargetResolution.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostIfuMappingSyntax.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbTarget.scala
  modules/tests/shared/src/test/scala/lucuma/core/enums/SchedulingModeSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/TargetSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

refactor
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservationValidationCode.scala
Due: Label core PRs

Update to Scala 3.9.0, fixes the warnings for unary conversions given (scala/scala3#24163).
  build.sbt
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/clients/GaiaClientSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/9024.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/flamingos2/package.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/longslit/package.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gnirs/GnirsAcquisitionMode.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gnirs/package.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/igrins2/package.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsAgsDemo.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/OffsetSuite.scala
Due: Label catalog-tests PRs, Label core PRs, Label tests PRs

Path conditions:
  Label ags PRs: any of: ^modules/ags/
  Label catalog PRs: any of: ^modules/catalog/
  Label catalog-testkit PRs: any of: ^modules/catalog-testkit/
  Label catalog-tests PRs: any of: ^modules/catalog-tests/
  Label core PRs: any of: ^modules/core/
  Label horizons PRs: any of: ^modules/horizons/
  Label horizons-tests PRs: any of: ^modules/horizons-tests/
  Label npm PRs: any of: ^modules/npm/
  Label testkit PRs: any of: ^modules/testkit/
  Label tests PRs: any of: ^modules/tests/
