Repository gemini-hlsw/lucuma-core: changes, and which Mergify rules are due for each by the changed paths.
All: Label ags PRs, Label benchmarks PRs, Label catalog PRs, Label catalog-testkit PRs, Label catalog-tests PRs, Label core PRs, Label horizons PRs, Label npm PRs, Label testkit PRs, Label tests PRs

Label ags PRs:
  label:
    add:
    - ags
    remove: []

Label benchmarks PRs:
  label:
    add:
    - benchmarks
    remove: []

Label catalog PRs:
  label:
    add:
    - catalog
    remove: []

Label catalog-testkit PRs:
  label:
    add:
    - catalog-testkit
    remove: []

Label catalog-tests PRs:
  label:
    add:
    - catalog-tests
    remove: []

Label core PRs:
  label:
    add:
    - core
    remove: []

Label horizons PRs:
  label:
    add:
    - horizons
    remove: []

Label npm PRs:
  label:
    add:
    - npm
    remove: []

Label testkit PRs:
  label:
    add:
    - testkit
    remove: []

Label tests PRs:
  label:
    add:
    - tests
    remove: []

Epoch rewrite
  build.sbt
  modules/ags/src/main/scala/lucuma/ags/GuideStarCandidate.scala
  modules/catalog/src/main/scala/lucuma/catalog/csv/ImportEpochParsers.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Epoch.scala
  modules/core/shared/src/main/scala/lucuma/core/math/LeapSeconds.scala
  modules/core/shared/src/main/scala/lucuma/core/math/TaiInstant.scala
  modules/core/shared/src/main/scala/lucuma/core/math/TerrestrialInstant.scala
  modules/core/shared/src/main/scala/lucuma/core/math/parser/EpochParsers.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Tracking.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/EpochSuite.scala
Due: Label ags PRs, Label catalog PRs, Label core PRs, Label tests PRs

fix coordinates in tests
  modules/tests/shared/src/test/scala/lucuma/core/math/ProperMotionSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SiderealTrackingSuite.scala
Due: Label tests PRs

Apply suggestions from code review
  modules/core/shared/src/main/scala/lucuma/core/math/Epoch.scala
  modules/core/shared/src/main/scala/lucuma/core/math/LeapSeconds.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/EpochSuite.scala
Due: Label core PRs, Label tests PRs

adjust comments
  modules/core/shared/src/main/scala/lucuma/core/math/Epoch.scala
Due: Label core PRs

Add ability to proxy the horizons URI
  modules/horizons/src/main/scala/lucuma/horizons/HorizonsClient.scala
Due: Label horizons PRs

remove Besselian, add terrestrial tests
  modules/core/shared/src/main/scala/lucuma/core/math/Epoch.scala
  modules/core/shared/src/main/scala/lucuma/core/math/TaiInstant.scala
  modules/core/shared/src/main/scala/lucuma/core/math/parser/EpochParsers.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbEpoch.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/EpochSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/TerrestrialInstantSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

fix intervals and test
  modules/core/shared/src/main/scala/lucuma/core/math/Epoch.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/validation/MathValidatorsSuite.scala
Due: Label core PRs, Label tests PRs

fix ProperMotion test
  modules/tests/shared/src/test/scala/lucuma/core/math/ProperMotionSuite.scala
Due: Label tests PRs

remove besselian epoch from test
  modules/catalog-tests/jvm/src/main/resources/stars_pm_epoch.csv
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/TargetImportSuite.scala
Due: Label catalog-tests PRs

Add TelluricClientMock
  modules/catalog-testkit/jvm/src/main/resources/telluric/empty-stars.json
  modules/catalog-testkit/jvm/src/main/resources/telluric/sample-stars.json
  modules/catalog-testkit/jvm/src/main/scala/lucuma/catalog/clients/TelluricClientMock.scala
Due: Label catalog-testkit PRs

Add rounding to JS deg2hms and deg2dms functions
  build.sbt
  modules/npm/src/main/scala/lucuma/core/exports.scala
  modules/npm/src/test/scala/lucuma/core/ExportsTest.scala
Due: Label npm PRs

Add npm to aggregate project
  build.sbt
Due: none

Aggregate horizonsTests in root project
  build.sbt
Due: none

Formatting
  modules/horizons-tests/shared/src/test/scala/lucuma/horizons/HorizonsClientEphemerisSuite.scala
Due: none

Use MathValidators for deg2hms and deg2dms formatting
  modules/npm/src/main/scala/lucuma/core/exports.scala
  modules/npm/src/test/scala/lucuma/core/ExportsTest.scala
Due: Label npm PRs

Remove NodeJSEnv and scalaJSUseMainModuleInitializer
  build.sbt
Due: none

Refinements
  modules/catalog-testkit/jvm/src/main/scala/lucuma/catalog/clients/GaiaClientMock.scala
  modules/catalog-testkit/jvm/src/main/scala/lucuma/catalog/clients/TelluricClientMock.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/TelluricQueryApp.scala
  modules/catalog/src/main/scala/lucuma/catalog/telluric/TelluricClient.scala
  modules/catalog/src/main/scala/lucuma/catalog/telluric/TelluricSearchInput.scala
  modules/catalog/src/main/scala/lucuma/catalog/telluric/TelluricSearchQuery.scala
  modules/catalog/src/main/scala/lucuma/catalog/telluric/TelluricStar.scala
Due: Label catalog PRs, Label catalog-testkit PRs, Label catalog-tests PRs

Add encoders/decoders for telluric client
  modules/catalog/src/main/scala/lucuma/catalog/clients/GaiaClient.scala
  modules/catalog/src/main/scala/lucuma/catalog/telluric/TelluricClient.scala
  modules/catalog/src/main/scala/lucuma/catalog/telluric/TelluricCodecs.scala
  modules/catalog/src/main/scala/lucuma/catalog/telluric/TelluricStar.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/TelluricCalibrationOrder.scala
Due: Label catalog PRs, Label core PRs

cleanup
  modules/catalog-testkit/jvm/src/main/scala/lucuma/catalog/clients/TelluricClientMock.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/TelluricQueryApp.scala
  modules/catalog/src/main/scala/lucuma/catalog/telluric/TelluricClient.scala
  modules/catalog/src/main/scala/lucuma/catalog/telluric/TelluricCodecs.scala
  modules/catalog/src/main/scala/lucuma/catalog/telluric/TelluricSearchInput.scala
  modules/catalog/src/main/scala/lucuma/catalog/telluric/TelluricSearchQuery.scala
  modules/catalog/src/main/scala/lucuma/catalog/telluric/TelluricStar.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/TelluricCalibrationOrder.scala
Due: Label catalog PRs, Label catalog-testkit PRs, Label catalog-tests PRs, Label core PRs

More cleanups
  modules/catalog-testkit/jvm/src/main/scala/lucuma/catalog/clients/GaiaClientMock.scala
  modules/catalog-testkit/jvm/src/main/scala/lucuma/catalog/clients/TelluricTargetsClientMock.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/TelluricTargetsQueryApp.scala
  modules/catalog/src/main/scala/lucuma/catalog/telluric/TelluricSearchInput.scala
  modules/catalog/src/main/scala/lucuma/catalog/telluric/TelluricSearchQuery.scala
  modules/catalog/src/main/scala/lucuma/catalog/telluric/TelluricStar.scala
  modules/catalog/src/main/scala/lucuma/catalog/telluric/TelluricTargetsClient.scala
  modules/catalog/src/main/scala/lucuma/catalog/telluric/codecs.scala
Due: Label catalog PRs, Label catalog-testkit PRs, Label catalog-tests PRs

Update binary version
  build.sbt
Due: none

use non-relativistic test for proper motion
  modules/tests/shared/src/test/scala/lucuma/core/math/ProperMotionSuite.scala
Due: Label tests PRs

checked more tests with astropy
  modules/tests/shared/src/test/scala/lucuma/core/model/SiderealTrackingSuite.scala
Due: Label tests PRs

Make function public
  modules/ags/src/main/scala/lucuma/ags/Ags.scala
Due: Label ags PRs

avoid unsafe call in tracking
  modules/core/shared/src/main/scala/lucuma/core/model/Tracking.scala
Due: Label core PRs

avoid unnecessary Option in Epoch.toInstant
  modules/core/shared/src/main/scala/lucuma/core/math/Epoch.scala
Due: Label core PRs

it's a good idea to at least compile before sending pr
  modules/core/shared/src/main/scala/lucuma/core/math/Epoch.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/EpochSuite.scala
Due: Label core PRs, Label tests PRs

bump base version
  build.sbt
Due: none

stage 1
  .gitignore
  .scalafix.conf
  build.sbt
  flake.nix
  modules/catalog/fetchTelluricSchema.mjs
  modules/catalog/fetchTelluricSchema.sh
  modules/catalog/package.json
  modules/catalog/pnpm-lock.yaml
  modules/catalog/src/clue/resources/lucuma/catalog/telluric/TelluricService.graphql
  modules/catalog/src/clue/scala/lucuma/catalog/telluric/TelluricService.scala
  modules/catalog/src/main/scala/lucuma/catalog/telluric/TelluricSearchInput.scala
  modules/catalog/src/main/scala/lucuma/catalog/telluric/TelluricSearchQuery.scala
  modules/catalog/src/main/scala/lucuma/catalog/telluric/TelluricTargetsClient.scala
  project/plugins.sbt
Due: Label catalog PRs

take 2
  modules/catalog-testkit/jvm/src/main/scala/lucuma/catalog/clients/TelluricTargetsClientMock.scala
  modules/catalog/src/clue/scala/lucuma/catalog/telluric/TelluricSearchQuery.scala
  modules/catalog/src/main/scala/lucuma/catalog/telluric/TelluricSearchInput.scala
  modules/catalog/src/main/scala/lucuma/catalog/telluric/TelluricSearchQuery.scala
  modules/catalog/src/main/scala/lucuma/catalog/telluric/TelluricStar.scala
  modules/catalog/src/main/scala/lucuma/catalog/telluric/TelluricTargetsClient.scala
  modules/catalog/src/main/scala/lucuma/catalog/telluric/codecs.scala
Due: Label catalog PRs, Label catalog-testkit PRs

scalafix
  modules/catalog-testkit/jvm/src/main/scala/lucuma/catalog/clients/TelluricTargetsClientMock.scala
  modules/catalog/src/main/scala/lucuma/catalog/telluric/TelluricTargetsClient.scala
Due: Label catalog PRs, Label catalog-testkit PRs

simplify error handling
  modules/catalog/src/main/scala/lucuma/catalog/telluric/TelluricTargetsClient.scala
Due: Label catalog PRs

Add TelluricCalibrationOrder
  modules/catalog/src/main/scala/lucuma/catalog/telluric/TelluricStar.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/TelluricCalibrationOrder.scala
Due: Label catalog PRs, Label core PRs

Add client to call the telluric targets server
  build.sbt
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/TelluricQueryApp.scala
  modules/catalog/src/main/scala/lucuma/catalog/telluric/TelluricClient.scala
  modules/catalog/src/main/scala/lucuma/catalog/telluric/TelluricSearchInput.scala
  modules/catalog/src/main/scala/lucuma/catalog/telluric/TelluricSearchQuery.scala
  modules/catalog/src/main/scala/lucuma/catalog/telluric/TelluricStar.scala
Due: Label catalog PRs, Label catalog-tests PRs

Path conditions:
  Label ags PRs: any of: ^modules/ags/
  Label benchmarks PRs: any of: ^modules/benchmarks/
  Label catalog PRs: any of: ^modules/catalog/
  Label catalog-testkit PRs: any of: ^modules/catalog-testkit/
  Label catalog-tests PRs: any of: ^modules/catalog-tests/
  Label core PRs: any of: ^modules/core/
  Label horizons PRs: any of: ^modules/horizons/
  Label npm PRs: any of: ^modules/npm/
  Label testkit PRs: any of: ^modules/testkit/
  Label tests PRs: any of: ^modules/tests/
