Repository gemini-hlsw/lucuma-core: changes, and which Mergify rules are due for each by the changed paths.
All: Label core PRs, Label testkit PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=scala-steward
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 2.13.8, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 2.13.8, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label core PRs
  conditions:
  - files~=^modules/core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^modules/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^modules/tests/
  actions:
    label:
      add:
      - tests
      remove: []

Allow Typescript sources to be copied into npm package
  build.sbt
  modules/npm/src/main/typescript/main.d.ts
Due: none

Rename tests
  build.sbt
  modules/tests/shared/src/test/scala/lucuma/core/math/SignalToNoiseSuite.scala
Due: Label tests PRs

timing window definition
  modules/core/shared/src/main/scala/lucuma/core/enums/TimingWindowInclusion.scala
  modules/core/shared/src/main/scala/lucuma/core/model/TimingWindow.scala
Due: Label core PRs

use Iso, remove TimingWindow.Id
  modules/core/shared/src/main/scala/lucuma/core/enums/TimingWindowInclusion.scala
  modules/core/shared/src/main/scala/lucuma/core/model/TimingWindow.scala
Due: Label core PRs

Add Group.Id
  modules/core/shared/src/main/scala/lucuma/core/model/ids.scala
Due: Label core PRs

timing windows arbitraries, optics
  modules/core/shared/src/main/scala/lucuma/core/model/TimingWindow.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbTimingWindow.scala
Due: Label core PRs, Label testkit PRs

renames
  modules/core/shared/src/main/scala/lucuma/core/model/TimingWindow.scala
Due: Label core PRs

fix imports, bump base version
  build.sbt
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbTimingWindow.scala
Due: Label testkit PRs

Experimentally export a method to get the night plot data in js/ts
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/Site.scala
  modules/npm/src/main/scala/lucuma/core/Foo.scala
  modules/npm/src/main/scala/lucuma/core/exports.scala
  modules/npm/src/main/typescript/main.d.ts
Due: Label core PRs

Add `types` to `package.json`
  build.sbt
Due: none

Fix some declaration types
  modules/npm/src/main/typescript/main.d.ts
Due: none

Cleanup ts declaration
  modules/core/shared/src/main/scala/lucuma/core/enums/Site.scala
  modules/npm/src/main/scala/lucuma/core/exports.scala
  modules/npm/src/main/typescript/main.d.ts
Due: Label core PRs

Make PlotPoint extend js.Object
  modules/npm/src/main/scala/lucuma/core/exports.scala
Due: none

add TimingWindow.toIntervalSeq mehtod
  modules/core/shared/src/main/scala/lucuma/core/model/TimingWindow.scala
Due: Label core PRs

Zipper Updates
  modules/core/shared/src/main/scala/lucuma/core/data/EnumZipper.scala
  modules/core/shared/src/main/scala/lucuma/core/data/Zipper.scala
  modules/testkit/src/main/scala/lucuma/core/data/ArbZipper.scala
  modules/tests/shared/src/test/scala/lucuma/core/data/ZipperSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

mima
  build.sbt
Due: none

Zipper Updates (#723)
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/data/EnumZipper.scala
  modules/core/shared/src/main/scala/lucuma/core/data/Zipper.scala
  modules/testkit/src/main/scala/lucuma/core/data/ArbZipper.scala
  modules/tests/shared/src/test/scala/lucuma/core/data/ZipperSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Angle and Offset updates
  modules/core/shared/src/main/scala/lucuma/core/math/Angle.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Offset.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/AngleSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/OffsetSuite.scala
Due: Label core PRs, Label tests PRs

Define amp count options
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthDetector.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthDetector.scala
Due: Label core PRs

Angle and Offset updates (#724)
  modules/core/shared/src/main/scala/lucuma/core/math/Angle.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Offset.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/AngleSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/OffsetSuite.scala
Due: Label core PRs, Label tests PRs

Define amp count options (#725)
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthDetector.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthDetector.scala
Due: Label core PRs

planned-time related enums
  modules/core/shared/src/main/scala/lucuma/core/enums/ChargeClass.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ObserveClass.scala
  modules/tests/shared/src/test/scala/lucuma/core/enums/ObserveClassSuite.scala
Due: Label core PRs, Label tests PRs

comment
  modules/core/shared/src/main/scala/lucuma/core/enums/ObserveClass.scala
Due: Label core PRs

Planned time enums (#726)
  modules/core/shared/src/main/scala/lucuma/core/enums/ChargeClass.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ObserveClass.scala
  modules/tests/shared/src/test/scala/lucuma/core/enums/ObserveClassSuite.scala
Due: Label core PRs, Label tests PRs

Planned time model classes
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ConfigChangeEstimate.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/DatasetEstimate.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/DetectorEstimate.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/PlannedTime.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/StepEstimate.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbConfigChangeEstimate.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbDatasetEstimate.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbDetectorEstimate.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbPlannedTime.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbStepEstimate.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/ConfigChangeEstimateSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/DatasetEstimateSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/DetectorEstimateSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/PlannedTimeSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Planned time model classes (#727)
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ConfigChangeEstimate.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/DatasetEstimate.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/DetectorEstimate.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/PlannedTime.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/StepEstimate.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbConfigChangeEstimate.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbDatasetEstimate.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbDetectorEstimate.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbPlannedTime.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbStepEstimate.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/ConfigChangeEstimateSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/DatasetEstimateSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/DetectorEstimateSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/PlannedTimeSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

SetupTime
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/SetupTime.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbSetupTime.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/SetupTimeSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

SetupTime (#728)
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/SetupTime.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbSetupTime.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/SetupTimeSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Rework execution sequence
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ExecutionConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ExecutionSequence.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/Sequence.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/SequenceDigest.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbExecutionConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbExecutionSequence.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbSequence.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbSequenceDigest.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/ExecutionConfigSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/ExecutionSequenceSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/SequenceDigestSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

non-empty description
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/Atom.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbAtom.scala
Due: Label core PRs, Label testkit PRs

Restrict the values that exposure count overrides to 1 or more
  modules/core/shared/src/main/scala/lucuma/core/model/ExposureTimeMode.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbExposureTimeMode.scala
Due: Label core PRs, Label testkit PRs

Order for TimingWindow
  modules/core/shared/src/main/scala/lucuma/core/model/TimingWindow.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/TimingWindowSuite.scala
Due: Label core PRs, Label tests PRs

bump base version
  build.sbt
Due: none

execution event updates
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/DatasetStage.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/SequenceCommand.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/StepStage.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ids.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/IdsSuite.scala
Due: Label core PRs, Label tests PRs

switch visit id type
  modules/core/shared/src/main/scala/lucuma/core/model/ids.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/IdsSuite.scala
Due: Label core PRs, Label tests PRs

Execution Event Types and Visit ID (#738)
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/DatasetStage.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/SequenceCommand.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/StepStage.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ids.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/IdsSuite.scala
Due: Label core PRs, Label tests PRs

convert step type
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/StepType.scala
Due: Label core PRs

convert step type (#739)
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/StepType.scala
Due: Label core PRs
