Repository gemini-hlsw/lucuma-core: changes, and which Mergify rules are due for each by the changed paths.
All: Label ags PRs, Label catalog PRs, Label catalog-testkit PRs, Label catalog-tests PRs, Label core PRs, Label horizons PRs, Label horizons-tests PRs, Label npm PRs, Label testkit PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJS)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label ags PRs
  conditions:
  - files~=^modules/ags/
  actions:
    label:
      add:
      - ags
      remove: []
- name: Label catalog PRs
  conditions:
  - files~=^modules/catalog/
  actions:
    label:
      add:
      - catalog
      remove: []
- name: Label catalog-testkit PRs
  conditions:
  - files~=^modules/catalog-testkit/
  actions:
    label:
      add:
      - catalog-testkit
      remove: []
- name: Label catalog-tests PRs
  conditions:
  - files~=^modules/catalog-tests/
  actions:
    label:
      add:
      - catalog-tests
      remove: []
- name: Label core PRs
  conditions:
  - files~=^modules/core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label horizons PRs
  conditions:
  - files~=^modules/horizons/
  actions:
    label:
      add:
      - horizons
      remove: []
- name: Label horizons-tests PRs
  conditions:
  - files~=^modules/horizons-tests/
  actions:
    label:
      add:
      - horizons-tests
      remove: []
- name: Label npm PRs
  conditions:
  - files~=^modules/npm/
  actions:
    label:
      add:
      - npm
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^modules/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^modules/tests/
  actions:
    label:
      add:
      - tests
      remove: []

Add calibrationCount field
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ExecutionDigest.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbExecutionDigest.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/ExecutionDigestSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Remove lens tests
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/ExecutionDigestSuite.scala
Due: Label tests PRs

Add arc and flat digests to SequenceDigest
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ExecutionDigest.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/GcalDigest.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/SequenceDigest.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbGcalDigest.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbSequenceDigest.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/GcalDigestSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/SequenceDigestSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Categorize GCAL time and add observingTime to SequenceDigest
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ExecutionDigest.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/GcalDigest.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/SequenceDigest.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbGcalDigest.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbSequenceDigest.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/GcalDigestSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/SequenceDigestSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Rename GcalDigest to StepDigest and bucket biases, darks and observing steps
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ExecutionDigest.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/SequenceDigest.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/StepDigest.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbSequenceDigest.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbStepDigest.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/SequenceDigestSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/StepDigestSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Group the step digests of a sequence into StepDigests
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ExecutionDigest.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/SequenceDigest.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/StepDigests.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbSequenceDigest.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbStepDigests.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/SequenceDigestSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/StepDigestSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/StepDigestsSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Fix flake
  flake.nix
Due: none

scalafix
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/SequenceDigestSuite.scala
Due: Label tests PRs

Update binary version
  build.sbt
Due: none

Count GCAL sets on SequenceDigest
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/SequenceDigest.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbSequenceDigest.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/SequenceDigestSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Generate bounded BigDecimals directly instead of filtering
  modules/testkit/src/main/scala/lucuma/core/math/arb/LimitedBigDecimals.scala
Due: Label testkit PRs

Split Flamingos-2 telluric presets into their own enum
  modules/core/shared/src/main/scala/lucuma/core/enums/SlitOffsetPreset.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/flamingos2/package.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/flamingos2/Flamingos2ConfigSuite.scala
Due: Label core PRs, Label tests PRs

warning
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservationValidationCode.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ObservationValidation.scala
Due: Label core PRs

fix typo
  modules/core/shared/src/main/scala/lucuma/core/enums/InterruptibilityOption.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/SchedulingMode.scala
Due: Label core PRs

ToO Refactor
  modules/core/shared/src/main/scala/lucuma/core/enums/InterruptibilityOption.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/SchedulingMode.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/SplittabilityOption.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/TooActivation.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Configuration.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Target.scala
  modules/core/shared/src/main/scala/lucuma/core/model/TargetResolution.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostIfuMappingSyntax.scala
  modules/itac/src/main/scala/impl/QueueEngineBandProblems.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/QueueEngineBandProblemsTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/DecResourceTest.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbConfiguration.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbTarget.scala
  modules/tests/shared/src/test/scala/lucuma/core/enums/SchedulingModeSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ConfigurationSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/TargetSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

version
  build.sbt
Due: none

Send the GOA mode as an upper-case token
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/goa/GoaClientSuite.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/goa/GoaParams.scala
Due: Label catalog PRs, Label catalog-tests PRs

Drop observationType from GoaSummaryRecord
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/goa/GoaCodecsSuite.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/goa/GoaObservationType.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/goa/GoaSummaryRecord.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/goa/codecs.scala
Due: Label catalog PRs, Label catalog-tests PRs

compute target's next meridian transit
  .github/workflows/ci.yml
  modules/core/shared/src/main/scala/lucuma/core/enums/Instrument.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservingModeType.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Constants.scala
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/ImprovedSkyCalc.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Tracking.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/skycalc/ImprovedSkyCalcSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/TrackingTransitSuite.scala
  project/plugins.sbt
Due: Label core PRs, Label tests PRs

GoaParams.toUri can return the search form url
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/goa/GoaClientSuite.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/goa/GoaEndpoint.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/goa/GoaParams.scala
Due: Label catalog PRs, Label catalog-tests PRs

Extract the instrument from the search urls
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/goa/GoaEndpointSuite.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/goa/GoaEndpoint.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/goa/GoaParams.scala
Due: Label catalog PRs, Label catalog-tests PRs

checkpoint
  modules/core/shared/src/main/scala/lucuma/core/data/PerSite.scala
  modules/itac/src/main/scala/api/config/RightAscensionMap.scala
  modules/itac/src/main/scala/impl/QueueEngine3.scala
  modules/itac/src/main/scala/impl/resource/PerRightAscensionResource.scala
  modules/itac/src/test/scala/lucuma/QueueEngineSuite.scala
  modules/itac/src/test/scala/lucuma/ocs/Anonymizer.scala
  modules/itac/src/test/scala/lucuma/ocs/Fixture_25B.scala
  modules/itac/src/test/scala/lucuma/ocs/ProposalXml.scala
  modules/itac/src/test/scala/lucuma/ocs/extensions.scala
Due: Label core PRs

checkpoint
  modules/itac/src/main/scala/impl/QueueEngine3.scala
  modules/itac/src/main/scala/p1/Proposal.scala
  modules/itac/src/main/scala/p1/ProposalShard.scala
  modules/itac/src/test/scala/lucuma/QueueEngineSuite.scala
  modules/itac/src/test/scala/lucuma/ocs/ProposalXml.scala
Due: none

pull up altair methods from downstream
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
  modules/ags/src/main/scala/lucuma/ags/package.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/AltairAgsParamsSuite.scala
Due: Label ags PRs, Label catalog-tests PRs

scalafmt
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/AltairAgsParamsSuite.scala
Due: Label catalog-tests PRs

Add expectedCalibrations to ExecutionDigest
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ExecutionDigest.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbExecutionDigest.scala
Due: Label core PRs, Label testkit PRs

ToO Refactor (#1641)
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/InterruptibilityOption.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservationValidationCode.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/SchedulingMode.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/SplittabilityOption.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/TooActivation.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Configuration.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ObservationValidation.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Target.scala
  modules/core/shared/src/main/scala/lucuma/core/model/TargetResolution.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostIfuMappingSyntax.scala
  modules/itac/src/main/scala/impl/QueueEngineBandProblems.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/QueueEngineBandProblemsTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/DecResourceTest.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbConfiguration.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbTarget.scala
  modules/tests/shared/src/test/scala/lucuma/core/enums/SchedulingModeSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ConfigurationSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/TargetSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Check the kernel on the Altair AOWFS geometry
  modules/tests/js/src/test/scala/lucuma/ags/AgsGeometryParitySuite.scala
Due: Label tests PRs

Add the wasm geometry kernel for Scala.js on top of the placed AGS shapes
  .github/workflows/ci.yml
  .gitignore
  build.sbt
  modules/ags/src/main/scala/lucuma/ags/Ags.scala
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
  modules/ags/src/main/scala/lucuma/ags/AgsVisualization.scala
  modules/benchmarks-js/README.md
  modules/benchmarks-js/chrome-run.mjs
  modules/benchmarks-js/index-opt.html
  modules/benchmarks-js/index.html
  modules/benchmarks-js/src/main/scala/lucuma/bench/AgsBench.scala
  modules/core/js/src/main/scala/lucuma/core/geom/wasm/LucumaGeoWasm.scala
  modules/core/js/src/main/scala/lucuma/core/geom/wasm/WasmGeometry.scala
  modules/core/js/src/main/scala/lucuma/core/geom/wasm/WasmShape.scala
  modules/core/js/src/main/scala/lucuma/core/geom/wasm/WasmShapeInterpreter.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/Shape.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/ShapeInterpreter.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/ShapePolygon.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/JtsShape.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Configuration.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostIfuMappingSyntax.scala
  modules/tests/js/src/test/scala/lucuma/ags/AgsGeometryParitySuite.scala
  modules/tests/js/src/test/scala/lucuma/core/geom/wasm/WasmGeometrySuites.scala
  modules/tests/js/src/test/scala/lucuma/core/geom/wasm/WasmKernelSuite.scala
  modules/tests/js/src/test/scala/lucuma/core/geom/wasm/WasmShapeInterpreterSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/geom/ScienceAreaGeometrySuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/geom/ShapeExpressionSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/geom/gmos/GmosOiwfsGeometrySuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/geom/gmos/GmosScienceAreaGeometrySuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/geom/gnirs/GnirsScienceAreaGeometrySuite.scala
  package-lock.json
  package.json
  vendor/lucuma-geo-wasm-0.1.1.tgz
Due: Label ags PRs, Label core PRs, Label tests PRs

Drop the GeMS parity variants
  modules/benchmarks-js/src/main/scala/lucuma/bench/AgsBench.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/JtsShape.scala
  modules/tests/js/src/test/scala/lucuma/ags/AgsGeometryParitySuite.scala
Due: Label core PRs, Label tests PRs

Let the JVM benchmark pick the JTS overlay algorithm
  modules/benchmarks/src/main/scala/lucuma/bench/AgsAnalysisBenchmark.scala
  modules/core/js/src/main/scala/lucuma/core/geom/wasm/LucumaWasm.scala
  vendor/lucuma-geo-wasm-0.1.1.tgz
  vendor/lucuma-wasm-0.1.1.tgz
Due: Label core PRs
