Repository gemini-hlsw/lucuma-core: changes, and which Mergify rules are due for each by the changed paths.
All: Label core PRs, Label testkit PRs, Label tests PRs

Label core PRs:
  label:
    add:
    - core
    remove: []

Label testkit PRs:
  label:
    add:
    - testkit
    remove: []

Label tests PRs:
  label:
    add:
    - tests
    remove: []

Binary version bump
  build.sbt
Due: none

Moving a couple of classes from ODB
  modules/core/shared/src/main/scala/lucuma/core/enums/ScienceBand.scala
  modules/core/shared/src/main/scala/lucuma/core/util/DateInterval.scala
  modules/testkit/src/main/scala/lucuma/core/util/arb/ArbDateInterval.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/DateIntervalSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Moving a couple of classes from ODB (#915)
  modules/core/shared/src/main/scala/lucuma/core/enums/ScienceBand.scala
  modules/core/shared/src/main/scala/lucuma/core/util/DateInterval.scala
  modules/testkit/src/main/scala/lucuma/core/util/arb/ArbDateInterval.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/DateIntervalSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

add itc validation
  .gitignore
  .vscode/settings.json
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservationValidationCode.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ObservationValidation.scala
Due: Label core PRs

Add TimeAccountingCategory
  modules/core/shared/src/main/scala/lucuma/core/enums/Partner.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/TimeAccountingCategory.scala
Due: Label core PRs

tlBaseVersion
  build.sbt
Due: none

Add TimeAccountingCategory (#921)
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/Partner.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/TimeAccountingCategory.scala
Due: Label core PRs

Add degree hms/dms utils to npm package
  .github/workflows/ci.yml
  build.sbt
  modules/npm/src/main/scala/lucuma/core/exports.scala
  modules/npm/src/main/typescript/main.d.ts
Due: none

Migrate CalibrationRole from ODB
  modules/core/shared/src/main/scala/lucuma/core/enums/CalibrationRole.scala
Due: Label core PRs

Update JS Exports
  modules/core/shared/src/main/scala/lucuma/core/enums/Site.scala
  modules/npm/src/main/scala/lucuma/core/exports.scala
  modules/npm/src/main/typescript/main.d.ts
Due: Label core PRs

Update tlBaseVersion
  build.sbt
Due: none

Allow the average parallactic angle to have a fallback airmass parameter
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/ImprovedSkyCalc.scala
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/ImprovedSkyCalcMethods.scala
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/package.scala
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/solver/Samples.scala
  modules/tests/jvm/src/test/scala/lucuma/core/math/skycalc/ImprovedSkyCalcSuiteJVM.scala
Due: Label core PRs, Label tests PRs

Remove the fallbackAirmass concept
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/package.scala
  modules/tests/jvm/src/test/scala/lucuma/core/math/skycalc/ImprovedSkyCalcSuiteJVM.scala
Due: Label core PRs, Label tests PRs

moved from odb
  modules/core/shared/src/main/scala/lucuma/core/enums/PartnerLinkType.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ProgramUserRole.scala
  modules/core/shared/src/main/scala/lucuma/core/model/PartnerLink.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbPartnerLink.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/PartnerLinkSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

moved from odb (#926)
  modules/core/shared/src/main/scala/lucuma/core/enums/PartnerLinkType.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ProgramUserRole.scala
  modules/core/shared/src/main/scala/lucuma/core/model/PartnerLink.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbPartnerLink.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/PartnerLinkSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Handle negative LST again
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/ImprovedSkyCalcMethods.scala
Due: Label core PRs

Handle negative LST again (#934)
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/ImprovedSkyCalcMethods.scala
Due: Label core PRs

remove brightness comparisons
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/SourceProfile.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SourceProfileSuite.scala
Due: Label core PRs, Label tests PRs

Some extra enums
  modules/core/shared/src/main/scala/lucuma/core/enums/EducationalStatus.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/Gender.scala
Due: Label core PRs

Increase base version
  build.sbt
Due: none

configuration validation error
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservationValidationCode.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ObservationValidation.scala
Due: Label core PRs

oops
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservationValidationCode.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ObservationValidation.scala
Due: Label core PRs

split support roles
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/ProgramUserRole.scala
  project/build.properties
Due: Label core PRs

Update libraries
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/math/RadialVelocity.scala
  modules/core/shared/src/main/scala/lucuma/core/model/SourceProfile.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbTelescopeGuideConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbExecutionConfig.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/ApparentRadialVelocitySuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/RedshiftSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/WavelengthDitherSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Added BoundedTime, timestamp + timespan
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/BandedTime.scala
  modules/core/shared/src/main/scala/lucuma/core/util/Timestamp.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbBandedTime.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/BandedTimeSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/TimestampSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Added BoundedTime, timestamp + timespan (#950)
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/BandedTime.scala
  modules/core/shared/src/main/scala/lucuma/core/util/Timestamp.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbBandedTime.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/BandedTimeSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/TimestampSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Add an arbitrary for UserInvitation.Id
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbUserInvitation.scala
Due: Label testkit PRs

Add an arbitrary for UserInvitation.Id (#952)
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbUserInvitation.scala
Due: Label testkit PRs

Move the configuration request types from the ODB for use in explore.
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservingModeType.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Configuration.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ConfigurationRequest.scala
Due: Label core PRs

Move ConfigurationRequestStatus to it's own file
  modules/core/shared/src/main/scala/lucuma/core/enums/ConfigurationRequestStatus.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ConfigurationRequest.scala
Due: Label core PRs

Change ConfigurationRequestStatus.tag to lowercase to match DB
  modules/core/shared/src/main/scala/lucuma/core/enums/ConfigurationRequestStatus.scala
Due: Label core PRs

Add Eq instance for ConfigurationRequest
  modules/core/shared/src/main/scala/lucuma/core/model/ConfigurationRequest.scala
Due: Label core PRs

Add arbitraries for ConfigurationRequest and friends.
  modules/core/shared/src/main/scala/lucuma/core/model/Configuration.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbConfiguration.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbConfigurationRequest.scala
Due: Label core PRs, Label testkit PRs

Add specific ObservationValidationCodes for ConfigurationRequests
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservationValidationCode.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ObservationValidation.scala
Due: Label core PRs

Add execution state
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservationExecutionState.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ExecutionConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/InstrumentExecutionConfig.scala
Due: Label core PRs

Add execution state (#962)
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservationExecutionState.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ExecutionConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/InstrumentExecutionConfig.scala
Due: Label core PRs

oops
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservationValidationCode.scala
Due: Label core PRs

Only provide Eq for NewType if there is no Order instance
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/util/NewType.scala
Due: Label core PRs

move workflow classes into core
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservationWorkflowState.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ObservationWorkflow.scala
Due: Label core PRs

Add optics for ObservationWorkflow
  modules/core/shared/src/main/scala/lucuma/core/model/ObservationWorkflow.scala
Due: Label core PRs

Path conditions:
  Label core PRs: any of: ^modules/core/
  Label testkit PRs: any of: ^modules/testkit/
  Label tests PRs: any of: ^modules/tests/
