Repository gemini-hlsw/lucuma-core: changes, and which Mergify rules are due for each by the changed paths.
All: Label core PRs, Label testkit PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=scala-steward
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 2.13.8, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 2.13.8, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label core PRs
  conditions:
  - files~=^modules/core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^modules/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^modules/tests/
  actions:
    label:
      add:
      - tests
      remove: []

Fix typo
  modules/core/shared/src/main/scala/lucuma/core/enums/GiapiStatusApply.scala
Due: Label core PRs

Convenience methods for TimeSpan
  modules/core/shared/src/main/scala/lucuma/core/util/TimeSpan.scala
Due: Label core PRs

address pr comments suggestion
  modules/core/shared/src/main/scala/lucuma/core/util/TimeSpan.scala
Due: Label core PRs

remove scalajs plugin
  project/plugins.sbt
Due: none

BrightnessValue newtype
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/math/BrightnessUnits.scala
  modules/core/shared/src/main/scala/lucuma/core/math/package.scala
  modules/core/shared/src/main/scala/lucuma/core/util/NewType.scala
  modules/testkit/src/main/scala/lucuma/core/arb/package.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbBrightnessValue.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbSpectralDefinition.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SourceProfileSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SpectralDefinitionSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/TargetSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Limit arbitrary atom and sequence size
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbAtom.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbExecutionSequence.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/util.scala
Due: Label testkit PRs

BoundedInterval
  modules/core/shared/src/main/scala/lucuma/core/instances/BoundedIntervalInstances.scala
  modules/core/shared/src/main/scala/lucuma/core/instances/all.scala
  modules/core/shared/src/main/scala/lucuma/core/math/BoundedInterval.scala
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/TwilightCalc.scala
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/solver/ConstraintSolver.scala
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/solver/Samples.scala
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/solver/Solver.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Night.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ObservingNight.scala
  modules/core/shared/src/main/scala/lucuma/core/model/TwilightBoundedNight.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/Spire.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/BoundedInterval.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/Time.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/package.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbInterval.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/IntervalGens.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/IntervalSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/skycalc/TwilightCalcSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/skycalc/solver/SamplesSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/skycalc/solver/SolverSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/skycalc/solver/TargetSamplesSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Remove test parameters
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/AtomSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/ExecutionSequenceSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/FutureExecutionConfigSuite.scala
Due: Label tests PRs

Limit arbitrary atom and sequence size (#656)
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbAtom.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbExecutionSequence.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/util.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/AtomSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/ExecutionSequenceSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/FutureExecutionConfigSuite.scala
Due: Label testkit PRs, Label tests PRs

Add other BoundedInterval constructors
  modules/core/shared/src/main/scala/lucuma/core/math/BoundedInterval.scala
Due: Label core PRs

BoundedInterval.fromBounds constructor
  modules/core/shared/src/main/scala/lucuma/core/math/BoundedInterval.scala
Due: Label core PRs

Make BoundedInterval opaque
  modules/core/shared/src/main/scala/lucuma/core/math/BoundedInterval.scala
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/TwilightCalc.scala
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/solver/Solver.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/IntervalGens.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/skycalc/solver/ConstraintSolverSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/skycalc/solver/SamplesSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/skycalc/solver/SolverSuite.scala
Due: Label core PRs, Label tests PRs

organize imports
  modules/core/shared/src/main/scala/lucuma/core/math/BoundedInterval.scala
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/solver/Solver.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/skycalc/solver/ConstraintSolverSuite.scala
Due: Label core PRs, Label tests PRs

GMOS acquisition filter options
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthFilter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthFilter.scala
Due: Label core PRs

GMOS acquisition filter options (#659)
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthFilter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthFilter.scala
Due: Label core PRs

nel zipper syntax
  modules/core/shared/src/main/scala/lucuma/core/syntax/NonEmpty.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/package.scala
  modules/tests/shared/src/test/scala/lucuma/core/syntax/NonEmptySuite.scala
Due: Label core PRs, Label tests PRs

rename
  modules/core/shared/src/main/scala/lucuma/core/syntax/NonEmpty.scala
  modules/tests/shared/src/test/scala/lucuma/core/syntax/NonEmptySuite.scala
Due: Label core PRs, Label tests PRs

rename
  modules/tests/shared/src/test/scala/lucuma/core/syntax/NonEmptySuite.scala
Due: Label tests PRs

switch to zipper ops
  modules/core/shared/src/main/scala/lucuma/core/data/Zipper.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/NonEmpty.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/package.scala
  modules/tests/shared/src/test/scala/lucuma/core/data/ZipperSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/syntax/NonEmptySuite.scala
Due: Label core PRs, Label tests PRs

Zipper focus ops (#662)
  modules/core/shared/src/main/scala/lucuma/core/data/Zipper.scala
  modules/tests/shared/src/test/scala/lucuma/core/data/ZipperSuite.scala
Due: Label core PRs, Label tests PRs

ValidFilter + value in errors
  modules/core/shared/src/main/scala/lucuma/core/math/units.scala
  modules/core/shared/src/main/scala/lucuma/core/model/validation/ModelValidators.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/ValidFilter.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/ValidFormat.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/ValidSplitEpi.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/ValidWedge.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/package.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/InputValidSplitEpi.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/InputValidWedge.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/package.scala
Due: Label core PRs

WavelengthCoverage
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthGrating.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthGrating.scala
  modules/core/shared/src/main/scala/lucuma/core/math/BoundedInterval.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Coverage.scala
  modules/core/shared/src/main/scala/lucuma/core/math/WavelengthCoverage.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/ValidFilter.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbCoverage.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbWavelength.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbWavelengthCoverage.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/CoverageSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/WavelengthCoverageSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/WavelengthDitherSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/WavelengthSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/TargetSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/GmosGratingConfigSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Rename WavelengthCoverage to WavelengthRange
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthGrating.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthGrating.scala
  modules/core/shared/src/main/scala/lucuma/core/math/WavelengthRange.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbWavelengthRange.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/WavelengthCoverageSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/WavelengthRangeSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Make Proposal.toOActivation optional
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/Proposal.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbProposal.scala
Due: Label core PRs, Label testkit PRs

limited precision values for BrightnessValue
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbBrightnessValue.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/LimitedBigDecimals.scala
  modules/tests/shared/src/test/scala/lucuma/core/validation/InputValidSplitEpiInstancesSuite.scala
Due: Label testkit PRs, Label tests PRs

Added GHOST parameter.
  modules/core/shared/src/main/scala/lucuma/core/enums/GiapiStatusApply.scala
Due: Label core PRs

Refine BrightnessValue, add LimitedBigDecimals trait
  modules/core/shared/src/main/scala/lucuma/core/math/package.scala
  modules/core/shared/src/main/scala/lucuma/core/model/SourceProfile.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbBrightnessValue.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbRefined.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/LimitedBigDecimals.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbElevationRange.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbEmissionLine.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbExposureTimeMode.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbSpectralDefinition.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbUnnormalizedSED.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbGmosFpuMask.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbGmosNodAndShuffle.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/WavelengthDitherSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/WavelengthRangeSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/WavelengthSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ConstraintSetSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ElevationRangeSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/EmissionLineSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ExposureTimeModeSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SourceProfileSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SpectralDefinitionSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/TargetSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/UnnormalizedSEDSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/GmosFpuMaskSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/GmosNodAndShuffleSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/optics/OpticsSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/validation/InputValidSplitEpiInstancesSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/validation/InputValidWedgeInstancesSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

bump base version
  build.sbt
Due: none

Adjust BrightnessValue limits
  modules/core/shared/src/main/scala/lucuma/core/math/package.scala
Due: Label core PRs

Add `truncatedAngleSignedArcSec` to MathValidators
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/math/validation/MathValidators.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/validation/MathValidatorsSuite.scala
Due: Label core PRs, Label tests PRs

NewTypes + refinements
  modules/core/shared/src/main/scala/lucuma/core/math/BrightnessUnits.scala
  modules/core/shared/src/main/scala/lucuma/core/math/BrightnessValue.scala
  modules/core/shared/src/main/scala/lucuma/core/math/FluxDensityContinuumValue.scala
  modules/core/shared/src/main/scala/lucuma/core/math/LineFluxValue.scala
  modules/core/shared/src/main/scala/lucuma/core/math/LineWidthValue.scala
  modules/core/shared/src/main/scala/lucuma/core/math/package.scala
  modules/core/shared/src/main/scala/lucuma/core/model/EmissionLine.scala
  modules/core/shared/src/main/scala/lucuma/core/model/SourceProfile.scala
  modules/core/shared/src/main/scala/lucuma/core/model/SpectralDefinition.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Target.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbFluxDensityContinuumValue.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbLineFluxValue.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbLineWidthValue.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbEmissionLine.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbSpectralDefinition.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/EmissionLineSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SourceProfileSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SpectralDefinitionSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/TargetSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

remove unused import
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbLineWidthValue.scala
Due: Label testkit PRs

RefinedNewType
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/math/BrightnessValue.scala
  modules/core/shared/src/main/scala/lucuma/core/math/FluxDensityContinuumValue.scala
  modules/core/shared/src/main/scala/lucuma/core/math/LineFluxValue.scala
  modules/core/shared/src/main/scala/lucuma/core/math/LineWidthValue.scala
  modules/core/shared/src/main/scala/lucuma/core/math/package.scala
  modules/core/shared/src/main/scala/lucuma/core/util/NewType.scala
Due: Label core PRs

renames
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthGrating.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthGrating.scala
  modules/core/shared/src/main/scala/lucuma/core/math/WavelengthDelta.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbWavelengthDelta.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/WavelengthDeltaSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/WavelengthRangeSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Changed GHOST smp position parameter.
  modules/core/shared/src/main/scala/lucuma/core/enums/GiapiStatusApply.scala
Due: Label core PRs

bump core
  build.sbt
Due: none

BoundedInterval constructor fix + tests
  modules/core/shared/src/main/scala/lucuma/core/math/BoundedInterval.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/BoundedIntervalSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/IntervalSuite.scala
Due: Label core PRs, Label tests PRs

BoundedInterval: rearrange code + fix duration
  modules/core/shared/src/main/scala/lucuma/core/math/BoundedInterval.scala
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/TwilightCalc.scala
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/solver/Samples.scala
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/solver/Solver.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Night.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ObservingNight.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/Spire.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/Time.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbInterval.scala
  modules/tests/jvm/src/test/scala/lucuma/core/math/skycalc/TwilightCalcSuiteJVM.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/BoundedIntervalSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/IntervalGens.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/IntervalSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/skycalc/TwilightCalcSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/skycalc/solver/ConstraintSolverSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/skycalc/solver/SamplesSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Fix optics
  modules/core/shared/src/main/scala/lucuma/core/math/BoundedInterval.scala
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/solver/Samples.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/ValidSplitEpi.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/ValidWedge.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/BoundedIntervalSuite.scala
Due: Label core PRs, Label tests PRs
