Repository gemini-hlsw/lucuma-core: changes, and which Mergify rules are due for each by the changed paths.
All: Label ags PRs, Label catalog PRs, Label catalog-testkit PRs, Label catalog-tests PRs, Label core PRs, Label horizons PRs, Label horizons-tests PRs, Label npm PRs, Label testkit PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJS)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label ags PRs
  conditions:
  - files~=^modules/ags/
  actions:
    label:
      add:
      - ags
      remove: []
- name: Label catalog PRs
  conditions:
  - files~=^modules/catalog/
  actions:
    label:
      add:
      - catalog
      remove: []
- name: Label catalog-testkit PRs
  conditions:
  - files~=^modules/catalog-testkit/
  actions:
    label:
      add:
      - catalog-testkit
      remove: []
- name: Label catalog-tests PRs
  conditions:
  - files~=^modules/catalog-tests/
  actions:
    label:
      add:
      - catalog-tests
      remove: []
- name: Label core PRs
  conditions:
  - files~=^modules/core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label horizons PRs
  conditions:
  - files~=^modules/horizons/
  actions:
    label:
      add:
      - horizons
      remove: []
- name: Label horizons-tests PRs
  conditions:
  - files~=^modules/horizons-tests/
  actions:
    label:
      add:
      - horizons-tests
      remove: []
- name: Label npm PRs
  conditions:
  - files~=^modules/npm/
  actions:
    label:
      add:
      - npm
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^modules/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^modules/tests/
  actions:
    label:
      add:
      - tests
      remove: []

Fix MOS offsets for F2
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/flamingos2/package.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/flamingos2/Flamingos2ConfigSuite.scala
Due: Label core PRs, Label tests PRs

IntervalSeq unionAll optimization
  modules/core/shared/src/main/scala/lucuma/core/math/BoundedInterval.scala
  modules/core/shared/src/main/scala/lucuma/core/model/TimingWindow.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/Spire.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/TimingWindowSuite.scala
Due: Label core PRs, Label tests PRs

Fixes a bug where Offset.Component.unary_- results are unnormalized
  modules/core/shared/src/main/scala/lucuma/core/math/Offset.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/OffsetPSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/OffsetQSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/OffsetSuite.scala
Due: Label core PRs, Label tests PRs

Update binary version
  build.sbt
Due: none

Disable coverage report
  .github/workflows/ci.yml
  build.sbt
Due: none

timeout
  modules/tests/shared/src/test/scala/lucuma/core/model/TimingWindowSuite.scala
Due: Label tests PRs

Interval seq union all (#1592)
  modules/core/shared/src/main/scala/lucuma/core/math/BoundedInterval.scala
  modules/core/shared/src/main/scala/lucuma/core/model/TimingWindow.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/Spire.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/TimingWindowSuite.scala
Due: Label core PRs, Label tests PRs

Update clue to 0.58.2
  build.sbt
Due: none

Record a minimum scheduling window on a Configuration
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/Configuration.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbConfiguration.scala
Due: Label core PRs, Label testkit PRs

change gmos ifu offset default, renames
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/GmosIfuAnalysis.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/ifu/package.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/gmos/BinningSuite.scala
Due: Label core PRs, Label tests PRs

Record a minimum scheduling availability on a Configuration.
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/Configuration.scala
  modules/core/shared/src/main/scala/lucuma/core/model/SchedulingAvailability.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbConfiguration.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbSchedulingAvailability.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SchedulingAvailabilitySuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Adopt latest LucumaPlugin, notify on CI merge errors
  .github/workflows/ci-failure-slack.yml
  .github/workflows/ci.yml
  project/plugins.sbt
Due: none

fix extinction format by truncating
  modules/core/shared/src/main/scala/lucuma/core/model/Extinction.scala
Due: Label core PRs

address pr comments
  modules/core/shared/src/main/scala/lucuma/core/model/Extinction.scala
Due: Label core PRs

Add Scala.js AGS benchmark harness and wasm kernel prototype
  .mergify.yml
  build.sbt
  modules/benchmarks-js/README.md
  modules/benchmarks-js/agsgeo/Cargo.lock
  modules/benchmarks-js/agsgeo/Cargo.toml
  modules/benchmarks-js/agsgeo/src/lib.rs
  modules/benchmarks-js/chrome-run.mjs
  modules/benchmarks-js/index-opt.html
  modules/benchmarks-js/index.html
  modules/benchmarks-js/src/main/scala/lucuma/bench/AgsBench.scala
  modules/benchmarks-js/src/main/scala/lucuma/bench/GeoWasm.scala
  modules/benchmarks-js/src/main/scala/lucuma/bench/KernelBench.scala
  modules/benchmarks-wasm/index-opt.html
  modules/benchmarks-wasm/index.html
Due: none

Add wasm geometry kernel interpreter for Scala.js
  .github/workflows/ci.yml
  .gitignore
  build.sbt
  modules/core/js/src/main/scala/lucuma/core/geom/wasm/LucumaGeoWasm.scala
  modules/core/js/src/main/scala/lucuma/core/geom/wasm/WasmGeometry.scala
  modules/core/js/src/main/scala/lucuma/core/geom/wasm/WasmShape.scala
  modules/core/js/src/main/scala/lucuma/core/geom/wasm/WasmShapeInterpreter.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/ShapeInterpreter.scala
  modules/tests/js/src/test/scala/lucuma/core/geom/wasm/WasmShapeInterpreterSuite.scala
  package-lock.json
  package.json
  vendor/lucuma-geo-wasm-0.1.0.tgz
Due: Label core PRs, Label tests PRs

Add cross-engine parity suite for the wasm geometry kernel
  modules/tests/js/src/test/scala/lucuma/ags/AgsGeometryParitySuite.scala
  modules/tests/js/src/test/scala/lucuma/core/geom/wasm/WasmGeometrySuites.scala
  modules/tests/js/src/test/scala/lucuma/core/geom/wasm/WasmKernelSuite.scala
  modules/tests/js/src/test/scala/lucuma/core/geom/wasm/WasmShapeInterpreterSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/geom/ScienceAreaGeometrySuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/geom/ShapeExpressionSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/geom/gmos/GmosOiwfsGeometrySuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/geom/gmos/GmosScienceAreaGeometrySuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/geom/gnirs/GnirsScienceAreaGeometrySuite.scala
Due: Label tests PRs

Thread ShapeInterpreter through AGS and scope kernel arenas
  modules/ags/src/main/scala/lucuma/ags/Ags.scala
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
  modules/ags/src/main/scala/lucuma/ags/AgsVisualization.scala
  modules/benchmarks-js/README.md
  modules/benchmarks-js/src/main/scala/lucuma/bench/AgsBench.scala
  modules/benchmarks-js/src/main/scala/lucuma/bench/KernelBench.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Configuration.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostIfuMappingSyntax.scala
  modules/tests/js/src/test/scala/lucuma/ags/AgsGeometryParitySuite.scala
Due: Label ags PRs, Label core PRs, Label tests PRs

Add the rules of what probes are allowed for each mode
  modules/core/shared/src/main/scala/lucuma/core/enums/GuideProbe.scala
  modules/core/shared/src/main/scala/lucuma/core/model/probes.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ProbesSuite.scala
Due: Label core PRs, Label tests PRs

Rename method defaultGuideProbe
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/probes.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ProbesSuite.scala
Due: Label core PRs, Label tests PRs

Remove wasm prototype modules, keep the kernel benchmark mode
  .mergify.yml
  build.sbt
  modules/benchmarks-js/README.md
  modules/benchmarks-js/agsgeo/Cargo.lock
  modules/benchmarks-js/agsgeo/Cargo.toml
  modules/benchmarks-js/agsgeo/src/lib.rs
  modules/benchmarks-js/src/main/scala/lucuma/bench/AgsBench.scala
  modules/benchmarks-js/src/main/scala/lucuma/bench/GeoWasm.scala
  modules/benchmarks-js/src/main/scala/lucuma/bench/KernelBench.scala
  modules/benchmarks-wasm/index-opt.html
  modules/benchmarks-wasm/index.html
Due: none

PWFS1 is allowed for ghost
  modules/core/shared/src/main/scala/lucuma/core/model/probes.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ProbesSuite.scala
Due: Label core PRs, Label tests PRs

Fix for unlawful order
  modules/core/shared/src/main/scala/lucuma/core/enums/GuideProbe.scala
Due: Label core PRs

Name the investigator roles, and bump the base version
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/ProgramUserRole.scala
Due: Label core PRs

Require a complete profile of every investigator
  modules/core/shared/src/main/scala/lucuma/core/enums/ProposalSubmissionError.scala
Due: Label core PRs

Evaluate chains of one shape operation iteratively
  modules/core/js/src/main/scala/lucuma/core/geom/wasm/WasmShapeInterpreter.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/ShapeExpression.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/JtsShapeInterpreter.scala
  modules/tests/shared/src/test/scala/lucuma/core/geom/ShapeExpressionSuite.scala
Due: Label core PRs, Label tests PRs

Expose evaluated shapes as engine-neutral polygons
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
  modules/core/js/src/main/scala/lucuma/core/geom/wasm/LucumaGeoWasm.scala
  modules/core/js/src/main/scala/lucuma/core/geom/wasm/WasmShape.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/Shape.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/ShapePolygon.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/JtsShape.scala
  modules/tests/js/src/test/scala/lucuma/core/geom/wasm/WasmShapeInterpreterSuite.scala
  package-lock.json
  package.json
  vendor/lucuma-geo-wasm-0.1.0.tgz
  vendor/lucuma-geo-wasm-0.1.1.tgz
Due: Label ags PRs, Label core PRs, Label tests PRs

Format AgsBench
  modules/benchmarks-js/src/main/scala/lucuma/bench/AgsBench.scala
Due: none

Report the kernel's wasm memory
  modules/benchmarks-js/src/main/scala/lucuma/bench/AgsBench.scala
  modules/core/js/src/main/scala/lucuma/core/geom/wasm/WasmGeometry.scala
  modules/core/js/src/main/scala/lucuma/core/geom/wasm/WasmShapeInterpreter.scala
  modules/tests/js/src/test/scala/lucuma/core/geom/wasm/WasmShapeInterpreterSuite.scala
Due: Label core PRs, Label tests PRs

Align chain evaluation with the main-branch fix
  modules/core/js/src/main/scala/lucuma/core/geom/wasm/WasmShapeInterpreter.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/ShapeExpression.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/JtsShapeInterpreter.scala
  modules/tests/js/src/test/scala/lucuma/core/geom/wasm/WasmShapeInterpreterSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/geom/ShapeExpressionSuite.scala
Due: Label core PRs, Label tests PRs

Add pdf generation state enum
  modules/core/shared/src/main/scala/lucuma/core/enums/ProposalSummaryGenerationState.scala
Due: Label core PRs

Rename pending state
  modules/core/shared/src/main/scala/lucuma/core/enums/ProposalSummaryGenerationState.scala
Due: Label core PRs

scalafix
  modules/core/shared/src/main/scala/lucuma/core/geom/ShapeExpression.scala
Due: Label core PRs

Evaluate expressions on a loop rather than recursively
  modules/core/shared/src/main/scala/lucuma/core/geom/ShapeExpression.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/JtsShapeInterpreter.scala
  modules/tests/shared/src/test/scala/lucuma/core/geom/ShapeExpressionSuite.scala
Due: Label core PRs, Label tests PRs

Switch to a tailrec version
  modules/core/shared/src/main/scala/lucuma/core/geom/ShapeExpression.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/JtsShapeInterpreter.scala
  modules/tests/shared/src/test/scala/lucuma/core/geom/ShapeExpressionSuite.scala
Due: Label core PRs, Label tests PRs

No need to revert binary version
  build.sbt
Due: none

add configuration warning
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservationValidationCode.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ObservationValidation.scala
Due: Label core PRs

Migrate to sbt 2
  .github/workflows/ci.yml
  .gitignore
  build.sbt
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/BlindOffsetFileTestSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/ParseGaiaFileSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/ParseSimbadFileSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/TargetImportSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/TestResources.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/mos/MosMaskReaderErrorSuite.scala
  project/build.properties
  project/plugins.sbt
Due: Label catalog-tests PRs
