Repository gemini-hlsw/lucuma-core: changes, and which Mergify rules are due for each by the changed paths.
All: Label core PRs, Label testkit PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=scala-steward
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 2.13.8, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 2.13.8, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label core PRs
  conditions:
  - files~=^modules/core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^modules/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^modules/tests/
  actions:
    label:
      add:
      - tests
      remove: []

Step covariant on DynamicConfig
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/Step.scala
Due: Label core PRs

`ProgramReference` Updates (#876)
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/Instrument.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ProgramType.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ProgramReference.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbProgramReference.scala
Due: Label core PRs, Label testkit PRs

Claim 'c' for Call for Proposals
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/ids.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/IdsSuite.scala
Due: Label core PRs, Label tests PRs

lenses and convenience type aliases for seq model
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ExecutionConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/InstrumentExecutionConfig.scala
Due: Label core PRs

Move some types and functions from explore that should be in core
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/data/EmailAddress.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/InvitationStatus.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/RoleType.scala
  modules/core/shared/src/main/scala/lucuma/core/model/TimingWindow.scala
  modules/core/shared/src/main/scala/lucuma/core/util/TimeSpan.scala
  modules/testkit/src/main/scala/lucuma/core/data/ArbEmailAddress.scala
  modules/tests/shared/src/test/scala/lucuma/core/data/EmailAddressSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/TimeSpanSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Move UserInvitation to core
  modules/core/shared/src/main/scala/lucuma/core/model/UserInvitation.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbUserInvitation.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/UserInvitationSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Add prism for refined types
  modules/core/shared/src/main/scala/lucuma/core/util/NewType.scala
  modules/tests/shared/src/test/scala/lucuma/core/data/EmailAddressSuite.scala
Due: Label core PRs, Label tests PRs

Update binary version
  build.sbt
Due: none

Update modules/core/shared/src/main/scala/lucuma/core/util/NewType.scala
  modules/core/shared/src/main/scala/lucuma/core/util/NewType.scala
Due: Label core PRs

Claim 'c' for Call for Proposals (#881)
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/ids.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/IdsSuite.scala
Due: Label core PRs, Label tests PRs

ShortCut 2772 Test Case
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/gmos/BinningSuite.scala
Due: Label tests PRs

Fix ImageQuality toAngle calculation
  modules/core/shared/src/main/scala/lucuma/core/enums/ImageQuality.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/gmos/BinningSuite.scala
Due: Label core PRs, Label tests PRs

Fix ImageQualitySuite
  modules/tests/shared/src/test/scala/lucuma/core/enums/ImageQualitySuite.scala
Due: Label tests PRs

ShortCut 2772 (#885)
  modules/core/shared/src/main/scala/lucuma/core/enums/ImageQuality.scala
  modules/tests/shared/src/test/scala/lucuma/core/enums/ImageQualitySuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/gmos/BinningSuite.scala
Due: Label core PRs, Label tests PRs

Fix objectSize calculation for Gaussian profile
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/binning.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/gmos/BinningSuite.scala
Due: Label core PRs, Label tests PRs

Fix objectSize calculation for Gaussian profile (#886)
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/binning.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/gmos/BinningSuite.scala
Due: Label core PRs, Label tests PRs

Add EmailStatus, token extension method to UserInvitation
  modules/core/shared/src/main/scala/lucuma/core/enums/EmailStatus.scala
  modules/core/shared/src/main/scala/lucuma/core/model/UserInvitation.scala
Due: Label core PRs

Fix UserInvitation.token
  modules/core/shared/src/main/scala/lucuma/core/model/UserInvitation.scala
Due: Label core PRs

Add Getters for semester and instrument to ProgramReference
  modules/core/shared/src/main/scala/lucuma/core/model/ProgramReference.scala
Due: Label core PRs

Add atom aid to step and dataset events
  modules/core/shared/src/main/scala/lucuma/core/model/ExecutionEvent.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbExecutionEvent.scala
Due: Label core PRs, Label testkit PRs

Timestamp.until
  modules/core/shared/src/main/scala/lucuma/core/util/Timestamp.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/TimestampSuite.scala
Due: Label core PRs, Label tests PRs

AtomEvent
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/AtomStage.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ExecutionEvent.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbExecutionEvent.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ExecutionEventSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Atom Events (#890)
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/AtomStage.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ExecutionEvent.scala
  modules/core/shared/src/main/scala/lucuma/core/util/Timestamp.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbExecutionEvent.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ExecutionEventSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/TimestampSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Add poor weather type
  modules/core/shared/src/main/scala/lucuma/core/enums/ScienceSubtype.scala
Due: Label core PRs

Add poor weather type (#891)
  modules/core/shared/src/main/scala/lucuma/core/enums/ScienceSubtype.scala
Due: Label core PRs

Move Partner to enums
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/Partner.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Partner.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Proposal.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Role.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbProposal.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbRole.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/PartnerSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Move Partner to enums (#893)
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/Partner.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Partner.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Proposal.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Role.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbProposal.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbRole.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/PartnerSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Adds an isTerminal flag to SequenceCommand
  modules/core/shared/src/main/scala/lucuma/core/enums/SequenceCommand.scala
Due: Label core PRs

Remove legacy proposal classes
  modules/core/shared/src/main/scala/lucuma/core/model/Proposal.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ProposalClass.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbProposal.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbProposalClass.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ProposalClassSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ProposalSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Adds an isTerminal flag to SequenceCommand (#898)
  modules/core/shared/src/main/scala/lucuma/core/enums/SequenceCommand.scala
Due: Label core PRs

Update some libs
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/LocalObservingNight.scala
  modules/tests/shared/src/test/scala/lucuma/core/geom/ShapeExpressionSuite.scala
Due: Label core PRs, Label tests PRs

Fix issue with flake.lock update
  flake.nix
Due: none

Make dayTimeMode optional
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/GuideConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/TelescopeGuideConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbTelescopeGuideConfig.scala
Due: Label core PRs, Label testkit PRs

Add small comment about TCC
  modules/core/shared/src/main/scala/lucuma/core/model/TelescopeGuideConfig.scala
Due: Label core PRs

Move a few things from the ODB
  modules/core/shared/src/main/scala/lucuma/core/enums/CallForProposalsType.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservationValidationCode.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ObservationValidation.scala
Due: Label core PRs

Add Arb and Eq for ObservationValidation
  modules/core/shared/src/main/scala/lucuma/core/model/ObservationValidation.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbObservationValidation.scala
Due: Label core PRs, Label testkit PRs

Add program type system
  modules/core/shared/src/main/scala/lucuma/core/enums/ProgramType.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ProgramReference.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbProgramReference.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ProgramReferenceSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs
