Repository gemini-hlsw/lucuma-core: changes, and which Mergify rules are due for each by the changed paths.
All: Label core PRs, Label testkit PRs, Label tests PRs

Label core PRs:
  label:
    add:
    - core
    remove: []

Label testkit PRs:
  label:
    add:
    - testkit
    remove: []

Label tests PRs:
  label:
    add:
    - tests
    remove: []

binary compatibility
  build.sbt
Due: none

simplify, add uniform test
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/binning.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/gmos/BinningSuite.scala
Due: Label core PRs, Label tests PRs

time rounder
  modules/core/shared/src/main/scala/lucuma/core/util/time.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/TimeSuite.scala
  sbt-launch.jar
Due: Label core PRs, Label tests PRs

GMOS binning calculation (#810)
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/binning.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/longslit/package.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/gmos/BinningSuite.scala
Due: Label core PRs, Label tests PRs

Switch to dataset ids starting with 1 instead of 0.
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/Dataset.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbDataset.scala
Due: Label core PRs, Label testkit PRs

lint
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/Dataset.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbDataset.scala
Due: Label core PRs, Label testkit PRs

Switch to dataset ids starting with 1 instead of 0. (#813)
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/Dataset.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbDataset.scala
Due: Label core PRs, Label testkit PRs

convience TimeSpan constructor from Duration pars
  modules/core/shared/src/main/scala/lucuma/core/util/TimeSpan.scala
Due: Label core PRs

Add scalar angle multiplication
  modules/core/shared/src/main/scala/lucuma/core/math/Angle.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/AngleSuite.scala
Due: Label core PRs, Label tests PRs

Implement PR suggestions
  modules/core/shared/src/main/scala/lucuma/core/math/Angle.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/AngleSuite.scala
Due: Label core PRs, Label tests PRs

Add duration parameter to average parallactic angle calculation method
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/package.scala
Due: Label core PRs

Address review comment
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/package.scala
Due: Label core PRs

Switch dataset id to gid
  modules/core/shared/src/main/scala/lucuma/core/model/ids.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/Dataset.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbDataset.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/IdsSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/DatasetSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

base version
  build.sbt
Due: none

Dataset Id (#819)
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/ids.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/Dataset.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbDataset.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/IdsSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/DatasetSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Add ObjectTracking.constant
  modules/core/shared/src/main/scala/lucuma/core/model/ObjectTracking.scala
Due: Label core PRs

KeyDecoder/KeyEncoder for WithUid.Id/WithGid.Id
  modules/core/shared/src/main/scala/lucuma/core/util/Gid.scala
  modules/core/shared/src/main/scala/lucuma/core/util/Uid.scala
Due: Label core PRs

remove code
  modules/core/shared/src/main/scala/lucuma/core/util/Gid.scala
Due: Label core PRs

add tests
  modules/tests/shared/src/test/scala/lucuma/core/model/IdsSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/AtomSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/StepSuite.scala
Due: Label tests PRs

Shortcut `plusYears` for unmoving SiderealTracking
  modules/core/shared/src/main/scala/lucuma/core/model/SiderealTracking.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SiderealTrackingSuite.scala
Due: Label core PRs, Label tests PRs

TimestampInterval and TimestampUnion
  modules/core/shared/src/main/scala/lucuma/core/util/TimeSpan.scala
  modules/core/shared/src/main/scala/lucuma/core/util/TimestampInterval.scala
  modules/core/shared/src/main/scala/lucuma/core/util/TimestampUnion.scala
  modules/testkit/src/main/scala/lucuma/core/util/arb/ArbTimestamp.scala
  modules/testkit/src/main/scala/lucuma/core/util/arb/ArbTimestampInterval.scala
  modules/testkit/src/main/scala/lucuma/core/util/arb/ArbTimestampUnion.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/TimestampIntervalSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/TimestampUnionSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

doc
  modules/core/shared/src/main/scala/lucuma/core/util/TimestampInterval.scala
  modules/core/shared/src/main/scala/lucuma/core/util/TimestampUnion.scala
Due: Label core PRs

tests
  modules/tests/shared/src/test/scala/lucuma/core/util/TimestampIntervalSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/TimestampUnionSuite.scala
Due: Label tests PRs

lint
  modules/tests/shared/src/test/scala/lucuma/core/util/TimestampUnionSuite.scala
Due: Label tests PRs

BoundedSemilattice
  modules/core/shared/src/main/scala/lucuma/core/util/TimestampUnion.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/TimestampUnionSuite.scala
Due: Label core PRs, Label tests PRs

`TimestampInterval` and `TimestampUnion` (#830)
  modules/core/shared/src/main/scala/lucuma/core/util/TimeSpan.scala
  modules/core/shared/src/main/scala/lucuma/core/util/TimestampInterval.scala
  modules/core/shared/src/main/scala/lucuma/core/util/TimestampUnion.scala
  modules/testkit/src/main/scala/lucuma/core/util/arb/ArbTimestamp.scala
  modules/testkit/src/main/scala/lucuma/core/util/arb/ArbTimestampInterval.scala
  modules/testkit/src/main/scala/lucuma/core/util/arb/ArbTimestampUnion.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/TimestampIntervalSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/TimestampUnionSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

ExecutionEvent
  modules/core/shared/src/main/scala/lucuma/core/model/ExecutionEvent.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ids.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbExecutionEvent.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ExecutionEventSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

lint, mima
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/ExecutionEvent.scala
Due: Label core PRs

derives
  modules/core/shared/src/main/scala/lucuma/core/model/ExecutionEvent.scala
Due: Label core PRs

ExecutionEvent (#831)
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/ExecutionEvent.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ids.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbExecutionEvent.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ExecutionEventSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Add `intersection` and `timeBetween` to TimestampInterval
  modules/core/shared/src/main/scala/lucuma/core/util/TimestampInterval.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/TimestampIntervalSuite.scala
Due: Label core PRs, Label tests PRs

Format
  modules/core/shared/src/main/scala/lucuma/core/util/TimestampInterval.scala
Due: Label core PRs

Change `TimestampInterval.minus` wrt "empty" intervals.
  modules/core/shared/src/main/scala/lucuma/core/util/TimestampInterval.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/TimestampIntervalSuite.scala
Due: Label core PRs, Label tests PRs

Downgrade cats-parse to 0.3.10
  build.sbt
Due: none

Night syntax
  modules/core/shared/src/main/scala/lucuma/core/model/syntax/NightOps.scala
  modules/core/shared/src/main/scala/lucuma/core/model/syntax/package.scala
Due: Label core PRs

Night syntax (#837)
  modules/core/shared/src/main/scala/lucuma/core/model/syntax/NightOps.scala
  modules/core/shared/src/main/scala/lucuma/core/model/syntax/package.scala
Due: Label core PRs

CategorizedTime
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/Atom.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/CategorizedTime.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/CategorizedTimeRange.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ExecutionDigest.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/PlannedTimeRange.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/SequenceDigest.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/Step.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/TimeChargeCorrection.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbCategorizedTime.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbCategorizedTimeRange.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbSequenceDigest.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbTimeChargeCorrection.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/CategorizedTimeRangeSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/CategorizedTimeSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/SequenceDigestSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/TimeChargeCorrectionSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

TimeInterval empty / isEmpty / nonEmpty
  modules/core/shared/src/main/scala/lucuma/core/util/TimestampInterval.scala
Due: Label core PRs

TimestampInterval from and until
  modules/core/shared/src/main/scala/lucuma/core/util/TimestampInterval.scala
Due: Label core PRs

tests
  modules/core/shared/src/main/scala/lucuma/core/util/TimestampInterval.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/TimestampIntervalSuite.scala
Due: Label core PRs, Label tests PRs

Path conditions:
  Label core PRs: any of: ^modules/core/
  Label testkit PRs: any of: ^modules/testkit/
  Label tests PRs: any of: ^modules/tests/
