Repository gemini-hlsw/lucuma-core: changes, and which Mergify rules are due for each by the changed paths.
All: Label core PRs, Label testkit PRs, Label tests PRs

Label core PRs:
  label:
    add:
    - core
    remove: []

Label testkit PRs:
  label:
    add:
    - testkit
    remove: []

Label tests PRs:
  label:
    add:
    - tests
    remove: []

CategorizedTime (#839)
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/Atom.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/CategorizedTime.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/CategorizedTimeRange.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ExecutionDigest.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/PlannedTimeRange.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/SequenceDigest.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/Step.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/TimeChargeCorrection.scala
  modules/core/shared/src/main/scala/lucuma/core/util/TimestampInterval.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbCategorizedTime.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbCategorizedTimeRange.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbSequenceDigest.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbTimeChargeCorrection.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/CategorizedTimeRangeSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/CategorizedTimeSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/SequenceDigestSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/TimeChargeCorrectionSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/TimestampIntervalSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Add Igrins2 to LightSinkName
  modules/core/shared/src/main/scala/lucuma/core/enums/LightSinkName.scala
Due: Label core PRs

Remove legacy KeywordName enums
  modules/core/shared/src/main/scala/lucuma/core/enums/DhsKeywordName.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/KeywordName.scala
  modules/tests/shared/src/test/scala/lucuma/core/enums/EnumeratedSuite.scala
Due: Label core PRs, Label tests PRs

Update base version
  build.sbt
Due: none

make equals consistent with Order
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/CategorizedTime.scala
  modules/core/shared/src/main/scala/lucuma/core/util/TimeSpan.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/CategorizedTimeSuite.scala
Due: Label core PRs, Label tests PRs

Switch to case class
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/CategorizedTime.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/CategorizedTimeSuite.scala
Due: Label core PRs, Label tests PRs

`CategorizedTime.equals` vs. `Order[CategorizedTime]` (#844)
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/CategorizedTime.scala
  modules/core/shared/src/main/scala/lucuma/core/util/TimeSpan.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/CategorizedTimeSuite.scala
Due: Label core PRs, Label tests PRs

add ExecutionEnvironment enum
  modules/core/shared/src/main/scala/lucuma/core/enums/ExecutionEnvironment.scala
Due: Label core PRs

Rename StartObserve and EndObserve
  modules/core/shared/src/main/scala/lucuma/core/enums/DatasetStage.scala
Due: Label core PRs

version
  build.sbt
Due: none

DatasetStage enum value rename (#854)
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/DatasetStage.scala
Due: Label core PRs

Scala 3.4 + syntax changes
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/instances/TreeMapInstances.scala
  modules/core/shared/src/main/scala/lucuma/core/instances/TreeSetInstances.scala
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/package.scala
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/solver/SampleRounder.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/ValidSplitEpi.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/ValidWedge.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/TreeMap.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/TreeSet.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/InputValidSplitEpi.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/InputValidWedge.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/ValidSplitEpiNec.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbAngle.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbEpoch.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbWavelength.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbEphemeris.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbEphemerisKey.scala
  modules/testkit/src/main/scala/lucuma/core/optics/laws/discipline/FormatTests.scala
  modules/testkit/src/main/scala/lucuma/core/optics/laws/discipline/SplitEpiTests.scala
  modules/testkit/src/main/scala/lucuma/core/optics/laws/discipline/SplitMonoTests.scala
  modules/testkit/src/main/scala/lucuma/core/optics/laws/discipline/ValidSplitEpiTests.scala
  modules/testkit/src/main/scala/lucuma/core/optics/laws/discipline/ValidWedgeTests.scala
  modules/testkit/src/main/scala/lucuma/core/optics/laws/discipline/WedgeTests.scala
  modules/testkit/src/main/scala/lucuma/core/util/laws/EnumeratedTests.scala
  modules/testkit/src/main/scala/lucuma/core/util/laws/GidTests.scala
  modules/testkit/src/main/scala/lucuma/core/util/laws/UidTests.scala
  modules/tests/shared/src/test/scala/lucuma/core/data/ZipperSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/AngleSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/IntervalGens.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/skycalc/solver/SampleRounderSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/skycalc/solver/SolverSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/TargetSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Scala 3.4 + syntax changes (#862)
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/instances/TreeMapInstances.scala
  modules/core/shared/src/main/scala/lucuma/core/instances/TreeSetInstances.scala
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/package.scala
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/solver/SampleRounder.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/ValidSplitEpi.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/ValidWedge.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/TreeMap.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/TreeSet.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/InputValidSplitEpi.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/InputValidWedge.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/ValidSplitEpiNec.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbAngle.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbEpoch.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbWavelength.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbEphemeris.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbEphemerisKey.scala
  modules/testkit/src/main/scala/lucuma/core/optics/laws/discipline/FormatTests.scala
  modules/testkit/src/main/scala/lucuma/core/optics/laws/discipline/SplitEpiTests.scala
  modules/testkit/src/main/scala/lucuma/core/optics/laws/discipline/SplitMonoTests.scala
  modules/testkit/src/main/scala/lucuma/core/optics/laws/discipline/ValidSplitEpiTests.scala
  modules/testkit/src/main/scala/lucuma/core/optics/laws/discipline/ValidWedgeTests.scala
  modules/testkit/src/main/scala/lucuma/core/optics/laws/discipline/WedgeTests.scala
  modules/testkit/src/main/scala/lucuma/core/util/laws/EnumeratedTests.scala
  modules/testkit/src/main/scala/lucuma/core/util/laws/GidTests.scala
  modules/testkit/src/main/scala/lucuma/core/util/laws/UidTests.scala
  modules/tests/shared/src/test/scala/lucuma/core/data/ZipperSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/AngleSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/IntervalGens.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/skycalc/solver/SampleRounderSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/skycalc/solver/SolverSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/TargetSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Bump base version
  build.sbt
Due: none

ProgramType, ProposalReference, ScienceSubtype
  modules/core/shared/src/main/scala/lucuma/core/enums/ProgramType.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ScienceSubtype.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/parser/EnumParsers.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ProposalReference.scala
  modules/core/shared/src/main/scala/lucuma/core/model/parser/ReferenceParsers.scala
  modules/core/shared/src/main/scala/lucuma/core/model/parser/SemesterParsers.scala
Due: Label core PRs

Semester refactoring
  modules/core/shared/src/main/scala/lucuma/core/model/ProposalReference.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Semester.scala
  modules/core/shared/src/main/scala/lucuma/core/model/parser/ReferenceParsers.scala
  modules/core/shared/src/main/scala/lucuma/core/model/parser/SemesterParsers.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbSemester.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SemesterSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

ProposalReferenceSuite
  modules/core/shared/src/main/scala/lucuma/core/enums/ProgramType.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ScienceSubtype.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ProposalReference.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbProposalReference.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbReference.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ProposalReferenceSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

ProgramReference
  modules/core/shared/src/main/scala/lucuma/core/model/ProgramReference.scala
Due: Label core PRs

ProgramReferenceSuite
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbProgramReference.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ProgramReferenceSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ProposalReferenceSuite.scala
Due: Label testkit PRs, Label tests PRs

instrument reference name
  modules/core/shared/src/main/scala/lucuma/core/enums/Instrument.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ProgramReference.scala
  modules/core/shared/src/main/scala/lucuma/core/model/parser/ReferenceParsers.scala
Due: Label core PRs

Reference updates (#863)
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/Instrument.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ProgramType.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ScienceSubtype.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/parser/EnumParsers.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ProgramReference.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ProposalReference.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Semester.scala
  modules/core/shared/src/main/scala/lucuma/core/model/parser/ReferenceParsers.scala
  modules/core/shared/src/main/scala/lucuma/core/model/parser/SemesterParser.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbProgramReference.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbProposalReference.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbReference.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbSemester.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ProgramReferenceSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ProposalReferenceSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SemesterSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Add ObservationReference
  modules/core/shared/src/main/scala/lucuma/core/model/ObservationReference.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbObservationReference.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ObservationReferenceSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Add ObservationReference (#868)
  modules/core/shared/src/main/scala/lucuma/core/model/ObservationReference.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbObservationReference.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ObservationReferenceSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

NewType.modifiyValue convenience method
  modules/core/shared/src/main/scala/lucuma/core/util/NewType.scala
Due: Label core PRs

Dataset reference
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/DatasetReference.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbDatasetReference.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/DatasetReferenceSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Dataset reference (#871)
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/DatasetReference.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbDatasetReference.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/DatasetReferenceSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

step event updates
  modules/core/shared/src/main/scala/lucuma/core/enums/StepStage.scala
Due: Label core PRs

slew event
  modules/core/shared/src/main/scala/lucuma/core/enums/SlewStage.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ExecutionEvent.scala
Due: Label core PRs

bump version
  build.sbt
Due: none

arbitraries
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbExecutionEvent.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ExecutionEventSuite.scala
Due: Label testkit PRs, Label tests PRs

Move guide config model from observe/seqexec
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/ComaOption.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/FieldLens.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GuideProbe.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/M1Source.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/MountGuideOption.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/StepGuideState.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/TipTiltSource.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/gems.scala
  modules/core/shared/src/main/scala/lucuma/core/model/AltairConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/GemsConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/GuideConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/M1GuideConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/M2GuideConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ProbeGuide.scala
  modules/core/shared/src/main/scala/lucuma/core/model/TelescopeGuideConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/StepConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/package.scala
  modules/core/shared/src/main/scala/lucuma/core/util/NewType.scala
  modules/testkit/src/main/scala/lucuma/core/arb/package.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbAltairConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbGemsConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbGuideConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbM1GuideConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbM2GuideConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbProbeGuide.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbTelescopeGuideConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbStepConfig.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/GuideConfigSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

adjust slew stage tag
  modules/core/shared/src/main/scala/lucuma/core/enums/SlewStage.scala
Due: Label core PRs

rename slew stages
  modules/core/shared/src/main/scala/lucuma/core/enums/SlewStage.scala
Due: Label core PRs

Updates addressing PR comments
  modules/core/shared/src/main/scala/lucuma/core/enums/GuideProbe.scala
  modules/core/shared/src/main/scala/lucuma/core/model/GuideConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbGuideConfig.scala
Due: Label core PRs, Label testkit PRs

Execution Event Updates (#872)
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/SlewStage.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/StepStage.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ExecutionEvent.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbExecutionEvent.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ExecutionEventSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

ProgramReference updates
  modules/core/shared/src/main/scala/lucuma/core/enums/Instrument.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ProgramType.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ProgramReference.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbProgramReference.scala
Due: Label core PRs, Label testkit PRs

bin compat
  build.sbt
Due: none

Path conditions:
  Label core PRs: any of: ^modules/core/
  Label testkit PRs: any of: ^modules/testkit/
  Label tests PRs: any of: ^modules/tests/
