Repository gemini-hlsw/lucuma-core: changes, and which Mergify rules are due for each by the changed paths.
All: Label core PRs, Label testkit PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=scala-steward
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 2.13.8, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 2.13.8, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label core PRs
  conditions:
  - files~=^modules/core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^modules/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^modules/tests/
  actions:
    label:
      add:
      - tests
      remove: []

mima
  build.sbt
Due: none

Make AirMass.minumumFor return an Option
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/conditions/package.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/Site.scala
  modules/core/shared/src/main/scala/lucuma/core/model/package.scala
  modules/tests/shared/src/test/scala/lucuma/core/conditions/ConditionsLikelihoodSuite.scala
Due: Label core PRs, Label tests PRs

Make AirMass.minumumFor return an Option (#1152)
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/conditions/package.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/Site.scala
  modules/core/shared/src/main/scala/lucuma/core/model/package.scala
  modules/tests/shared/src/test/scala/lucuma/core/conditions/ConditionsLikelihoodSuite.scala
Due: Label core PRs, Label tests PRs

Shortcut 6168: GMOS R400 tag change (#1151)
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthGrating.scala
Due: Label core PRs

Add skip-sc label automatically (#1148)
  .github/workflows/skip-sc.yml
Due: none

Add myself to the skip-sc workflow
  .github/workflows/skip-sc.yml
Due: none

object tracking ctors
  modules/core/shared/src/main/scala/lucuma/core/model/ObjectTracking.scala
Due: Label core PRs

scalafix
  modules/core/shared/src/main/scala/lucuma/core/model/Configuration.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ObjectTracking.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbConfiguration.scala
Due: Label core PRs, Label testkit PRs

Delete G5323
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthGrating.scala
Due: Label core PRs

Add client id to execution events
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/Client.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ExecutionEvent.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbExecutionEvent.scala
Due: Label core PRs, Label testkit PRs

Add client id to execution events (#1157)
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/Client.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ExecutionEvent.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbExecutionEvent.scala
Due: Label core PRs, Label testkit PRs

Add signedArcSeconds JS export
  modules/core/shared/src/main/scala/lucuma/core/math/Angle.scala
  modules/npm/src/main/scala/lucuma/core/exports.scala
  modules/npm/src/main/typescript/main.d.ts
Due: Label core PRs

version
  build.sbt
Due: none

Shortcut 6292: Delete G5323 (#1155)
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthGrating.scala
Due: Label core PRs

Utility methods for offsets
  modules/core/shared/src/main/scala/lucuma/core/math/Offset.scala
Due: Label core PRs

bump version
  build.sbt
Due: none

SetupDigest
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ExecutionDigest.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/SetupDigest.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/SetupTime.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbExecutionDigest.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbSetupDigest.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbSetupTime.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/SetupDigestSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Update cloud extinction likelihood
  modules/core/shared/src/main/scala/lucuma/core/model/CloudExtinction.scala
  modules/tests/shared/src/test/scala/lucuma/core/conditions/ConditionsLikelihoodSuite.scala
Due: Label core PRs, Label tests PRs

Update ce display
  modules/core/shared/src/main/scala/lucuma/core/model/CloudExtinction.scala
Due: Label core PRs

tests
  modules/core/shared/src/main/scala/lucuma/core/geom/Shape.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/JtsShape.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/syntax/package.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Configuration.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbConfiguration.scala
Due: Label core PRs, Label testkit PRs

scalafix
  modules/core/shared/src/main/scala/lucuma/core/geom/Shape.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/JtsShape.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Configuration.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbConfiguration.scala
Due: Label core PRs, Label testkit PRs

Move some values/types from downstream
  modules/core/shared/src/main/scala/lucuma/core/math/SignalToNoise.scala
  modules/core/shared/src/main/scala/lucuma/core/util/time.scala
Due: Label core PRs

Rename CoordinatesAtVizTime to CoordinatesAt
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/BlindOffsetCandidatesSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/BlindOffsetCandidate.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ObjectTracking.scala
Due: Label core PRs

initial-version
  modules/catalog-tests/jvm/src/main/resources/gaia-blind-offset-test.xml
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/BlindOffsetApp.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/BlindOffsetFileTestSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/BlindOffsetCandidatesSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/BlindOffsetCandidate.scala
  modules/catalog/src/main/scala/lucuma/catalog/clients/GaiaClient.scala
  modules/catalog/src/main/scala/lucuma/catalog/clients/GaiaClientImpl.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/ADQLInterpreter.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
Due: none

cleanup
  modules/catalog-tests/jvm/src/main/resources/gaia-blind-offset-test.xml
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/BlindOffsetApp.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/BlindOffsetFileTestSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/BlindOffsetCandidatesSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/BlindOffsetCandidate.scala
  modules/catalog/src/main/scala/lucuma/catalog/clients/GaiaClientImpl.scala
Due: none

Consider calculating the distance after pm adjustment
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/BlindOffsetApp.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/BlindOffsetFileTestSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/BlindOffsetCandidatesSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/BlindOffsetCandidate.scala
  modules/catalog/src/main/scala/lucuma/catalog/clients/GaiaClient.scala
  modules/catalog/src/main/scala/lucuma/catalog/clients/GaiaClientImpl.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/ADQLInterpreter.scala
Due: none

Cleanup the api
  modules/catalog-tests/jvm/src/main/resources/gaia-blind-offset-test.xml
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/BlindOffsetApp.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/BlindOffsetFileTestSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/BlindOffsetCandidatesSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/BlindOffsetCandidate.scala
  modules/catalog/src/main/scala/lucuma/catalog/clients/GaiaClient.scala
  modules/catalog/src/main/scala/lucuma/catalog/clients/GaiaClientImpl.scala
Due: none

query adjustments
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/BlindOffsetApp.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/BlindOffsetFileTestSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/BlindOffsets.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/ADQLInterpreter.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
Due: none

scalafix
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/BlindOffsetApp.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
Due: none

Update binary version
  build.sbt
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/BlindOffsetApp.scala
Due: none

Refactor ExposureTimeMode to depend on the science mode
  modules/core/shared/src/main/scala/lucuma/core/math/Wavelength.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ExposureTimeMode.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbExposureTimeMode.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ExposureTimeModeSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Make Parallax an opaque type
  modules/core/shared/src/main/scala/lucuma/core/math/Parallax.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbParallax.scala
Due: Label core PRs, Label testkit PRs

Update binary version
  build.sbt
Due: none

Add target disposition enum
  modules/core/shared/src/main/scala/lucuma/core/enums/TargetDisposition.scala
Due: Label core PRs

User defined flux can be any number
  modules/core/shared/src/main/scala/lucuma/core/model/UnnormalizedSED.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbUnnormalizedSED.scala
Due: Label core PRs, Label testkit PRs

Move Lens disjointZip syntax from lucuma-ui
  modules/core/shared/src/main/scala/lucuma/core/optics/syntax/Lens.scala
  modules/tests/shared/src/test/scala/lucuma/core/optics/syntax/DisjointZipSuite.scala
Due: Label core PRs, Label tests PRs

Update core to use coulomb 0.9
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/circe/coulomb/package.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/package.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/flamingos2/Flamingos2CandidatesArea.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/flamingos2/Flamingos2OiwfsProbeArm.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/flamingos2/Flamingos2PatrolField.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/flamingos2/Flamingos2ScienceAreaGeometry.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/flamingos2/package.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/package.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/syntax/package.scala
  modules/core/shared/src/main/scala/lucuma/core/math/ApparentRadialVelocity.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Constants.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Parallax.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Place.scala
  modules/core/shared/src/main/scala/lucuma/core/math/ProperMotion.scala
  modules/core/shared/src/main/scala/lucuma/core/math/RadialVelocity.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Wavelength.scala
  modules/core/shared/src/main/scala/lucuma/core/math/WavelengthDelta.scala
  modules/core/shared/src/main/scala/lucuma/core/math/WavelengthDither.scala
  modules/core/shared/src/main/scala/lucuma/core/math/dimensional/unit.scala
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/ImprovedSkyCalcMethods.scala
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/TwilightCalc.scala
  modules/core/shared/src/main/scala/lucuma/core/math/units.scala
  modules/core/shared/src/main/scala/lucuma/core/model/CloudExtinction.scala
  modules/core/shared/src/main/scala/lucuma/core/model/EmissionLine.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Extinction.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ImageQuality.scala
  modules/core/shared/src/main/scala/lucuma/core/model/SiderealTracking.scala
  modules/core/shared/src/main/scala/lucuma/core/model/UnnormalizedSED.scala
  modules/core/shared/src/main/scala/lucuma/core/refined/package.scala
Due: Label core PRs

Port the tests to coulomb 0.9
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/ParseSimbadFileSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/AdaptersSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/VoTableParser.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/flamingos2/Flamingos2OiwfsProbeArm.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/flamingos2/Flamingos2PatrolField.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/flamingos2/Flamingos2ScienceAreaGeometry.scala
  modules/core/shared/src/main/scala/lucuma/core/math/ApparentRadialVelocity.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Parallax.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Place.scala
  modules/core/shared/src/main/scala/lucuma/core/math/RadialVelocity.scala
  modules/core/shared/src/main/scala/lucuma/core/math/package.scala
  modules/core/shared/src/main/scala/lucuma/core/math/units.scala
  modules/core/shared/src/main/scala/lucuma/core/model/CloudExtinction.scala
  modules/core/shared/src/main/scala/lucuma/core/model/EmissionLine.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Extinction.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ImageQuality.scala
  modules/core/shared/src/main/scala/lucuma/core/model/UnnormalizedSED.scala
  modules/core/shared/src/main/scala/lucuma/core/refined/package.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbRadialVelocity.scala
  modules/tests/shared/src/test/scala/lucuma/core/circe/coulomb/CoulombCodecsSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/ApparentRadialVelocitySuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/PlaceSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/RedshiftSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/UnitsSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/WavelengthDeltaSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/WavelengthDitherSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/WavelengthSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/EmissionLineSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/UnnormalizedSEDSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/validation/ModelValidatorsSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/optics/OpticsSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs
