Repository gemini-hlsw/lucuma-core: changes, and which Mergify rules are due for each by the changed paths.
All: Label ags PRs, Label catalog PRs, Label catalog-testkit PRs, Label catalog-tests PRs, Label core PRs, Label horizons PRs, Label horizons-tests PRs, Label npm PRs, Label testkit PRs, Label tests PRs

Label ags PRs:
  label:
    add:
    - ags
    remove: []

Label catalog PRs:
  label:
    add:
    - catalog
    remove: []

Label catalog-testkit PRs:
  label:
    add:
    - catalog-testkit
    remove: []

Label catalog-tests PRs:
  label:
    add:
    - catalog-tests
    remove: []

Label core PRs:
  label:
    add:
    - core
    remove: []

Label horizons PRs:
  label:
    add:
    - horizons
    remove: []

Label horizons-tests PRs:
  label:
    add:
    - horizons-tests
    remove: []

Label npm PRs:
  label:
    add:
    - npm
    remove: []

Label testkit PRs:
  label:
    add:
    - testkit
    remove: []

Label tests PRs:
  label:
    add:
    - tests
    remove: []

Benchmark AGS on a request captured in Explore
  build.sbt
  modules/benchmarks-js/README.md
  modules/benchmarks-js/src/main/scala/lucuma/bench/AgsBench.scala
  modules/benchmarks-shared/src/main/scala/lucuma/bench/AgsRealFixture.scala
  modules/benchmarks-shared/src/main/scala/lucuma/bench/AgsWorkload.scala
  modules/benchmarks/src/main/scala/lucuma/bench/AgsAnalysisBenchmark.scala
Due: none

Keep benchmarksJS out of the root aggregate
  build.sbt
Due: none

cleanup
  modules/tests/js/src/test/scala/lucuma/core/geom/wasm/WasmShapeInterpreterSuite.scala
  package-lock.json
  package.json
  vendor/lucuma-wasm-0.1.0.tgz
  vendor/lucuma-wasm-0.1.1.tgz
Due: Label tests PRs

Rename the kernel package to lucuma-wasm
  build.sbt
  modules/benchmarks-js/README.md
  modules/benchmarks-js/src/main/scala/lucuma/bench/AgsBench.scala
  modules/core/js/src/main/scala/lucuma/core/geom/wasm/LucumaWasm.scala
  modules/core/js/src/main/scala/lucuma/core/geom/wasm/WasmGeometry.scala
  modules/core/js/src/main/scala/lucuma/core/geom/wasm/WasmShape.scala
  modules/core/js/src/main/scala/lucuma/core/geom/wasm/WasmShapeInterpreter.scala
  modules/tests/js/src/test/scala/lucuma/core/geom/wasm/WasmKernelSuite.scala
  modules/tests/js/src/test/scala/lucuma/core/geom/wasm/WasmShapeInterpreterSuite.scala
  package-lock.json
  package.json
Due: Label core PRs, Label tests PRs

Trim kernel tests that the parity suite already covers
  modules/tests/js/src/test/scala/lucuma/ags/AgsGeometryParitySuite.scala
  modules/tests/js/src/test/scala/lucuma/core/geom/wasm/WasmGeometrySuites.scala
  modules/tests/js/src/test/scala/lucuma/core/geom/wasm/WasmShapeInterpreterSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/geom/ScienceAreaGeometrySuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/geom/gmos/GmosOiwfsGeometrySuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/geom/gmos/GmosScienceAreaGeometrySuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/geom/gnirs/GnirsScienceAreaGeometrySuite.scala
Due: Label tests PRs

Use the published @gemini-hlsw/lucuma-wasm package
  modules/benchmarks-js/README.md
  modules/benchmarks-js/src/main/scala/lucuma/bench/AgsBench.scala
  modules/core/js/src/main/scala/lucuma/core/geom/wasm/LucumaWasm.scala
  modules/tests/js/src/test/scala/lucuma/core/geom/wasm/WasmKernelSuite.scala
  package-lock.json
  package.json
  vendor/lucuma-wasm-0.1.0.tgz
Due: Label core PRs, Label tests PRs

scalafmt
  modules/benchmarks-shared/src/main/scala/lucuma/bench/AgsWorkload.scala
Due: none

Make the Scala.js AGS benchmark Node-only
  modules/benchmarks-js/README.md
  modules/benchmarks-js/chrome-run.mjs
  modules/benchmarks-js/index-opt.html
  modules/benchmarks-js/index.html
  modules/benchmarks-js/src/main/scala/lucuma/bench/AgsBench.scala
Due: none

Update binary version
  build.sbt
Due: none

Rename ShapeInterpreter.scoped to withArena
  modules/ags/src/main/scala/lucuma/ags/Ags.scala
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
  modules/core/js/src/main/scala/lucuma/core/geom/wasm/WasmShape.scala
  modules/core/js/src/main/scala/lucuma/core/geom/wasm/WasmShapeInterpreter.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/ShapeInterpreter.scala
  modules/tests/js/src/test/scala/lucuma/core/geom/wasm/WasmKernelSuite.scala
  modules/tests/js/src/test/scala/lucuma/core/geom/wasm/WasmShapeInterpreterSuite.scala
Due: Label ags PRs, Label core PRs, Label tests PRs

Use braceless syntax in the wasm facade
  modules/core/js/src/main/scala/lucuma/core/geom/wasm/LucumaWasm.scala
  modules/core/js/src/main/scala/lucuma/core/geom/wasm/WasmGeometry.scala
  modules/core/js/src/main/scala/lucuma/core/geom/wasm/WasmShape.scala
  modules/core/js/src/main/scala/lucuma/core/geom/wasm/WasmShapeInterpreter.scala
Due: Label core PRs

Choose the shape interpreter with an explicit import
  modules/benchmarks-js/src/main/scala/lucuma/bench/AgsBench.scala
  modules/benchmarks/src/main/scala/lucuma/bench/AgsAnalysisBenchmark.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/ags/AltairAgsSelectionApp.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/AgsSelectionStreamApp.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/GhostAgsSelectionApp.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/9024.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/AgsSuite.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/ShapeInterpreter.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/auto.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Configuration.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostIfuMappingSyntax.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsAgsDemo.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsAltairDemo.scala
Due: Label catalog-tests PRs, Label core PRs, Label tests PRs

Replace loops in the wasm facade with folds
  modules/core/js/src/main/scala/lucuma/core/geom/wasm/WasmShape.scala
  modules/core/js/src/main/scala/lucuma/core/geom/wasm/WasmShapeInterpreter.scala
Due: Label core PRs

Trim the kernel test suites
  modules/tests/js/src/test/scala/lucuma/ags/AgsGeometryParitySuite.scala
  modules/tests/js/src/test/scala/lucuma/core/geom/wasm/WasmGeometrySuites.scala
  modules/tests/js/src/test/scala/lucuma/core/geom/wasm/WasmKernelFixture.scala
  modules/tests/js/src/test/scala/lucuma/core/geom/wasm/WasmShapeInterpreterSuite.scala
Due: Label tests PRs

Drop the global default shape interpreter
  modules/benchmarks-js/src/main/scala/lucuma/bench/AgsBench.scala
  modules/core/js/src/main/scala/lucuma/core/geom/wasm/WasmGeometry.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/ShapeInterpreter.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/ShapePolygon.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/auto.scala
  modules/tests/js/src/test/scala/lucuma/core/geom/wasm/WasmKernelFixture.scala
  modules/tests/js/src/test/scala/lucuma/core/geom/wasm/WasmShapeInterpreterSuite.scala
Due: Label core PRs, Label tests PRs

Make ShapePolygon rings non-empty
  modules/core/js/src/main/scala/lucuma/core/geom/wasm/WasmShape.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/ShapePolygon.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/JtsShape.scala
Due: Label core PRs

Fix intersectionShape always returning Empty
  modules/core/shared/src/main/scala/lucuma/core/geom/flamingos2/Flamingos2CandidatesArea.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/ghost/GhostIfuPatrolField.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosCandidatesArea.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/syntax/ShapeExpression.scala
  modules/tests/shared/src/test/scala/lucuma/core/geom/ShapeExpressionSuite.scala
Due: Label core PRs, Label tests PRs

Shortcut 9766: Configuration request updates
  modules/core/shared/src/main/scala/lucuma/core/model/Configuration.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbConfiguration.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ConfigurationSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Add a wasm geometry kernel for AGS on Scala.js
  .github/workflows/ci.yml
  .gitignore
  build.sbt
  modules/ags/src/main/scala/lucuma/ags/Ags.scala
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
  modules/ags/src/main/scala/lucuma/ags/AgsVisualization.scala
  modules/benchmarks-js/src/main/scala/lucuma/bench/AgsBench.scala
  modules/benchmarks/src/main/scala/lucuma/bench/AgsAnalysisBenchmark.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/ags/AltairAgsSelectionApp.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/AgsSelectionStreamApp.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/GhostAgsSelectionApp.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/9024.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/AgsSuite.scala
  modules/core/js/src/main/scala/lucuma/core/geom/wasm/LucumaWasm.scala
  modules/core/js/src/main/scala/lucuma/core/geom/wasm/WasmGeometry.scala
  modules/core/js/src/main/scala/lucuma/core/geom/wasm/WasmShape.scala
  modules/core/js/src/main/scala/lucuma/core/geom/wasm/WasmShapeInterpreter.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/Shape.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/ShapeInterpreter.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/ShapePolygon.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/JtsShape.scala
  modules/tests/js/src/test/scala/lucuma/ags/AgsGeometryParitySuite.scala
  modules/tests/js/src/test/scala/lucuma/core/geom/wasm/WasmGeometrySuites.scala
  modules/tests/js/src/test/scala/lucuma/core/geom/wasm/WasmKernelFixture.scala
  modules/tests/js/src/test/scala/lucuma/core/geom/wasm/WasmShapeInterpreterSuite.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsAgsDemo.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsAltairDemo.scala
  modules/tests/shared/src/test/scala/lucuma/core/geom/ShapeExpressionSuite.scala
  package-lock.json
  package.json
Due: Label ags PRs, Label catalog-tests PRs, Label core PRs, Label tests PRs

Give empty JTS shapes zero bounds
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/Jts.scala
  modules/tests/shared/src/test/scala/lucuma/core/geom/ShapeExpressionSuite.scala
Due: Label core PRs, Label tests PRs

Let GhostIfuMapping.derive take the shape interpreter
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostIfuMappingSyntax.scala
Due: Label core PRs

Free every arena handle even if one fails
  modules/core/js/src/main/scala/lucuma/core/geom/wasm/WasmShapeInterpreter.scala
Due: Label core PRs

cleanup
  modules/ags/src/main/scala/lucuma/ags/Ags.scala
  modules/core/js/src/main/scala/lucuma/core/geom/wasm/WasmShape.scala
  modules/core/js/src/main/scala/lucuma/core/geom/wasm/WasmShapeInterpreter.scala
  modules/tests/js/src/test/scala/lucuma/ags/AgsGeometryParitySuite.scala
Due: Label ags PRs, Label core PRs, Label tests PRs

Cache the kernel bounding box of a shape
  modules/core/js/src/main/scala/lucuma/core/geom/wasm/WasmShape.scala
  modules/core/js/src/main/scala/lucuma/core/geom/wasm/WasmShapeInterpreter.scala
Due: Label core PRs

Say which operations a kernel Point matches
  modules/core/js/src/main/scala/lucuma/core/geom/wasm/WasmShapeInterpreter.scala
Due: Label core PRs

Drop redundant state in AGS and the wasm facade
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
  modules/core/js/src/main/scala/lucuma/core/geom/wasm/WasmGeometry.scala
  modules/core/js/src/main/scala/lucuma/core/geom/wasm/WasmShape.scala
  modules/core/js/src/main/scala/lucuma/core/geom/wasm/WasmShapeInterpreter.scala
  modules/tests-wasm/src/test/scala/lucuma/core/geom/wasm/WasmShapeInterpreterSuite.scala
Due: Label ags PRs, Label core PRs

Move the kernel suites to their own test module
  .mergify.yml
  build.sbt
  modules/tests-wasm/src/test/scala/lucuma/ags/AgsGeometryParitySuite.scala
  modules/tests-wasm/src/test/scala/lucuma/core/geom/wasm/WasmGeometrySuites.scala
  modules/tests-wasm/src/test/scala/lucuma/core/geom/wasm/WasmKernelFixture.scala
  modules/tests-wasm/src/test/scala/lucuma/core/geom/wasm/WasmShapeInterpreterSuite.scala
Due: none

Remove intersectionShape and its list overloads
  modules/core/shared/src/main/scala/lucuma/core/geom/flamingos2/Flamingos2CandidatesArea.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/ghost/GhostIfuPatrolField.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosCandidatesArea.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/syntax/ShapeExpression.scala
  modules/tests/shared/src/test/scala/lucuma/core/geom/ShapeExpressionSuite.scala
Due: Label core PRs, Label tests PRs

Free the shapes AgsVisualization evaluates
  modules/ags/src/main/scala/lucuma/ags/AgsVisualization.scala
  modules/tests/js/src/test/scala/lucuma/ags/AgsGeometryParitySuite.scala
Due: Label ags PRs, Label tests PRs

Document the npm package WasmGeometry needs
  modules/core/js/src/main/scala/lucuma/core/geom/wasm/WasmGeometry.scala
Due: Label core PRs

Truncate kernel coordinates to whole µas as JTS does
  modules/core/js/src/main/scala/lucuma/core/geom/wasm/WasmShape.scala
  modules/core/js/src/main/scala/lucuma/core/geom/wasm/WasmShapeInterpreter.scala
  modules/tests/js/src/test/scala/lucuma/ags/AgsGeometryParitySuite.scala
Due: Label core PRs, Label tests PRs

scalafix
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostIfuMappingSyntax.scala
Due: Label core PRs

Simplify the Node AGS benchmark
  build.sbt
  modules/benchmarks-js/src/main/scala/lucuma/bench/AgsBench.scala
Due: none

Benchmark AGS on JTS and the wasm kernel
  build.sbt
  modules/benchmarks-js/README.md
  modules/benchmarks-js/src/main/scala/lucuma/bench/AgsBench.scala
  modules/benchmarks-shared/src/main/scala/lucuma/bench/AgsRealFixture.scala
  modules/benchmarks-shared/src/main/scala/lucuma/bench/AgsWorkload.scala
  modules/benchmarks/src/main/scala/lucuma/bench/AgsAnalysisBenchmark.scala
Due: none

Add reacquisitionCount
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ExecutionDigest.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbExecutionDigest.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/ExecutionDigestSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Add clone mode enum
  modules/core/shared/src/main/scala/lucuma/core/enums/CloneSequenceMode.scala
Due: Label core PRs

Add reacquisitionCount (#1656)
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ExecutionDigest.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbExecutionDigest.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/ExecutionDigestSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Add CallForProposalsWarning validation code
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservationValidationCode.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ObservationValidation.scala
Due: Label core PRs

Path conditions:
  Label ags PRs: any of: ^modules/ags/
  Label catalog PRs: any of: ^modules/catalog/
  Label catalog-testkit PRs: any of: ^modules/catalog-testkit/
  Label catalog-tests PRs: any of: ^modules/catalog-tests/
  Label core PRs: any of: ^modules/core/
  Label horizons PRs: any of: ^modules/horizons/
  Label horizons-tests PRs: any of: ^modules/horizons-tests/
  Label npm PRs: any of: ^modules/npm/
  Label testkit PRs: any of: ^modules/testkit/
  Label tests PRs: any of: ^modules/tests/
