Repository gemini-hlsw/lucuma-core: changes, and which Mergify rules are due for each by the changed paths.
All: Label core PRs, Label testkit PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=scala-steward
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 2.13.8, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 2.13.8, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label core PRs
  conditions:
  - files~=^modules/core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^modules/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^modules/tests/
  actions:
    label:
      add:
      - tests
      remove: []

Add AG camera status items
  modules/core/shared/src/main/scala/lucuma/core/enums/GiapiStatusApply.scala
Due: Label core PRs

Fix typo
  modules/core/shared/src/main/scala/lucuma/core/enums/GiapiStatusApply.scala
Due: Label core PRs

Items for FPU guide demand
  modules/core/shared/src/main/scala/lucuma/core/enums/GiapiStatusApply.scala
Due: Label core PRs

Add move mode item
  modules/core/shared/src/main/scala/lucuma/core/enums/GiapiStatusApply.scala
Due: Label core PRs

Convert Angle to an opaque type
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosOiwfsProbeArm.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Angle.scala
  modules/tests/jvm/src/test/java/edu/gemini/skycalc/TwilightBoundedNightTest.java
  modules/tests/jvm/src/test/scala/lucuma/core/math/skycalc/TwilightCalcSuiteJVM.scala
Due: Label core PRs, Label tests PRs

Add status item for the ThXe lamp
  modules/core/shared/src/main/scala/lucuma/core/enums/GiapiStatusApply.scala
Due: Label core PRs

Restore assertions on the constructors
  modules/core/shared/src/main/scala/lucuma/core/math/Angle.scala
Due: Label core PRs

Add ghost keywords
  modules/core/shared/src/main/scala/lucuma/core/enums/KeywordName.scala
Due: Label core PRs

More GHOST keywords
  modules/core/shared/src/main/scala/lucuma/core/enums/KeywordName.scala
Due: Label core PRs

Make SED optional
  modules/core/shared/src/main/scala/lucuma/core/model/SourceProfile.scala
  modules/core/shared/src/main/scala/lucuma/core/model/SpectralDefinition.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Target.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbSourceProfile.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbSpectralDefinition.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbTarget.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbUnnormalizedSED.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SourceProfileSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SpectralDefinitionSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/TargetSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/UnnormalizedSEDSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Fix typo
  modules/core/shared/src/main/scala/lucuma/core/enums/KeywordName.scala
Due: Label core PRs

Refactoring of the Of type and utility methods for PM
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/Band.scala
  modules/core/shared/src/main/scala/lucuma/core/math/BrightnessUnits.scala
  modules/core/shared/src/main/scala/lucuma/core/math/ProperMotion.scala
  modules/core/shared/src/main/scala/lucuma/core/math/dimensional/measure.scala
  modules/core/shared/src/main/scala/lucuma/core/math/dimensional/package.scala
  modules/core/shared/src/main/scala/lucuma/core/math/dimensional/unit.scala
  modules/core/shared/src/main/scala/lucuma/core/model/EmissionLine.scala
  modules/core/shared/src/main/scala/lucuma/core/model/SourceProfile.scala
  modules/core/shared/src/main/scala/lucuma/core/model/SpectralDefinition.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Target.scala
  modules/core/shared/src/main/scala/lucuma/core/util/Tag.scala
  modules/core/shared/src/main/scala/lucuma/core/util/package.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbProperMotion.scala
  modules/testkit/src/main/scala/lucuma/core/math/dimensional/arb/ArbMeasure.scala
  modules/testkit/src/main/scala/lucuma/core/math/dimensional/arb/ArbUnits.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbEmissionLine.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbSpectralDefinition.scala
  modules/tests/shared/src/test/scala/lucuma/core/enums/BandSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/BrightnessUnitsSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/UnitsSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/dimensional/MeasureSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/dimensional/UnitSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/EmissionLineSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SourceProfileSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SpectralDefinitionSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/TargetSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Add some utilities for PM
  modules/core/shared/src/main/scala/lucuma/core/math/ProperMotion.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbProperMotion.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SiderealTrackingSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Make generic constructor function public
  modules/core/shared/src/main/scala/lucuma/core/math/ProperMotion.scala
Due: Label core PRs

Remove Wavelength Rational
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthGrating.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthGrating.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Wavelength.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/WavelengthSuite.scala
Due: Label core PRs, Label tests PRs

more consistent naming
  modules/core/shared/src/main/scala/lucuma/core/math/Wavelength.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/WavelengthSuite.scala
Due: Label core PRs, Label tests PRs

opaque type
  modules/core/shared/src/main/scala/lucuma/core/math/Wavelength.scala
Due: Label core PRs

optics
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/F2Disperser.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/F2Filter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthFilter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthGrating.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthFilter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthGrating.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsDisperserOrder.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsFilter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GsaoiFilter.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Coverage.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Wavelength.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/WavelengthSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SourceProfileSuite.scala
Due: Label core PRs, Label tests PRs

wavelength dither
  modules/core/shared/src/main/scala/lucuma/core/math/Wavelength.scala
  modules/core/shared/src/main/scala/lucuma/core/math/WavelengthDither.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbWavelengthDither.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/WavelengthDitherSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/WavelengthSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

wavelength dither
  modules/core/shared/src/main/scala/lucuma/core/math/Wavelength.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/WavelengthDitherSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/WavelengthSuite.scala
Due: Label core PRs, Label tests PRs

blah
  modules/core/shared/src/main/scala/lucuma/core/math/WavelengthDither.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/WavelengthSuite.scala
Due: Label core PRs, Label tests PRs

mima
  build.sbt
Due: none

Remove comment
  modules/tests/shared/src/test/scala/lucuma/core/math/WavelengthSuite.scala
Due: Label tests PRs

WavelengthDither (#638)
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/F2Disperser.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/F2Filter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthFilter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthGrating.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthFilter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthGrating.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsDisperserOrder.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsFilter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GsaoiFilter.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Coverage.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Wavelength.scala
  modules/core/shared/src/main/scala/lucuma/core/math/WavelengthDither.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbWavelengthDither.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/WavelengthDitherSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/WavelengthSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SourceProfileSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Add diff method to wavelength
  modules/core/shared/src/main/scala/lucuma/core/math/Wavelength.scala
  modules/core/shared/src/main/scala/lucuma/core/math/WavelengthDither.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/WavelengthDitherSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/WavelengthSuite.scala
Due: Label core PRs, Label tests PRs

fix crash in AirMass class init
  modules/core/shared/src/main/scala/lucuma/core/model/ElevationRange.scala
Due: Label core PRs

bump binary version
  build.sbt
Due: none

Add `Unbounded` to PosAngleConstraint
  modules/core/shared/src/main/scala/lucuma/core/model/PosAngleConstraint.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbPosAngleConstraint.scala
Due: Label core PRs, Label testkit PRs

Interval
  modules/core/shared/src/main/scala/lucuma/core/syntax/Time.scala
  modules/core/shared/src/main/scala/lucuma/core/util/Interval.scala
  modules/testkit/src/main/scala/lucuma/core/util/arb/ArbInterval.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/IntervalSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Attempt to fix flaky test
  modules/tests/shared/src/test/scala/lucuma/core/math/CoordinatesSuite.scala
Due: Label tests PRs

Some cleanups
  .scalafmt.conf
  modules/core/shared/src/main/scala/lucuma/core/math/Coordinates.scala
  modules/core/shared/src/main/scala/lucuma/core/model/SiderealTracking.scala
Due: Label core PRs

Update model
  modules/core/shared/src/main/scala/lucuma/core/model/ExposureTimeMode.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ProposalClass.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/DynamicConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ManualConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/StepTime.scala
  modules/core/shared/src/main/scala/lucuma/core/util/Interval.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbExposureTimeMode.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbProposalClass.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbDynamicConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbManualConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbStepTime.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ExposureTimeModeSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ProposalClassSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/DynamicConfigSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/ManualConfigSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/StepTimeSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

rename Interval to TimeSpan
  modules/core/shared/src/main/scala/lucuma/core/model/ExposureTimeMode.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ProposalClass.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/DynamicConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ManualConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/StepTime.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/Time.scala
  modules/core/shared/src/main/scala/lucuma/core/util/TimeSpan.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbExposureTimeMode.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbProposalClass.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbDynamicConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbManualConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbStepTime.scala
  modules/testkit/src/main/scala/lucuma/core/util/arb/ArbTimeSpan.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ExposureTimeModeSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ProposalClassSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/DynamicConfigSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/ManualConfigSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/StepTimeSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/IntervalSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/TimeSpanSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

shrug
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbManualConfig.scala
Due: Label testkit PRs

base version
  build.sbt
Due: none

literal syntax
  modules/core/shared/src/main/scala/lucuma/core/enums/F2ReadMode.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GsaoiFilter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GsaoiReadMode.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/Time.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/timespan/package.scala
  modules/core/shared/src/main/scala/lucuma/core/util/TimeSpan.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/TimeSpanSuite.scala
Due: Label core PRs, Label tests PRs

add TimeSpan apply
  modules/core/shared/src/main/scala/lucuma/core/util/TimeSpan.scala
Due: Label core PRs

TimeSpan (#647)
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/F2ReadMode.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GsaoiFilter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GsaoiReadMode.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ExposureTimeMode.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ProposalClass.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/DynamicConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ManualConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/StepTime.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/Time.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/timespan/package.scala
  modules/core/shared/src/main/scala/lucuma/core/util/TimeSpan.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbExposureTimeMode.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbProposalClass.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbDynamicConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbManualConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbStepTime.scala
  modules/testkit/src/main/scala/lucuma/core/util/arb/ArbTimeSpan.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ExposureTimeModeSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ProposalClassSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/DynamicConfigSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/ManualConfigSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/StepTimeSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/TimeSpanSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Add SMP item
  modules/core/shared/src/main/scala/lucuma/core/enums/GiapiStatusApply.scala
Due: Label core PRs
