Repository gemini-hlsw/lucuma-core: changes, and which Mergify rules are due for each by the changed paths.
All: Label core PRs, Label testkit PRs, Label tests PRs

Label core PRs:
  label:
    add:
    - core
    remove: []

Label testkit PRs:
  label:
    add:
    - testkit
    remove: []

Label tests PRs:
  label:
    add:
    - tests
    remove: []

Remove (most) obsolete flags
  modules/core/shared/src/main/scala/lucuma/core/enums/GcalArc.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GcalContinuum.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GcalDiffuser.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GcalFilter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GcalShutter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthFilter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthGrating.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthStageMode.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosRoi.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthFilter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthGrating.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthStageMode.scala
  modules/core/shared/src/main/scala/lucuma/core/util/Enumerated.scala
Due: Label core PRs

version
  build.sbt
Due: none

Change date format to YYYY-MM-dd for dateToLocalObservingNight
  modules/npm/src/main/scala/lucuma/core/exports.scala
Due: none

Add ProgramNote
  modules/core/shared/src/main/scala/lucuma/core/model/ids.scala
Due: Label core PRs

Add ProgramNote (#1043)
  modules/core/shared/src/main/scala/lucuma/core/model/ids.scala
Due: Label core PRs

Add site to instrument and remove obsolete instruments
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/Instrument.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/Site.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/Enumerated.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/package.scala
  modules/core/shared/src/main/scala/lucuma/core/util/Enumerated.scala
Due: Label core PRs

Rebase, remove B600_G5307
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthGrating.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/gmos/BinningSuite.scala
Due: Label core PRs, Label tests PRs

Fix the reference label
  modules/core/shared/src/main/scala/lucuma/core/enums/Instrument.scala
Due: Label core PRs

Shortcut 4428: Remove (most) obsolete flags (#1037)
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/GcalArc.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GcalContinuum.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GcalDiffuser.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GcalFilter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GcalShutter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthFilter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthGrating.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthStageMode.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosRoi.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthFilter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthGrating.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthStageMode.scala
  modules/core/shared/src/main/scala/lucuma/core/util/Enumerated.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/gmos/BinningSuite.scala
Due: Label core PRs, Label tests PRs

Remove some obsolete f2 filters
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/F2Filter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthDetector.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosXBinning.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosYBinning.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ObsStatus.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/PortDisposition.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ProgramRole.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/SkyBackground.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/StepQaState.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ToOActivation.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/TrackType.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/TwilightType.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/UserTargetType.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/WaterVapor.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/binning.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/Enumerated.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/package.scala
  modules/core/shared/src/main/scala/lucuma/core/util/Enumerated.scala
Due: Label core PRs

PR suggestions
  modules/core/shared/src/main/scala/lucuma/core/enums/F2Filter.scala
  modules/core/shared/src/main/scala/lucuma/core/util/Enumerated.scala
Due: Label core PRs

Remove bhros fpu
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthFpu.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosScienceAreaGeometry.scala
Due: Label core PRs

Add DeclaredComplete
  modules/core/shared/src/main/scala/lucuma/core/enums/ExecutionState.scala
Due: Label core PRs

Remove partner time
  modules/core/shared/src/main/scala/lucuma/core/enums/ChargeClass.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ObserveClass.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/CategorizedTime.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/PlannedTime.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/CategorizedTimeSuite.scala
Due: Label core PRs, Label tests PRs

bump version
  build.sbt
Due: none

program cal -> night cal
  modules/core/shared/src/main/scala/lucuma/core/enums/ObserveClass.scala
Due: Label core PRs

Shortcut 4994: remove partner time (#1055)
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/ChargeClass.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ObserveClass.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/CategorizedTime.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/PlannedTime.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/CategorizedTimeSuite.scala
Due: Label core PRs, Label tests PRs

Update binary version
  .scalafmt.conf
  build.sbt
Due: none

Add DeclaredComplete (#1053)
  modules/core/shared/src/main/scala/lucuma/core/enums/ExecutionState.scala
Due: Label core PRs

Add some more `InputValidSplitEpi` instances
  modules/core/shared/src/main/scala/lucuma/core/validation/InputValidSplitEpi.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/LimitedBigDecimals.scala
  modules/tests/shared/src/test/scala/lucuma/core/validation/InputValidSplitEpiInstancesSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Remove Bhros, Michelle, Nici, Nifs, Phoenix, Trecs
  modules/core/shared/src/main/scala/lucuma/core/enums/Instrument.scala
Due: Label core PRs

newtype derivation for arb and cogen
  build.sbt
  modules/catalog-testkit/src/main/scala/lucuma/ags/arb/ArbGuideStarCandidate.scala
  modules/catalog-testkit/src/main/scala/lucuma/catalog/arb/ArbBrightnessConstraints.scala
  modules/core/shared/src/main/scala/lucuma/core/util/NewType.scala
  modules/testkit/src/main/scala/lucuma/core/arb/package.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbBrightnessValue.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbSpectralDefinition.scala
  modules/testkit/src/main/scala/lucuma/core/util/arb/ArbNewType.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SourceProfileSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SpectralDefinitionSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/TargetSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

remove explicit newtype arbitraries
  modules/core/shared/src/main/scala/lucuma/core/util/NewType.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbFluxDensityContinuumValue.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbLineFluxValue.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbEmissionLine.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbGemsConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbM2GuideConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbSpectralDefinition.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbTelescopeGuideConfig.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/EmissionLineSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SourceProfileSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SpectralDefinitionSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/TargetSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

typeclasses for general BigDecimal refined derivation
  modules/catalog-testkit/src/main/scala/lucuma/ags/arb/ArbGuideStarCandidate.scala
  modules/catalog-testkit/src/main/scala/lucuma/catalog/arb/ArbBrightnessConstraints.scala
  modules/core/shared/src/main/scala/lucuma/core/util/NewType.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbLineWidthValue.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbRefined.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbEmissionLine.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbGemsConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbSpectralDefinition.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbTelescopeGuideConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbUnnormalizedSED.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/WavelengthSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/EmissionLineSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SourceProfileSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SpectralDefinitionSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/TargetSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/validation/InputValidWedgeInstancesSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

convert to NewBooleans
  modules/core/shared/src/main/scala/lucuma/core/enums/ComaOption.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/MountGuideOption.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/gems.scala
  modules/core/shared/src/main/scala/lucuma/core/util/NewType.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/WavelengthDeltaSuite.scala
Due: Label core PRs, Label tests PRs

remove fromBoolean invocations
  modules/core/shared/src/main/scala/lucuma/core/model/GuideConfig.scala
Due: Label core PRs

derived codecs for coulomb
  modules/core/shared/src/main/scala/lucuma/core/circe/coulomb/package.scala
  modules/tests/shared/src/test/scala/lucuma/core/circe/coulomb/CoulombCodecsSuite.scala
Due: Label core PRs, Label tests PRs

migrate ImageQuality and CloudExtinction to values
  modules/ags/src/main/scala/lucuma/ags/Ags.scala
  modules/ags/src/main/scala/lucuma/ags/package.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/AgsSelectionApp.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/AgsSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/LimitsSuite.scala
  modules/core/shared/src/main/scala/lucuma/core/conditions/package.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/CloudExtinction.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ImageQuality.scala
  modules/core/shared/src/main/scala/lucuma/core/math/units.scala
  modules/core/shared/src/main/scala/lucuma/core/model/CloudExtinction.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Configuration.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ConstraintSet.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ImageQuality.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/GmosCcdMode.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/binning.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/longslit/package.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbConfiguration.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbConstraintSet.scala
  modules/tests/shared/src/test/scala/lucuma/core/conditions/ConditionsLikelihoodSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ImageQualitySuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/gmos/BinningSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

refined Quantity, NewType; unify Extinctions
  modules/core/shared/src/main/scala/lucuma/core/math/units.scala
  modules/core/shared/src/main/scala/lucuma/core/model/CloudExtinction.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Extinction.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ImageQuality.scala
  modules/core/shared/src/main/scala/lucuma/core/refined/package.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ExtinctionSuite.scala
Due: Label core PRs, Label tests PRs

rename Point to Preset
  modules/ags/src/main/scala/lucuma/ags/Ags.scala
  modules/ags/src/main/scala/lucuma/ags/package.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/AgsSelectionApp.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/AgsSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/LimitsSuite.scala
  modules/core/shared/src/main/scala/lucuma/core/conditions/package.scala
  modules/core/shared/src/main/scala/lucuma/core/model/CloudExtinction.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Configuration.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ConstraintSet.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ImageQuality.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbConfiguration.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbConstraintSet.scala
  modules/tests/shared/src/test/scala/lucuma/core/conditions/ConditionsLikelihoodSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/gmos/BinningSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

NewBoolean convenience methods
  modules/core/shared/src/main/scala/lucuma/core/util/NewType.scala
Due: Label core PRs

Provide method for finding anglesToTestAt with known APA
  modules/ags/src/main/scala/lucuma/ags/package.scala
Due: none

Update http client
  build.sbt
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/AgsSelectionApp.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/AgsSelectionStreamApp.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/GaiaQueryApp.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/GaiaQueryPMApp.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/SimbadQueryApp.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/TargetImportSuite.scala
Due: none

Add F2 long slit mode
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservingModeType.scala
Due: Label core PRs

renames, distribute percentiles
  build.sbt
  modules/ags/src/main/scala/lucuma/ags/GuideStarName.scala
  modules/core/shared/src/main/scala/lucuma/core/conditions/package.scala
  modules/core/shared/src/main/scala/lucuma/core/data/EmailAddress.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/SkyBackground.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/WaterVapor.scala
  modules/core/shared/src/main/scala/lucuma/core/math/package.scala
  modules/core/shared/src/main/scala/lucuma/core/model/CloudExtinction.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Extinction.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ImageQuality.scala
  modules/core/shared/src/main/scala/lucuma/core/model/UserInvitation.scala
  modules/core/shared/src/main/scala/lucuma/core/model/package.scala
  modules/core/shared/src/main/scala/lucuma/core/util/NewType.scala
Due: Label core PRs

AirMass newtype
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/GuideStarNameSuite.scala
  modules/core/shared/src/main/scala/lucuma/core/conditions/package.scala
  modules/core/shared/src/main/scala/lucuma/core/model/CloudExtinction.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ElevationRange.scala
  modules/core/shared/src/main/scala/lucuma/core/model/package.scala
  modules/core/shared/src/main/scala/lucuma/core/util/NewType.scala
  modules/tests/shared/src/test/scala/lucuma/core/conditions/ConditionsLikelihoodSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/data/EmailAddressSuite.scala
Due: Label core PRs, Label tests PRs

percentile/elevation rework
  build.sbt
  modules/ags/src/main/scala/lucuma/ags/package.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/AgsSelectionApp.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/AgsSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/LimitsSuite.scala
  modules/core/shared/src/main/scala/lucuma/core/conditions/package.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/Site.scala
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/solver/Constraint.scala
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/solver/ConstraintSolver.scala
  modules/core/shared/src/main/scala/lucuma/core/model/CloudExtinction.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ConstraintSet.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ElevationRange.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Extinction.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ImageQuality.scala
  modules/core/shared/src/main/scala/lucuma/core/model/package.scala
  modules/core/shared/src/main/scala/lucuma/core/model/validation/ModelValidators.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/ValidSplitEpi.scala
  modules/core/shared/src/main/scala/lucuma/core/refined/package.scala
  modules/core/shared/src/main/scala/lucuma/core/util/NewType.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/package.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbRefined.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbElevationRange.scala
  modules/testkit/src/main/scala/lucuma/core/util/arb/ArbNewType.scala
  modules/tests/shared/src/test/scala/lucuma/core/conditions/ConditionsLikelihoodSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ConstraintSetSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ElevationRangeSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ImageQualitySuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/validation/ModelValidatorsSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Path conditions:
  Label core PRs: any of: ^modules/core/
  Label testkit PRs: any of: ^modules/testkit/
  Label tests PRs: any of: ^modules/tests/
