Repository gemini-hlsw/lucuma-core: changes, and which Mergify rules are due for each by the changed paths.
All: Label core PRs, Label testkit PRs, Label tests PRs

Label core PRs:
  label:
    add:
    - core
    remove: []

Label testkit PRs:
  label:
    add:
    - testkit
    remove: []

Label tests PRs:
  label:
    add:
    - tests
    remove: []

More tests compiling, but do they pass?
  modules/tests/shared/src/test/scala/lucuma/core/math/UnitsSuite.scala
Due: Label tests PRs

Fix comment
  modules/core/shared/src/main/scala/lucuma/core/math/units.scala
Due: Label core PRs

Use DerivedUnit for custom abbreviations
  modules/core/shared/src/main/scala/lucuma/core/math/units.scala
Due: Label core PRs

Almost port constants
  modules/core/shared/src/main/scala/lucuma/core/math/Constants.scala
Due: Label core PRs

Get a lot more code compiling
  modules/core/shared/src/main/scala/lucuma/core/math/Angle.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Index.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Offset.scala
  modules/core/shared/src/main/scala/lucuma/core/math/parser/Angle.scala
  modules/core/shared/src/main/scala/lucuma/core/math/syntax/Int.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/Format.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/README.md
  modules/core/shared/src/main/scala/lucuma/core/optics/Spire.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/SplitEpi.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/SplitMono.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/Wedge.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/package.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/state/StateLensOps.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/state/StateOptionalOps.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/state/StateSetterOps.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/state/all.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/syntax/Lens.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/syntax/Optional.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/syntax/Prism.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/syntax/Setter.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/syntax/package.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/BoundedInterval.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/Display.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/Enumerated.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/Parser.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/String.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/Time.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/TreeMap.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/TreeSet.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/package.scala
  modules/core/shared/src/main/scala/lucuma/core/util/Display.scala
  modules/core/shared/src/main/scala/lucuma/core/util/Enumerated.scala
  modules/core/shared/src/main/scala/lucuma/parser/Misc.scala
Due: Label core PRs

Silence implicit conversions for now
  build.sbt
Due: none

Port more
  modules/core/shared/src/main/scala/lucuma/core/math/Declination.scala
  modules/core/shared/src/main/scala/lucuma/core/math/RightAscension.scala
  modules/core/shared/src/main/scala/lucuma/core/math/package.scala
Due: Label core PRs

Implement SpeedOfLight constant
  modules/core/shared/src/main/scala/lucuma/core/math/Constants.scala
Due: Label core PRs

Port more stuff
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/math/Coordinates.scala
  modules/core/shared/src/main/scala/lucuma/core/math/CoordinatesDiff.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Place.scala
  modules/core/shared/src/main/scala/lucuma/core/math/parser/Coordinates.scala
Due: Label core PRs

Some compile problems :(
  modules/core/shared/src/main/scala/lucuma/core/math/ApparentRadialVelocity.scala
  modules/core/shared/src/main/scala/lucuma/core/math/RadialVelocity.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Redshift.scala
Due: Label core PRs

Implement refinedMV, port some stuff
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/math/Epoch.scala
  modules/core/shared/src/main/scala/lucuma/core/math/JulianDate.scala
  modules/core/shared/src/main/scala/lucuma/core/math/parser/Epoch.scala
  modules/core/shared/src/main/scala/lucuma/core/math/refined.scala
Due: Label core PRs

Formatting
  modules/core/shared/src/main/scala/lucuma/core/math/refined.scala
Due: Label core PRs

Get everything compiling again
  modules/core/shared/src/main/scala/lucuma/core/math/ApparentRadialVelocity.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Constants.scala
  modules/core/shared/src/main/scala/lucuma/core/math/RadialVelocity.scala
  modules/core/shared/src/main/scala/lucuma/core/math/units.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/UnitsSuite.scala
Due: Label core PRs, Label tests PRs

Port ProperMotion
  modules/core/shared/src/main/scala/lucuma/core/math/ProperMotion.scala
Due: Label core PRs

Finish porting parser
  modules/core/shared/src/main/scala/lucuma/core/math/parser/package.scala
Due: Label core PRs

Bump base version
  build.sbt
Due: none

Port dimensional
  modules/core/shared/src/main/scala-2/lucuma/core/math/dimensional/coulomb.scala
  modules/core/shared/src/main/scala/lucuma/core/math/dimensional/measure.scala
  modules/core/shared/src/main/scala/lucuma/core/math/dimensional/package.scala
  modules/core/shared/src/main/scala/lucuma/core/math/dimensional/unit.scala
  modules/core/shared/src/main/scala/lucuma/core/util/Tag.scala
Due: Label core PRs

WIP wavelength port
  modules/core/shared/src/main/scala/lucuma/core/math/Wavelength.scala
  modules/core/shared/src/main/scala/lucuma/core/math/units.scala
Due: Label core PRs

Some progress?
  modules/core/shared/src/main/scala/lucuma/core/math/Wavelength.scala
  modules/core/shared/src/main/scala/lucuma/core/math/refined.scala
  modules/core/shared/src/main/scala/lucuma/core/math/units.scala
Due: Label core PRs

Fix for proper motion calculation considering the value from catalogs is multiplied by cos(dec)
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosCandidatesArea.scala
  modules/core/shared/src/main/scala/lucuma/core/model/SiderealTracking.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SiderealTrackingSuite.scala
  project/build.properties
Due: Label core PRs, Label tests PRs

Make coordinatesOn return an Option to account for Declination +/-90
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/SiderealTracking.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SiderealTrackingSuite.scala
Due: Label core PRs, Label tests PRs

Add offsetBy operation
  modules/core/shared/src/main/scala/lucuma/core/math/Coordinates.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/CoordinatesSuite.scala
Due: Label core PRs, Label tests PRs

Add Proposal and associated classes/tests
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enum/ProposalClass.scala
  modules/core/shared/src/main/scala/lucuma/core/math/units.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Proposal.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ProposalClass.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbProposal.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbProposalClass.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ProposalClassSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ProposalSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Mv file to correct dir
  modules/core/shared/src/main/scala/lucuma/core/parser/Misc.scala
Due: Label core PRs

Fix stoopid mistake
  modules/core/shared/src/main/scala/lucuma/core/math/units.scala
Due: Label core PRs

Simplify Cogen instance for ProposalClass
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbProposalClass.scala
Due: Label testkit PRs

Port Parallax
  modules/core/shared/src/main/scala/lucuma/core/math/Parallax.scala
  modules/core/shared/src/main/scala/lucuma/core/math/units.scala
Due: Label core PRs

Huh, BrightnessUnits already compiles?
  modules/core/shared/src/main/scala/lucuma/core/math/BrightnessUnits.scala
Due: Label core PRs

More checkpointing
  modules/core/shared/src/main/scala/lucuma/core/enum/ImageQuality.scala
Due: Label core PRs

Fix BigDecimal predicate
  modules/core/shared/src/main/scala/lucuma/core/math/refined.scala
Due: Label core PRs

Add fallback case
  modules/core/shared/src/main/scala/lucuma/core/math/refined.scala
Due: Label core PRs

Port data and geom
  modules/core/shared/src/main/scala/lucuma/core/data/EnumZipper.scala
  modules/core/shared/src/main/scala/lucuma/core/data/Zipper.scala
  modules/core/shared/src/main/scala/lucuma/core/data/ZipperFactory.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/Area.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/BoundingOffsets.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/Shape.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/ShapeExpression.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/ShapeInterpreter.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosCandidatesArea.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosOiwfsProbeArm.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosScienceAreaGeometry.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/package.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/Jts.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/JtsShape.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/JtsShapeInterpreter.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/syntax/Angle.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/syntax/Offset.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/syntax/package.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/syntax/ShapeExpression.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/syntax/package.scala
Due: Label core PRs

Port some stuff
  modules/core/shared/src/main/scala/lucuma/core/instances/BoundedIntervalInstances.scala
  modules/core/shared/src/main/scala/lucuma/core/instances/TreeMapInstances.scala
  modules/core/shared/src/main/scala/lucuma/core/instances/TreeSetInstances.scala
  modules/core/shared/src/main/scala/lucuma/core/instances/package.scala
  modules/core/shared/src/main/scala/lucuma/core/parser/Time.scala
  modules/core/shared/src/main/scala/lucuma/core/util/Gid.scala
  modules/core/shared/src/main/scala/lucuma/core/util/Timestamp.scala
  modules/core/shared/src/main/scala/lucuma/core/util/Uid.scala
Due: Label core PRs

Port skycalc
  modules/core/shared/src/main/scala/lucuma/core/math/Place.scala
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/ImprovedSkyCalc.scala
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/ImprovedSkyCalcMethods.scala
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/SkyCalcResults.scala
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/SunCalc.scala
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/TwilightCalc.scala
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/solver/Constraint.scala
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/solver/ConstraintSolver.scala
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/solver/SampleRounder.scala
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/solver/Samples.scala
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/solver/Solver.scala
  modules/core/shared/src/main/scala/lucuma/core/math/units.scala
Due: Label core PRs

Fix todo
  .vscode/settings.json
  modules/core/shared/src/main/scala/lucuma/core/math/Parallax.scala
Due: Label core PRs

Fix ElevationRange
  modules/core/shared/src/main/scala/lucuma/core/model/ElevationRange.scala
Due: Label core PRs

Fixes
  modules/core/shared/src/main/scala/lucuma/core/model/EphemerisKey.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Role.scala
Due: Label core PRs

Path conditions:
  Label core PRs: any of: ^modules/core/
  Label testkit PRs: any of: ^modules/testkit/
  Label tests PRs: any of: ^modules/tests/
