Repository gemini-hlsw/lucuma-core: changes, and which Mergify rules are due for each by the changed paths.
All: Label ags PRs, Label catalog PRs, Label catalog-testkit PRs, Label catalog-tests PRs, Label core PRs, Label horizons PRs, Label horizons-tests PRs, Label npm PRs, Label testkit PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJS)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label ags PRs
  conditions:
  - files~=^modules/ags/
  actions:
    label:
      add:
      - ags
      remove: []
- name: Label catalog PRs
  conditions:
  - files~=^modules/catalog/
  actions:
    label:
      add:
      - catalog
      remove: []
- name: Label catalog-testkit PRs
  conditions:
  - files~=^modules/catalog-testkit/
  actions:
    label:
      add:
      - catalog-testkit
      remove: []
- name: Label catalog-tests PRs
  conditions:
  - files~=^modules/catalog-tests/
  actions:
    label:
      add:
      - catalog-tests
      remove: []
- name: Label core PRs
  conditions:
  - files~=^modules/core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label horizons PRs
  conditions:
  - files~=^modules/horizons/
  actions:
    label:
      add:
      - horizons
      remove: []
- name: Label horizons-tests PRs
  conditions:
  - files~=^modules/horizons-tests/
  actions:
    label:
      add:
      - horizons-tests
      remove: []
- name: Label npm PRs
  conditions:
  - files~=^modules/npm/
  actions:
    label:
      add:
      - npm
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^modules/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^modules/tests/
  actions:
    label:
      add:
      - tests
      remove: []

cleanup
  build.sbt
  modules/catalog-tests/js/src/main/scala/lucuma/catalog/SimbadQueryApp.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/SimbadData.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/SimbadFullQueryApp.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/SimbadQueryApp.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/SimbadSEDValidationApp.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/SEDMatcherFixture.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/simbad/SEDMatcherSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/simbad/SimbadSEDMatcherSuite.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/simbad/SEDData.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/simbad/SEDMatcher.scala
Due: Label catalog PRs, Label catalog-tests PRs

Fix property tests for modifiers and white dwarf temperature
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherDataSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherFullDataSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/StellarPhysicsProperties.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SEDMatcher.scala
Due: Label catalog PRs, Label catalog-tests PRs

Improve SED matching
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/StellarPhysicsSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarLibraryParameters.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarPhysics.scala
Due: Label catalog PRs, Label catalog-tests PRs

Reuse tempSubclass parser from SpectralTypeParsers
  modules/catalog/src/main/scala/lucuma/catalog/votable/SpectralTypeParsers.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarPhysics.scala
Due: Label catalog PRs

Add ultility to validate all the test cases agains simnad
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/SEDValidationData.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/SimbadSEDValidationApp.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/SEDMatcherFixture.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/simbad/SimbadSEDMatcherSuite.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/simbad/SpectralTypeParsers.scala
Due: Label catalog PRs, Label catalog-tests PRs

Simplify luminosity class normalization logic
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/StellarPhysicsSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SEDMatcher.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SpectralTypeParsers.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarPhysics.scala
Due: Label catalog PRs, Label catalog-tests PRs

More cleanups
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/ParseSimbadFileSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/SEDMatcherFixture.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/simbad/SEDMatcherSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/simbad/SimbadSEDMatcherSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/simbad/StellarPhysicsSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadAdapterSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/simbad/SpectralTypeParsersSuite.scala
  modules/catalog/js/src/main/scala/lucuma/catalog/simbad/SEDDataLoader.scala
  modules/catalog/jvm/src/main/scala/lucuma/catalog/simbad/SEDDataLoader.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/simbad/SEDData.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/simbad/SEDDataParsers.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/simbad/SEDMatcher.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/simbad/SpectralTypeParsers.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/simbad/StellarLibraryParameters.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/simbad/StellarPhysics.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
  modules/core/shared/src/main/scala/lucuma/core/parser/MiscParsers.scala
Due: Label catalog PRs, Label catalog-tests PRs, Label core PRs

Make SED matching best-effort to avoid parse failures
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SimbadSEDMatcher.scala
Due: Label catalog PRs

cleanup
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/SimbadSEDTestApp.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherDataSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherFullDataSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SimbadSEDMatcher.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SpectralTypeParsers.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarLibraryParameters.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarPhysics.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/VoTableParser.scala
Due: Label catalog PRs, Label catalog-tests PRs

Improve parsing of stellar physics
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/StellarPhysicsSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SpectralTypeParsers.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarPhysics.scala
Due: Label catalog PRs, Label catalog-tests PRs

Always set a sed matcher for simbad
  modules/catalog-testkit/jvm/src/main/scala/lucuma/catalog/clients/SimbadClientMock.scala
  modules/catalog-tests/js/src/main/scala/lucuma/catalog/SimbadQueryApp.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/SimbadQueryApp.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/SimbadSEDTestApp.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/TelluricTargetsQueryApp.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/ParseSimbadFileSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/SEDMatcherFixture.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/TargetImportSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/simbad/SEDMatcherSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/simbad/StellarPhysicsSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadAdapterSuite.scala
  modules/catalog-tests/shared/src/main/scala/lucuma/catalog/votable/SimbadQuerySample.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/clients/SimbadClient.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
Due: Label catalog PRs, Label catalog-testkit PRs, Label catalog-tests PRs

Create a new package for the sed matching feature
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/ParseSimbadFileSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/simbad/SEDMatcherSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/simbad/SimbadSEDMatcherSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/simbad/StellarPhysicsSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/simbad/SpectralTypeParsersSuite.scala
  modules/catalog/js/src/main/scala/lucuma/catalog/simbad/SEDDataLoader.scala
  modules/catalog/jvm/src/main/scala/lucuma/catalog/simbad/SEDDataLoader.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/simbad/SEDData.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/simbad/SEDDataParsers.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/simbad/SEDMatcher.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/simbad/SpectralTypeParsers.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/simbad/StellarLibraryParameters.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/simbad/StellarPhysics.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
Due: Label catalog PRs, Label catalog-tests PRs

Refactor stellar matching to functional style with type-safe ScoredMatch
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/StellarPhysicsProperties.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SimbadSEDMatcher.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarPhysics.scala
Due: Label catalog PRs, Label catalog-tests PRs

Add heuristics to read SED from simbad
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/TargetImportSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SimbadSEDMatcher.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/VoTableParser.scala
Due: Label catalog PRs, Label catalog-tests PRs

Update tests
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/ParseSimbadFileSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SEDMatcher.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SpectralTypeParsers.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarLibraryParameters.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarPhysics.scala
Due: Label catalog PRs, Label catalog-tests PRs

scalafmt
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/SimbadSEDTestApp.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherDataSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SimbadSEDMatcher.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SpectralTypeParsers.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarLibraryParameters.scala
Due: Label catalog PRs, Label catalog-tests PRs

Add fallback sed matching when spectal data is present
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/ParseSimbadFileSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SEDMatcher.scala
Due: Label catalog PRs, Label catalog-tests PRs

Fix SO morphology otype matching in SED matcher
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/simbad/SEDMatcherSuite.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/simbad/SEDMatcher.scala
Due: Label catalog PRs, Label catalog-tests PRs

Solve some miss-matches
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/StellarPhysicsSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SEDMatcher.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarPhysics.scala
Due: Label catalog PRs, Label catalog-tests PRs

Cleanup the api
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherDataSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherFullDataSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogProblem.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SimbadSEDMatcher.scala
Due: Label catalog PRs, Label catalog-tests PRs

Use coulomb
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/StellarPhysicsSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SimbadSEDMatcher.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarLibraryParameters.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarPhysics.scala
Due: Label catalog PRs, Label catalog-tests PRs

Revert unknown output results
  modules/catalog-tests/jvm/src/main/resources/expected-output-full.csv
Due: Label catalog-tests PRs

Handle a few more edge cases
  modules/catalog-tests/jvm/src/main/resources/expected-output.jsonl
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherDataSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/StellarPhysicsProperties.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SEDMatcher.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SpectralTypeParsers.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarLibraryParameters.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarPhysics.scala
Due: Label catalog PRs, Label catalog-tests PRs

Last fine adjustments
  modules/catalog/src/main/scala/lucuma/catalog/votable/SEDMatcher.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SpectralTypeParsers.scala
Due: Label catalog PRs

Improve SED matching
  modules/catalog-tests/jvm/src/main/resources/simbad-sed-test-data-full.dat
  modules/catalog-tests/jvm/src/main/resources/simbad-sed-test-data.dat
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/SimbadSEDTestApp.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherDataSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherFullDataSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SimbadSEDMatcher.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarLibraryParameters.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarPhysics.scala
Due: Label catalog PRs, Label catalog-tests PRs

wip
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/ParseSimbadFileSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/SEDMatcherSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/StellarPhysicsSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SEDMatcher.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SpectralTypeParsers.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarLibraryParameters.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarPhysics.scala
Due: Label catalog PRs, Label catalog-tests PRs

Some fine adjustments
  modules/catalog-tests/jvm/src/main/resources/expected-output-full.csv
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/SEDMatcherSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/SpectralTypeParsersSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SEDMatcher.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarPhysics.scala
Due: Label catalog PRs, Label catalog-tests PRs

App to query simbad for all the test targets
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/SimbadSEDValidationApp.scala
Due: Label catalog-tests PRs

Support Simbad OTYPE_S label forms in object type matching
  modules/catalog/shared/src/main/scala/lucuma/catalog/simbad/SEDMatcher.scala
Due: Label catalog PRs

Accept newly-matched objects
  modules/catalog-tests/js/src/main/scala/lucuma/catalog/SimbadQueryApp.scala
  modules/catalog-tests/jvm/src/main/resources/expected-output-full.csv
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/SimbadSEDValidationApp.scala
Due: Label catalog-tests PRs

Binary version
  build.sbt
Due: none

Add loadMatcher method
  modules/catalog/js/src/main/scala/lucuma/catalog/simbad/SEDDataLoader.scala
  modules/catalog/jvm/src/main/scala/lucuma/catalog/simbad/SEDDataLoader.scala
Due: Label catalog PRs

Make SEDDataLoader operate on F
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/SimbadFullQueryApp.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/SimbadQueryApp.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/TelluricTargetsQueryApp.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/SEDMatcherFixture.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/TargetImportSuite.scala
  modules/catalog/jvm/src/main/scala/lucuma/catalog/simbad/SEDDataLoader.scala
Due: Label catalog PRs, Label catalog-tests PRs

Add ig2 geometry
  modules/core/shared/src/main/scala/lucuma/core/geom/igrins2/Igrins2ScienceAreaGeometry.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/igrins2/package.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
Due: Label core PRs, Label tests PRs

all tests pass
  modules/itac-tests/jvm/src/test/scala/edu/gemini/qengine/skycalc/CsvTable.scala.ignore
  modules/itac-tests/jvm/src/test/scala/edu/gemini/qengine/skycalc/ExcelRaBinCalcTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/qengine/skycalc/ExcelRaBinCalcTest.scala.ignore
  modules/itac/jvm/src/main/java-igmore/edu/gemini/tac/qengine/qengine/skycalc/BinSize.java
  modules/itac/jvm/src/main/java-igmore/edu/gemini/tac/qengine/qengine/skycalc/BinSizeException.java
  modules/itac/jvm/src/main/java-igmore/edu/gemini/tac/qengine/qengine/skycalc/DecBinCalc.java
  modules/itac/jvm/src/main/java-igmore/edu/gemini/tac/qengine/qengine/skycalc/DecBinSize.java
  modules/itac/jvm/src/main/java-igmore/edu/gemini/tac/qengine/qengine/skycalc/ElevationConfig.java
  modules/itac/jvm/src/main/java-igmore/edu/gemini/tac/qengine/qengine/skycalc/ElevationDecBinCalc.java
  modules/itac/jvm/src/main/java-igmore/edu/gemini/tac/qengine/qengine/skycalc/ElevationRaBinCalc.java
  modules/itac/jvm/src/main/java-igmore/edu/gemini/tac/qengine/qengine/skycalc/ExcelRaBinCalc.java
  modules/itac/jvm/src/main/java-igmore/edu/gemini/tac/qengine/qengine/skycalc/Hours.java
  modules/itac/jvm/src/main/java-igmore/edu/gemini/tac/qengine/qengine/skycalc/NightInterval.java
  modules/itac/jvm/src/main/java-igmore/edu/gemini/tac/qengine/qengine/skycalc/NightIterator.java
  modules/itac/jvm/src/main/java-igmore/edu/gemini/tac/qengine/qengine/skycalc/Percent.java
  modules/itac/jvm/src/main/java-igmore/edu/gemini/tac/qengine/qengine/skycalc/RaBinCalc.java
  modules/itac/jvm/src/main/java-igmore/edu/gemini/tac/qengine/qengine/skycalc/RaBinSize.java
  modules/itac/jvm/src/main/java-igmore/edu/gemini/tac/qengine/qengine/skycalc/RaDecBinCalc.java
  modules/itac/jvm/src/main/scala/impl/ShutdownCalc.scala
  modules/itac/jvm/src/main/scala/skycalc/DecBinCalc.scala
  modules/itac/jvm/src/main/scala/skycalc/ElevationConfig.scala
  modules/itac/jvm/src/main/scala/skycalc/ElevationDecBinCalc.scala
  modules/itac/jvm/src/main/scala/skycalc/ExcelRaBinCalc.scala
  modules/itac/jvm/src/main/scala/skycalc/RaBinCalc.scala
  modules/itac/jvm/src/main/scala/skycalc/RaDecBinCalc.scala
Due: none

remove itac Angle class
  modules/itac-tests/jvm/src/test/scala/edu/gemini/qengine/skycalc/RaBinSizeTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/tac/qengine/api/config/DecBinGroupTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/tac/qengine/api/config/DecRangeTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/tac/qengine/api/config/RaBinGroupTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceGroupTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceTest.scala
  modules/itac/jvm/src/main/scala/api/config/DecBinGroup.scala
  modules/itac/jvm/src/main/scala/api/config/DecRange.scala
  modules/itac/jvm/src/main/scala/api/config/RaBinGroup.scala
  modules/itac/jvm/src/main/scala/impl/resource/DecResourceGroup.scala
  modules/itac/jvm/src/main/scala/log/TimeBinMessageFormatter.scala
  modules/itac/jvm/src/main/scala/p1/Target.scala
  modules/itac/jvm/src/main/scala/skycalc/NightIterator.scala
  modules/itac/jvm/src/main/scala/util/Angle.scala
Due: none

gh
  .mergify.yml
Due: none

noformat
  .scalafmt.conf
Due: none

scalafix
  modules/itac-tests/jvm/src/test/scala/edu/gemini/tac/qengine/api/config/DecBinGroupTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/tac/qengine/api/config/RaBinGroupTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceGroupTest.scala
  modules/itac-tests/jvm/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceTest.scala
  modules/itac/jvm/src/main/scala/api/config/RaBinGroup.scala
  modules/itac/jvm/src/main/scala/p1/Target.scala
  modules/itac/jvm/src/main/scala/skycalc/DecBinCalc.scala
  modules/itac/jvm/src/main/scala/skycalc/DecBinSize.scala
  modules/itac/jvm/src/main/scala/skycalc/ElevationDecBinCalc.scala
  modules/itac/jvm/src/main/scala/skycalc/ExcelRaBinCalc.scala
  modules/itac/jvm/src/main/scala/skycalc/NightIterator.scala
  modules/itac/jvm/src/main/scala/skycalc/RaBinSize.scala
  modules/itac/jvm/src/main/scala/skycalc/RaDecBinCalc.scala
Due: none
