Repository gemini-hlsw/lucuma-core: changes, and which Mergify rules are due for each by the changed paths.
All: Label core PRs, Label testkit PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=scala-steward
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 2.13.8, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 2.13.8, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label core PRs
  conditions:
  - files~=^modules/core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^modules/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^modules/tests/
  actions:
    label:
      add:
      - tests
      remove: []

Require custom mask filename (#1104)
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/f2/F2FpuMask.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/f2/arb/ArbF2FpuMask.scala
Due: Label core PRs, Label testkit PRs

Remove custom slit width from static config
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/f2/F2StaticConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/f2/arb/ArbF2StaticConfig.scala
Due: Label core PRs, Label testkit PRs

switch to MosPreImaging enum
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/f2/F2StaticConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/f2/arb/ArbF2StaticConfig.scala
Due: Label core PRs, Label testkit PRs

Sample for Gmos imaging geometry
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
Due: Label tests PRs

Shortcut 4365: Remove custom slit width from static config (#1106)
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/f2/F2StaticConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/f2/arb/ArbF2StaticConfig.scala
Due: Label core PRs, Label testkit PRs

Fix filter name typo
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthFilter.scala
Due: Label core PRs

F2 dynamic config updates
  modules/core/shared/src/main/scala/lucuma/core/enums/Flamingos2Filter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/Flamingos2ReadMode.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/flamingos2/Flamingos2DynamicConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/flamingos2/Flamingos2FpuMask.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/f2/arb/ArbFlamingos2DynamicConfig.scala
Due: Label core PRs, Label testkit PRs

version
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/flamingos2/Flamingos2DynamicConfig.scala
Due: Label core PRs

Update central wavelength to match Explore
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/flamingos2/Flamingos2DynamicConfig.scala
Due: Label core PRs

Shortcut 4365: `Flamingos2DynamicConfig` updates (#1110)
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/Flamingos2Filter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/Flamingos2ReadMode.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/flamingos2/Flamingos2DynamicConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/flamingos2/Flamingos2FpuMask.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/f2/arb/ArbFlamingos2DynamicConfig.scala
Due: Label core PRs, Label testkit PRs

fix small typo
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/flamingos2/Flamingos2StaticConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/f2/arb/ArbFlamingos2StaticConfig.scala
Due: Label core PRs, Label testkit PRs

mark simbad-dependent test as flaky
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/TargetImportSuite.scala
Due: none

bump base version
  build.sbt
Due: none

Upgrade to scala 3.7.0
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Angle.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Extinction.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/validation.scala
  modules/core/shared/src/main/scala/lucuma/core/util/NewType.scala
  modules/testkit/src/main/scala/lucuma/core/optics/laws/discipline/ValidWedgeTests.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/BoundedIntervalSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/IntervalGens.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/skycalc/solver/SolverSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/gmos/GmosGratingConfigSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/TimeSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Bump base version to 0.131
  build.sbt
Due: none

Bump base version to 0.131
  build.sbt
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Extinction.scala
Due: Label core PRs

test
  modules/benchmarks/src/main/scala/lucuma/core/ProperMotionBenchmark.scala
Due: none

oops
  modules/core/shared/src/main/scala/lucuma/core/math/Angular.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Arc.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Region.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbArc.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbRegion.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/ArcSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/RegionSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

tests
  modules/core/shared/src/main/scala/lucuma/core/math/Arc.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Region.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbArc.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/ArcSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/RegionSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

scalafix
  modules/tests/shared/src/test/scala/lucuma/core/math/ArcSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/RegionSuite.scala
Due: Label tests PRs

cleanup
  modules/core/shared/src/main/scala/lucuma/core/math/Arc.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Region.scala
Due: Label core PRs

scalafix
  modules/core/shared/src/main/scala/lucuma/core/math/Arc.scala
Due: Label core PRs

ignore test
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/TargetImportSuite.scala
Due: none

fix test
  modules/tests/shared/src/test/scala/lucuma/core/math/ArcSuite.scala
Due: Label tests PRs

remove seed
  modules/tests/shared/src/test/scala/lucuma/core/math/ArcSuite.scala
Due: Label tests PRs

FT support role
  modules/core/shared/src/main/scala/lucuma/core/enums/FTSupportRole.scala
Due: Label core PRs

Target.Opportunity
  modules/core/shared/src/main/scala/lucuma/core/math/Arc.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Region.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Target.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbTarget.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/RegionSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/TargetSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

bump version
  build.sbt
Due: none

address comments
  modules/core/shared/src/main/scala/lucuma/core/math/Arc.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Region.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/RegionSuite.scala
Due: Label core PRs, Label tests PRs

Bump base version to 0.131
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Extinction.scala
Due: Label core PRs

Scala 3.7.1
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/util/NewType.scala
  project/plugins.sbt
Due: Label core PRs

Post rebase fixes
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbArc.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/ArcSuite.scala
Due: Label testkit PRs, Label tests PRs

Final touches
  modules/core/shared/src/main/scala/lucuma/core/model/Extinction.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/skycalc/solver/SolverSuite.scala
Due: Label core PRs, Label tests PRs

Add extension methos to binning opaque types
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosBinning.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/package.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/GmosCcdMode.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/binning.scala
Due: Label core PRs
