Repository gemini-hlsw/lucuma-core: changes, and which Mergify rules are due for each by the changed paths.
All: Label core PRs, Label testkit PRs, Label tests PRs

Label core PRs:
  label:
    add:
    - core
    remove: []

Label testkit PRs:
  label:
    add:
    - testkit
    remove: []

Label tests PRs:
  label:
    add:
    - tests
    remove: []

Another fix
  modules/core/shared/src/main/scala/lucuma/core/geom/ShapeExpression.scala
Due: Label core PRs

Core on Scala 3, for real
  modules/core/jvm/src/main/scala/lucuma/core/geom/jts/jvm/syntax/Awt.scala
  modules/core/jvm/src/main/scala/lucuma/core/geom/jts/jvm/syntax/package.scala
Due: Label core PRs

WIP tests
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbQuantity.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/AngleSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/ApparentRadialVelocitySuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/BrightnessUnitsSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/CoordinatesDiffSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/CoordinatesSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/DeclinationSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/EpochSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/HourAngleSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/IndexSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/IntervalGens.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/IntervalSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/JulianDateSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/OffsetPSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/OffsetQSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/OffsetSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/ParallaxSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/PlaceSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/ProperMotionSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/RadialVelocitySuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/RedshiftSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/RightAscensionSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/WavelengthSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/dimensional/MeasureSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/dimensional/UnitSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/parser/MiscParsersSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/skycalc/ImprovedSkyCalcSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/skycalc/TwilightCalcSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/skycalc/solver/ConstraintSolverSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/skycalc/solver/SampleRounderSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/skycalc/solver/SamplesSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/skycalc/solver/SolverSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/skycalc/solver/TargetSamplesSuite.scala
Due: Label testkit PRs, Label tests PRs

Fixing
  modules/core/shared/src/main/scala/lucuma/core/math/Angle.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbRefined.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/ApparentRadialVelocitySuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/EpochSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/IntervalGens.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/IntervalSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/PlaceSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/tests/ScalaCheckFlaky.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

math tests compiling
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbQuantity.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbRefined.scala
Due: Label testkit PRs

Revert change to Cogen[ProposalClass], review comments
  modules/core/shared/src/main/scala/lucuma/core/model/ProposalClass.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbProposalClass.scala
Due: Label core PRs, Label testkit PRs

Bump cats
  build.sbt
Due: none

Fork tests on JVM
  build.sbt
Due: none

Bring back some forgotten tests
  modules/tests/jvm/src/test/java/edu/gemini/skycalc/TwilightBoundedNightTest.java
  modules/tests/jvm/src/test/scala/edu/gemini/skycalc/ImprovedSkyCalcTest.scala
  modules/tests/jvm/src/test/scala/lucuma/core/math/skycalc/ImprovedSkyCalcSuiteJVM.scala
  modules/tests/jvm/src/test/scala/lucuma/core/math/skycalc/TwilightCalcSuiteJVM.scala
  modules/tests/jvm/src/test/scala/lucuma/core/math/skycalc/TwilightTypeJVM.scala
Due: Label tests PRs

Update circe-core, circe-refined, ... to 0.14.2
  build.sbt
Due: none

Redo "Simplify Cogen instance for ProposalClass"
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbProposalClass.scala
Due: Label testkit PRs

gmos grating coverage and resolution
  modules/core/shared/src/main/scala/lucuma/core/enum/GmosNorthFpu.scala
  modules/core/shared/src/main/scala/lucuma/core/enum/GmosNorthGrating.scala
  modules/core/shared/src/main/scala/lucuma/core/enum/GmosSouthFpu.scala
  modules/core/shared/src/main/scala/lucuma/core/enum/GmosSouthGrating.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosScienceAreaGeometry.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Coverage.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbCoverage.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/CoverageSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

read noise calc
  modules/core/shared/src/main/scala/lucuma/core/enum/GmosSouthGrating.scala
  modules/core/shared/src/main/scala/lucuma/core/math/units.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/GmosCcdMode.scala
Due: Label core PRs

Fix B480 values
  modules/core/shared/src/main/scala/lucuma/core/enum/GmosNorthGrating.scala
  modules/core/shared/src/main/scala/lucuma/core/enum/GmosSouthGrating.scala
Due: Label core PRs

read noise is site dependent
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/GmosCcdMode.scala
Due: Label core PRs

advanced config calculations (#525)
  modules/core/shared/src/main/scala/lucuma/core/enum/GmosNorthFpu.scala
  modules/core/shared/src/main/scala/lucuma/core/enum/GmosNorthGrating.scala
  modules/core/shared/src/main/scala/lucuma/core/enum/GmosSouthFpu.scala
  modules/core/shared/src/main/scala/lucuma/core/enum/GmosSouthGrating.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosScienceAreaGeometry.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Coverage.scala
  modules/core/shared/src/main/scala/lucuma/core/math/units.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/GmosCcdMode.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbCoverage.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/CoverageSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Bump coulomb snapshot
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enum/GmosNorthGrating.scala
  modules/core/shared/src/main/scala/lucuma/core/enum/GmosSouthGrating.scala
  modules/core/shared/src/main/scala/lucuma/core/enum/ImageQuality.scala
  modules/core/shared/src/main/scala/lucuma/core/enum/Site.scala
  modules/core/shared/src/main/scala/lucuma/core/math/ApparentRadialVelocity.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Constants.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Coverage.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Parallax.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Place.scala
  modules/core/shared/src/main/scala/lucuma/core/math/ProperMotion.scala
  modules/core/shared/src/main/scala/lucuma/core/math/RadialVelocity.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Redshift.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Wavelength.scala
  modules/core/shared/src/main/scala/lucuma/core/math/dimensional/measure.scala
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/TwilightCalc.scala
  modules/core/shared/src/main/scala/lucuma/core/math/units.scala
  modules/core/shared/src/main/scala/lucuma/core/model/EmissionLine.scala
  modules/core/shared/src/main/scala/lucuma/core/model/UnnormalizedSED.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/GmosCcdMode.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/package.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbApparentRadialVelocity.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbParallax.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbPlace.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbQuantity.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbRadialVelocity.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbEmissionLine.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbUnnormalizedSED.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/ApparentRadialVelocitySuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/PlaceSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/RedshiftSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/UnitsSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/WavelengthSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/EmissionLineSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SourceProfileSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SpectralDefinitionSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/UnnormalizedSEDSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/optics/OpticsSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Add PosAngle model and a few small changes
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enum/CloudExtinction.scala
  modules/core/shared/src/main/scala/lucuma/core/enum/GuideProbe.scala
  modules/core/shared/src/main/scala/lucuma/core/model/PosAngle.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbPosAngle.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/PosAngleSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

PR suggestions
  modules/core/shared/src/main/scala/lucuma/core/enum/GuideProbe.scala
  modules/core/shared/src/main/scala/lucuma/core/model/PosAngle.scala
Due: Label core PRs

DIY tagger
  modules/core/shared/src/main/scala/lucuma/core/math/dimensional/measure.scala
  modules/core/shared/src/main/scala/lucuma/core/math/dimensional/package.scala
  modules/core/shared/src/main/scala/lucuma/core/math/dimensional/unit.scala
  modules/tests/shared/src/test/scala/lucuma/core/enum/BandSuite.scala
Due: Label core PRs, Label tests PRs

Revert "Fork tests on JVM"
  build.sbt
Due: none

Bump coulomb
  build.sbt
Due: none

Fix RedshiftSuite
  modules/tests/shared/src/test/scala/lucuma/core/math/RedshiftSuite.scala
Due: Label tests PRs

Fix Wavelength
  modules/core/shared/src/main/scala/lucuma/core/math/Wavelength.scala
  modules/core/shared/src/main/scala/lucuma/core/math/units.scala
Due: Label core PRs

Add RefinedTypeOps for IntPercent
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/math/units.scala
Due: Label core PRs

Fix BrightnessUnitsSuite
  modules/core/shared/src/main/scala/lucuma/core/math/dimensional/package.scala
Due: Label core PRs

Bump base version again
  build.sbt
Due: none

Bump to coulomb 0.6.0-M1
  build.sbt
Due: none

Move NonNegDuration from tmp-api and update ProposalClasses
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/math/units.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Proposal.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ProposalClass.scala
  modules/core/shared/src/main/scala/lucuma/core/model/package.scala
  modules/core/shared/src/main/scala/lucuma/core/model/syntax/NonNegDurationOps.scala
  modules/core/shared/src/main/scala/lucuma/core/model/syntax/package.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbNonNegDuration.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbProposal.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbProposalClass.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ProposalClassSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Add PosAngle constructors with wider type
  modules/core/shared/src/main/scala/lucuma/core/model/PosAngle.scala
Due: Label core PRs

Add PosAngle constructors with wider type (#529)
  modules/core/shared/src/main/scala/lucuma/core/model/PosAngle.scala
Due: Label core PRs

Bump base version
  build.sbt
Due: none

optional
  modules/core/shared/src/main/scala/lucuma/core/model/PosAngle.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/PosAngleSuite.scala
Due: Label core PRs, Label tests PRs

PosAngle => PosAngleConstraint
  modules/core/shared/src/main/scala/lucuma/core/model/PosAngleConstraint.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbPosAngle.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/PosAngleSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

renaming optics
  modules/core/shared/src/main/scala/lucuma/core/model/PosAngleConstraint.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/PosAngleConstraintSuite.scala
Due: Label core PRs, Label tests PRs

bin compat
  build.sbt
Due: none

rename arbitraries
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbPosAngleConstraint.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/PosAngleConstraintSuite.scala
Due: Label testkit PRs, Label tests PRs

grouping optics
  modules/core/shared/src/main/scala/lucuma/core/model/PosAngleConstraint.scala
Due: Label core PRs

Path conditions:
  Label core PRs: any of: ^modules/core/
  Label testkit PRs: any of: ^modules/testkit/
  Label tests PRs: any of: ^modules/tests/
