Repository gemini-hlsw/lucuma-core: changes, and which Mergify rules are due for each by the changed paths.
All: Label core PRs, Label testkit PRs, Label tests PRs

Label core PRs:
  label:
    add:
    - core
    remove: []

Label testkit PRs:
  label:
    add:
    - testkit
    remove: []

Label tests PRs:
  label:
    add:
    - tests
    remove: []

Guiding state enum
  modules/core/shared/src/main/scala/lucuma/core/enums/GuideState.scala
Due: Label core PRs

guiding state
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/StepConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbStepConfig.scala
Due: Label core PRs, Label testkit PRs

GuideState (#740)
  modules/core/shared/src/main/scala/lucuma/core/enums/GuideState.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/StepConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbStepConfig.scala
Due: Label core PRs, Label testkit PRs

SmartGcalType tag update
  modules/core/shared/src/main/scala/lucuma/core/enums/SmartGcalType.scala
Due: Label core PRs

simplify
  modules/core/shared/src/main/scala/lucuma/core/enums/SmartGcalType.scala
Due: Label core PRs

Smart type tag (#741)
  modules/core/shared/src/main/scala/lucuma/core/enums/SmartGcalType.scala
Due: Label core PRs

GmosFpuMask convenience
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/GmosFpuMask.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/gmos/GmosFpuMaskSuite.scala
Due: Label core PRs, Label tests PRs

GmosFpuMask convenience (#742)
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/GmosFpuMask.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/gmos/GmosFpuMaskSuite.scala
Due: Label core PRs, Label tests PRs

Remove some dependencies
  build.sbt
Due: none

dataset
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/Dataset.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbDataset.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/DatasetSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

dataset (#753)
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/Dataset.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbDataset.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/DatasetSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

add extinction
  modules/core/shared/src/main/scala/lucuma/core/model/Extinction.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ExtinctionSuite.scala
Due: Label core PRs, Label tests PRs

bigdecimal
  modules/core/shared/src/main/scala/lucuma/core/model/Extinction.scala
Due: Label core PRs

More use of opaque types
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/geom/Area.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosCandidatesArea.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosScienceAreaGeometry.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/JtsShape.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/JtsShapeInterpreter.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/syntax/Angle.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/syntax/Offset.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/syntax/package.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/syntax/ShapeExpression.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/syntax/package.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Angle.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Offset.scala
Due: Label core PRs

Replace use of scala.math
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosOiwfsProbeArm.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/syntax/package.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Angle.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Coordinates.scala
  modules/core/shared/src/main/scala/lucuma/core/math/RadialVelocity.scala
  modules/core/shared/src/main/scala/lucuma/core/model/SiderealTracking.scala
Due: Label core PRs

Bump to 3.3.1 RC
  build.sbt
Due: none

ExecutionDigest
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ExecutionConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ExecutionDigest.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/InstrumentExecutionConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/SequenceDigest.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbExecutionDigest.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/ExecutionDigestSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

ExecutionDigest (#767)
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ExecutionConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ExecutionDigest.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/InstrumentExecutionConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/SequenceDigest.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbExecutionDigest.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/ExecutionDigestSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

add atom count to sequence digest
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ExecutionSequence.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/SequenceDigest.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbExecutionSequence.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbSequenceDigest.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/SequenceDigestSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Remove digest artifacts from sequence and config
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ExecutionConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ExecutionSequence.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/InstrumentExecutionConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbExecutionConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbExecutionSequence.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/ExecutionConfigSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Remove digest artifacts from sequence (#769)
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ExecutionConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ExecutionSequence.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/InstrumentExecutionConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/SequenceDigest.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbExecutionConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbExecutionSequence.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbSequenceDigest.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/ExecutionConfigSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/SequenceDigestSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Remove seqexec only enums
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/DhsKeywordName.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GiapiStatus.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GiapiStatusApply.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GiapiType.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/KeywordName.scala
  modules/tests/shared/src/test/scala/lucuma/core/enums/EnumeratedSuite.scala
Due: Label core PRs, Label tests PRs

PlannedTimeRange
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/PlannedTime.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/PlannedTimeRange.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbPlannedTimeRange.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/PlannedTimeRangeSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/PlannedTimeSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

PlannedTimeRange (#775)
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/PlannedTime.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/PlannedTimeRange.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbPlannedTimeRange.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/PlannedTimeRangeSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/PlannedTimeSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

StepEstimate scala doc
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/StepEstimate.scala
Due: Label core PRs

StepEstimate scala doc (#776)
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/StepEstimate.scala
Due: Label core PRs

Add an `ObjectTracking` for tracking asterisms of more than one target
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/ObjectTracking.scala
  modules/core/shared/src/main/scala/lucuma/core/model/syntax/TrackingOps.scala
  modules/core/shared/src/main/scala/lucuma/core/model/syntax/package.scala
Due: Label core PRs

Fix issue 780
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/Dataset.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/DatasetSuite.scala
Due: Label core PRs, Label tests PRs

Fix issue 780 (#781)
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/Dataset.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/DatasetSuite.scala
Due: Label core PRs, Label tests PRs

Method to calculate parallctic anglee for a given object
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/package.scala
Due: Label core PRs

Move config methods from odb
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/longslit/package.scala
Due: Label core PRs

Add method isIFU
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthFpu.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthFpu.scala
Due: Label core PRs

Increase base version
  build.sbt
Due: none

Add method to calculate central wavelength for a dynamic config
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/DynamicConfig.scala
Due: Label core PRs

Method to estimate what target is brightest in a collection
  modules/core/shared/src/main/scala/lucuma/core/model/SourceProfile.scala
  modules/core/shared/src/main/scala/lucuma/core/model/SpectralDefinition.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SourceProfileSuite.scala
Due: Label core PRs, Label tests PRs

Add ZipperCodec
  modules/core/shared/src/main/scala/lucuma/core/data/Zipper.scala
  modules/tests/shared/src/test/scala/lucuma/core/data/ZipperSuite.scala
Due: Label core PRs, Label tests PRs

Don't make them default codecs
  modules/core/shared/src/main/scala/lucuma/core/data/Zipper.scala
  modules/tests/shared/src/test/scala/lucuma/core/data/ZipperSuite.scala
Due: Label core PRs, Label tests PRs

Fix linting
  modules/tests/shared/src/test/scala/lucuma/core/data/ZipperSuite.scala
Due: Label tests PRs

GMOS binning calculation
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/binning.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/longslit/package.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/gmos/BinningSuite.scala
Due: Label core PRs, Label tests PRs

Path conditions:
  Label core PRs: any of: ^modules/core/
  Label testkit PRs: any of: ^modules/testkit/
  Label tests PRs: any of: ^modules/tests/
