Repository gemini-hlsw/lucuma-core: changes, and which Mergify rules are due for each by the changed paths.
All: Label core PRs, Label testkit PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=scala-steward
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 2.13.8, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 2.13.8, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label core PRs
  conditions:
  - files~=^modules/core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^modules/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^modules/tests/
  actions:
    label:
      add:
      - tests
      remove: []

Document bounding box
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/geom/BoundingOffsets.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/GmosOiwfsProbeArm.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/Shape.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/JtsShape.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
Due: Label core PRs, Label tests PRs

Update sbt-lucuma-lib to 0.7.0
  project/plugins.sbt
Due: none

Rework of bounding offsets to allow operating on ShapeExpression too
  modules/core/shared/src/main/scala/lucuma/core/geom/BoundingOffsets.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/ShapeExpression.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/Jts.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/JtsShape.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/JtsShapeInterpreter.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/syntax/ShapeExpression.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
  modules/tests/shared/src/test/scala/lucuma/core/geom/ShapeExpressionSuite.scala
Due: Label core PRs, Label tests PRs

Fix typo on comment
  modules/core/shared/src/main/scala/lucuma/core/geom/BoundingOffsets.scala
Due: Label core PRs

Add geometry for the ags field in gmos and group all the gmos geometries
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosOiwfsProbeArm.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosPatrolArea.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosScienceAreaGeometry.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/package.scala
  modules/tests/js/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
Due: Label core PRs, Label tests PRs

Adopted PR suggestions
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosCandidatesArea.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosOiwfsProbeArm.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/package.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
Due: Label core PRs, Label tests PRs

Define bands with a start/center/end wavelengths
  modules/core/shared/src/main/scala/lucuma/core/enum/Band.scala
Due: Label core PRs

Remove svg geom module
  build.sbt
  modules/core/js/src/main/scala/lucuma/core/geom/svg/package.scala
  modules/tests/js/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
Due: Label core PRs, Label tests PRs

Giapi enum for GHOST
  modules/core/shared/src/main/scala/lucuma/core/enum/GiapiStatusApply.scala
  modules/core/shared/src/main/scala/lucuma/core/model/User.scala
Due: Label core PRs

Renumber the blind offsets targets as per the ICD
  modules/core/shared/src/main/scala/lucuma/core/enum/GiapiStatusApply.scala
Due: Label core PRs

Rename binning params
  modules/core/shared/src/main/scala/lucuma/core/enum/GiapiStatusApply.scala
Due: Label core PRs

Update base version
  build.sbt
Due: none

Rename GMOS disperser to grating
  modules/core/shared/src/main/scala/lucuma/core/enum/GmosDisperserOrder.scala
  modules/core/shared/src/main/scala/lucuma/core/enum/GmosGratingOrder.scala
  modules/core/shared/src/main/scala/lucuma/core/enum/GmosNorthDisperser.scala
  modules/core/shared/src/main/scala/lucuma/core/enum/GmosNorthGrating.scala
  modules/core/shared/src/main/scala/lucuma/core/enum/GmosSouthDisperser.scala
  modules/core/shared/src/main/scala/lucuma/core/enum/GmosSouthGrating.scala
  modules/tests/shared/src/test/scala/lucuma/core/enum/GmosNorthDisperserSuite.scala
Due: Label core PRs, Label tests PRs

Rename GmosNorthDisperserSuite
  modules/tests/shared/src/test/scala/lucuma/core/enum/GmosNorthGratingSuite.scala
Due: Label tests PRs

Rename GMOS Disperser => Grating (#509)
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enum/GmosDisperserOrder.scala
  modules/core/shared/src/main/scala/lucuma/core/enum/GmosGratingOrder.scala
  modules/core/shared/src/main/scala/lucuma/core/enum/GmosNorthDisperser.scala
  modules/core/shared/src/main/scala/lucuma/core/enum/GmosNorthGrating.scala
  modules/core/shared/src/main/scala/lucuma/core/enum/GmosSouthDisperser.scala
  modules/core/shared/src/main/scala/lucuma/core/enum/GmosSouthGrating.scala
  modules/tests/shared/src/test/scala/lucuma/core/enum/GmosNorthGratingSuite.scala
Due: Label core PRs, Label tests PRs

Decrease tl build number
  build.sbt
Due: none

Decrease tl build number (#510)
  build.sbt
Due: none

Add GuideSpeed enum
  modules/core/shared/src/main/scala/lucuma/core/enum/GuideSpeed.scala
Due: Label core PRs

Move Proposal enums from Explore.
  modules/core/shared/src/main/scala/lucuma/core/enum/ProposalClass.scala
  modules/core/shared/src/main/scala/lucuma/core/enum/TacCategory.scala
  modules/core/shared/src/main/scala/lucuma/core/enum/ToOActivation.scala
Due: Label core PRs

Bump base version.
  build.sbt
Due: none

(Atom|Step).Id tests.
  modules/tests/shared/src/test/scala/lucuma/core/model/IdsSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/AtomSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/StepSuite.scala
Due: Label tests PRs

InstrumentConfig -> DynamicConfig.
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/DynamicConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/Step.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbDynamicConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbStep.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/AtomSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/DynamicConfigSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/InstrumentConfigSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/StepSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Remove Sequence and unnecessary stepTime
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/Atom.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ManualConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/Sequence.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbAtom.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbManualConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbSequence.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/AtomSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/ManualConfigSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/SequenceSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

GmosGrating -> GmosGratingConfig
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/DynamicConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/GmosGratingConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbDynamicConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbGmosGratingConfig.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/DynamicConfigSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/GmosGratingConfigSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/GmosGratingSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

add DatasetQaState
  modules/core/shared/src/main/scala/lucuma/core/enum/DatasetQaState.scala
Due: Label core PRs

add DatasetQaState (#517)
  modules/core/shared/src/main/scala/lucuma/core/enum/DatasetQaState.scala
Due: Label core PRs

Add additional syntax for java.time.Duration
  modules/core/shared/src/main/scala/lucuma/core/syntax/Time.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/package.scala
Due: Label core PRs

Update refined, refined-cats, ... to 0.9.29
  build.sbt
Due: none

Update build for Scala 3
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
Due: none

Define Pixels unit
  modules/core/shared/src/main/scala-2/lucuma/core/math/units.scala
  modules/core/shared/src/main/scala/lucuma/core/math/units.scala
Due: Label core PRs

Start defining units with new coulomb
  modules/core/shared/src/main/scala/lucuma/core/math/units.scala
Due: Label core PRs

Port more units
  modules/core/shared/src/main/scala/lucuma/core/math/units.scala
  modules/core/shared/src/main/scala/lucuma/core/util/TypeString.scala
Due: Label core PRs

Trying to get a test to pass ...
  build.sbt
  modules/tests/shared/src/test/scala-2/lucuma/core/math/UnitsSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/UnitsSuite.scala
Due: Label tests PRs

not final?
  modules/core/shared/src/main/scala/lucuma/core/math/units.scala
Due: Label core PRs

Scala 3 is all about given and taken
  modules/tests/shared/src/test/scala/lucuma/core/math/UnitsSuite.scala
Due: Label tests PRs

Fix imports
  modules/tests/shared/src/test/scala/lucuma/core/math/UnitsSuite.scala
Due: Label tests PRs

Bump coulomb snapshot
  build.sbt
Due: none
