Repository gemini-hlsw/lucuma-core: changes, and which Mergify rules are due for each by the changed paths.
All: Label ags PRs, Label benchmarks PRs, Label catalog PRs, Label catalog-testkit PRs, Label catalog-tests PRs, Label core PRs, Label horizons PRs, Label npm PRs, Label testkit PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJS)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label ags PRs
  conditions:
  - files~=^modules/ags/
  actions:
    label:
      add:
      - ags
      remove: []
- name: Label benchmarks PRs
  conditions:
  - files~=^modules/benchmarks/
  actions:
    label:
      add:
      - benchmarks
      remove: []
- name: Label catalog PRs
  conditions:
  - files~=^modules/catalog/
  actions:
    label:
      add:
      - catalog
      remove: []
- name: Label catalog-testkit PRs
  conditions:
  - files~=^modules/catalog-testkit/
  actions:
    label:
      add:
      - catalog-testkit
      remove: []
- name: Label catalog-tests PRs
  conditions:
  - files~=^modules/catalog-tests/
  actions:
    label:
      add:
      - catalog-tests
      remove: []
- name: Label core PRs
  conditions:
  - files~=^modules/core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label horizons PRs
  conditions:
  - files~=^modules/horizons/
  actions:
    label:
      add:
      - horizons
      remove: []
- name: Label npm PRs
  conditions:
  - files~=^modules/npm/
  actions:
    label:
      add:
      - npm
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^modules/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^modules/tests/
  actions:
    label:
      add:
      - tests
      remove: []

bump version
  build.sbt
Due: none

EphemerisTracking should extend Tracking
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/EphemerisTracking.scala
Due: Label core PRs

exclude horizons from scalafmt
  .scalafmt.conf
Due: none

restore ObjectTracking
  modules/core/shared/src/main/scala/lucuma/core/model/ObjectTracking.scala
  modules/core/shared/src/main/scala/lucuma/core/model/syntax/TrackingOps.scala
  modules/core/shared/src/main/scala/lucuma/core/model/syntax/package.scala
Due: Label core PRs

unified Tracking hierarchy, serializable
  build.sbt
  modules/ags/src/main/scala/lucuma/ags/Ags.scala
  modules/ags/src/main/scala/lucuma/ags/GuideStarCandidate.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/AgsSelectionApp.scala
  modules/catalog/src/main/scala/lucuma/catalog/BlindOffsets.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogQuery.scala
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/package.scala
  modules/core/shared/src/main/scala/lucuma/core/model/CompositeTracking.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ConstantTracking.scala
  modules/core/shared/src/main/scala/lucuma/core/model/EphemerisTracking.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ObjectTracking.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Tracking.scala
  modules/core/shared/src/main/scala/lucuma/core/model/package.scala
  modules/core/shared/src/main/scala/lucuma/core/model/syntax/TrackingOps.scala
  modules/core/shared/src/main/scala/lucuma/core/model/syntax/package.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/ProperMotionSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SiderealTrackingSuite.scala
Due: Label ags PRs, Label catalog PRs, Label catalog-tests PRs, Label core PRs, Label tests PRs

add tracking convenience constructors
  modules/core/shared/src/main/scala/lucuma/core/model/Tracking.scala
Due: Label core PRs

add arbitraries for tracking
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbTracking.scala
Due: Label testkit PRs

scalafix
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbTracking.scala
Due: Label testkit PRs

bump base version
  build.sbt
Due: none

implement Display
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosLongSlitAcquisitionRoi.scala
Due: Label core PRs

Shortcut 6757: GMOS Long Slit acquisition ROI options
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosLongSlitAcquisitionRoi.scala
Due: Label core PRs

Shortcut 6757: GMOS long slit acquisition ROI options (#1214)
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosLongSlitAcquisitionRoi.scala
Due: Label core PRs

Reproduce what AGS does on a sample observation that produces the incorrect guide star
  modules/catalog-testkit/jvm/src/main/scala/lucuma/catalog/clients/GaiaClientMock.scala
  modules/catalog-tests/jvm/src/main/resources/GP221000-483213-dr3.xml
  modules/catalog-tests/jvm/src/test/scala/lucuma/ags/7060.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/clients/GaiaClientSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/GuideStarNameSuite.scala
Due: Label catalog-testkit PRs, Label catalog-tests PRs

Update binary version
  build.sbt
Due: none

make EphemerisTracking concrete
  modules/core/shared/src/main/scala/lucuma/core/model/Tracking.scala
Due: Label core PRs

Add blind offset to ags
  modules/ags/src/main/scala/lucuma/ags/Ags.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/AgsSelectionApp.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/AgsSelectionStreamApp.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/ags/7060.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/AgsSuite.scala
Due: Label ags PRs, Label catalog-tests PRs

Update ags api to takes angles and offsets and calculate positions internally
  modules/ags/src/main/scala/lucuma/ags/Ags.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/AgsSelectionApp.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/AgsSelectionStreamApp.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/ags/7060.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/AgsSuite.scala
Due: Label ags PRs, Label catalog-tests PRs

cleanups
  modules/ags/src/main/scala/lucuma/ags/Ags.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/AgsSelectionApp.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/AgsSelectionStreamApp.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/ags/7060.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/AgsSuite.scala
Due: Label ags PRs, Label catalog-tests PRs

Refactor GuideSpeed
  modules/ags/src/main/scala/lucuma/ags/Ags.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/ags/7060.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GuideSpeed.scala
Due: Label ags PRs, Label catalog-tests PRs, Label core PRs

Refactor runAnalysis
  modules/ags/src/main/scala/lucuma/ags/Ags.scala
Due: Label ags PRs

Add method to go from Epoch to instant
  modules/core/shared/src/main/scala/lucuma/core/math/Epoch.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/EpochSuite.scala
Due: Label core PRs, Label tests PRs

Add newtypes for acq and science offsets
  modules/ags/src/main/scala/lucuma/ags/Ags.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/AgsSelectionApp.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/AgsSelectionStreamApp.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/ags/7060.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/AgsSuite.scala
Due: Label ags PRs, Label catalog-tests PRs

horizons mods
  modules/benchmarks/src/main/scala/lucuma/core/ProperMotionBenchmark.scala
  modules/core/shared/src/main/scala/lucuma/core/util/TimestampInterval.scala
  modules/horizons-tests/shared/src/test/scala/lucuma/horizons/HorizonsClientEphemerisSuite.scala
  modules/horizons/src/main/scala/lucuma/horizons/HorizonsClient.scala
  modules/horizons/src/main/scala/lucuma/horizons/HorizonsEphemeris.scala
Due: Label benchmarks PRs, Label core PRs, Label horizons PRs

Add an image quality preset of 1.2
  modules/core/shared/src/main/scala/lucuma/core/model/ImageQuality.scala
Due: Label core PRs

more tests
  modules/horizons-tests/shared/src/test/scala/lucuma/horizons/HorizonsClientEphemerisSuite.scala
Due: none

Add epoch formatter with 2 decimals
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/math/Epoch.scala
  modules/core/shared/src/main/scala/lucuma/core/math/parser/EpochParsers.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbEpoch.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/EpochSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Expose geometries used in ags for diagnostics
  modules/ags/src/main/scala/lucuma/ags/AgsVisualization.scala
Due: Label ags PRs

always cap gmos spatial binning to 2
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/binning.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/imaging/package.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/longslit/package.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/mos/package.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/gmos/BinningSuite.scala
Due: Label core PRs, Label tests PRs

Add TelluricCalibrationOrder
  modules/catalog/src/main/scala/lucuma/catalog/telluric/TelluricStar.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/TelluricCalibrationOrder.scala
Due: Label catalog PRs, Label core PRs

Add client to call the telluric targets server
  build.sbt
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/TelluricQueryApp.scala
  modules/catalog/src/main/scala/lucuma/catalog/telluric/TelluricClient.scala
  modules/catalog/src/main/scala/lucuma/catalog/telluric/TelluricSearchInput.scala
  modules/catalog/src/main/scala/lucuma/catalog/telluric/TelluricSearchQuery.scala
  modules/catalog/src/main/scala/lucuma/catalog/telluric/TelluricStar.scala
Due: Label catalog PRs, Label catalog-tests PRs
