Repository gemini-hlsw/lucuma-core: changes, and which Mergify rules are due for each by the changed paths.
All: Label core PRs, Label testkit PRs, Label tests PRs

Label core PRs:
  label:
    add:
    - core
    remove: []

Label testkit PRs:
  label:
    add:
    - testkit
    remove: []

Label tests PRs:
  label:
    add:
    - tests
    remove: []

cleanup
  modules/core/shared/src/main/scala/lucuma/core/model/PosAngleConstraint.scala
Due: Label core PRs

Pos angle constraint (#530)
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/PosAngle.scala
  modules/core/shared/src/main/scala/lucuma/core/model/PosAngleConstraint.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbPosAngle.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbPosAngleConstraint.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/PosAngleConstraintSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/PosAngleSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

scalafixAll
  .scalafix-common.conf
  .scalafix.conf
  modules/core/shared/src/main/scala/lucuma/core/enum/GmosNorthGrating.scala
  modules/core/shared/src/main/scala/lucuma/core/enum/GmosSouthGrating.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Coverage.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ProposalClass.scala
  modules/core/shared/src/main/scala/lucuma/core/model/package.scala
  modules/core/shared/src/main/scala/lucuma/core/model/syntax/NonNegDurationOps.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbCoverage.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbNonNegDuration.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbPosAngle.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbProposal.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbProposalClass.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/CoordinatesSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/CoverageSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ProposalSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SiderealTrackingSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

scalafixAll
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbPosAngleConstraint.scala
Due: Label testkit PRs

Publish snapshots
  .github/workflows/ci.yml
  build.sbt
Due: none

Remove PosAngle unconstrained
  modules/core/shared/src/main/scala/lucuma/core/model/PosAngleConstraint.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbPosAngleConstraint.scala
Due: Label core PRs, Label testkit PRs

Validation utilities.
  modules/core/shared/src/main/scala/lucuma/core/optics/ValidFormat.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/package.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/TruncatedAngle.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/TruncatedBigDecimal.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/TruncatedDec.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/TruncatedRA.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/TruncatedRefinedBigDecimal.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/ValidFormatInput.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/ValidFormatInputInstances.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/package.scala
  modules/testkit/src/main/scala/lucuma/core/optics/laws/ValidFormatProps.scala
  modules/testkit/src/main/scala/lucuma/core/optics/laws/discipline/FormatTests.scala
  modules/testkit/src/main/scala/lucuma/core/optics/laws/discipline/SplitEpiTests.scala
  modules/testkit/src/main/scala/lucuma/core/optics/laws/discipline/SplitMonoTests.scala
  modules/testkit/src/main/scala/lucuma/core/optics/laws/discipline/SubgroupTests.scala
  modules/testkit/src/main/scala/lucuma/core/optics/laws/discipline/ValidFormatTests.scala
  modules/testkit/src/main/scala/lucuma/core/optics/laws/discipline/WedgeTests.scala
  modules/testkit/src/main/scala/lucuma/core/optics/laws/discipline/package.scala
  modules/testkit/src/main/scala/lucuma/core/validation/arb/ArbTruncatedBigDecimal.scala
  modules/testkit/src/main/scala/lucuma/core/validation/arb/ArbTruncatedDec.scala
  modules/testkit/src/main/scala/lucuma/core/validation/arb/ArbTruncatedRA.scala
  modules/testkit/src/main/scala/lucuma/core/validation/arb/ArbTruncatedRefinedBigDecimal.scala
  modules/tests/shared/src/test/scala/lucuma/core/validation/ValidFormatInputInstancesSpec.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Truncated classes.
  modules/tests/shared/src/test/scala/lucuma/core/validation/TruncatedBigDecimalSpec.scala
  modules/tests/shared/src/test/scala/lucuma/core/validation/TruncatedDecSpec.scala
  modules/tests/shared/src/test/scala/lucuma/core/validation/TruncatedRASpec.scala
  modules/tests/shared/src/test/scala/lucuma/core/validation/TruncatedRefinedBigDecimalSpec.scala
  modules/tests/shared/src/test/scala/lucuma/core/validation/ValidateSpec.scala
Due: Label tests PRs

Reorganized
  modules/core/shared/src/main/scala/lucuma/core/math/truncated/TruncatedAngle.scala
  modules/core/shared/src/main/scala/lucuma/core/math/truncated/TruncatedBigDecimal.scala
  modules/core/shared/src/main/scala/lucuma/core/math/truncated/TruncatedDec.scala
  modules/core/shared/src/main/scala/lucuma/core/math/truncated/TruncatedRA.scala
  modules/core/shared/src/main/scala/lucuma/core/math/truncated/TruncatedRefinedBigDecimal.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/ValidFormatInput.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/ValidFormatInputInstances.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/ValidFormatNec.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/ValidFormatNecInstances.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/package.scala
  modules/testkit/src/main/scala/lucuma/core/math/truncated/arb/ArbTruncatedAngle.scala
  modules/testkit/src/main/scala/lucuma/core/math/truncated/arb/ArbTruncatedBigDecimal.scala
  modules/testkit/src/main/scala/lucuma/core/math/truncated/arb/ArbTruncatedDec.scala
  modules/testkit/src/main/scala/lucuma/core/math/truncated/arb/ArbTruncatedRA.scala
  modules/testkit/src/main/scala/lucuma/core/math/truncated/arb/ArbTruncatedRefinedBigDecimal.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/truncated/TruncatedAngleSpec.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/truncated/TruncatedBigDecimalSpec.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/truncated/TruncatedDecSpec.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/truncated/TruncatedRASpec.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/truncated/TruncatedRefinedBigDecimalSpec.scala
  modules/tests/shared/src/test/scala/lucuma/core/validation/ValidFormatInputInstancesSpec.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Organize imports
  modules/core/shared/src/main/scala/lucuma/core/math/truncated/TruncatedAngle.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/ValidFormatInput.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/ValidFormatInputInstances.scala
  modules/testkit/src/main/scala/lucuma/core/math/truncated/arb/ArbTruncatedAngle.scala
Due: Label core PRs, Label testkit PRs

Add test
  modules/tests/shared/src/test/scala/lucuma/core/math/truncated/TruncatedAngleSpec.scala
Due: Label tests PRs

Renamings
  modules/core/shared/src/main/scala/lucuma/core/optics/ValidFormat.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/ValidFormatInput.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/ValidFormatInputInstances.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/ValidFormatNec.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/ValidFormatNecInstances.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/package.scala
Due: Label core PRs

Reorganize validators.
  modules/core/shared/src/main/scala/lucuma/core/math/validation/MathValidators.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/README.md
  modules/core/shared/src/main/scala/lucuma/core/optics/ValidFormat.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/ValidFormatInput.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/ValidFormatInputInstances.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/ValidFormatNec.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/ValidFormatNecInstances.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/package.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/validation/MathValidatorsSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/validation/ValidFormatInputInstancesSpec.scala
  modules/tests/shared/src/test/scala/lucuma/core/validation/ValidFormatInputInstancesSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/validation/ValidateSuite.scala
Due: Label core PRs, Label tests PRs

vals
  modules/core/shared/src/main/scala/lucuma/core/optics/ValidFormat.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/ValidFormatInput.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/package.scala
Due: Label core PRs

Bump base version
  build.sbt
Due: none

Scientific notation fixed.
  modules/core/shared/src/main/scala/lucuma/core/math/validation/MathValidators.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/ValidFormatInput.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/validation/MathValidatorsSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/validation/ValidFormatInputInstancesSuite.scala
Due: Label core PRs, Label tests PRs

Tests passing.
  modules/core/shared/src/main/scala/lucuma/core/math/Angle.scala
  modules/core/shared/src/main/scala/lucuma/core/math/truncated/TruncatedAngle.scala
  modules/core/shared/src/main/scala/lucuma/core/math/validation/MathValidators.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/ValidFormatInput.scala
  modules/testkit/src/main/scala/lucuma/core/math/truncated/arb/ArbTruncatedAngle.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/validation/MathValidatorsSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/validation/ValidFormatInputInstancesSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Organize imports.
  modules/core/shared/src/main/scala/lucuma/core/math/validation/MathValidators.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/ValidFormat.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/ValidFormatInput.scala
Due: Label core PRs

Small fixes
  modules/core/shared/src/main/scala/lucuma/core/validation/ValidFormatInput.scala
  modules/tests/shared/src/test/scala/lucuma/core/validation/ValidFormatInputInstancesSuite.scala
Due: Label core PRs, Label tests PRs

Fixes
  modules/core/shared/src/main/scala/lucuma/core/math/truncated/TruncatedAngle.scala
  modules/core/shared/src/main/scala/lucuma/core/math/validation/MathValidators.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/ValidFormatInput.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/validation/MathValidatorsSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/validation/ValidFormatInputInstancesSuite.scala
Due: Label core PRs, Label tests PRs

truncatedAngleDegrees
  modules/core/shared/src/main/scala/lucuma/core/math/validation/MathValidators.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/validation/MathValidatorsSuite.scala
Due: Label core PRs, Label tests PRs

Disable eviction warnings
  build.sbt
Due: none

Revert "Disable eviction warnings"
  build.sbt
Due: none

Bump coulomb to m2
  build.sbt
Due: none

Switch to lucuma-refined
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/Band.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthDetector.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthDetector.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ImageQuality.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Epoch.scala
  modules/core/shared/src/main/scala/lucuma/core/math/refined.scala
  modules/core/shared/src/main/scala/lucuma/core/math/units.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Proposal.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Role.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Target.scala
  modules/core/shared/src/main/scala/lucuma/core/model/User.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ids.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/Atom.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/Step.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbRefined.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbWavelength.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbUnnormalizedSED.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/EpochSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

A few enums were not renamed
  modules/core/shared/src/main/scala/lucuma/core/enums/DatasetQaState.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/DatasetStage.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ObsActiveStatus.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/SequenceCommand.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/StepStage.scala
  modules/tests/shared/src/test/scala/lucuma/core/enums/ObsActiveSuite.scala
Due: Label core PRs, Label tests PRs

Update base version
  build.sbt
Due: none

Move ExposureTimeMode from lucuma-tmp-api
  modules/core/shared/src/main/scala/lucuma/core/model/ExposureTimeMode.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbExposureTimeMode.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ExposureTimeModeSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Setup nix
  .envrc
  flake.lock
  flake.nix
Due: none

Extra GHOST apply items
  modules/core/shared/src/main/scala/lucuma/core/enum/GiapiStatusApply.scala
Due: Label core PRs

Bump to Scala 3.1.3
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
Due: none

Revert "Bump to Scala 3.1.3"
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
Due: none

Add ccd request type
  modules/core/shared/src/main/scala/lucuma/core/enum/GiapiStatusApply.scala
Due: Label core PRs

Add inner radius geometry
  modules/core/shared/src/main/scala/lucuma/core/enums/GuideProbe.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosCandidatesArea.scala
Due: Label core PRs

Performance improvements of ProperMotion calculations
  .scalafmt.conf
  build.sbt
  modules/benchmarks/src/main/scala/lucuma/core/ProperMotionBenchmark.scala
  modules/core/shared/src/main/scala/lucuma/core/math/ProperMotion.scala
  modules/core/shared/src/main/scala/lucuma/core/math/RadialVelocity.scala
  project/build.properties
  project/plugins.sbt
Due: Label core PRs

Inline trigonometric calls
  .mergify.yml
  build.sbt
  modules/benchmarks/src/main/scala/lucuma/core/ProperMotionBenchmark.scala
  modules/core/shared/src/main/scala/lucuma/core/model/SiderealTracking.scala
Due: Label core PRs

Sanity check test
  modules/tests/shared/src/test/scala/lucuma/core/math/ProperMotionSuite.scala
Due: Label tests PRs

Comment the conversion code
  modules/core/shared/src/main/scala/lucuma/core/math/ProperMotion.scala
  modules/core/shared/src/main/scala/lucuma/core/math/RadialVelocity.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/ProperMotionSuite.scala
Due: Label core PRs, Label tests PRs

Path conditions:
  Label core PRs: any of: ^modules/core/
  Label testkit PRs: any of: ^modules/testkit/
  Label tests PRs: any of: ^modules/tests/
