Repository gemini-hlsw/lucuma-core: changes, and which Mergify rules are due for each by the changed paths.
All: Label ags PRs, Label benchmarks PRs, Label catalog PRs, Label catalog-testkit PRs, Label catalog-tests PRs, Label core PRs, Label horizons PRs, Label npm PRs, Label testkit PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJS)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label ags PRs
  conditions:
  - files~=^modules/ags/
  actions:
    label:
      add:
      - ags
      remove: []
- name: Label benchmarks PRs
  conditions:
  - files~=^modules/benchmarks/
  actions:
    label:
      add:
      - benchmarks
      remove: []
- name: Label catalog PRs
  conditions:
  - files~=^modules/catalog/
  actions:
    label:
      add:
      - catalog
      remove: []
- name: Label catalog-testkit PRs
  conditions:
  - files~=^modules/catalog-testkit/
  actions:
    label:
      add:
      - catalog-testkit
      remove: []
- name: Label catalog-tests PRs
  conditions:
  - files~=^modules/catalog-tests/
  actions:
    label:
      add:
      - catalog-tests
      remove: []
- name: Label core PRs
  conditions:
  - files~=^modules/core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label horizons PRs
  conditions:
  - files~=^modules/horizons/
  actions:
    label:
      add:
      - horizons
      remove: []
- name: Label npm PRs
  conditions:
  - files~=^modules/npm/
  actions:
    label:
      add:
      - npm
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^modules/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^modules/tests/
  actions:
    label:
      add:
      - tests
      remove: []

Modify HorizonsClient.modUri
  modules/horizons/src/main/scala/lucuma/horizons/HorizonsClient.scala
Due: Label horizons PRs

OffsetGenerator model
  modules/core/shared/src/main/scala/lucuma/core/enums/WavelengthOrder.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/OffsetGenerator.scala
  modules/testkit/src/main/scala/lucuma/core/geom/arb/ArbOffsetGenerator.scala
  modules/tests/shared/src/test/scala/lucuma/core/geom/OffsetGeneratorSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

bump base version
  build.sbt
Due: none

migrate enums from core
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosImagingVariantType.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/TelescopeConfigGeneratorType.scala
Due: Label core PRs

add missing OffsetGenerator optics
  modules/core/shared/src/main/scala/lucuma/core/geom/OffsetGenerator.scala
Due: Label core PRs

Improve parsing of stellar physics
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/StellarPhysicsSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SpectralTypeParsers.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarPhysics.scala
Due: Label catalog PRs, Label catalog-tests PRs

Make SED matching best-effort to avoid parse failures
  BRANCH_OVERVIEW.md
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SimbadSEDMatcher.scala
Due: Label catalog PRs

scalafmt
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/SimbadSEDTestApp.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherDataSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SimbadSEDMatcher.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SpectralTypeParsers.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarLibraryParameters.scala
Due: Label catalog PRs, Label catalog-tests PRs

cleanup
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/SimbadSEDTestApp.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherDataSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherFullDataSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SimbadSEDMatcher.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SpectralTypeParsers.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarLibraryParameters.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarPhysics.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/VoTableParser.scala
Due: Label catalog PRs, Label catalog-tests PRs

Cleanup the api
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherDataSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherFullDataSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogProblem.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SimbadSEDMatcher.scala
Due: Label catalog PRs, Label catalog-tests PRs

Handle a few more edge cases
  modules/catalog-tests/jvm/src/main/resources/expected-output.jsonl
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherDataSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/StellarPhysicsProperties.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SEDMatcher.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SpectralTypeParsers.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarLibraryParameters.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarPhysics.scala
Due: Label catalog PRs, Label catalog-tests PRs

Add heuristics to read SED from simbad
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/TargetImportSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SimbadSEDMatcher.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/VoTableParser.scala
Due: Label catalog PRs, Label catalog-tests PRs

Improve tests and integrate onto the regular parser
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/ParseSimbadFileSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SimbadSEDMatcher.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SpectralTypeParsers.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/VoTableParser.scala
Due: Label catalog PRs, Label catalog-tests PRs

Improve SED matching
  modules/catalog-tests/jvm/src/main/resources/simbad-sed-test-data-full.dat
  modules/catalog-tests/jvm/src/main/resources/simbad-sed-test-data.dat
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/SimbadSEDTestApp.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherDataSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherFullDataSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SimbadSEDMatcher.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarLibraryParameters.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarPhysics.scala
Due: Label catalog PRs, Label catalog-tests PRs

Fix property tests for modifiers and white dwarf temperature
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherDataSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherFullDataSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/StellarPhysicsProperties.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SEDMatcher.scala
Due: Label catalog PRs, Label catalog-tests PRs

Refactor stellar matching to functional style with type-safe ScoredMatch
  SED-MATCHING-REVIEW.md
  bubbly-dazzling-swan.md
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/StellarPhysicsProperties.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SimbadSEDMatcher.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarPhysics.scala
Due: Label catalog PRs, Label catalog-tests PRs

Use coulomb
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/StellarPhysicsSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SimbadSEDMatcher.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarLibraryParameters.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarPhysics.scala
Due: Label catalog PRs, Label catalog-tests PRs

Reuse tempSubclass parser from SpectralTypeParsers
  modules/catalog/src/main/scala/lucuma/catalog/votable/SpectralTypeParsers.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarPhysics.scala
Due: Label catalog PRs

Simplify luminosity class normalization logic
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/StellarPhysicsSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SEDMatcher.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SpectralTypeParsers.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarPhysics.scala
Due: Label catalog PRs, Label catalog-tests PRs

More tests
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherDataSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherFullDataSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/StellarPhysicsSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SpectralTypeParsers.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarLibraryParameters.scala
Due: Label catalog PRs, Label catalog-tests PRs

Refactor stellar matching to functional style with type-safe ScoredMatch
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/StellarPhysicsProperties.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SimbadSEDMatcher.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarPhysics.scala
Due: Label catalog PRs, Label catalog-tests PRs

Make SED matching best-effort to avoid parse failures
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SimbadSEDMatcher.scala
Due: Label catalog PRs

More tests
  modules/catalog-tests/jvm/src/main/resources/expected-output.csv
  modules/catalog-tests/jvm/src/main/resources/expected-output.jsonl
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherDataSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherFullDataSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/StellarPhysicsSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SpectralTypeParsers.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarLibraryParameters.scala
Due: Label catalog PRs, Label catalog-tests PRs

Add full test list from python
  modules/catalog-tests/jvm/src/main/resources/expected-output-full.csv
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/ParseSimbadFileSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherFullDataSuite.scala
Due: Label catalog-tests PRs

Add blind offset analysis methods that don't need a Tracking
  modules/catalog/src/main/scala/lucuma/catalog/BlindOffsets.scala
Due: Label catalog PRs

Add Arbitrary[BlindOffsetCandidate]
  modules/catalog-testkit/shared/src/main/scala/lucuma/catalog/arb/ArbBlindOffsetCandidate.scala
  modules/catalog/src/main/scala/lucuma/catalog/BlindOffsets.scala
Due: Label catalog PRs, Label catalog-testkit PRs

Cleanup
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/SpectralTypeParsersSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/StellarPhysicsSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SEDMatcher.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SpectralTypeParsers.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarLibraryParameters.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarPhysics.scala
Due: Label catalog PRs, Label catalog-tests PRs

Merge test suite
  modules/catalog-tests/jvm/src/main/resources/expected-output.csv
  modules/catalog-tests/jvm/src/main/resources/simbad-sed-test-data.dat
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherDataSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherFullDataSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/StellarPhysicsSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarLibraryParameters.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarPhysics.scala
Due: Label catalog PRs, Label catalog-tests PRs

Add fallback sed matching when spectal data is present
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/ParseSimbadFileSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SEDMatcher.scala
Due: Label catalog PRs, Label catalog-tests PRs

Improvements to full dataset suite
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherSuite.scala
Due: Label catalog-tests PRs

Add enumerated instance
  modules/core/shared/src/main/scala/lucuma/core/enums/TelluricCalibrationOrder.scala
Due: Label core PRs

Add shape for pwfs patrol field
  modules/core/shared/src/main/scala/lucuma/core/geom/pwfs/PwfsPatrolField.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
Due: Label core PRs, Label tests PRs

Refactor some common code
  modules/core/shared/src/main/scala/lucuma/core/geom/flamingos2/Flamingos2CandidatesArea.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/flamingos2/Flamingos2PatrolField.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/flamingos2/Flamingos2ScienceAreaGeometry.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosCandidatesArea.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosScienceAreaGeometry.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/pwfs/PwfsCandidatesArea.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/pwfs/PwfsPatrolField.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/syntax/ShapeExpression.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
Due: Label core PRs, Label tests PRs

PWFS candidates area
  modules/core/shared/src/main/scala/lucuma/core/geom/pwfs/PwfsCandidatesArea.scala
Due: Label core PRs

probe arm geometry matching OCS, added arm halves
  modules/core/shared/src/main/scala/lucuma/core/geom/pwfs/PwfsProbeArm.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
Due: Label core PRs, Label tests PRs

Show all shapes on the demo
  modules/core/shared/src/main/scala/lucuma/core/geom/pwfs/PwfsProbeArm.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
Due: Label core PRs, Label tests PRs
