Repository gemini-hlsw/lucuma-core: changes, and which Mergify rules are due for each by the changed paths.
All: Label core PRs, Label testkit PRs, Label tests PRs

Label core PRs:
  label:
    add:
    - core
    remove: []

Label testkit PRs:
  label:
    add:
    - testkit
    remove: []

Label tests PRs:
  label:
    add:
    - tests
    remove: []

bump version
  build.sbt
Due: none

Add geometry for F2 Longslit
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/F2Fpu.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/F2LyotWheel.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ImageQuality.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/f2/F2PatrolField.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/f2/F2ScienceAreaGeometry.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/f2/package.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/package.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/syntax/package.scala
  modules/core/shared/src/main/scala/lucuma/core/math/units.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
Due: Label core PRs, Label tests PRs

Support patrol field
  modules/core/shared/src/main/scala/lucuma/core/geom/ShapeExpression.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/f2/F2PatrolField.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/JtsShapeInterpreter.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/syntax/ShapeExpression.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
Due: Label core PRs, Label tests PRs

Add arm probe
  modules/core/shared/src/main/scala/lucuma/core/enums/PortDisposition.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/f2/F2OiwfsProbeArm.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/f2/F2PatrolField.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/f2/F2ScienceAreaGeometry.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/f2/package.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/syntax/package.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
Due: Label core PRs, Label tests PRs

Cleanup
  modules/core/shared/src/main/scala/lucuma/core/geom/f2/F2OiwfsProbeArm.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/f2/F2PatrolField.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/f2/F2ScienceAreaGeometry.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/f2/package.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosCandidatesArea.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/syntax/package.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
Due: Label core PRs, Label tests PRs

Update binary version
  build.sbt
Due: none

Fix slit offset
  modules/core/shared/src/main/scala/lucuma/core/geom/f2/F2OiwfsProbeArm.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/f2/F2PatrolField.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/f2/F2ScienceAreaGeometry.scala
Due: Label core PRs

Added some symbolic operators
  modules/core/shared/src/main/scala/lucuma/core/geom/f2/F2OiwfsProbeArm.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/f2/F2PatrolField.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/f2/F2ScienceAreaGeometry.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/syntax/package.scala
Due: Label core PRs

Add support for F2-MOS
  modules/core/shared/src/main/scala/lucuma/core/enums/F2Decker.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/F2Fpu.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/f2/F2ScienceAreaGeometry.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Offset.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
Due: Label core PRs, Label tests PRs

Create F2 Static Config
  modules/core/shared/src/main/scala/lucuma/core/enums/F2CustomSlitWidth.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/f2/F2StaticConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/f2/arb/ArbF2StaticConfig.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/f2/F2StaticConfigSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Add F2 dynamic config
  modules/core/shared/src/main/scala/lucuma/core/enums/F2CustomSlitWidth.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/F2Decker.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/F2ReadMode.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/F2ReadoutMode.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/F2Reads.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosDtax.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/f2/F2DynamicConfig.scala
Due: Label core PRs

Convert old enums to scala 3 enums
  modules/core/shared/src/main/scala/lucuma/core/enums/F2CustomSlitWidth.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/F2Decker.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/F2Disperser.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/F2Filter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/F2Fpu.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/F2LyotWheel.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/F2ReadMode.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/F2WindowCover.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/f2/arb/ArbF2DynamicConfig.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/f2/F2DynamicConfigSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Improve model for F2 fpu
  modules/core/shared/src/main/scala/lucuma/core/enums/F2CustomSlitWidth.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/F2Fpu.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/f2/F2ScienceAreaGeometry.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/f2/F2DynamicConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/f2/F2FpuMask.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/f2/arb/ArbF2DynamicConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/f2/arb/ArbF2FpuMask.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/f2/F2DynamicConfigSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Add F2 OIWFS probe
  modules/core/shared/src/main/scala/lucuma/core/enums/GuideProbe.scala
Due: Label core PRs

Add methods to calculate the likelihood of conditions
  modules/core/shared/src/main/scala/lucuma/core/conditions/package.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/CloudExtinction.scala
  modules/core/shared/src/main/scala/lucuma/core/math/package.scala
  modules/tests/shared/src/test/scala/lucuma/core/conditions/ConditionsLikelihoodSuite.scala
Due: Label core PRs, Label tests PRs

Implement PR suggestions
  modules/core/shared/src/main/scala/lucuma/core/conditions/package.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ConstraintSet.scala
  modules/core/shared/src/main/scala/lucuma/core/model/package.scala
  modules/tests/shared/src/test/scala/lucuma/core/conditions/ConditionsLikelihoodSuite.scala
Due: Label core PRs, Label tests PRs

Fix edge case
  modules/core/shared/src/main/scala/lucuma/core/conditions/package.scala
Due: Label core PRs

Handle the case the result of IQ percentile is over 100%
  modules/core/shared/src/main/scala/lucuma/core/conditions/package.scala
  modules/tests/shared/src/test/scala/lucuma/core/conditions/ConditionsLikelihoodSuite.scala
Due: Label core PRs, Label tests PRs

Clarify comment
  modules/core/shared/src/main/scala/lucuma/core/conditions/package.scala
Due: Label core PRs

Make F2 Fpu tag match Gmos format
  modules/core/shared/src/main/scala/lucuma/core/enums/F2Fpu.scala
Due: Label core PRs

ExposureTimeMode Update
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/ExposureTimeMode.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbExposureTimeMode.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ExposureTimeModeSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

ExposureTimeMode Update (#1021)
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/ExposureTimeMode.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbExposureTimeMode.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ExposureTimeModeSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

fix div by zero
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/package.scala
Due: Label core PRs

Update scalaJSLinkerConfig
  build.sbt
Due: none

Use scala lts
  build.sbt
Due: none

Add External user
  modules/core/shared/src/main/scala/lucuma/core/enums/ProgramUserRole.scala
Due: Label core PRs

Add External user (#1027)
  modules/core/shared/src/main/scala/lucuma/core/enums/ProgramUserRole.scala
Due: Label core PRs

Filter obsolete acquisition filters
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthFilter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthFilter.scala
Due: Label core PRs

Filter obsolete acquisition filters (#1029)
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthFilter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthFilter.scala
Due: Label core PRs

add CustomSedAttachment
  modules/core/shared/src/main/scala/lucuma/core/model/UnnormalizedSED.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbUnnormalizedSED.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/UnnormalizedSEDSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

ITC now supports more SEDs
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/StellarLibrarySpectrum.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/f2/F2OiwfsProbeArm.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/Enumerated.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/package.scala
  modules/core/shared/src/main/scala/lucuma/core/util/Enumerated.scala
Due: Label core PRs

Convert old enums to scala3 enums
  modules/core/shared/src/main/scala/lucuma/core/enums/AsterismType.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/AtomStage.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/Breakpoint.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/CalibrationRole.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ChargeClass.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/CloudExtinction.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/CoolStarTemperature.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/DatasetQaState.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/DatasetStage.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/EphemerisKeyType.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/EventType.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/FieldLens.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/FilterType.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/FocalPlane.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GalaxySpectrum.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GcalArc.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GcalBaselineType.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GcalContinuum.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GcalDiffuser.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GcalFilter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GcalLampType.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GcalShutter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosAdc.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosAmpCount.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ImageQuality.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/Instrument.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/LightSinkName.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/M1Source.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/MosPreImaging.scala
Due: Label core PRs

align
  modules/core/shared/src/main/scala/lucuma/core/model/UnnormalizedSED.scala
Due: Label core PRs

Improve screaming case to handle dots and dashes
  modules/core/shared/src/main/scala/lucuma/core/enums/StellarLibrarySpectrum.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/String.scala
Due: Label core PRs

Add dateToLocalObservingNight JS export
  modules/npm/src/main/scala/lucuma/core/exports.scala
  modules/npm/src/main/typescript/main.d.ts
Due: none

Path conditions:
  Label core PRs: any of: ^modules/core/
  Label testkit PRs: any of: ^modules/testkit/
  Label tests PRs: any of: ^modules/tests/
