Repository gemini-hlsw/lucuma-core: changes, and which Mergify rules are due for each by the changed paths.
All: Label ags PRs, Label catalog PRs, Label catalog-testkit PRs, Label catalog-tests PRs, Label core PRs, Label horizons PRs, Label horizons-tests PRs, Label npm PRs, Label testkit PRs, Label tests PRs

Label ags PRs:
  label:
    add:
    - ags
    remove: []

Label catalog PRs:
  label:
    add:
    - catalog
    remove: []

Label catalog-testkit PRs:
  label:
    add:
    - catalog-testkit
    remove: []

Label catalog-tests PRs:
  label:
    add:
    - catalog-tests
    remove: []

Label core PRs:
  label:
    add:
    - core
    remove: []

Label horizons PRs:
  label:
    add:
    - horizons
    remove: []

Label horizons-tests PRs:
  label:
    add:
    - horizons-tests
    remove: []

Label npm PRs:
  label:
    add:
    - npm
    remove: []

Label testkit PRs:
  label:
    add:
    - testkit
    remove: []

Label tests PRs:
  label:
    add:
    - tests
    remove: []

Proposal.Id -> ProposalReference
  modules/itac/src/main/scala/api/QueueCalc.scala
  modules/itac/src/main/scala/impl/QueueCalcStage.scala
  modules/itac/src/main/scala/impl/QueueFrame.scala
  modules/itac/src/main/scala/impl/ShutdownCalc.scala
  modules/itac/src/main/scala/impl/block/TimeAccountingCategoryBlockIterator.scala
  modules/itac/src/main/scala/log/AcceptMessage.scala
  modules/itac/src/main/scala/log/ProposalLog.scala
  modules/itac/src/main/scala/p1/ItacObservation.scala
  modules/itac/src/main/scala/p1/Proposal.scala
  modules/itac/src/main/scala/p1/Proposal2.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/TimeRestrictionTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/QueueEngineBandProblemsTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/block/BlockIteratorTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/block/TimeAccountingCategoryBlockIteratorTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/ConditionsResourceTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/DecResourceTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/Fixture.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceGroupTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceTest.scala
Due: none

Shortcut 6344: Setup Count (#1332)
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ExecutionDigest.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbExecutionDigest.scala
Due: Label core PRs, Label testkit PRs

remove most of Ntac
  modules/itac/src/main/scala/api/queue/ProposalQueue.scala
  modules/itac/src/main/scala/impl/QueueEngine3.scala
  modules/itac/src/main/scala/impl/QueueEngineBandProblems.scala
  modules/itac/src/main/scala/impl/QueueFrame.scala
  modules/itac/src/main/scala/impl/block/Block.scala
  modules/itac/src/main/scala/impl/block/BlockIterator.scala
  modules/itac/src/main/scala/impl/resource/SemesterResource.scala
  modules/itac/src/main/scala/log/AcceptMessage.scala
  modules/itac/src/main/scala/log/RejectTimeAccountingCategoryOverAllocation.scala
  modules/itac/src/main/scala/p1/Ntac.scala
  modules/itac/src/main/scala/p1/Proposal.scala
  modules/itac/src/main/scala/p1/Proposal2.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/TimeRestrictionTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/block/BlockIteratorTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/block/TimeAccountingCategoryBlockIteratorTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/ConditionsResourceTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/DecResourceTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/RaResourceTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceGroupTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceTest.scala
Due: none

oops
  modules/itac/src/main/scala/p1/ItacProposal.scala
Due: none

interim progress on removing ntac
  modules/itac/src/main/scala/api/queue/ProposalQueue.scala
  modules/itac/src/main/scala/impl/QueueFrame.scala
  modules/itac/src/main/scala/impl/block/Block.scala
  modules/itac/src/main/scala/impl/block/BlockIterator.scala
  modules/itac/src/main/scala/impl/resource/SemesterResource.scala
  modules/itac/src/main/scala/log/RejectTimeAccountingCategoryOverAllocation.scala
  modules/itac/src/main/scala/p1/Ntac.scala
  modules/itac/src/main/scala/p1/Proposal.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/QueueEngineBandProblemsTest.scala
Due: none

derive mode from proposal tpe
  modules/core/shared/src/main/scala/lucuma/core/model/ProposalType.scala
  modules/itac/src/main/scala/api/config/BandRestriction.scala
  modules/itac/src/main/scala/impl/QueueEngineBandProblems.scala
  modules/itac/src/main/scala/p1/Proposal.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/TimeRestrictionTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/QueueEngineBandProblemsTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/block/BlockIteratorTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/block/TimeAccountingCategoryBlockIteratorTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/ConditionsResourceTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/DecResourceTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/Fixture.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceGroupTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceTest.scala
Due: Label core PRs

cleanup
  modules/itac/src/main/scala/p1/ItacObservation.scala
  modules/itac/src/main/scala/p1/Proposal.scala
Due: none

Add Ghost enums
  modules/core/shared/src/main/scala/lucuma/core/enums/GhostBinning.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GhostReadMode.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GhostResolutionMode.scala
Due: Label core PRs

weaken subsumption test
  modules/core/shared/src/main/scala/lucuma/core/model/Configuration.scala
Due: Label core PRs

test
  modules/tests/shared/src/test/scala/lucuma/core/model/ConfigurationSuite.scala
Due: Label tests PRs

bump
  build.sbt
Due: none

Show ifu1 and ifu2 in different colors
  modules/core/shared/src/main/scala/lucuma/core/geom/ghost/GhostIfuPatrolField.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
Due: Label core PRs, Label tests PRs

Fix scaling bug in the demo
  modules/core/jvm/src/main/scala/lucuma/core/geom/jts/jvm/syntax/Awt.scala
Due: Label core PRs

Flip ifu1 and ifu2 on p
  modules/core/shared/src/main/scala/lucuma/core/geom/ghost/GhostIfuPatrolField.scala
Due: Label core PRs

Show cursor on ra/dec as well
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
Due: Label tests PRs

Add demo for ghost
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
Due: Label tests PRs

Show the position on the cursor on the demo
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
Due: Label tests PRs

Create basic ghost geometry
  modules/core/shared/src/main/scala/lucuma/core/geom/flamingos2/package.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/ghost/GhostIfuPatrolField.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/ghost/GhostScienceAreaGeometry.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/ghost/package.scala
Due: Label core PRs

Remove unused enum
  modules/core/shared/src/main/scala/lucuma/core/enums/AsterismType.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/flamingos2/package.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/ghost/GhostIfuPatrolField.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/ghost/GhostScienceAreaGeometry.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/ghost/package.scala
Due: Label core PRs

Update binary version
  build.sbt
Due: none

Fix address for harvard simbad
  modules/catalog/shared/src/main/scala/lucuma/catalog/clients/SimbadClient.scala
Due: Label catalog PRs

More robust error resolution on the tellurics target client
  modules/catalog/shared/src/main/scala/lucuma/catalog/telluric/TelluricTargetsClient.scala
Due: Label catalog PRs

Add parameters for ghost ags
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsAgsDemo.scala
Due: Label ags PRs, Label tests PRs

Add test app for ghost ags
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/GhostAgsSelectionApp.scala
Due: Label catalog-tests PRs

Refactor common code for pwfs
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
Due: Label ags PRs

Add a trait for pwfs probes
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GuideProbe.scala
Due: Label ags PRs, Label core PRs

Ghost static + dynamic config
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/FiberAgitator.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostDetector.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostDynamicConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostStaticConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/ghost/arb/ArbGhostDetector.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/ghost/arb/ArbGhostDynamicConfig.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/ghost/GhostDetectorSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/ghost/GhostDynamicConfigSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Add ghost ifu mode
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservingModeType.scala
  modules/core/shared/src/main/scala/lucuma/core/model/probes.scala
Due: Label core PRs

Gmos imaging should default to unbounded PAC
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservingModeType.scala
Due: Label core PRs

Ghost static + dynamic config (#1341)
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/FiberAgitator.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostDetector.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostDynamicConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostStaticConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/ghost/arb/ArbGhostDetector.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/ghost/arb/ArbGhostDynamicConfig.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/ghost/GhostDetectorSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/ghost/GhostDynamicConfigSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

fix ig2 type alias, add PWFSGuideProbe Enumerated
  build.sbt
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GuideProbe.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ExecutionConfig.scala
Due: Label ags PRs, Label core PRs

Move CommitHash from odb
  modules/core/shared/src/main/scala/lucuma/core/util/CommitHash.scala
  modules/testkit/src/main/scala/lucuma/core/util/arb/ArbCommitHash.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/CommitHashSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Update npm package name
  build.sbt
Due: none

Downgrade to Scala 3 LTS
  build.sbt
  modules/catalog/shared/src/main/scala/lucuma/catalog/clients/GaiaClientImpl.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/OffsetGenerator.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Parallax.scala
Due: Label catalog PRs, Label core PRs

GHOST detector gross exposure time
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostDetector.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostDynamicConfig.scala
Due: Label core PRs

Update scala version and some libs
  build.sbt
  modules/horizons/src/main/scala/lucuma/horizons/AbstractHorizonsClient.scala
  modules/itac/src/main/scala/skycalc/ElevationDecBinCalc.scala
  modules/tests/shared/src/test/scala/lucuma/core/data/DisjointIntervalMapSuite.scala
Due: Label horizons PRs, Label tests PRs

GHOST Updates
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservingModeType.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/FiberAgitator.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostDynamicConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostIfu1FiberAgitator.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostIfu2FiberAgitator.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/ghost/arb/ArbGhostDetector.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/ghost/arb/ArbGhostDynamicConfig.scala
Due: Label core PRs, Label testkit PRs

cleanup
  modules/core/shared/src/main/scala/lucuma/core/enums/GhostIfu1FiberAgitator.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GhostIfu2FiberAgitator.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservingModeType.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostDynamicConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/ghost/arb/ArbGhostDynamicConfig.scala
Due: Label core PRs, Label testkit PRs

Shortcut 8293: GHOST Updates (#1353)
  modules/core/shared/src/main/scala/lucuma/core/enums/GhostIfu1FiberAgitator.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GhostIfu2FiberAgitator.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservingModeType.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/FiberAgitator.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostDynamicConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/ghost/arb/ArbGhostDetector.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/ghost/arb/ArbGhostDynamicConfig.scala
Due: Label core PRs, Label testkit PRs

Add value for Igrins 2 central wavelength
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/igrins2/package.scala
Due: Label core PRs

Path conditions:
  Label ags PRs: any of: ^modules/ags/
  Label catalog PRs: any of: ^modules/catalog/
  Label catalog-testkit PRs: any of: ^modules/catalog-testkit/
  Label catalog-tests PRs: any of: ^modules/catalog-tests/
  Label core PRs: any of: ^modules/core/
  Label horizons PRs: any of: ^modules/horizons/
  Label horizons-tests PRs: any of: ^modules/horizons-tests/
  Label npm PRs: any of: ^modules/npm/
  Label testkit PRs: any of: ^modules/testkit/
  Label tests PRs: any of: ^modules/tests/
