Repository gemini-hlsw/lucuma-core: changes, and which Mergify rules are due for each by the changed paths.
All: Label core PRs, Label testkit PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=scala-steward
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 2.13.8, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 2.13.8, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label core PRs
  conditions:
  - files~=^modules/core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^modules/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^modules/tests/
  actions:
    label:
      add:
      - tests
      remove: []

Something cross-compiles, whatdoyouknow
  modules/core/shared/src/main/scala/lucuma/core/optics/Format.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/README.md
  modules/core/shared/src/main/scala/lucuma/core/optics/Spire.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/SplitEpi.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/SplitMono.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/Wedge.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/state/StateLensOps.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/state/StateOptionalOps.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/state/StateSetterOps.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/state/all.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/syntax/Lens.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/syntax/Optional.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/syntax/Prism.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/syntax/Setter.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/syntax/package.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/BoundedInterval.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/Display.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/Enumerated.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/Parser.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/String.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/Time.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/TreeMap.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/TreeSet.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/package.scala
  modules/core/shared/src/main/scala/lucuma/core/util/Display.scala
  modules/core/shared/src/main/scala/lucuma/core/util/Enumerated.scala
  modules/core/shared/src/main/scala/lucuma/core/util/Gid.scala
  modules/core/shared/src/main/scala/lucuma/core/util/Tag.scala
  modules/core/shared/src/main/scala/lucuma/core/util/Timestamp.scala
  modules/core/shared/src/main/scala/lucuma/core/util/TypeString.scala
Due: Label core PRs

Cross-compile instances
  modules/core/shared/src/main/scala/lucuma/core/instances/BoundedIntervalInstances.scala
  modules/core/shared/src/main/scala/lucuma/core/instances/TreeMapInstances.scala
  modules/core/shared/src/main/scala/lucuma/core/instances/TreeSetInstances.scala
  modules/core/shared/src/main/scala/lucuma/core/instances/package.scala
Due: Label core PRs

More shuffling
  modules/core/js/src/main/scala-2/lucuma/core/geom/svg/package.scala
  modules/core/shared/src/main/scala/lucuma/core/data/EnumZipper.scala
  modules/core/shared/src/main/scala/lucuma/core/data/Zipper.scala
  modules/core/shared/src/main/scala/lucuma/core/data/ZipperFactory.scala
Due: Label core PRs

Regenerate workflow
  .github/workflows/ci.yml
Due: none

Set Scala 3 version-introduced
  build.sbt
Due: none

Reshuffling to fix 2.13
  modules/core/shared/src/main/scala/lucuma/core/math/Angle.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Index.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Offset.scala
  modules/core/shared/src/main/scala/lucuma/core/math/parser/Angle.scala
  modules/core/shared/src/main/scala/lucuma/core/math/syntax/Int.scala
  modules/core/shared/src/main/scala/lucuma/core/parser/Misc.scala
  modules/core/shared/src/main/scala/lucuma/core/parser/Time.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/package.scala
Due: Label core PRs

Update sbt-lucuma-lib to 0.6.3
  project/plugins.sbt
Due: none

Run prePR with sbt-typelevel
  .github/workflows/ci.yml
  .mergify.yml
Due: none

Convenience coulomb and refined optics.
  modules/core/shared/src/main/scala/lucuma/core/enum/ImageQuality.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/package.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbRefined.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SpectralDefinitionSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/optics/OpticsSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Bump base version.
  build.sbt
Due: none

Add gaia bands
  flake.nix
  modules/core/shared/src/main/scala/lucuma/core/enum/Band.scala
  modules/core/shared/src/main/scala/lucuma/core/enum/GuideProbe.scala
Due: Label core PRs

Remove the GuideProbe enum for now
  modules/core/shared/src/main/scala/lucuma/core/enum/GuideProbe.scala
Due: Label core PRs

make GMOS disperser enumerated all values lazy
  modules/core/shared/src/main/scala/lucuma/core/enum/GmosNorthDisperser.scala
  modules/core/shared/src/main/scala/lucuma/core/enum/GmosSouthDisperser.scala
Due: Label core PRs

make GMOS disperser enumerated all values lazy (#488)
  modules/core/shared/src/main/scala/lucuma/core/enum/GmosNorthDisperser.scala
  modules/core/shared/src/main/scala/lucuma/core/enum/GmosSouthDisperser.scala
Due: Label core PRs

Rename Gaia bands.
  modules/core/shared/src/main/scala/lucuma/core/enum/Band.scala
  modules/core/shared/src/main/scala/lucuma/core/model/SpectralDefinition.scala
Due: Label core PRs

Fix
  modules/core/shared/src/main/scala/lucuma/core/enum/Band.scala
Due: Label core PRs

Add ConstraintSet, ElevationRange.
  .gitignore
  .scalafmt.conf
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/ConstraintSet.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ElevationRange.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbConstraintSet.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbElevationRange.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ConstraintSetSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ElevationRangeSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Fix scalafmt, bump base version.
  .scalafmt.conf
  build.sbt
Due: none

Revert .scalafmt changes.
  .gitignore
  .scalafmt.conf
Due: none

Update shapeless to 2.3.9
  build.sbt
Due: none

Add BrightnessValue ring algebra
  modules/core/shared/src/main/scala/lucuma/core/math/BrightnessValue.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/BrightnessValueSuite.scala
Due: Label core PRs, Label tests PRs

Don't support multiplication of brightness values
  modules/core/shared/src/main/scala/lucuma/core/math/BrightnessValue.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/BrightnessValueSuite.scala
Due: Label core PRs, Label tests PRs

Fix typo
  modules/core/shared/src/main/scala/lucuma/core/math/BrightnessValue.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/BrightnessValueSuite.scala
Due: Label core PRs, Label tests PRs

Add Point shape
  modules/core/shared/src/main/scala/lucuma/core/geom/GmosScienceAreaGeometry.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/ShapeExpression.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/JtsShapeInterpreter.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/syntax/ShapeExpression.scala
  modules/core/shared/src/main/scala/lucuma/core/math/BrightnessValue.scala
  modules/testkit/src/main/scala/lucuma/core/geom/arb/ArbShapeExpression.scala
Due: Label core PRs, Label testkit PRs

Increase base version
  build.sbt
Due: none

Rename suggestions from PR
  modules/core/shared/src/main/scala/lucuma/core/geom/GmosScienceAreaGeometry.scala
Due: Label core PRs

Add trigonometric functions to angle
  modules/core/shared/src/main/scala/lucuma/core/math/Angle.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/AngleSuite.scala
Due: Label core PRs, Label tests PRs

Add a diff method for coordinates
  modules/core/shared/src/main/scala/lucuma/core/math/Coordinates.scala
  modules/core/shared/src/main/scala/lucuma/core/math/CoordinatesDiff.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbCoordinatesDiff.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/CoordinatesDiffSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/CoordinatesSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Rename old offset methods to shift
  modules/core/shared/src/main/scala/lucuma/core/math/Coordinates.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/CoordinatesSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/EpochSuite.scala
Due: Label core PRs, Label tests PRs

Uid
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/math/Angle.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ElevationRange.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Role.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Target.scala
  modules/core/shared/src/main/scala/lucuma/core/model/User.scala
  modules/core/shared/src/main/scala/lucuma/core/model/WithId.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ids.scala
  modules/core/shared/src/main/scala/lucuma/core/util/Gid.scala
  modules/core/shared/src/main/scala/lucuma/core/util/Uid.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbConstraintSet.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbElevationRange.scala
  modules/testkit/src/main/scala/lucuma/core/util/arb/ArbGid.scala
  modules/testkit/src/main/scala/lucuma/core/util/arb/ArbUid.scala
  modules/testkit/src/main/scala/lucuma/core/util/laws/UidTests.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/CoordinatesDiffSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/dimensional/UnitSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ElevationRangeSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/IdsSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/optics/OpticsSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

BrightnessValue -> BigDecimal
  modules/core/shared/src/main/scala/lucuma/core/enum/GpiObservingMode.scala
  modules/core/shared/src/main/scala/lucuma/core/math/BrightnessUnits.scala
  modules/core/shared/src/main/scala/lucuma/core/math/BrightnessValue.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbBrightnessValue.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbSpectralDefinition.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/BrightnessValueSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/dimensional/MeasureSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SourceProfileSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SpectralDefinitionSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/TargetSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Update sbt-scalajs, scalajs-compiler, ... to 1.10.0
  project/plugins.sbt
Due: none

Fix GpiObservingMode values
  modules/core/shared/src/main/scala/lucuma/core/enum/GpiObservingMode.scala
Due: Label core PRs

Update sbt-lucuma-lib to 0.6.4
  project/plugins.sbt
Due: none

Calculate a bounding polygon for Shapes
  modules/core/shared/src/main/scala/lucuma/core/geom/GmosOiwfsProbeArm.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/Shape.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/JtsShape.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
Due: Label core PRs, Label tests PRs
