Repository gemini-hlsw/lucuma-core: changes, and which Mergify rules are due for each by the changed paths.
All: Label core PRs, Label testkit PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=scala-steward
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 2.13.8, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 2.13.8, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label core PRs
  conditions:
  - files~=^modules/core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^modules/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^modules/tests/
  actions:
    label:
      add:
      - tests
      remove: []

Add arbitrary for ObservationWorkflow
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbObservationWorkflow.scala
Due: Label testkit PRs

Change names of configuration request observation validations
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservationValidationCode.scala
Due: Label core PRs

Offset for Gcal
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/StepConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/TelescopeConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbStepConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbTelescopeConfig.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/StepConfigSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Add default TelescopeConfig
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/TelescopeConfig.scala
Due: Label core PRs

StepConfig.offset optional
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/StepConfig.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/StepConfigSuite.scala
Due: Label core PRs, Label tests PRs

move TelescopeConfig to the Step itself
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/Step.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/StepConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbStep.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbStepConfig.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/StepConfigSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/StepSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Offset for Every Step (#968)
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/Step.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/StepConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/TelescopeConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbStep.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbStepConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbTelescopeConfig.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/StepConfigSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/StepSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

convenience methods to build GmosCcdMode instances
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/GmosCcdMode.scala
Due: Label core PRs

Add execution state to sequence digest
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/SequenceDigest.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbSequenceDigest.scala
Due: Label core PRs, Label testkit PRs

mima
  build.sbt
Due: none

rename
  modules/core/shared/src/main/scala/lucuma/core/enums/ExecutionState.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservationExecutionState.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/SequenceDigest.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbSequenceDigest.scala
Due: Label core PRs, Label testkit PRs

Add execution state to sequence digest (#973)
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/ExecutionState.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservationExecutionState.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/SequenceDigest.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbSequenceDigest.scala
Due: Label core PRs, Label testkit PRs

nearestEmissionLine, rearrange code
  modules/core/shared/src/main/scala/lucuma/core/model/SourceProfile.scala
  modules/core/shared/src/main/scala/lucuma/core/model/SpectralDefinition.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SourceProfileSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SpectralDefinitionSuite.scala
Due: Label core PRs, Label tests PRs

display units, bigdecimal, refined
  modules/core/shared/src/main/scala/lucuma/core/math/dimensional/package.scala
  modules/core/shared/src/main/scala/lucuma/core/math/dimensional/syntax.scala
  modules/core/shared/src/main/scala/lucuma/core/math/units.scala
  modules/core/shared/src/main/scala/lucuma/core/util/Display.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/dimensional/MeasureSuite.scala
Due: Label core PRs, Label tests PRs

bump core version
  build.sbt
Due: none

add tests
  modules/tests/shared/src/test/scala/lucuma/core/model/SourceProfileSuite.scala
Due: Label tests PRs

lowercase exponent in bigdecimal display
  modules/core/shared/src/main/scala/lucuma/core/util/Display.scala
Due: Label core PRs

remove fallback
  modules/core/shared/src/main/scala/lucuma/core/model/OrcidProfile.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbOrcidProfile.scala
Due: Label core PRs, Label testkit PRs

parse
  modules/core/shared/src/main/scala/lucuma/core/model/OrcidId.scala
Due: Label core PRs

Add UserProfile, update OrcidProfile
  modules/core/shared/src/main/scala/lucuma/core/model/OrcidProfile.scala
  modules/core/shared/src/main/scala/lucuma/core/model/UserProfile.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbOrcidProfile.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbUserProfile.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/UserProfileSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

`UserProfile` (#979)
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/OrcidId.scala
  modules/core/shared/src/main/scala/lucuma/core/model/OrcidProfile.scala
  modules/core/shared/src/main/scala/lucuma/core/model/UserProfile.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbOrcidProfile.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbUserProfile.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/UserProfileSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Add AttachmentType and AttachmentPurpose enums
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/AttachmentPurpose.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/AttachmentType.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ids.scala
Due: Label core PRs

Add calculations to find if RA/Dec are within limits
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/SiteCoordinatesLimits.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbSiteCoordinatesLimits.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SiteCoordinatesLimits.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Remove positive check
  modules/core/shared/src/main/scala/lucuma/core/model/SiteCoordinatesLimits.scala
Due: Label core PRs

Add lenses for ConfigurationRequest
  modules/core/shared/src/main/scala/lucuma/core/model/ConfigurationRequest.scala
Due: Label core PRs

Move logic from odb to core
  modules/core/shared/src/main/scala/lucuma/core/model/SiteCoordinatesLimits.scala
  modules/core/shared/src/main/scala/lucuma/core/model/syntax/SiteOps.scala
  modules/core/shared/src/main/scala/lucuma/core/model/syntax/package.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbCallCoordinatesLimits.scala
Due: Label core PRs, Label testkit PRs

Move midpoint method to site
  modules/core/shared/src/main/scala/lucuma/core/enums/Site.scala
  modules/core/shared/src/main/scala/lucuma/core/model/syntax/SiteOps.scala
  modules/core/shared/src/main/scala/lucuma/core/model/syntax/package.scala
Due: Label core PRs

Invitation update
  modules/core/shared/src/main/scala/lucuma/core/model/UserInvitation.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ids.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbUserInvitation.scala
Due: Label core PRs, Label testkit PRs

ProgramUser
  modules/core/shared/src/main/scala/lucuma/core/model/ids.scala
Due: Label core PRs

Only provide Eq for NewType if there is no Order instance
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/util/NewType.scala
Due: Label core PRs

change letter
  modules/core/shared/src/main/scala/lucuma/core/model/ids.scala
Due: Label core PRs

ProgramUser (#991)
  modules/core/shared/src/main/scala/lucuma/core/model/ids.scala
Due: Label core PRs

Remove Eq for AttachmentType since it also is Enumerated
  modules/core/shared/src/main/scala/lucuma/core/enums/AttachmentType.scala
Due: Label core PRs

Only publish tags to npm
  .github/workflows/ci.yml
  build.sbt
Due: none

Missing paren
  .github/workflows/ci.yml
  build.sbt
Due: none

Add lenses for UserProfile
  modules/core/shared/src/main/scala/lucuma/core/model/UserProfile.scala
Due: Label core PRs

Invitation update
  modules/core/shared/src/main/scala/lucuma/core/model/UserInvitation.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbUserInvitation.scala
Due: Label core PRs, Label testkit PRs

add justification field
  modules/core/shared/src/main/scala/lucuma/core/model/ConfigurationRequest.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbConfigurationRequest.scala
Due: Label core PRs, Label testkit PRs
