Repository gemini-hlsw/lucuma-core: changes, and which Mergify rules are due for each by the changed paths.
All: Label core PRs, Label testkit PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=scala-steward
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 2.13.8, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 2.13.8, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label core PRs
  conditions:
  - files~=^modules/core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^modules/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^modules/tests/
  actions:
    label:
      add:
      - tests
      remove: []

Add `Optional` optics to ExposureTimeMode
  modules/core/shared/src/main/scala/lucuma/core/model/ExposureTimeMode.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ExposureTimeModeSuite.scala
Due: Label core PRs, Label tests PRs

Bump coulomb to 0.6.0-M3
  build.sbt
Due: none

Validation framework.
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/math/Angle.scala
  modules/core/shared/src/main/scala/lucuma/core/math/validation/MathValidators.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/README.md
  modules/core/shared/src/main/scala/lucuma/core/optics/ValidSplitEpi.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/ValidWedge.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/package.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/InputValidSplitEpi.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/InputValidWedge.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/ValidSplitEpiNec.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/ValidSplitEpiNecInstances.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/package.scala
  modules/testkit/src/main/scala/lucuma/core/optics/laws/ValidSplitEpiProps.scala
  modules/testkit/src/main/scala/lucuma/core/optics/laws/ValidWedgeProps.scala
  modules/testkit/src/main/scala/lucuma/core/optics/laws/WedgeProps.scala
  modules/testkit/src/main/scala/lucuma/core/optics/laws/discipline/FormatTests.scala
  modules/testkit/src/main/scala/lucuma/core/optics/laws/discipline/SplitEpiTests.scala
  modules/testkit/src/main/scala/lucuma/core/optics/laws/discipline/SplitMonoTests.scala
  modules/testkit/src/main/scala/lucuma/core/optics/laws/discipline/SubgroupTests.scala
  modules/testkit/src/main/scala/lucuma/core/optics/laws/discipline/ValidSplitEpiTests.scala
  modules/testkit/src/main/scala/lucuma/core/optics/laws/discipline/ValidWedgeTests.scala
  modules/testkit/src/main/scala/lucuma/core/optics/laws/discipline/WedgeTests.scala
  modules/testkit/src/main/scala/lucuma/core/optics/laws/discipline/package.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/validation/MathValidatorsSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/validation/InputValidSplitEpiInstancesSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/validation/InputValidWedgeInstancesSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Organize imports.
  modules/tests/shared/src/test/scala/lucuma/core/math/validation/MathValidatorsSuite.scala
Due: Label tests PRs

Fix compile
  modules/core/shared/src/main/scala/lucuma/core/math/ApparentRadialVelocity.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Parallax.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Place.scala
  modules/core/shared/src/main/scala/lucuma/core/math/ProperMotion.scala
  modules/core/shared/src/main/scala/lucuma/core/math/RadialVelocity.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Wavelength.scala
  modules/core/shared/src/main/scala/lucuma/core/model/EmissionLine.scala
  modules/core/shared/src/main/scala/lucuma/core/model/UnnormalizedSED.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/PlaceSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/EmissionLineSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/UnnormalizedSEDSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/optics/OpticsSuite.scala
Due: Label core PRs, Label tests PRs

Introduce ValidFormat, address PR coments.
  modules/core/shared/src/main/scala/lucuma/core/optics/ValidFormat.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/ValidSplitEpi.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/ValidWedge.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/InputValidSplitEpi.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/InputValidWedge.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/package.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbOffset.scala
  modules/tests/shared/src/test/scala/lucuma/core/validation/InputValidWedgeInstancesSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Organize imports
  modules/core/shared/src/main/scala/lucuma/core/validation/package.scala
  modules/tests/shared/src/test/scala/lucuma/core/validation/InputValidWedgeInstancesSuite.scala
Due: Label core PRs, Label tests PRs

Elevation range validators, Display.byTag
  modules/core/shared/src/main/scala/lucuma/core/model/validation/ModelValidators.scala
  modules/core/shared/src/main/scala/lucuma/core/util/Display.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/InputValidSplitEpi.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/validation/ModelValidatorsSuite.scala
Due: Label core PRs, Label tests PRs

Bump base version
  build.sbt
Due: none

Fix compile, bump to 3.1.3
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/math/Coverage.scala
  modules/core/shared/src/main/scala/lucuma/core/math/validation/MathValidators.scala
  modules/core/shared/src/main/scala/lucuma/core/model/validation/ModelValidators.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/InputValidSplitEpi.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/InputValidWedge.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/package.scala
  modules/tests/shared/src/test/scala/lucuma/core/validation/InputValidWedgeInstancesSuite.scala
Due: Label core PRs, Label tests PRs

Regenerate workflow
  .github/workflows/ci.yml
  .mergify.yml
Due: none

Bump to lucuma-refined 0.1.0
  build.sbt
Due: none

Wedge composition counterexample worksheet.
  modules/tests/shared/src/test/scala/lucuma/core/optics/wedge.worksheet.sc
Due: Label tests PRs

Add validator for Epoch with no scheme.
  modules/core/shared/src/main/scala/lucuma/core/math/validation/MathValidators.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/validation/MathValidatorsSuite.scala
Due: Label core PRs, Label tests PRs

Bump baseVersion to 0.45
  build.sbt
Due: none

Fix indentation
  modules/core/shared/src/main/scala/lucuma/core/math/validation/MathValidators.scala
Due: Label core PRs

Fix compile
  modules/core/shared/src/main/scala/lucuma/core/math/validation/MathValidators.scala
Due: Label core PRs

Make AnyVal extensions vals private.
  modules/core/jvm/src/main/scala/lucuma/core/geom/jts/jvm/syntax/Awt.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/syntax/Angle.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/syntax/Offset.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/syntax/ShapeExpression.scala
  modules/core/shared/src/main/scala/lucuma/core/math/BrightnessUnits.scala
  modules/core/shared/src/main/scala/lucuma/core/math/dimensional/measure.scala
  modules/core/shared/src/main/scala/lucuma/core/math/dimensional/unit.scala
  modules/core/shared/src/main/scala/lucuma/core/math/syntax/Int.scala
  modules/core/shared/src/main/scala/lucuma/core/model/SiderealTracking.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/syntax/Lens.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/syntax/Optional.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/syntax/Prism.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/syntax/Setter.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/BoundedInterval.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/Display.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/Parser.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/String.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/Time.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/TreeMap.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/TreeSet.scala
  modules/core/shared/src/main/scala/lucuma/core/util/Enumerated.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/package.scala
  modules/testkit/src/main/scala/lucuma/core/optics/laws/package.scala
  modules/testkit/src/main/scala/lucuma/core/util/laws/package.scala
Due: Label core PRs, Label testkit PRs

Coulomb 0.6.0-M4
  build.sbt
Due: none

Add addition and subtraction to Wavelength
  modules/core/shared/src/main/scala/lucuma/core/math/Wavelength.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/WavelengthSuite.scala
Due: Label core PRs, Label tests PRs

Use new syntax for imports
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthGrating.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthGrating.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ImageQuality.scala
  modules/core/shared/src/main/scala/lucuma/core/math/ApparentRadialVelocity.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Constants.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Parallax.scala
  modules/core/shared/src/main/scala/lucuma/core/math/RadialVelocity.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Wavelength.scala
  modules/tests/shared/src/test/scala/lucuma/core/enums/ImageQualitySuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/UnitsSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/WavelengthSuite.scala
Due: Label core PRs, Label tests PRs

Use refined syntax
  modules/core/shared/src/main/scala/lucuma/core/enums/ImageQuality.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Epoch.scala
  modules/core/shared/src/main/scala/lucuma/core/math/units.scala
Due: Label core PRs

Delete old ProposalClass
  modules/core/shared/src/main/scala/lucuma/core/enums/ProposalClass.scala
Due: Label core PRs

Use targetName annotation
  modules/core/shared/src/main/scala/lucuma/core/math/Wavelength.scala
Due: Label core PRs

Delete commented code
  modules/core/shared/src/main/scala/lucuma/core/math/dimensional/package.scala
Due: Label core PRs

Tidy imports
  modules/core/shared/src/main/scala/lucuma/core/math/units.scala
Due: Label core PRs

Delete commented code
  modules/core/shared/src/main/scala/lucuma/core/math/units.scala
Due: Label core PRs

Add comment
  modules/core/shared/src/main/scala/lucuma/core/model/ElevationRange.scala
Due: Label core PRs

Bump base version to 0.53
  build.sbt
Due: none

scalafixAll
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthGrating.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthGrating.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ImageQuality.scala
  modules/core/shared/src/main/scala/lucuma/core/math/ApparentRadialVelocity.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Constants.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Parallax.scala
  modules/core/shared/src/main/scala/lucuma/core/math/RadialVelocity.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Wavelength.scala
  modules/tests/shared/src/test/scala/lucuma/core/enums/ImageQualitySuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/UnitsSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/WavelengthSuite.scala
Due: Label core PRs, Label tests PRs

Visits
  modules/core/shared/src/main/scala/lucuma/core/model/ids.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/Atom.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/FutureExecutionConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ManualConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/Step.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/Visit.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbAtom.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbFutureStep.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbStep.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbStepRecord.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbVisit.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/IdsSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/AtomSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/FutureStepSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/StepRecordSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/StepSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/VisitSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

remove Enumerated.of and Display.fromTag
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/Breakpoint.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/CatalogName.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/CloudExtinction.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/CoolStarTemperature.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/DatasetStage.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/FocalPlane.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GuideSpeed.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ImageQuality.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ObsActiveStatus.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ObsStatus.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ScienceMode.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/SequenceCommand.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/SkyBackground.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/SpectroscopyCapabilities.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/StellarLibrarySpectrum.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/StepStage.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/TacCategory.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ToOActivation.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/WaterVapor.scala
  modules/core/shared/src/main/scala/lucuma/core/util/Display.scala
  modules/core/shared/src/main/scala/lucuma/core/util/Enumerated.scala
Due: Label core PRs

Rollback base ver to 0.52
  build.sbt
Due: none

Enums
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/SequenceType.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/StepQaState.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/Atom.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/FutureExecutionConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ManualConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/Step.scala
Due: Label core PRs

Derive Enumerated from enum.
  modules/core/shared/src/main/scala/lucuma/core/util/Enumerated.scala
  modules/tests/shared/src/test/scala/lucuma/core/enums/EnumeratedSuite.scala
Due: Label core PRs, Label tests PRs

Organize imports. Bump version.
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/util/Enumerated.scala
Due: Label core PRs

Timestamp opaque type
  modules/core/shared/src/main/scala/lucuma/core/model/Ephemeris.scala
  modules/core/shared/src/main/scala/lucuma/core/util/Timestamp.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbEphemeris.scala
  modules/testkit/src/main/scala/lucuma/core/util/arb/ArbTimestamp.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/TimestampSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs
