Repository gemini-hlsw/lucuma-core: changes, and which Mergify rules are due for each by the changed paths.
All: Label ags PRs, Label benchmarks PRs, Label catalog PRs, Label catalog-testkit PRs, Label catalog-tests PRs, Label core PRs, Label horizons PRs, Label npm PRs, Label testkit PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJS)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label ags PRs
  conditions:
  - files~=^modules/ags/
  actions:
    label:
      add:
      - ags
      remove: []
- name: Label benchmarks PRs
  conditions:
  - files~=^modules/benchmarks/
  actions:
    label:
      add:
      - benchmarks
      remove: []
- name: Label catalog PRs
  conditions:
  - files~=^modules/catalog/
  actions:
    label:
      add:
      - catalog
      remove: []
- name: Label catalog-testkit PRs
  conditions:
  - files~=^modules/catalog-testkit/
  actions:
    label:
      add:
      - catalog-testkit
      remove: []
- name: Label catalog-tests PRs
  conditions:
  - files~=^modules/catalog-tests/
  actions:
    label:
      add:
      - catalog-tests
      remove: []
- name: Label core PRs
  conditions:
  - files~=^modules/core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label horizons PRs
  conditions:
  - files~=^modules/horizons/
  actions:
    label:
      add:
      - horizons
      remove: []
- name: Label npm PRs
  conditions:
  - files~=^modules/npm/
  actions:
    label:
      add:
      - npm
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^modules/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^modules/tests/
  actions:
    label:
      add:
      - tests
      remove: []

binary version and scalafix
  build.sbt
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbSequenceDigest.scala
Due: Label testkit PRs

Add utility syntax methods
  modules/ags/src/main/scala/lucuma/ags/Ags.scala
  modules/ags/src/main/scala/lucuma/ags/package.scala
  modules/ags/src/main/scala/lucuma/ags/syntax/package.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/AgsSelectionApp.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/AgsSelectionStreamApp.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/ags/7060.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/AgsSuite.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsAgsDemo.scala
Due: Label ags PRs, Label catalog-tests PRs, Label tests PRs

Explicitly define ordering for TelescopeConfig
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/TelescopeConfig.scala
Due: Label core PRs

Also explicitly define Ordering for Offset
  modules/core/shared/src/main/scala/lucuma/core/math/Offset.scala
Due: Label core PRs

Preserve original order of configs and derive offsets
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/SequenceDigest.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/TelescopeConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbSequenceDigest.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/SequenceDigestSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/TelescopeConfigSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Update binary version
  build.sbt
Due: none

Keep only unique Telescope Configs and remove offsets alltogether
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/SequenceDigest.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbSequenceDigest.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/SequenceDigestSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Rename variable and simplify add method
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/SequenceDigest.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbSequenceDigest.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/SequenceDigestSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Add conversion method
  modules/catalog/src/main/scala/lucuma/catalog/telluric/TelluricStar.scala
Due: Label catalog PRs

Add catalog infor for targets from the telluric server
  modules/catalog/src/main/scala/lucuma/catalog/telluric/TelluricStar.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/CatalogName.scala
Due: Label catalog PRs, Label core PRs

Cleanup interface and revert adapter's logic
  modules/catalog-testkit/shared/src/main/scala/lucuma/catalog/votable/VoTableSamples.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/DataLabQueryApp.scala
  modules/catalog/src/main/scala/lucuma/catalog/clients/GaiaClientImpl.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/ADQLInterpreter.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
Due: Label catalog PRs, Label catalog-testkit PRs, Label catalog-tests PRs

Add datalab as a default
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/DataLabQueryApp.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/clients/GaiaClientSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/clients/GaiaClient.scala
  modules/catalog/src/main/scala/lucuma/catalog/clients/GaiaClientImpl.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/ADQLInterpreter.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
Due: Label catalog PRs, Label catalog-tests PRs

Improve the test apps
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/DataLabQueryApp.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/GaiaQueryPMApp.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
Due: Label catalog PRs, Label catalog-tests PRs

Cleanup
  modules/catalog-testkit/shared/src/main/scala/lucuma/catalog/votable/VoTableSamples.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/clients/GaiaClientSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/clients/GaiaClientImpl.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/ADQLInterpreter.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogQuery.scala
Due: Label catalog PRs, Label catalog-testkit PRs, Label catalog-tests PRs

Instead of looking for id use the per adapter parallx and rv ucds
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
Due: Label catalog PRs

datalab
  modules/catalog-testkit/shared/src/main/scala/lucuma/catalog/votable/VoTableSamples.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/clients/GaiaClientSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
Due: Label catalog PRs, Label catalog-testkit PRs, Label catalog-tests PRs

Update binary version
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
Due: Label catalog PRs

Update binary version
  build.sbt
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
Due: Label catalog PRs

always cap gmos spatial binning to 2
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/binning.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/imaging/package.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/longslit/package.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/mos/package.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/gmos/BinningSuite.scala
Due: Label core PRs, Label tests PRs

bump base version
  build.sbt
Due: none

Use IAU site code for horizons instead of explicit coords
  build.sbt
  modules/horizons/src/main/scala/lucuma/horizons/AbstractHorizonsClient.scala
  modules/horizons/src/main/scala/lucuma/horizons/HorizonsConstants.scala
Due: Label horizons PRs

wip
  modules/core/shared/src/main/scala/lucuma/core/model/Ephemeris.scala
  modules/core/shared/src/main/scala/lucuma/core/model/EphemerisKey.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Target.scala
  modules/core/shared/src/main/scala/lucuma/core/parser/EphemerisKeyParsers.scala
  modules/horizons-tests/shared/src/test/scala/lucuma/horizons/HorizonsClientAsteroidSuite.scala
  modules/horizons-tests/shared/src/test/scala/lucuma/horizons/HorizonsClientCometSuite.scala
  modules/horizons-tests/shared/src/test/scala/lucuma/horizons/HorizonsClientEphemerisSuite.scala
  modules/horizons-tests/shared/src/test/scala/lucuma/horizons/HorizonsClientMajorBodySuite.scala
  modules/horizons/src/main/scala/lucuma/horizons/AbstractHorizonsClient.scala
  modules/horizons/src/main/scala/lucuma/horizons/HorizonsClient.scala
  modules/horizons/src/main/scala/lucuma/horizons/HorizonsEphemeris.scala
  modules/horizons/src/main/scala/lucuma/horizons/HorizonsParser.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbEphemerisKey.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbTarget.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/EphemerisKeySuite.scala
Due: Label core PRs, Label horizons PRs, Label testkit PRs, Label tests PRs

Make UnconstrainedAngles public
  modules/ags/src/main/scala/lucuma/ags/package.scala
Due: Label ags PRs

OffsetGenerator model
  modules/core/shared/src/main/scala/lucuma/core/enums/WavelengthOrder.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/OffsetGenerator.scala
  modules/testkit/src/main/scala/lucuma/core/geom/arb/ArbOffsetGenerator.scala
  modules/tests/shared/src/test/scala/lucuma/core/geom/OffsetGeneratorSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Datalab is not parsing brightnesses
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/clients/GaiaClientSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
Due: Label catalog PRs, Label catalog-tests PRs

Revert "OffsetGenerator model"
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/WavelengthOrder.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/OffsetGenerator.scala
  modules/testkit/src/main/scala/lucuma/core/geom/arb/ArbOffsetGenerator.scala
  modules/tests/shared/src/test/scala/lucuma/core/geom/OffsetGeneratorSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Update base version
  build.sbt
Due: none

Properly parse proper motion on datalab
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/clients/GaiaClientSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
Due: Label catalog PRs, Label catalog-tests PRs

Also consider epoch and source id
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/clients/GaiaClientSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
Due: Label catalog PRs, Label catalog-tests PRs

Compare barnard's star for each adapter
  modules/catalog-testkit/shared/src/main/scala/lucuma/catalog/votable/VoTableSamples.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/clients/GaiaClientSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
Due: Label catalog PRs, Label catalog-testkit PRs, Label catalog-tests PRs

Record gaia BP mag if present
  modules/catalog-testkit/shared/src/main/scala/lucuma/catalog/votable/VoTableSamples.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/clients/GaiaClientSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/BandsList.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
Due: Label catalog PRs, Label catalog-testkit PRs, Label catalog-tests PRs

Add logging to gaia queries
  modules/catalog-testkit/jvm/src/main/scala/lucuma/catalog/clients/GaiaClientMock.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/AgsSelectionApp.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/AgsSelectionStreamApp.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/BlindOffsetApp.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/DataLabQueryApp.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/GaiaQueryApp.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/GaiaQueryPMApp.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/ags/7060.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/clients/GaiaClientSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/clients/GaiaClient.scala
  modules/catalog/src/main/scala/lucuma/catalog/clients/GaiaClientImpl.scala
Due: Label catalog PRs, Label catalog-testkit PRs, Label catalog-tests PRs

Update binary version
  build.sbt
  modules/catalog-tests/jvm/src/test/scala/lucuma/ags/7060.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/clients/GaiaClientSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/clients/GaiaClientImpl.scala
Due: Label catalog PRs, Label catalog-tests PRs

Add a couple of helper methods to Tracking
  modules/core/shared/src/main/scala/lucuma/core/model/Tracking.scala
Due: Label core PRs

wip
  modules/core/shared/src/main/scala/lucuma/core/data/PerSite.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Ephemeris.scala
  modules/horizons-tests/shared/src/test/scala/lucuma/horizons/HorizonsClientEphemerisSuite.scala
  modules/horizons/src/main/scala/lucuma/horizons/AbstractHorizonsClient.scala
  modules/horizons/src/main/scala/lucuma/horizons/HorizonsClient.scala
Due: Label core PRs, Label horizons PRs

scalafix
  modules/core/shared/src/main/scala/lucuma/core/model/Ephemeris.scala
Due: Label core PRs

Remove helper methods from Tracking that die for non-sidereals
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/Tracking.scala
Due: Label core PRs
