Repository gemini-hlsw/lucuma-core: changes, and which Mergify rules are due for each by the changed paths.
All: Label ags PRs, Label catalog PRs, Label catalog-testkit PRs, Label catalog-tests PRs, Label core PRs, Label horizons PRs, Label horizons-tests PRs, Label npm PRs, Label testkit PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJS)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label ags PRs
  conditions:
  - files~=^modules/ags/
  actions:
    label:
      add:
      - ags
      remove: []
- name: Label catalog PRs
  conditions:
  - files~=^modules/catalog/
  actions:
    label:
      add:
      - catalog
      remove: []
- name: Label catalog-testkit PRs
  conditions:
  - files~=^modules/catalog-testkit/
  actions:
    label:
      add:
      - catalog-testkit
      remove: []
- name: Label catalog-tests PRs
  conditions:
  - files~=^modules/catalog-tests/
  actions:
    label:
      add:
      - catalog-tests
      remove: []
- name: Label core PRs
  conditions:
  - files~=^modules/core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label horizons PRs
  conditions:
  - files~=^modules/horizons/
  actions:
    label:
      add:
      - horizons
      remove: []
- name: Label horizons-tests PRs
  conditions:
  - files~=^modules/horizons-tests/
  actions:
    label:
      add:
      - horizons-tests
      remove: []
- name: Label npm PRs
  conditions:
  - files~=^modules/npm/
  actions:
    label:
      add:
      - npm
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^modules/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^modules/tests/
  actions:
    label:
      add:
      - tests
      remove: []

remove obsolete comment
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsFilter.scala
Due: Label core PRs

fix misnomer
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsDecker.scala
Due: Label core PRs

bump base version
  build.sbt
Due: none

mark flaky tests
  modules/horizons-tests/shared/src/test/scala/lucuma/horizons/HorizonsClientSearchSuite.scala
Due: Label horizons-tests PRs

Add ImagingVariantType enum
  modules/core/shared/src/main/scala/lucuma/core/enums/ImagingVariantType.scala
Due: Label core PRs

Remove obsoleted gmos imaging variant type enum
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosImagingVariantType.scala
Due: Label core PRs

add digitalAverages to GnirsReadMoide
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsReadMode.scala
Due: Label core PRs

mark all horizons tests as flaky
  modules/horizons-tests/shared/src/test/scala/lucuma/horizons/HorizonsClientEphemerisSuite.scala
Due: Label horizons-tests PRs

add display for ImagingVariantType
  modules/core/shared/src/main/scala/lucuma/core/enums/ImagingVariantType.scala
Due: Label core PRs

fix readouttime (typo?)
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsReadMode.scala
Due: Label core PRs

Update imports
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/AdaptersSuite.scala
Due: Label catalog-tests PRs

Add enum for cass rotator modes
  modules/core/shared/src/main/scala/lucuma/core/enums/CassRotator.scala
Due: Label core PRs

Add Display instance
  modules/core/shared/src/main/scala/lucuma/core/enums/CassRotator.scala
  modules/core/shared/src/main/scala/lucuma/core/util/Display.scala
Due: Label core PRs

SC-8582 Added centralWavelength to GhostDynamic
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostDynamicConfig.scala
Due: Label core PRs

SC-8739 Added centralWavelength to Igrins2Dynamic
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/igrins2/Igrins2DynamicConfig.scala
Due: Label core PRs

Add parser and angle-related exports for JS
  .scalafix.conf
  modules/npm/src/main/scala/lucuma/core/AngleJS.scala
  modules/npm/src/main/scala/lucuma/core/DeclinationJS.scala
  modules/npm/src/main/scala/lucuma/core/ProperMotionJS.scala
  modules/npm/src/main/scala/lucuma/core/RightAscensionJS.scala
  modules/npm/src/main/scala/lucuma/core/exports.scala
  modules/npm/src/main/typescript/main.d.ts
  modules/npm/src/test/scala/lucuma/core/ExportsTest.scala
Due: Label npm PRs

update cutoff for gnirs auto-acquisition mode
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsFilter.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gnirs/GnirsAcquisitionMode.scala
Due: Label core PRs

fix automatic gnirs acquisition filter
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsFilter.scala
Due: Label core PRs

add descriptive comment for gnirs filters
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsFilter.scala
Due: Label core PRs

comment
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsFilter.scala
Due: Label core PRs

better lookup of gnirs filters
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsFilter.scala
Due: Label core PRs

flaky tests excluded on ScalaJS
  build.sbt
  modules/tests/jvm/src/test/scala/lucuma/core/math/skycalc/ImprovedSkyCalcSuiteJVM.scala
  modules/tests/shared/src/test/scala/lucuma/core/geom/ShapeExpressionSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/BoundedIntervalSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/CoordinatesSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/tests/ScalaCheckFlaky.scala
Due: Label tests PRs

move flaky test logic to sbt-lucuma
  build.sbt
  modules/tests/jvm/src/test/scala/lucuma/core/math/skycalc/ImprovedSkyCalcSuiteJVM.scala
  modules/tests/shared/src/test/scala/lucuma/core/geom/ShapeExpressionSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/BoundedIntervalSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/CoordinatesSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/tests/ScalaCheckFlaky.scala
  project/plugins.sbt
Due: Label tests PRs

scalafix
  modules/horizons/src/main/scala/lucuma/horizons/AbstractHorizonsClient.scala
  modules/itac/src/main/scala/impl/QueueFrame.scala
  modules/itac/src/main/scala/log/package.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/RaResourceTest.scala
Due: Label horizons PRs

Bring ghost ifu mapping code from the odb
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostIfuMappingSyntax.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/IfuMappingContext.scala
Due: Label core PRs

Fix JS-exported declination to [-90º, 90º]
  modules/npm/src/main/scala/lucuma/core/DeclinationJS.scala
  modules/npm/src/main/scala/lucuma/core/exports.scala
  modules/npm/src/test/scala/lucuma/core/ExportsTest.scala
Due: Label npm PRs

groups
  modules/itac/src/main/scala/api/QueueCalc.scala
  modules/itac/src/main/scala/api/QueueEngine.scala
  modules/itac/src/main/scala/api/config/QueueEngineConfig.scala
  modules/itac/src/main/scala/api/queue/ProposalQueue.scala
  modules/itac/src/main/scala/impl/QueueCalcStage.scala
  modules/itac/src/main/scala/impl/QueueEngine3.scala
  modules/itac/src/main/scala/impl/block/TimeAccountingCategoryBlockIterator.scala
  modules/itac/src/main/scala/impl/block/TooBlocks.scala
  modules/itac/src/main/scala/impl/queue/ProposalQueueBuilder.scala
  modules/itac/src/main/scala/log/RejectTarget.scala
  modules/itac/src/main/scala/log/RejectToo.scala
  modules/itac/src/main/scala/log/TimeBinMessageFormatter.scala
  modules/itac/src/main/scala/log/package.scala
  modules/itac/src/main/scala/p1/ItacGroup.scala
  modules/itac/src/main/scala/p1/Proposal.scala
  modules/itac/src/main/scala/p1/ProposalShard.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/TimeRestrictionTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/QueueEngineBandProblemsTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/block/BlockIteratorTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/block/TimeAccountingCategoryBlockIteratorTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/ConditionsResourceTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/DecResourceTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/Fixture.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceGroupTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceTest.scala
  modules/itac/src/test/scala/lucuma/QueueEngineSuite.scala
Due: none

scalafix
  modules/itac/src/main/scala/api/queue/ProposalQueue.scala
  modules/itac/src/main/scala/impl/QueueEngine3.scala
  modules/itac/src/main/scala/impl/queue/ProposalQueueBuilder.scala
  modules/itac/src/main/scala/log/RejectToo.scala
  modules/itac/src/main/scala/p1/ItacGroup.scala
  modules/itac/src/main/scala/p1/ItacObservation.scala
  modules/itac/src/main/scala/p1/Proposal.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/QueueEngineBandProblemsTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/block/BlockIteratorTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/block/TimeAccountingCategoryBlockIteratorTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/ConditionsResourceTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/DecResourceTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/Fixture.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/RaResourceTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceGroupTest.scala
  modules/itac/src/test/scala/lucuma/QueueEngineSuite.scala
Due: none

GnirsFpu enum, DaytimePinhole cal role
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/CalibrationRole.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gnirs/GnirsScienceAreaGeometry.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gnirs/GnirsDynamicConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gnirs/GnirsFpu.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/gnirs/arb/ArbGnirsDynamicConfig.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Update workflows
  .mergify.yml
  modules/benchmarks/src/main/scala/lucuma/bench/Fixtures.scala
Due: none

Update jts
  build.sbt
Due: none

libupdate
  build.sbt
Due: none

Redo the benchmark with JMH
  build.sbt
  modules/benchmarks/README.md
  modules/benchmarks/src/main/scala/lucuma/bench/Bench.scala
  modules/benchmarks/src/main/scala/lucuma/bench/Fixtures.scala
  modules/benchmarks/src/main/scala/lucuma/bench/RelateNgBench.scala
  modules/benchmarks/src/main/scala/lucuma/bench/RelateNgBenchmarks.scala
  modules/benchmarks/src/main/scala/lucuma/bench/S4IntersectionBenchmark.scala
  project/plugins.sbt
Due: none

Add a benchmark to check the effect of jts speedups on ags
  build.sbt
  modules/benchmarks/src/main/scala/lucuma/bench/Bench.scala
  modules/benchmarks/src/main/scala/lucuma/bench/Fixtures.scala
  modules/benchmarks/src/main/scala/lucuma/bench/RelateNgBench.scala
Due: none

Improve the output of AgsStats
  modules/ags/src/main/scala/lucuma/ags/package.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/AgsSelectionApp.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/GhostAgsSelectionApp.scala
Due: Label ags PRs, Label catalog-tests PRs

Add observing mode for gmos[ns] mos
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservingModeType.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Configuration.scala
  modules/core/shared/src/main/scala/lucuma/core/model/probes.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbConfiguration.scala
Due: Label core PRs, Label testkit PRs

Add test for MOS configuration checks
  modules/tests/shared/src/test/scala/lucuma/core/model/ConfigurationSuite.scala
Due: Label tests PRs

mima
  build.sbt
Due: none
