Repository gemini-hlsw/lucuma-core: changes, and which Mergify rules are due for each by the changed paths.
All: Label core PRs, Label testkit PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=scala-steward
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 2.13.8, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 2.13.8, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label core PRs
  conditions:
  - files~=^modules/core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^modules/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^modules/tests/
  actions:
    label:
      add:
      - tests
      remove: []

mima
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/Ephemeris.scala
  modules/testkit/src/main/scala/lucuma/core/util/arb/ArbTimestamp.scala
Due: Label core PRs, Label testkit PRs

Timestamp (#577)
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/Ephemeris.scala
  modules/core/shared/src/main/scala/lucuma/core/util/Timestamp.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbEphemeris.scala
  modules/testkit/src/main/scala/lucuma/core/util/arb/ArbTimestamp.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/TimestampSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Truncate both ways. Round parallax on parse.
  modules/core/shared/src/main/scala/lucuma/core/math/Parallax.scala
  modules/core/shared/src/main/scala/lucuma/core/math/validation/MathValidators.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/InputValidWedge.scala
  modules/tests/shared/src/test/scala/lucuma/core/validation/InputValidSplitEpiInstancesSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/validation/InputValidWedgeInstancesSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/validation/package.scala
Due: Label core PRs, Label tests PRs

Add Display to Gid
  modules/core/shared/src/main/scala/lucuma/core/util/Gid.scala
Due: Label core PRs

Add a time dimension to brightness measurements
  modules/core/shared/src/main/scala/lucuma/core/math/BrightnessUnits.scala
  modules/core/shared/src/main/scala/lucuma/core/model/SourceProfile.scala
  modules/core/shared/src/main/scala/lucuma/core/model/SpectralDefinition.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Target.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbSpectralDefinition.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SourceProfileSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SpectralDefinitionSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/TargetSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Add a time dimension to emission lines
  modules/core/shared/src/main/scala/lucuma/core/model/EmissionLine.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbEmissionLine.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbSpectralDefinition.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/EmissionLineSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SourceProfileSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SpectralDefinitionSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Sort imports
  build.sbt
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbEmissionLine.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbSpectralDefinition.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/EmissionLineSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SourceProfileSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SpectralDefinitionSuite.scala
Due: Label testkit PRs, Label tests PRs

Unify tracking methods for Sidereal and Nonsidereal targets
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/SiderealTracking.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Target.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Tracking.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/Time.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/ProperMotionSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SiderealTrackingSuite.scala
Due: Label core PRs, Label tests PRs

Updates from PR comments
  modules/core/shared/src/main/scala/lucuma/core/model/SiderealTracking.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Target.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Tracking.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/Time.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/ProperMotionSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SiderealTrackingSuite.scala
Due: Label core PRs, Label tests PRs

Add method to get coordinates at epoch
  modules/benchmarks/src/main/scala/lucuma/core/ProperMotionBenchmark.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Target.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Tracking.scala
Due: Label core PRs

Add ghost adc items
  modules/core/shared/src/main/scala/lucuma/core/enum/GiapiStatusApply.scala
Due: Label core PRs

Add centerOf method
  modules/core/shared/src/main/scala/lucuma/core/math/Coordinates.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/CoordinatesSuite.scala
Due: Label core PRs, Label tests PRs

Generalize centerOf
  modules/core/shared/src/main/scala/lucuma/core/math/Coordinates.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/CoordinatesSuite.scala
Due: Label core PRs, Label tests PRs

NewType via opaque types.
  modules/core/shared/src/main/scala/lucuma/core/util/NewType.scala
Due: Label core PRs

NewType as trait
  modules/core/shared/src/main/scala/lucuma/core/util/NewType.scala
Due: Label core PRs

prePR
  modules/core/shared/src/main/scala/lucuma/core/util/NewType.scala
Due: Label core PRs

Inline NewType.apply
  modules/core/shared/src/main/scala/lucuma/core/util/NewType.scala
Due: Label core PRs

bump base version
  build.sbt
Due: none

bump version
  build.sbt
Due: none

Add csv as a possible catalog name
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/CatalogName.scala
Due: Label core PRs

Switch angle parsing to cats-parse
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/math/Angle.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Coordinates.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Declination.scala
  modules/core/shared/src/main/scala/lucuma/core/math/RightAscension.scala
  modules/core/shared/src/main/scala/lucuma/core/math/parser/Angle.scala
  modules/core/shared/src/main/scala/lucuma/core/math/parser/AngleParsers.scala
  modules/core/shared/src/main/scala/lucuma/core/math/parser/Coordinates.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/AngleSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/DeclinationSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/RightAscensionSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/parser/AngleParsersSuite.scala
Due: Label core PRs, Label tests PRs

unNone extension method
  modules/core/shared/src/main/scala/lucuma/core/syntax/IterableOps.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/package.scala
Due: Label core PRs

Better tests for the parsers
  modules/core/shared/src/main/scala/lucuma/core/math/parser/AngleParsers.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/parser/AngleParsersSuite.scala
Due: Label core PRs, Label tests PRs

Improve to parser types
  modules/core/shared/src/main/scala/lucuma/core/math/parser/AngleParsers.scala
Due: Label core PRs

Port the epoch parser to cats-parse
  modules/core/shared/src/main/scala/lucuma/core/math/Angle.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Declination.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Epoch.scala
  modules/core/shared/src/main/scala/lucuma/core/math/RightAscension.scala
  modules/core/shared/src/main/scala/lucuma/core/math/parser/Epoch.scala
  modules/core/shared/src/main/scala/lucuma/core/math/parser/EpochParsers.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/EpochSuite.scala
Due: Label core PRs, Label tests PRs

Port parsers to cats-parse
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/parser/EnumParsers.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Angle.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Epoch.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Index.scala
  modules/core/shared/src/main/scala/lucuma/core/math/parser/AngleParsers.scala
  modules/core/shared/src/main/scala/lucuma/core/model/EphemerisKey.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Semester.scala
  modules/core/shared/src/main/scala/lucuma/core/model/parser/SemesterParser.scala
  modules/core/shared/src/main/scala/lucuma/core/parser/EphemerisKeyParsers.scala
  modules/core/shared/src/main/scala/lucuma/core/parser/Misc.scala
  modules/core/shared/src/main/scala/lucuma/core/parser/MiscParsers.scala
  modules/core/shared/src/main/scala/lucuma/core/parser/Time.scala
  modules/core/shared/src/main/scala/lucuma/core/parser/TimeParsers.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/Parser.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/package.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbEphemerisKey.scala
  modules/testkit/src/main/scala/lucuma/core/optics/laws/discipline/FormatTests.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/EpochSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/parser/AngleParsersSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/parser/MiscParsersSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/EphemerisKeySuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SourceProfileSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/TimestampSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Remove duplicated parser and migrate to extension methods
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/math/Wavelength.scala
  modules/core/shared/src/main/scala/lucuma/core/math/validation/MathValidators.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/String.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/InputValidSplitEpi.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/package.scala
Due: Label core PRs

Small cleanup of NonNegDuration class
  modules/core/shared/src/main/scala/lucuma/core/model/ExposureTimeMode.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ProposalClass.scala
  modules/core/shared/src/main/scala/lucuma/core/model/package.scala
  modules/core/shared/src/main/scala/lucuma/core/model/syntax/NonNegDurationOps.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbExposureTimeMode.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbNonNegDuration.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbProposal.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbProposalClass.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ExposureTimeModeSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ProposalClassSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ProposalSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Remove unused comment
  modules/core/shared/src/main/scala/lucuma/core/model/package.scala
Due: Label core PRs

Make seconds parser public
  modules/core/shared/src/main/scala/lucuma/core/math/parser/AngleParsers.scala
  modules/core/shared/src/main/scala/lucuma/core/parser/MiscParsers.scala
Due: Label core PRs

Add type to seconds parser
  modules/core/shared/src/main/scala/lucuma/core/math/parser/AngleParsers.scala
Due: Label core PRs

Make AngularVelocityComponent an opaque type
  modules/core/shared/src/main/scala/lucuma/core/math/ProperMotion.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/ProperMotionSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/UnnormalizedSEDSuite.scala
Due: Label core PRs, Label tests PRs

Switch to use Of to tag AngularVelocity axes
  modules/core/shared/src/main/scala/lucuma/core/math/ProperMotion.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbProperMotion.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbSiderealTracking.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbTarget.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/ProperMotionSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/dimensional/UnitSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SiderealTrackingSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/TargetSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Update base version
  build.sbt
Due: none

Fixes an edge case revelead on a test failure
  modules/core/shared/src/main/scala/lucuma/core/math/validation/MathValidators.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/validation/MathValidatorsSuite.scala
Due: Label core PRs, Label tests PRs

Use Instant instead of timestamp
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/math/BrightnessUnits.scala
  modules/core/shared/src/main/scala/lucuma/core/model/EmissionLine.scala
  modules/core/shared/src/main/scala/lucuma/core/model/SpectralDefinition.scala
  modules/testkit/src/main/scala/lucuma/core/math/dimensional/arb/ArbMeasure.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbEmissionLine.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbSpectralDefinition.scala
  modules/testkit/src/main/scala/lucuma/core/util/arb/ArbEnumerated.scala
  modules/tests/shared/src/test/scala/lucuma/core/data/ZipperSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/EmissionLineSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SourceProfileSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SpectralDefinitionSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/TargetSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

General cleanup
  modules/core/shared/src/main/scala/lucuma/core/math/BrightnessUnits.scala
  modules/core/shared/src/main/scala/lucuma/core/model/EmissionLine.scala
  modules/core/shared/src/main/scala/lucuma/core/model/UnnormalizedSED.scala
  modules/testkit/src/main/scala/lucuma/core/math/dimensional/arb/ArbMeasure.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbEmissionLine.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbSourceProfile.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbSpectralDefinition.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbTarget.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbUnnormalizedSED.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/dimensional/MeasureSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/EmissionLineSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SourceProfileSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/SpectralDefinitionSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/TargetSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/UnnormalizedSEDSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

GHOST SV
  modules/core/shared/src/main/scala/lucuma/core/enums/GiapiStatusApply.scala
Due: Label core PRs

Fix call to really support a regex
  modules/core/shared/src/main/scala/lucuma/core/math/validation/MathValidators.scala
Due: Label core PRs

Add SV status items
  modules/core/shared/src/main/scala/lucuma/core/enums/GiapiStatusApply.scala
Due: Label core PRs
