Repository gemini-hlsw/lucuma-core: changes, and which Mergify rules are due for each by the changed paths.
All: Label ags PRs, Label catalog PRs, Label catalog-testkit PRs, Label catalog-tests PRs, Label core PRs, Label horizons PRs, Label horizons-tests PRs, Label npm PRs, Label testkit PRs, Label tests PRs

Label ags PRs:
  label:
    add:
    - ags
    remove: []

Label catalog PRs:
  label:
    add:
    - catalog
    remove: []

Label catalog-testkit PRs:
  label:
    add:
    - catalog-testkit
    remove: []

Label catalog-tests PRs:
  label:
    add:
    - catalog-tests
    remove: []

Label core PRs:
  label:
    add:
    - core
    remove: []

Label horizons PRs:
  label:
    add:
    - horizons
    remove: []

Label horizons-tests PRs:
  label:
    add:
    - horizons-tests
    remove: []

Label npm PRs:
  label:
    add:
    - npm
    remove: []

Label testkit PRs:
  label:
    add:
    - testkit
    remove: []

Label tests PRs:
  label:
    add:
    - tests
    remove: []

Add ags params generation for igrins2
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/AgsSuite.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/igrins2/Igrins2ScienceAreaGeometry.scala
Due: Label ags PRs, Label catalog-tests PRs, Label core PRs

make it faster
  modules/itac/jvm/src/main/scala/skycalc/ElevationDecBinCalc.scala
  modules/itac/jvm/src/main/scala/skycalc/RaDecBinCalc.scala
Due: none

bump
  build.sbt
Due: none

build
  build.sbt
Due: none

workflow
  .mergify.yml
Due: none

Handle vmag = 'n.a.' in ephemeris
  modules/core/shared/src/main/scala/lucuma/core/model/Ephemeris.scala
  modules/horizons-tests/shared/src/test/scala/lucuma/horizons/HorizonsClientEphemerisSuite.scala
  modules/horizons/src/main/scala/lucuma/horizons/HorizonsParser.scala
Due: Label core PRs, Label horizons PRs, Label horizons-tests PRs

partner
  modules/itac/src/main/scala/api/config/QueueEngineConfig.scala
  modules/itac/src/main/scala/api/config/TimeAccountingCategorySequence.scala
  modules/itac/src/main/scala/api/queue/ProposalQueue.scala
  modules/itac/src/main/scala/api/queue/time/PartnerTime.scala
  modules/itac/src/main/scala/api/queue/time/QueueTime.scala
  modules/itac/src/main/scala/api/queue/time/TimeAccountingCategoryTime.scala
  modules/itac/src/main/scala/ctx/Partner.scala
  modules/itac/src/main/scala/impl/QueueCalcStage.scala
  modules/itac/src/main/scala/impl/QueueEngine.scala
  modules/itac/src/main/scala/impl/QueueEngine2.scala
  modules/itac/src/main/scala/impl/QueueFrame.scala
  modules/itac/src/main/scala/impl/block/Block.scala
  modules/itac/src/main/scala/impl/block/BlockIterator.scala
  modules/itac/src/main/scala/impl/block/TimeAccountingCategoryBlockIterator.scala
  modules/itac/src/main/scala/impl/resource/SemesterResource.scala
  modules/itac/src/main/scala/log/AcceptMessage.scala
  modules/itac/src/main/scala/log/RejectTimeAccountingCategoryOverAllocation.scala
  modules/itac/src/main/scala/p1/Ntac.scala
  modules/itac/src/main/scala/p1/Proposal.scala
  modules/itac/src/main/scala/p1/io/NtacIo.scala.ignore
  modules/itac/src/main/scala/p1/io/ProposalIo.scala.ignore
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/TimeRestrictionTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/block/BlockIteratorTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/block/TimeAccountingCategoryBlockIteratorTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/ConditionsResourceTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/DecResourceTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/Fixture.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/RaResourceTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceGroupTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/p1/io/NtacIoTest.scala.ignore
  modules/itac/src/test/scala/edu/gemini/tac/qengine/p1/io/ProposalFixture.scala.ignore
Due: none

Change Timestamp circe.Encoder to isoFormat
  modules/core/shared/src/main/scala/lucuma/core/util/Timestamp.scala
Due: Label core PRs

ItacTarget
  modules/itac/src/main/scala/api/config/DecRange.scala
  modules/itac/src/main/scala/api/config/DeclinationMap.scala
  modules/itac/src/main/scala/api/config/RightAscensionMap.scala
  modules/itac/src/main/scala/impl/resource/DeclinationMapResource.scala
  modules/itac/src/main/scala/impl/resource/PerRightAscensionResource.scala
  modules/itac/src/main/scala/impl/resource/RightAscensionMapResource.scala
  modules/itac/src/main/scala/impl/resource/SemesterResource.scala
  modules/itac/src/main/scala/log/TimeBinMessageFormatter.scala
  modules/itac/src/main/scala/p1/Observation.scala
  modules/itac/src/main/scala/p1/Target.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/DecBinGroupTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/DecBinTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/DecRangeTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/RaBinGroupTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/TimeRestrictionTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/block/BlockIteratorTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/block/TimeAccountingCategoryBlockIteratorTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/ConditionsResourceTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/DecResourceTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/Fixture.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/RaResourceTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceGroupTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceTest.scala
Due: none

simplify target
  modules/itac/src/main/scala/p1/Target.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/DecBinGroupTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/DecBinTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/DecRangeTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/RaBinGroupTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/TimeRestrictionTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/block/BlockIteratorTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/block/TimeAccountingCategoryBlockIteratorTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/ConditionsResourceTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/DecResourceTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/RaResourceTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceGroupTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceTest.scala
Due: none

elevationrange
  modules/itac/src/main/scala/api/config/Default.scala
  modules/itac/src/main/scala/p1/ObservingConditions.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/ConditionsBinGroupTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/ConditionsCategoryTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/TimeRestrictionTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/ConditionsResourceTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/Fixture.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceGroupTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceTest.scala
Due: none

cloud extinction
  modules/itac/src/main/scala/api/config/ConditionsCategory.scala
  modules/itac/src/main/scala/api/config/Default.scala
  modules/itac/src/main/scala/p1/ObservingCondition.scala
  modules/itac/src/main/scala/p1/ObservingConditions.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/ConditionsBinGroupTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/ConditionsBinTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/ConditionsCategoryTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/TimeRestrictionTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/ConditionsResourceTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/Fixture.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceGroupTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceTest.scala
Due: none

fix
  modules/itac/src/main/scala/api/config/ConditionsCategory.scala
  modules/itac/src/main/scala/api/config/Default.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/ConditionsBinGroupTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/ConditionsBinTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/ConditionsCategoryTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/TimeRestrictionTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/ConditionsResourceTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/Fixture.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceGroupTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceTest.scala
Due: none

watervapor
  modules/itac/src/main/scala/api/config/ConditionsCategory.scala
  modules/itac/src/main/scala/api/config/Default.scala
  modules/itac/src/main/scala/api/config/TimeRestriction.scala
  modules/itac/src/main/scala/p1/ObservingCondition.scala
  modules/itac/src/main/scala/p1/ObservingConditions.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/ConditionsBinGroupTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/ConditionsCategoryTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/RestrictionConfigTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/TimeRestrictionTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/ConditionsResourceTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/Fixture.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceGroupTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceTest.scala
Due: none

constraintset
  modules/itac/src/main/scala/api/config/ConditionsCategory.scala
  modules/itac/src/main/scala/api/config/ConditionsCategoryMap.scala
  modules/itac/src/main/scala/api/config/Default.scala
  modules/itac/src/main/scala/impl/resource/ConditionsCategoryMapResource.scala
  modules/itac/src/main/scala/impl/resource/PerRightAscensionResource.scala
  modules/itac/src/main/scala/impl/resource/RightAscensionMapResource.scala
  modules/itac/src/main/scala/impl/resource/SemesterResource.scala
  modules/itac/src/main/scala/p1/Observation.scala
  modules/itac/src/main/scala/p1/ObservingConditions.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/ConditionsBinGroupTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/ConditionsCategoryTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/TimeRestrictionTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/block/BlockIteratorTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/block/TimeAccountingCategoryBlockIteratorTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/ConditionsResourceTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/DecResourceTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/Fixture.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/RaResourceTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceGroupTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceTest.scala
Due: none

imagequality
  modules/itac/src/main/scala/api/config/BandRestriction.scala
  modules/itac/src/main/scala/api/config/ConditionsCategory.scala
  modules/itac/src/main/scala/api/config/Default.scala
  modules/itac/src/main/scala/p1/ObservingCondition.scala
  modules/itac/src/main/scala/p1/ObservingConditions.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/ConditionsBinGroupTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/ConditionsCategoryTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/TimeRestrictionTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/ConditionsResourceTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/Fixture.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceGroupTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceTest.scala
Due: none

ItacObservation
  modules/itac/src/main/scala/api/config/BandRestriction.scala
  modules/itac/src/main/scala/api/config/TimeRestriction.scala
  modules/itac/src/main/scala/impl/QueueCalcStage.scala
  modules/itac/src/main/scala/impl/QueueEngine.scala
  modules/itac/src/main/scala/impl/QueueEngine2.scala
  modules/itac/src/main/scala/impl/QueueFrame.scala
  modules/itac/src/main/scala/impl/block/Block.scala
  modules/itac/src/main/scala/impl/block/BlockIterator.scala
  modules/itac/src/main/scala/impl/block/TimeAccountingCategoryBlockIterator.scala
  modules/itac/src/main/scala/impl/resource/ConditionsCategoryMapResource.scala
  modules/itac/src/main/scala/impl/resource/DeclinationMapResource.scala
  modules/itac/src/main/scala/impl/resource/RightAscensionMapResource.scala
  modules/itac/src/main/scala/log/ObsRejectMessage.scala
  modules/itac/src/main/scala/log/RejectConditions.scala
  modules/itac/src/main/scala/log/RejectRestrictedBin.scala
  modules/itac/src/main/scala/log/RejectTarget.scala
  modules/itac/src/main/scala/log/RejectToo.scala
  modules/itac/src/main/scala/log/TimeBinMessageFormatter.scala
  modules/itac/src/main/scala/log/package.scala
  modules/itac/src/main/scala/p1/Observation.scala
  modules/itac/src/main/scala/p1/Proposal.scala
  modules/itac/src/main/scala/p1/io/ObservationIo.scala.ignore
  modules/itac/src/main/scala/p1/io/ProposalIo.scala.ignore
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/RestrictionConfigTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/TimeRestrictionTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/block/BlockIteratorTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/block/TimeAccountingCategoryBlockIteratorTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/ConditionsResourceTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/DecResourceTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/Fixture.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceGroupTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/p1/io/ObservationIoTest.scala.ignore
  modules/itac/src/test/scala/edu/gemini/tac/qengine/p1/io/ProposalFixture.scala.ignore
Due: none

remove Percent
  modules/core/shared/src/main/scala/lucuma/core/model/package.scala
  modules/itac/src/main/scala/api/config/ConditionsBin.scala
  modules/itac/src/main/scala/api/config/ConditionsCategoryMap.scala
  modules/itac/src/main/scala/api/config/Default.scala
  modules/itac/src/main/scala/api/config/RestrictionConfig.scala
  modules/itac/src/main/scala/api/config/SiteSemesterConfig.scala
  modules/itac/src/main/scala/api/config/TimeRestriction.scala
  modules/itac/src/main/scala/api/queue/time/QueueTime.scala
  modules/itac/src/main/scala/api/queue/time/TimeAccountingCategoryTime.scala
  modules/itac/src/main/scala/impl/resource/ConditionsCategoryMapResource.scala
  modules/itac/src/main/scala/impl/resource/DeclinationMapResource.scala
  modules/itac/src/main/scala/impl/resource/TimeRestrictionResource.scala
  modules/itac/src/main/scala/p1/Ntac.scala
  modules/itac/src/main/scala/p1/io/ProposalIo.scala.ignore
  modules/itac/src/main/scala/skycalc/DecBinCalc.scala
  modules/itac/src/main/scala/skycalc/ElevationDecBinCalc.scala
  modules/itac/src/main/scala/skycalc/RaDecBinCalc.scala
  modules/itac/src/main/scala/util/Percent.scala
  modules/itac/src/main/scala/util/Time.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/ConditionsBinGroupTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/ConditionsBinTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/DecBinGroupTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/DecBinTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/RestrictionConfigTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/SiteSemesterConfigTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/TimeRestrictionTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/ConditionsResourceTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/Fixture.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceGroupTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceTest.scala
Due: Label core PRs

renames
  modules/itac/src/main/scala/p1/ItacObservation.scala
  modules/itac/src/main/scala/p1/ItacTarget.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/ItacSuite.scala
Due: none

skybackground
  modules/itac/src/main/scala/api/config/ConditionsCategory.scala
  modules/itac/src/main/scala/api/config/Default.scala
  modules/itac/src/main/scala/p1/ObservingCondition.scala
  modules/itac/src/main/scala/p1/ObservingConditions.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/ConditionsBinGroupTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/ConditionsCategoryTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/TimeRestrictionTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/ConditionsResourceTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/Fixture.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceGroupTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceTest.scala
Due: none

rename fields
  modules/itac/src/main/scala/api/config/BandRestriction.scala
  modules/itac/src/main/scala/api/config/ConditionsCategory.scala
  modules/itac/src/main/scala/api/config/Default.scala
  modules/itac/src/main/scala/api/config/TimeRestriction.scala
  modules/itac/src/main/scala/p1/ObservingConditions.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/RestrictionConfigTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/TimeRestrictionTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceGroupTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceTest.scala
Due: none

fix
  modules/itac/src/main/scala/api/config/ConditionsCategory.scala
  modules/itac/src/main/scala/api/config/Default.scala
  modules/itac/src/main/scala/api/config/TimeRestriction.scala
  modules/itac/src/main/scala/p1/ObservingConditions.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/ConditionsBinGroupTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/ConditionsCategoryTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/RestrictionConfigTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/TimeRestrictionTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/ConditionsResourceTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/Fixture.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceGroupTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceTest.scala
Due: none

megative time isn't actually needed
  modules/core/shared/src/main/scala/lucuma/core/model/Allocation.scala
  modules/core/shared/src/main/scala/lucuma/core/model/PartnerSplit.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ProposalType.scala
  modules/itac/src/main/scala/impl/block/TimeAccountingCategoryBlockIterator.scala
  modules/itac/src/main/scala/impl/block/TooBlocks.scala
  modules/itac/src/main/scala/impl/resource/PerRightAscensionResource.scala
  modules/itac/src/main/scala/impl/resource/SemesterResource.scala
  modules/itac/src/main/scala/log/RejectOverAllocation.scala
  modules/itac/src/main/scala/log/RejectTimeAccountingCategoryOverAllocation.scala
  modules/itac/src/main/scala/util/BoundedTime.scala
  modules/itac/src/main/scala/util/Time.scala
Due: Label core PRs

Added a new geometry type to mark the noZones used by ags
  modules/ags/src/main/scala/lucuma/ags/AgsVisualization.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/GeometryType.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsAgsDemo.scala
Due: Label ags PRs, Label core PRs, Label tests PRs

Add missing configuratio subtype for igrins 2
  modules/core/shared/src/main/scala/lucuma/core/model/Configuration.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbConfiguration.scala
Due: Label core PRs, Label testkit PRs

time->timespan
  modules/core/shared/src/main/scala/lucuma/core/util/TimeSpan.scala
  modules/itac/src/main/scala/api/config/Default.scala
  modules/itac/src/main/scala/api/queue/ProposalQueue.scala
  modules/itac/src/main/scala/api/queue/time/QueueTime.scala
  modules/itac/src/main/scala/api/queue/time/TimeAccountingCategoryTime.scala
  modules/itac/src/main/scala/impl/QueueEngine2.scala
  modules/itac/src/main/scala/impl/ShutdownCalc.scala
  modules/itac/src/main/scala/impl/block/BlockIterator.scala
  modules/itac/src/main/scala/impl/block/TimeAccountingCategoryBlockIterator.scala
  modules/itac/src/main/scala/impl/block/TooBlocks.scala
  modules/itac/src/main/scala/impl/resource/ConditionsCategoryMapResource.scala
  modules/itac/src/main/scala/impl/resource/DeclinationMapResource.scala
  modules/itac/src/main/scala/impl/resource/RightAscensionMapResource.scala
  modules/itac/src/main/scala/impl/resource/SemesterResource.scala
  modules/itac/src/main/scala/impl/resource/TimeRestrictionResource.scala
  modules/itac/src/main/scala/log/LogMessage.scala
  modules/itac/src/main/scala/log/ObsRejectMessage.scala
  modules/itac/src/main/scala/log/RejectOverAllocation.scala
  modules/itac/src/main/scala/log/RejectTimeAccountingCategoryOverAllocation.scala
  modules/itac/src/main/scala/log/RejectToo.scala
  modules/itac/src/main/scala/log/TimeBinMessageFormatter.scala
  modules/itac/src/main/scala/p1/ItacObservation.scala
  modules/itac/src/main/scala/p1/Ntac.scala
  modules/itac/src/main/scala/util/BoundedTime.scala
  modules/itac/src/main/scala/util/Time.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/RaBinGroupTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/RestrictionConfigTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/SiteSemesterConfigTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/TimeRestrictionTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/block/BlockIteratorTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/block/TimeAccountingCategoryBlockIteratorTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/ConditionsResourceTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/DecResourceTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/Fixture.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/RaResourceTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceGroupTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/TimeResourceTest.scala
Due: Label core PRs

munit libraries
  build.sbt
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/ConditionsBinGroupTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/DecBinGroupTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/RaBinGroupTest.scala
Due: none

remove context
  modules/itac/src/main/scala/api/QueueCalc.scala
  modules/itac/src/main/scala/api/config/SiteSemesterConfig.scala
  modules/itac/src/main/scala/ctx/Context.scala
  modules/itac/src/main/scala/impl/QueueEngine2.scala
  modules/itac/src/main/scala/impl/ShutdownCalc.scala
Due: none

remove cruft
  modules/itac/src/main/scala/p1/Proposal.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/QueueEngineBandProblemsTest.scala
Due: none

Define default offset sets for igrins 2 offset modes
  modules/core/shared/src/main/scala/lucuma/core/math/syntax/BigDecimal.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/igrins2/package.scala
Due: Label core PRs

Add igrins2 readout time constant
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/igrins2/package.scala
Due: Label core PRs

AGS for igrins 2 should take a port parameter
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
Due: Label ags PRs, Label tests PRs

Update binary version
  build.sbt
Due: none

Add setup count
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ExecutionDigest.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbExecutionDigest.scala
Due: Label core PRs, Label testkit PRs

version
  build.sbt
Due: none

progress
  modules/core/shared/src/main/scala/lucuma/core/model/ProposalType.scala
  modules/itac/src/main/scala/impl/QueueCalcStage.scala
  modules/itac/src/main/scala/impl/QueueEngine2.scala
  modules/itac/src/main/scala/impl/QueueEngine3.scala
  modules/itac/src/main/scala/impl/block/BlockIterator.scala
  modules/itac/src/main/scala/impl/queue/ProposalQueueBuilder.scala
  modules/itac/src/main/scala/p1/ItacObservation.scala
  modules/itac/src/main/scala/p1/Proposal2.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/QueueEngineBandProblemsTest.scala
Due: Label core PRs

Path conditions:
  Label ags PRs: any of: ^modules/ags/
  Label catalog PRs: any of: ^modules/catalog/
  Label catalog-testkit PRs: any of: ^modules/catalog-testkit/
  Label catalog-tests PRs: any of: ^modules/catalog-tests/
  Label core PRs: any of: ^modules/core/
  Label horizons PRs: any of: ^modules/horizons/
  Label horizons-tests PRs: any of: ^modules/horizons-tests/
  Label npm PRs: any of: ^modules/npm/
  Label testkit PRs: any of: ^modules/testkit/
  Label tests PRs: any of: ^modules/tests/
