Repository gemini-hlsw/lucuma-core: changes, and which Mergify rules are due for each by the changed paths.
All: Label core PRs, Label testkit PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=scala-steward
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 2.13.8, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 2.13.8, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label core PRs
  conditions:
  - files~=^modules/core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^modules/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^modules/tests/
  actions:
    label:
      add:
      - tests
      remove: []

Update coulomb
  build.sbt
Due: none

Object Tracking
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/ObjectTracking.scala
Due: Label core PRs

Add average parallactic calculation
  modules/core/shared/src/main/scala/lucuma/core/math/skycalc/package.scala
Due: Label core PRs

objectUrl in CatalogInfo
  modules/core/shared/src/main/scala/lucuma/core/model/CatalogInfo.scala
Due: Label core PRs

bump base version
  build.sbt
Due: none

smart gcal
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/StepConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbStepConfig.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/StepConfigSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Parsers
  modules/core/shared/src/main/scala/lucuma/core/parser/MiscParsers.scala
  modules/core/shared/src/main/scala/lucuma/core/util/parser/UtilParsers.scala
Due: Label core PRs

Parsers, enum updates
  modules/core/shared/src/main/scala/lucuma/core/enums/GcalContinuum.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthFilter.scala
Due: Label core PRs

mima
  build.sbt
Due: none

Smart Gcal Preparation (#689)
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/GcalContinuum.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthFilter.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/StepConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/parser/MiscParsers.scala
  modules/core/shared/src/main/scala/lucuma/core/util/parser/UtilParsers.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbStepConfig.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/StepConfigSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Add Attachment.Id
  modules/core/shared/src/main/scala/lucuma/core/model/ids.scala
Due: Label core PRs

Update GMOS filters
  modules/core/shared/src/main/scala/lucuma/core/enums/ConvenienceOps.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthFilter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthFilter.scala
Due: Label core PRs

rename
  modules/core/shared/src/main/scala/lucuma/core/enums/ConvenienceOps.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthFilter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthFilter.scala
Due: Label core PRs

Add Igrins2 to some enums
  modules/core/shared/src/main/scala/lucuma/core/enums/Instrument.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/LightSinkName.scala
Due: Label core PRs

Avoid errors and warnings.
  modules/core/shared/src/main/scala/lucuma/core/math/units.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ElevationRange.scala
Due: Label core PRs

SignalToNoise
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/math/SignalToNoise.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ExposureTimeMode.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbSignalToNoise.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbExposureTimeMode.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/SignalToNoiseSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ExposureTimeModeSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Update base version
  build.sbt
Due: none

SignalToNoise (#700)
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/math/SignalToNoise.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ExposureTimeMode.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbSignalToNoise.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbExposureTimeMode.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/SignalToNoiseSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ExposureTimeModeSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

GMOS filters fix (#693)
  modules/core/shared/src/main/scala/lucuma/core/enums/ConvenienceOps.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthFilter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthFilter.scala
Due: Label core PRs

Add PosBigDecimal optics to SignalToNoise
  modules/core/shared/src/main/scala/lucuma/core/math/SignalToNoise.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbSignalToNoise.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/SignalToNoiseSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Use ValidSplitEpic instead of Format and remove AdditiveSemigroup instance
  .scalafmt.conf
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/math/SignalToNoise.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/SignalToNoiseSuite.scala
Due: Label core PRs, Label tests PRs

Rename Attachment.Id to ObsAttachment.Id
  modules/core/shared/src/main/scala/lucuma/core/model/ids.scala
Due: Label core PRs

Update JTS and test a bug present on the previous JTS port
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/JtsShapeInterpreter.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
  modules/tests/shared/src/test/scala/lucuma/core/geom/ShapeExpressionSuite.scala
Due: Label core PRs, Label tests PRs

Update JTS version
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/JtsShapeInterpreter.scala
Due: Label core PRs

Add GHOST items and keywords
  modules/core/shared/src/main/scala/lucuma/core/enums/KeywordName.scala
Due: Label core PRs

TimeSpan bounded math ops
  modules/core/shared/src/main/scala/lucuma/core/util/TimeSpan.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/TimeSpanSuite.scala
Due: Label core PRs, Label tests PRs

actually, on second thought, division is just division
  modules/core/shared/src/main/scala/lucuma/core/util/TimeSpan.scala
Due: Label core PRs

on third thought, the multiplier might as well be any Int
  modules/core/shared/src/main/scala/lucuma/core/util/TimeSpan.scala
Due: Label core PRs

NonZeroInt
  modules/core/shared/src/main/scala/lucuma/core/refined/numeric.scala
  modules/core/shared/src/main/scala/lucuma/core/util/TimeSpan.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/TimeSpanSuite.scala
Due: Label core PRs, Label tests PRs

Fix divide target name
  modules/core/shared/src/main/scala/lucuma/core/util/TimeSpan.scala
Due: Label core PRs

decimal ops
  modules/core/shared/src/main/scala/lucuma/core/refined/numeric.scala
  modules/core/shared/src/main/scala/lucuma/core/util/TimeSpan.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/TimeSpanSuite.scala
Due: Label core PRs, Label tests PRs

TimeSpan math ops (#707)
  modules/core/shared/src/main/scala/lucuma/core/refined/numeric.scala
  modules/core/shared/src/main/scala/lucuma/core/util/TimeSpan.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/TimeSpanSuite.scala
Due: Label core PRs, Label tests PRs

Setup published npm package
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  modules/npm/src/main/scala/lucuma/core/Foo.scala
Due: none

revise comment
  build.sbt
Due: none

Separate `npmPackage` and `npmPublish` tasks
  build.sbt
Due: none

Allow SignalToNoise to be zero
  modules/core/shared/src/main/scala/lucuma/core/math/SignalToNoise.scala
  modules/testkit/src/main/scala/lucuma/core/math/arb/ArbSignalToNoise.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/SignalToNoiseSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Increase base version
  build.sbt
Due: none
