Repository gemini-hlsw/lucuma-core: changes, and which Mergify rules are due for each by the changed paths.
All: Label ags PRs, Label catalog PRs, Label catalog-testkit PRs, Label catalog-tests PRs, Label core PRs, Label horizons PRs, Label horizons-tests PRs, Label npm PRs, Label testkit PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJS)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label ags PRs
  conditions:
  - files~=^modules/ags/
  actions:
    label:
      add:
      - ags
      remove: []
- name: Label catalog PRs
  conditions:
  - files~=^modules/catalog/
  actions:
    label:
      add:
      - catalog
      remove: []
- name: Label catalog-testkit PRs
  conditions:
  - files~=^modules/catalog-testkit/
  actions:
    label:
      add:
      - catalog-testkit
      remove: []
- name: Label catalog-tests PRs
  conditions:
  - files~=^modules/catalog-tests/
  actions:
    label:
      add:
      - catalog-tests
      remove: []
- name: Label core PRs
  conditions:
  - files~=^modules/core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label horizons PRs
  conditions:
  - files~=^modules/horizons/
  actions:
    label:
      add:
      - horizons
      remove: []
- name: Label horizons-tests PRs
  conditions:
  - files~=^modules/horizons-tests/
  actions:
    label:
      add:
      - horizons-tests
      remove: []
- name: Label npm PRs
  conditions:
  - files~=^modules/npm/
  actions:
    label:
      add:
      - npm
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^modules/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^modules/tests/
  actions:
    label:
      add:
      - tests
      remove: []

Update binary version
  build.sbt
Due: none

Drop ags for maroonx
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
  modules/ags/src/main/scala/lucuma/ags/AgsVisualization.scala
  modules/benchmarks/src/main/scala/lucuma/bench/Fixtures.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsAgsDemo.scala
Due: Label ags PRs, Label tests PRs

ProgramTypes and ProgramReferences for Keck and Subaru
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/ProgramType.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/SubaruCallForProposalsType.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/parser/EnumParsers.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ProgramReference.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbProgramReference.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ProgramReferenceSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Add observing mode for gmos[ns] mos
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservingModeType.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Configuration.scala
  modules/core/shared/src/main/scala/lucuma/core/model/probes.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbConfiguration.scala
Due: Label core PRs, Label testkit PRs

Add test for MOS configuration checks
  modules/tests/shared/src/test/scala/lucuma/core/model/ConfigurationSuite.scala
Due: Label tests PRs

Add AGS Params for Gmos MOS
  .gitignore
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/AgsSuite.scala
Due: Label ags PRs, Label catalog-tests PRs

Make IGRINS2 use the same telescope configs as GNIRS
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/igrins2/package.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/igrins2/Igrins2ConfigSuite.scala
Due: Label core PRs, Label tests PRs

Add Flamingos2 longslit telescope configs and presets
  modules/core/shared/src/main/scala/lucuma/core/enums/SlitOffsetPreset.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/flamingos2/package.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gnirs/package.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/igrins2/Igrins2StaticConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/igrins2/package.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/igrins2/arb/ArbIgrins2DynamicConfig.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/flamingos2/Flamingos2ConfigSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/igrins2/Igrins2ConfigSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Bump binary version
  build.sbt
Due: none

Min exposure time for very bright should be 0.2s
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsReadMode.scala
Due: Label core PRs

Add client and http4s implementation
  modules/catalog/src/main/scala/lucuma/catalog/goa/GoaClient.scala
  modules/catalog/src/main/scala/lucuma/catalog/goa/GoaClientImpl.scala
Due: Label catalog PRs

Parse GOA UT timestamps as UTC Instant
  build.sbt
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/goa/GoaCodecsSuite.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/goa/GoaSummaryRecord.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/goa/codecs.scala
Due: Label catalog PRs, Label catalog-tests PRs

Add test app
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/goa/GoaQueryApp.scala
Due: Label catalog-tests PRs

Add JSON codecs
  modules/catalog/src/main/scala/lucuma/catalog/goa/codecs.scala
Due: Label catalog PRs

Add GOA data models for archive queries
  modules/catalog/src/main/scala/lucuma/catalog/goa/GoaInstrument.scala
  modules/catalog/src/main/scala/lucuma/catalog/goa/GoaParams.scala
  modules/catalog/src/main/scala/lucuma/catalog/goa/GoaQueryError.scala
  modules/catalog/src/main/scala/lucuma/catalog/goa/GoaSummaryRecord.scala
Due: Label catalog PRs

Fix User-Agent to call GOA
  modules/catalog/shared/src/main/scala/lucuma/catalog/goa/GoaClient.scala
Due: Label catalog PRs

Add client tests
  modules/catalog-testkit/jvm/src/main/scala/lucuma/catalog/goa/GoaClientMock.scala
  modules/catalog-tests/jvm/src/test/resources/goa/nonsidereal-response.json
  modules/catalog-tests/jvm/src/test/resources/goa/sidereal-response.json
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/goa/GoaClientSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/goa/GoaCodecsSuite.scala
Due: Label catalog-testkit PRs, Label catalog-tests PRs

Adapt to the new build
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/goa/GoaClientSuite.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/goa/GoaClient.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/goa/GoaClientImpl.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/goa/GoaInstrument.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/goa/GoaParams.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/goa/GoaQueryError.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/goa/GoaSummaryRecord.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/goa/codecs.scala
Due: Label catalog PRs, Label catalog-tests PRs

Scalafmt
  modules/catalog-testkit/jvm/src/main/scala/lucuma/catalog/goa/GoaClientMock.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/goa/GoaQueryApp.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/goa/GoaClientSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/goa/GoaCodecsSuite.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/goa/GoaClient.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/goa/GoaClientImpl.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/goa/GoaQueryError.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/goa/codecs.scala
Due: Label catalog PRs, Label catalog-testkit PRs, Label catalog-tests PRs

Add syntax for goaName
  modules/catalog-testkit/jvm/src/main/scala/lucuma/catalog/goa/GoaClientMock.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/goa/GoaClientSuite.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/goa/GoaClientImpl.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/goa/GoaInstrument.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/goa/GoaSummaryRecord.scala
Due: Label catalog PRs, Label catalog-testkit PRs, Label catalog-tests PRs

Use richer types for goa results
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/goa/GoaCodecsSuite.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/goa/GoaClient.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/goa/GoaObservationClass.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/goa/GoaObservationType.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/goa/GoaSummaryRecord.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/goa/codecs.scala
Due: Label catalog PRs, Label catalog-tests PRs

Add filter type to gnirs filters
  .gitignore
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsFilter.scala
Due: Label core PRs

Add filter type and width for F2 filters
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/Flamingos2Filter.scala
Due: Label core PRs

Add width for gnirs imaging filters
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsFilter.scala
Due: Label core PRs

Bump base version
  build.sbt
Due: none

New CAL and ENG time accounting categories
  modules/core/shared/src/main/scala/lucuma/core/enums/TimeAccountingCategory.scala
Due: Label core PRs

New CAL and ENG time accounting categories (#1516)
  modules/core/shared/src/main/scala/lucuma/core/enums/TimeAccountingCategory.scala
Due: Label core PRs

Flip the orientation of gnirs imaging cap to match ocs
  modules/core/shared/src/main/scala/lucuma/core/geom/gnirs/GnirsScienceAreaGeometry.scala
Due: Label core PRs

Add defaults for svc images
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/igrins2/package.scala
Due: Label core PRs

Add test mixin that retries flaky tests in CI
  build.sbt
  modules/testkit/src/main/scala/lucuma/core/util/RetryFlakyTests.scala
Due: Label testkit PRs

Expose GoaParams.toUri to get the GOA query URL construction
  modules/catalog/shared/src/main/scala/lucuma/catalog/goa/GoaClientImpl.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/goa/GoaParams.scala
Due: Label catalog PRs

scalafix
  modules/catalog/shared/src/main/scala/lucuma/catalog/goa/GoaParams.scala
Due: Label catalog PRs

Change gnirs ifu default pos angle constraint
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservingModeType.scala
Due: Label core PRs

Use RetryFlakyTests trait
  build.sbt
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/TargetImportSuite.scala
  modules/horizons-tests/js/src/test/scala/lucuma/horizons/HorizonsClientSuite.scala
  modules/tests/jvm/src/test/scala/lucuma/core/math/skycalc/ImprovedSkyCalcSuiteJVM.scala
  modules/tests/shared/src/test/scala/lucuma/core/geom/ShapeExpressionSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/BoundedIntervalSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/CoordinatesSuite.scala
Due: Label catalog-tests PRs, Label horizons-tests PRs, Label tests PRs

Add model for masks that are not already available
  modules/core/shared/src/main/scala/lucuma/core/model/MaskDefinition.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/flamingos2/Flamingos2FpuMask.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/GmosFpuMask.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbMaskDefinition.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/f2/arb/ArbFlamingos2FpuMask.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/gmos/arb/ArbGmosFpuMask.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/gmos/GmosFpuMaskSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Add optics
  modules/core/shared/src/main/scala/lucuma/core/model/MaskDefinition.scala
Due: Label core PRs

Remove .flaky from Coordinates and BoundedInterval suites
  modules/tests/shared/src/test/scala/lucuma/core/math/BoundedIntervalSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/math/CoordinatesSuite.scala
Due: Label tests PRs
