Repository gemini-hlsw/lucuma-core: changes, and which Mergify rules are due for each by the changed paths.
All: Label ags PRs, Label catalog PRs, Label catalog-testkit PRs, Label catalog-tests PRs, Label core PRs, Label horizons PRs, Label horizons-tests PRs, Label npm PRs, Label testkit PRs, Label tests PRs

Label ags PRs:
  label:
    add:
    - ags
    remove: []

Label catalog PRs:
  label:
    add:
    - catalog
    remove: []

Label catalog-testkit PRs:
  label:
    add:
    - catalog-testkit
    remove: []

Label catalog-tests PRs:
  label:
    add:
    - catalog-tests
    remove: []

Label core PRs:
  label:
    add:
    - core
    remove: []

Label horizons PRs:
  label:
    add:
    - horizons
    remove: []

Label horizons-tests PRs:
  label:
    add:
    - horizons-tests
    remove: []

Label npm PRs:
  label:
    add:
    - npm
    remove: []

Label testkit PRs:
  label:
    add:
    - testkit
    remove: []

Label tests PRs:
  label:
    add:
    - tests
    remove: []

Add scala enums for removing the dynamic enums from the odb schema
  modules/core/shared/src/main/scala/lucuma/core/enums/ConditionsExpectationType.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ConditionsMeasurementSource.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/SeeingTrend.scala
Due: Label core PRs

Fix flaky test for BoundedInterval
  modules/tests/shared/src/test/scala/lucuma/core/math/BoundedIntervalSuite.scala
Due: Label tests PRs

Some fixes for goa matchers
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/goa/GoaClientSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/goa/GoaCodecsSuite.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/goa/GoaInstrument.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/goa/codecs.scala
Due: Label catalog PRs, Label catalog-tests PRs

scalafmt
  modules/catalog/shared/src/main/scala/lucuma/catalog/goa/codecs.scala
Due: Label catalog PRs

Expose Flamingos2 mosMode geometry accessor
  modules/core/shared/src/main/scala/lucuma/core/geom/flamingos2/Flamingos2ScienceAreaGeometry.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Configuration.scala
Due: Label core PRs

Add Flamingos2 MOS observing mode
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservingModeType.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Configuration.scala
  modules/core/shared/src/main/scala/lucuma/core/model/probes.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbConfiguration.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ConfigurationSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Bump base version
  build.sbt
Due: none

Add method to create tracing attributes from an ags run
  build.sbt
  modules/ags/src/main/scala/lucuma/ags/Ags.scala
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
Due: Label ags PRs

Canceled gaia queries should not be marked as errors on tracing
  modules/catalog/shared/src/main/scala/lucuma/catalog/clients/GaiaClientImpl.scala
Due: Label catalog PRs

scalafmt
  build.sbt
  modules/ags/src/main/scala/lucuma/ags/Ags.scala
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
Due: Label ags PRs

Refactor
  modules/ags/src/main/scala/lucuma/ags/Ags.scala
  modules/ags/src/main/scala/lucuma/ags/package.scala
Due: Label ags PRs

Some tiny details missing
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/igrins2/package.scala
  modules/core/shared/src/main/scala/lucuma/core/util/Timestamp.scala
Due: Label core PRs

Fix flaky coordinates test
  modules/tests/shared/src/test/scala/lucuma/core/math/CoordinatesSuite.scala
Due: Label tests PRs

Utility method for Gmos custom slit width
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosCustomSlitWidth.scala
Due: Label core PRs

Build ccd model for mos mode
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/GmosCcdMode.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/gmos/BinningSuite.scala
Due: Label core PRs, Label tests PRs

Add assert for flaky test
  modules/tests/shared/src/test/scala/lucuma/core/math/CoordinatesSuite.scala
Due: Label tests PRs

Add enum for gmos mos acquisition type
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosMosAcquisitionType.scala
Due: Label core PRs

Move ExecutionRequirement enum from lucuma-odb
  modules/core/shared/src/main/scala/lucuma/core/enums/ExecutionRequirement.scala
  modules/tests/shared/src/test/scala/lucuma/core/enums/EnumeratedSuite.scala
Due: Label core PRs, Label tests PRs

Add GNIRS imaging Faint sky offset default
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gnirs/GnirsAcquisitionMode.scala
Due: Label core PRs

severity
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservationValidationCode.scala
Due: Label core PRs

bump version
  build.sbt
Due: none

merge w/main, bump version
  build.sbt
Due: none

add default execution environment
  modules/core/shared/src/main/scala/lucuma/core/enums/TooActivation.scala
Due: Label core PRs

version
  build.sbt
Due: none

Rename ToOActivation to TooActivation and add Interrupting
  modules/core/shared/src/main/scala/lucuma/core/enums/ToOActivation.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/TooActivation.scala
  modules/itac/src/main/scala/api/config/BandRestriction.scala
  modules/itac/src/main/scala/impl/QueueEngineBandProblems.scala
  modules/itac/src/main/scala/impl/resource/DeclinationMapResource.scala
  modules/itac/src/main/scala/impl/resource/RightAscensionMapResource.scala
  modules/itac/src/main/scala/p1/Proposal.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/QueueEngineBandProblemsTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/DecResourceTest.scala
Due: Label core PRs

Add TooActivationUnapproved observation validation code
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservationValidationCode.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ObservationValidation.scala
Due: Label core PRs

ToO Activation Update (#1539)
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservationValidationCode.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ToOActivation.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/TooActivation.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ObservationValidation.scala
  modules/itac/src/main/scala/api/config/BandRestriction.scala
  modules/itac/src/main/scala/impl/QueueEngineBandProblems.scala
  modules/itac/src/main/scala/impl/resource/DeclinationMapResource.scala
  modules/itac/src/main/scala/impl/resource/RightAscensionMapResource.scala
  modules/itac/src/main/scala/p1/Proposal.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/QueueEngineBandProblemsTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/DecResourceTest.scala
Due: Label core PRs

bump
  build.sbt
Due: none

Add F2 MOS Geometry
  modules/core/shared/src/main/scala/lucuma/core/geom/flamingos2/Flamingos2ScienceAreaGeometry.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
Due: Label core PRs, Label tests PRs

Update version
  build.sbt
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
Due: Label tests PRs

Distinguish similar GNIRS filters
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsFilter.scala
Due: Label core PRs

Make GnirsDisperserOrder constructible
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsDisperserOrder.scala
  modules/tests/shared/src/test/scala/lucuma/core/enums/GnirsDisperserOrderSuite.scala
Due: Label core PRs, Label tests PRs

Bump tlBaseVersion to 0.230
  build.sbt
Due: none

Update binary version
  build.sbt
Due: none

Indicate which header records the FITS reader retains
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/fits/FitsReaderSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/mos/MosMaskReaderErrorSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/mos/MosMaskReaderSuite.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/fits/FitsHeader.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/mos/MosMaskReader.scala
  modules/core/shared/src/main/scala/lucuma/core/model/mos/MosMaskHeader.scala
Due: Label catalog PRs, Label catalog-tests PRs, Label core PRs

Add MOS mask (ODF/MDF) domain model and streaming FITS reader
  modules/catalog-tests/jvm/src/main/resources/n159_ODF.fits
  modules/catalog-tests/jvm/src/main/resources/ngc7796_ODF.fits
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/fits/FitsReaderSuite.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/fits/Fits.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/fits/FitsBinaryTable.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/fits/FitsHeader.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/fits/FitsProblem.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/fits/FitsRow.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/MosDispersionDirection.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/MosSlitPriority.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/MosSlitType.scala
  modules/core/shared/src/main/scala/lucuma/core/model/mos/MosMask.scala
  modules/core/shared/src/main/scala/lucuma/core/model/mos/MosMaskHeader.scala
  modules/core/shared/src/main/scala/lucuma/core/model/mos/MosMaskProvenance.scala
  modules/core/shared/src/main/scala/lucuma/core/model/mos/MosMaskSlit.scala
  modules/core/shared/src/main/scala/lucuma/core/model/mos/MosNodAndShuffle.scala
  modules/core/shared/src/main/scala/lucuma/core/model/mos/MosObjectId.scala
  modules/core/shared/src/main/scala/lucuma/core/model/mos/MosSpectroscopyConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/mos/MosSpectrumFootprint.scala
Due: Label catalog PRs, Label catalog-tests PRs, Label core PRs

Cleanup the tests
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/fits/FitsReaderSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/mos/MosMaskReaderErrorSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/mos/MosMaskReaderSuite.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/fits/Fits.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/fits/FitsBinaryTable.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/fits/FitsHeader.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/fits/FitsRow.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/mos/MosMaskProblem.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/mos/MosMaskReader.scala
Due: Label catalog PRs, Label catalog-tests PRs

Path conditions:
  Label ags PRs: any of: ^modules/ags/
  Label catalog PRs: any of: ^modules/catalog/
  Label catalog-testkit PRs: any of: ^modules/catalog-testkit/
  Label catalog-tests PRs: any of: ^modules/catalog-tests/
  Label core PRs: any of: ^modules/core/
  Label horizons PRs: any of: ^modules/horizons/
  Label horizons-tests PRs: any of: ^modules/horizons-tests/
  Label npm PRs: any of: ^modules/npm/
  Label testkit PRs: any of: ^modules/testkit/
  Label tests PRs: any of: ^modules/tests/
