Repository gemini-hlsw/lucuma-core: changes, and which Mergify rules are due for each by the changed paths.
All: Label ags PRs, Label catalog PRs, Label catalog-testkit PRs, Label catalog-tests PRs, Label core PRs, Label horizons PRs, Label horizons-tests PRs, Label npm PRs, Label testkit PRs, Label tests PRs

Label ags PRs:
  label:
    add:
    - ags
    remove: []

Label catalog PRs:
  label:
    add:
    - catalog
    remove: []

Label catalog-testkit PRs:
  label:
    add:
    - catalog-testkit
    remove: []

Label catalog-tests PRs:
  label:
    add:
    - catalog-tests
    remove: []

Label core PRs:
  label:
    add:
    - core
    remove: []

Label horizons PRs:
  label:
    add:
    - horizons
    remove: []

Label horizons-tests PRs:
  label:
    add:
    - horizons-tests
    remove: []

Label npm PRs:
  label:
    add:
    - npm
    remove: []

Label testkit PRs:
  label:
    add:
    - testkit
    remove: []

Label tests PRs:
  label:
    add:
    - tests
    remove: []

Add ScorpioFilter and ScorpioChannel enums
  modules/core/shared/src/main/scala/lucuma/core/enums/ScorpioChannel.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ScorpioFilter.scala
Due: Label core PRs

Add ScorpioFpu enum and Display for ScorpioChannel
  modules/core/shared/src/main/scala/lucuma/core/enums/ScorpioFpu.scala
Due: Label core PRs

Add Scorpio pixel scale and long slit height constants
  modules/core/shared/src/main/scala/lucuma/core/enums/ScorpioFilter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ScorpioFpu.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/scorpio/package.scala
Due: Label core PRs

Exposure time warning
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservationValidationCode.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ObservationValidation.scala
Due: Label core PRs

Add Scorpio JTS demos with PWFS2
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
Due: Label tests PRs

Add Scorpio imaging science area geometry
  modules/core/shared/src/main/scala/lucuma/core/geom/scorpio/ScorpioScienceAreaGeometry.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/scorpio/package.scala
Due: Label core PRs

Add Scorpio long slit science area geometry
  modules/core/shared/src/main/scala/lucuma/core/geom/scorpio/ScorpioScienceAreaGeometry.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/scorpio/package.scala
Due: Label core PRs

cleanup
  modules/core/shared/src/main/scala/lucuma/core/geom/scorpio/ScorpioScienceAreaGeometry.scala
Due: Label core PRs

Add Scorpio long slit and imaging AGS params
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/AgsParamsVariants.scala
  modules/tests-wasm/src/test/scala/lucuma/ags/AgsGeometryParitySuite.scala
Due: Label ags PRs, Label catalog-tests PRs

Group calibration counts and times into CalibrationDigest
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/CalibrationDigest.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/CalibrationEstimate.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ExecutionDigest.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbCalibrationDigest.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbCalibrationEstimate.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbExecutionDigest.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/CalibrationDigestSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/CalibrationEstimateSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/ExecutionDigestSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Split the calibration estimate into existing and expected
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ExecutionDigest.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbExecutionDigest.scala
Due: Label core PRs, Label testkit PRs

Add expectedCalibrations to ExecutionDigest
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ExecutionDigest.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbExecutionDigest.scala
Due: Label core PRs, Label testkit PRs

Upbate binary version
  build.sbt
Due: none

Remove the ConfigurationRequest case class
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/ConfigurationRequest.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ids.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbConfigurationRequest.scala
Due: Label core PRs, Label testkit PRs

Placeholder Ghost IFU mapping for ToOs
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostIfuMappingSyntax.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/ghost/GhostIfuMappingSuite.scala
Due: Label core PRs, Label tests PRs

Placeholder Ghost IFU mapping for ToOs (#1670)
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostIfuMappingSyntax.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/ghost/GhostIfuMappingSuite.scala
Due: Label core PRs, Label tests PRs

checkpoint
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/ScienceBand.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/TimeAccountingCategory.scala
  modules/core/shared/src/main/scala/lucuma/core/util/TimeSpan.scala
  modules/itac/src/main/scala/api/QueueCalc.scala
  modules/itac/src/main/scala/api/config/SiteSemesterConfig.scala
  modules/itac/src/main/scala/client/ItacException.scala
  modules/itac/src/main/scala/client/Main.scala
  modules/itac/src/main/scala/client/Operation.scala
  modules/itac/src/main/scala/client/Workspace.scala
  modules/itac/src/main/scala/client/codec/conditionsbin.scala
  modules/itac/src/main/scala/client/codec/conditionscategory.scala
  modules/itac/src/main/scala/client/codec/intcentipercent.scala
  modules/itac/src/main/scala/client/codec/semester.scala
  modules/itac/src/main/scala/client/config/Common.scala
  modules/itac/src/main/scala/client/config/Email.scala
  modules/itac/src/main/scala/client/config/LocalDateRange.scala
  modules/itac/src/main/scala/client/config/PartnerConfig.scala
  modules/itac/src/main/scala/client/config/QueueConfig.scala
  modules/itac/src/main/scala/client/operation/AbstractQueueOperation.scala
  modules/itac/src/main/scala/client/operation/Init.scala
  modules/itac/src/main/scala/client/operation/Queue.scala
  modules/itac/src/main/scala/client/util/Colors.scala
  modules/itac/src/main/scala/impl/QueueEngine3.scala
  modules/itac/src/main/scala/impl/resource/DeclinationMapResource.scala
  modules/itac/src/main/scala/skycalc/Hours.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/SiteSemesterConfigTest.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/impl/resource/Fixture.scala
  modules/itac/src/test/scala/lucuma/QueueEngineSuite.scala
Due: Label core PRs

Exposure time warning
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsReadMode.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservationValidationCode.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ObservationValidation.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/SequenceDigest.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/exposure/ExposureRule.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/exposure/ExposureRules.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/exposure/ExposureTimeLimits.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/exposure/ExposureTimeViolation.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/exposure/PendingExposureRules.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/package.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/BackgroundSaturation.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/package.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbSequenceDigest.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/exposure/arb/ArbExposureTimeViolation.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/SequenceDigestSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/exposure/ExposureRulesSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

version
  build.sbt
Due: none

Shortcut 9490: exposure time checks (#1666)
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsReadMode.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservationValidationCode.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ObservationValidation.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/SequenceDigest.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/exposure/ExposureRule.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/exposure/ExposureRules.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/exposure/ExposureTimeLimits.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/exposure/ExposureTimeViolation.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/exposure/PendingExposureRules.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/package.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/BackgroundSaturation.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/package.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbSequenceDigest.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/exposure/arb/ArbExposureTimeViolation.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/SequenceDigestSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/exposure/ExposureRulesSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Blind offset star selection improvements
  modules/catalog-testkit/shared/src/main/scala/lucuma/catalog/arb/ArbBlindOffsetCandidate.scala
  modules/catalog-testkit/shared/src/main/scala/lucuma/catalog/arb/ArbCatalogTargetResult.scala
  modules/catalog-tests/jvm/src/main/resources/gaia-blind-offset-esphs.xml
  modules/catalog-tests/jvm/src/main/resources/gaia-blind-offset-f2.xml
  modules/catalog-tests/jvm/src/main/resources/gaia-blind-offset-gmos1.xml
  modules/catalog-tests/jvm/src/main/resources/gaia-blind-offset-gmos2.xml
  modules/catalog-tests/jvm/src/main/resources/gaia-blind-offset-gnirs.xml
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/BlindOffsetApp.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/BlindOffsetFileTestSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/BlindOffsetRegressionSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/ParseSimbadFileSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/simbad/SEDMatcherSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/BlindOffsetCandidatesSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/GaiaPhotometrySuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/AdaptersSuite.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/BlindOffsetLimits.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/BlindOffsets.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/CatalogTargetResult.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/GaiaPhotometry.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/StellarParameters.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/clients/GaiaClient.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/clients/GaiaClientImpl.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/simbad/SEDMatcher.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/votable/ADQLInterpreter.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/votable/CatalogSearch.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/votable/VoTableParser.scala
Due: Label catalog PRs, Label catalog-testkit PRs, Label catalog-tests PRs

Estimate V, Sloan g r i, J, H and K from Gaia photometry
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/GaiaPhotometrySuite.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/GaiaPhotometry.scala
Due: Label catalog PRs, Label catalog-tests PRs

Read Gaia effective temperature and surface gravity
  modules/catalog-testkit/shared/src/main/scala/lucuma/catalog/arb/ArbCatalogTargetResult.scala
  modules/catalog-testkit/shared/src/main/scala/lucuma/catalog/arb/ArbGaiaStellarParameters.scala
  modules/catalog-tests/jvm/src/main/resources/gaia-blind-offset-esphs.xml
  modules/catalog-tests/jvm/src/main/resources/gaia-blind-offset-gmos1.xml
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/GaiaStellarParametersSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/ParseSimbadFileSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/simbad/SEDMatcherSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/AdaptersSuite.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/CatalogTargetResult.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/GaiaStellarParameters.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/clients/GaiaClient.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/clients/GaiaClientImpl.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/simbad/SEDMatcher.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/votable/ADQLInterpreter.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/votable/CatalogSearch.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/votable/VoTableParser.scala
Due: Label catalog PRs, Label catalog-testkit PRs, Label catalog-tests PRs

checkpoint
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/TimeAccountingCategory.scala
  modules/core/shared/src/main/scala/lucuma/core/util/Enumerated.scala
  modules/itac/src/main/scala/api/QueueCalc.scala
  modules/itac/src/main/scala/api/config/SiteSemesterConfig.scala
  modules/itac/src/main/scala/client/Main.scala
  modules/itac/src/main/scala/client/Workspace.scala
  modules/itac/src/main/scala/client/codec/conditionsbin.scala
  modules/itac/src/main/scala/client/codec/conditionscategory.scala
  modules/itac/src/main/scala/client/codec/intcentipercent.scala
  modules/itac/src/main/scala/client/codec/semester.scala
  modules/itac/src/main/scala/client/config/Common.scala
  modules/itac/src/main/scala/client/config/Email.scala
  modules/itac/src/main/scala/client/config/LocalDateRange.scala
  modules/itac/src/main/scala/client/config/PartnerConfig.scala
  modules/itac/src/main/scala/client/config/QueueConfig.scala
  modules/itac/src/main/scala/client/ocs/Anonymizer.scala
  modules/itac/src/main/scala/client/ocs/Converter.scala
  modules/itac/src/main/scala/client/ocs/Namer.scala
  modules/itac/src/main/scala/client/ocs/OcsLoader.scala
  modules/itac/src/main/scala/client/ocs/ProposalXml.scala
  modules/itac/src/main/scala/client/ocs/extensions.scala
  modules/itac/src/main/scala/client/operation/AbstractQueueOperation.scala
  modules/itac/src/main/scala/client/operation/Init.scala
  modules/itac/src/main/scala/client/operation/Queue.scala
  modules/itac/src/main/scala/impl/QueueEngine3.scala
  modules/itac/src/main/scala/impl/resource/DeclinationMapResource.scala
  modules/itac/src/main/scala/p1/Proposal.scala
  modules/itac/src/main/scala/skycalc/DecBinSize.scala
  modules/itac/src/main/scala/skycalc/RaBinSize.scala
  modules/itac/src/test/scala/edu/gemini/tac/qengine/api/config/SiteSemesterConfigTest.scala
  modules/itac/src/test/scala/lucuma/QueueEngineSuite.scala
  modules/itac/src/test/scala/lucuma/ocs/Fixture_25B.scala
Due: Label core PRs

Exclude the edges of the Gaia colour ranges
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/GaiaPhotometrySuite.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/GaiaPhotometry.scala
Due: Label catalog PRs, Label catalog-tests PRs

Check every Gaia colour transformation against its coefficients
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/GaiaPhotometrySuite.scala
Due: Label catalog-tests PRs

Look up Gaia effective temperature and surface gravity by source id
  modules/catalog-testkit/shared/src/main/scala/lucuma/catalog/arb/ArbGaiaStellarParameters.scala
  modules/catalog-tests/jvm/src/main/resources/gaia-stellar-parameters-datalab.xml
  modules/catalog-tests/jvm/src/main/resources/gaia-stellar-parameters-esa.xml
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/GaiaStellarParametersSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/simbad/SEDMatcherSuite.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/GaiaStellarParameters.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/clients/GaiaClient.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/clients/GaiaClientImpl.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/simbad/SEDMatcher.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/votable/CatalogSearch.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/votable/VoTableParser.scala
Due: Label catalog PRs, Label catalog-testkit PRs, Label catalog-tests PRs

cleanup
  modules/catalog/shared/src/main/scala/lucuma/catalog/clients/GaiaClient.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/clients/GaiaClientImpl.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
Due: Label catalog PRs

Update binary version
  build.sbt
Due: none

Prefer ESP-HS adapters in the stellar parameters lookup
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/clients/GaiaClientSuite.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/clients/GaiaClientImpl.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
Due: Label catalog PRs, Label catalog-tests PRs

Change sign of offset in GNIRS LR-IFU "Point" offset preset
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gnirs/package.scala
Due: Label core PRs

Blind offset star selection improvements
  modules/catalog-testkit/shared/src/main/scala/lucuma/catalog/arb/ArbBlindOffsetCandidate.scala
  modules/catalog-tests/jvm/src/main/resources/gaia-blind-offset-f2.xml
  modules/catalog-tests/jvm/src/main/resources/gaia-blind-offset-gmos1.xml
  modules/catalog-tests/jvm/src/main/resources/gaia-blind-offset-gmos2.xml
  modules/catalog-tests/jvm/src/main/resources/gaia-blind-offset-gnirs.xml
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/BlindOffsetApp.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/BlindOffsetFileTestSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/BlindOffsetRegressionSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/BlindOffsetCandidatesSuite.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/BlindOffsetLimits.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/BlindOffsets.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/votable/ADQLInterpreter.scala
Due: Label catalog PRs, Label catalog-testkit PRs, Label catalog-tests PRs

checkpoint
  modules/core/shared/src/main/scala/lucuma/core/data/PerSite.scala
  modules/itac/src/main/scala/client/Workspace.scala
  modules/itac/src/main/scala/client/ocs/OcsLoader.scala
  modules/itac/src/main/scala/client/operation/Queue.scala
  modules/itac/src/test/scala/lucuma/ocs/Fixture_25B.scala
Due: Label core PRs

add IsUserDefinedTelluric
  modules/core/shared/src/main/scala/lucuma/core/model/TelluricType.scala
Due: Label core PRs

rename TelluricType.Manual -> ExplicitSpectralTypes
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/TelluricTargetsQueryApp.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/telluric/codecs.scala
  modules/core/shared/src/main/scala/lucuma/core/model/TelluricType.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbTelluricType.scala
Due: Label catalog PRs, Label catalog-tests PRs, Label core PRs, Label testkit PRs

user defined tellurics
  modules/catalog/shared/src/main/scala/lucuma/catalog/telluric/codecs.scala
  modules/core/shared/src/main/scala/lucuma/core/model/TelluricType.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbTelluricType.scala
Due: Label catalog PRs, Label core PRs, Label testkit PRs

Keep the blind offset score at full precision
  modules/catalog/shared/src/main/scala/lucuma/catalog/BlindOffsets.scala
Due: Label catalog PRs

bump base version
  build.sbt
Due: none

Path conditions:
  Label ags PRs: any of: ^modules/ags/
  Label catalog PRs: any of: ^modules/catalog/
  Label catalog-testkit PRs: any of: ^modules/catalog-testkit/
  Label catalog-tests PRs: any of: ^modules/catalog-tests/
  Label core PRs: any of: ^modules/core/
  Label horizons PRs: any of: ^modules/horizons/
  Label horizons-tests PRs: any of: ^modules/horizons-tests/
  Label npm PRs: any of: ^modules/npm/
  Label testkit PRs: any of: ^modules/testkit/
  Label tests PRs: any of: ^modules/tests/
