Repository gemini-hlsw/lucuma-core: changes, and which Mergify rules are due for each by the changed paths.
All: Label core PRs, Label testkit PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=scala-steward
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 2.13.8, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 2.13.8, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label core PRs
  conditions:
  - files~=^modules/core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^modules/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^modules/tests/
  actions:
    label:
      add:
      - tests
      remove: []

Unify GmosXBinning and GmosYBinning
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosBinning.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosXBinning.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosYBinning.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/package.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/GmosCcdMode.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/binning.scala
Due: Label core PRs

So stupid
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosBinning.scala
Due: Label core PRs

Update base version
  build.sbt
Due: none

Update sbt
  project/build.properties
  project/plugins.sbt
Due: none

alternate gaia sources
  modules/catalog-testkit/src/main/scala/lucuma/catalog/votable/VoTableSamples.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/AgsSelectionApp.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/GaiaQueryApp.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/GaiaQueryPMApp.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/ParseGaiaFileSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/AdaptersSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/ADQLGaiaQuery.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogQuery.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogSearch.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/VoTableParser.scala
Due: none

bump base version
  build.sbt
Due: none

Lenses for CalculatedValue
  modules/core/shared/src/main/scala/lucuma/core/util/CalculatedValue.scala
Due: Label core PRs

implement GaiaClient
  build.sbt
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/AgsSelectionApp.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/AgsSelectionStreamApp.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/GaiaQueryApp.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/GaiaQueryPMApp.scala
  modules/catalog/src/main/scala/lucuma/catalog/clients/GaiaClient.scala
  modules/catalog/src/main/scala/lucuma/catalog/clients/GaiaClientImpl.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/ADQLGaiaQuery.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/ADQLInterpreter.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogProblem.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogQuery.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogSearch.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/GaiaSourceIdQuery.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/effect.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/package.scala
Due: Label core PRs

Add binning calculations for imaging/mos/ifu
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/binning.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/ifu/package.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/imaging/package.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/mos/package.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/gmos/BinningSuite.scala
Due: Label core PRs, Label tests PRs

add arc type
  modules/core/shared/src/main/scala/lucuma/core/enums/ArcType.scala
Due: Label core PRs

Update the organization, now methods for each mode are only on the respective packages
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/binning.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/ifu/package.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/imaging/package.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/longslit/package.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/mos/package.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/gmos/BinningSuite.scala
Due: Label core PRs, Label tests PRs

Move all the mode specific calculations to their own packages
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/binning.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/ifu/package.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/imaging/package.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/mos/package.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/gmos/BinningSuite.scala
Due: Label core PRs, Label tests PRs

raceToSuccess: don't cancel fiber on error/cancel of the other
  modules/core/shared/src/main/scala/lucuma/core/syntax/effect.scala
Due: Label core PRs

Add offset generator functions
  modules/core/shared/src/main/scala/lucuma/core/geom/OffsetGenerator.scala
  modules/tests/shared/src/test/scala/lucuma/core/geom/OffsetGeneratorSuite.scala
Due: Label core PRs, Label tests PRs

Add missing lens to ConfigurationRequest
  modules/core/shared/src/main/scala/lucuma/core/model/ConfigurationRequest.scala
Due: Label core PRs

Add generators for one dimensional sets
  modules/core/shared/src/main/scala/lucuma/core/geom/OffsetGenerator.scala
  modules/tests/shared/src/test/scala/lucuma/core/geom/OffsetGeneratorSuite.scala
Due: Label core PRs, Label tests PRs

Add a class to represent an ABBA pattern
  modules/core/shared/src/main/scala/lucuma/core/geom/OffsetGenerator.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ABBA.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbABBA.scala
  modules/tests/shared/src/test/scala/lucuma/core/geom/OffsetGeneratorSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/ABBASuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

add Zero preset and remove 1.5 for CloudExtinction
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/LimitsSuite.scala
  modules/core/shared/src/main/scala/lucuma/core/model/CloudExtinction.scala
Due: Label core PRs

Make generators run on F[_] no use cats-effect Random for some reason
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/geom/OffsetGenerator.scala
  modules/tests/shared/src/test/scala/lucuma/core/geom/OffsetGeneratorSuite.scala
Due: Label core PRs, Label tests PRs

Make the grid methods not return results on F
  modules/core/shared/src/main/scala/lucuma/core/geom/OffsetGenerator.scala
  modules/tests/shared/src/test/scala/lucuma/core/geom/OffsetGeneratorSuite.scala
Due: Label core PRs, Label tests PRs

update sbt
  project/build.properties
Due: none

Add units to ImageQuality label and Display
  modules/core/shared/src/main/scala/lucuma/core/model/ImageQuality.scala
Due: Label core PRs

Switch simbad url to the one on Strasburg
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogSearch.scala
Due: none

AtomDigest
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/AtomDigest.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/SequenceDigest.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/StepConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbAtomDigest.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbSequenceDigest.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/AtomDigestSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/SequenceDigestSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

version
  build.sbt
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbAtomDigest.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/AtomDigestSuite.scala
Due: Label testkit PRs, Label tests PRs

rejigger
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/AtomDigest.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbAtomDigest.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/AtomDigestSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Add `AtomDigest` type (#1139)
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/AtomDigest.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/SequenceDigest.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/StepConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbAtomDigest.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbSequenceDigest.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/AtomDigestSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/SequenceDigestSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Add MultipleFiltersMode enum
  modules/core/shared/src/main/scala/lucuma/core/enums/MultipleFiltersMode.scala
Due: Label core PRs

On target import set pm/rv/px to zero if missing
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/TargetImportSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/csv/TargetImport.scala
Due: none

update configuration to accept region
  modules/core/shared/src/main/scala/lucuma/core/model/Configuration.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbConfiguration.scala
Due: Label core PRs, Label testkit PRs

oops
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbConfiguration.scala
Due: Label testkit PRs

Switch exposure time mode to pos int
  modules/core/shared/src/main/scala/lucuma/core/model/ExposureTimeMode.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbExposureTimeMode.scala
Due: Label core PRs, Label testkit PRs

Switch exposure time mode to pos int (#1145)
  modules/core/shared/src/main/scala/lucuma/core/model/ExposureTimeMode.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbExposureTimeMode.scala
Due: Label core PRs, Label testkit PRs

Export JS functions to parse IDs
  modules/npm/src/main/scala/lucuma/core/exports.scala
  modules/npm/src/main/typescript/main.d.ts
Due: none

Add missing ID parsers
  build.sbt
  modules/npm/src/main/scala/lucuma/core/exports.scala
  modules/npm/src/main/typescript/main.d.ts
Due: none

Add skip-sc label automatically
  .github/workflows/skip-sc.yml
Due: none

update binary version
  build.sbt
Due: none

GmosNorth R400 tag change
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthGrating.scala
Due: Label core PRs
