Repository gemini-hlsw/lucuma-core: changes, and which Mergify rules are due for each by the changed paths.
All: Label ags PRs, Label catalog PRs, Label catalog-testkit PRs, Label catalog-tests PRs, Label core PRs, Label horizons PRs, Label horizons-tests PRs, Label npm PRs, Label testkit PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJS)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label ags PRs
  conditions:
  - files~=^modules/ags/
  actions:
    label:
      add:
      - ags
      remove: []
- name: Label catalog PRs
  conditions:
  - files~=^modules/catalog/
  actions:
    label:
      add:
      - catalog
      remove: []
- name: Label catalog-testkit PRs
  conditions:
  - files~=^modules/catalog-testkit/
  actions:
    label:
      add:
      - catalog-testkit
      remove: []
- name: Label catalog-tests PRs
  conditions:
  - files~=^modules/catalog-tests/
  actions:
    label:
      add:
      - catalog-tests
      remove: []
- name: Label core PRs
  conditions:
  - files~=^modules/core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label horizons PRs
  conditions:
  - files~=^modules/horizons/
  actions:
    label:
      add:
      - horizons
      remove: []
- name: Label horizons-tests PRs
  conditions:
  - files~=^modules/horizons-tests/
  actions:
    label:
      add:
      - horizons-tests
      remove: []
- name: Label npm PRs
  conditions:
  - files~=^modules/npm/
  actions:
    label:
      add:
      - npm
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^modules/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^modules/tests/
  actions:
    label:
      add:
      - tests
      remove: []

Add tracing to the telluric targets client
  build.sbt
  modules/catalog-testkit/jvm/src/main/scala/lucuma/catalog/clients/TelluricTargetsClientMock.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/TelluricTargetsQueryApp.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/telluric/TelluricTargetsClient.scala
Due: Label catalog PRs, Label catalog-testkit PRs, Label catalog-tests PRs

add wavelength to gnirs config, infer filter for spectroscopy
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/Flamingos2Filter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsFilter.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gnirs/GnirsDynamicConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/gnirs/arb/ArbGnirsDynamicConfig.scala
Due: Label core PRs, Label testkit PRs

return error when gnirs spec lambda out of filter bounds
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsFilter.scala
Due: Label core PRs

scalafix
  modules/core/shared/src/main/scala/lucuma/core/model/Configuration.scala
  modules/core/shared/src/main/scala/lucuma/core/model/probes.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbConfiguration.scala
Due: Label core PRs, Label testkit PRs

version
  build.sbt
Due: none

gnirs filters with range instead of cutoff
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsFilter.scala
Due: Label core PRs

fine tune X and J Gnirs filters range
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsFilter.scala
Due: Label core PRs

default pos angle constraint
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservingModeType.scala
Due: Label core PRs

bump version again
  build.sbt
Due: none

wut
  build.sbt
Due: none

Update igrins2 central wavelength value
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/igrins2/package.scala
Due: Label core PRs

Update guide limits for AGS. They are different for each probe now
  modules/ags/src/main/scala/lucuma/ags/Ags.scala
  modules/ags/src/main/scala/lucuma/ags/package.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/LimitsSuite.scala
Due: Label ags PRs, Label catalog-tests PRs

Update unit tests, add test to show a star that works on oiwfs but not pwfs
  modules/ags/src/main/scala/lucuma/ags/Ags.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/AgsSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/LimitsSuite.scala
Due: Label ags PRs, Label catalog-tests PRs

Increase base version
  build.sbt
Due: none

Collect statistic about ags runs
  modules/ags/src/main/scala/lucuma/ags/Ags.scala
  modules/ags/src/main/scala/lucuma/ags/package.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/AgsSelectionApp.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/GhostAgsSelectionApp.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/ags/7060.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/AgsSuite.scala
Due: Label ags PRs, Label catalog-tests PRs

Remove ags analysis methods that do pm correction.
  modules/ags/src/main/scala/lucuma/ags/Ags.scala
  modules/ags/src/main/scala/lucuma/ags/AgsAnalysis.scala
  modules/ags/src/main/scala/lucuma/ags/package.scala
Due: Label ags PRs

Show more details on tests
  build.sbt
Due: none

GHOST package object
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/package.scala
Due: Label core PRs

GHOST package object (#1384)
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/package.scala
Due: Label core PRs

Add ImagingCapabilities enum
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/ImagingCapabilities.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/SpectroscopyCapabilities.scala
Due: Label core PRs

Move to the enums package
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/ImagingCapabilities.scala
Due: Label core PRs

gnirs filters optimal wavelengths
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsFilter.scala
Due: Label core PRs

adjust shortnames of gnirs enums
  build.sbt
  modules/ags/src/main/scala/lucuma/ags/AgsAnalysis.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsCamera.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsGrating.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsPrism.scala
Due: Label ags PRs, Label core PRs

Central Wavelength for resident visitors
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/visitors/package.scala
Due: Label core PRs

move sortUsablePositions to class
  modules/ags/src/main/scala/lucuma/ags/AgsAnalysis.scala
  modules/ags/src/main/scala/lucuma/ags/package.scala
Due: Label ags PRs

Rename capabilities enums
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/ImagingCapability.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/SpectroscopyCapabilities.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/SpectroscopyCapability.scala
Due: Label core PRs

gnirs grating names
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsGrating.scala
Due: Label core PRs

Update clue to 0.53.0
  build.sbt
Due: none

add declared ongoing execution state
  modules/core/shared/src/main/scala/lucuma/core/enums/ExecutionState.scala
Due: Label core PRs

Add geometry for gmos N&S slits
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservingModeType.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosScienceAreaGeometry.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/package.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
Due: Label core PRs, Label tests PRs

Allow AGS to run on NS fpus
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosFpuType.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthFpu.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthFpu.scala
Due: Label ags PRs, Label core PRs

Update base version
  build.sbt
Due: none

scalafix
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/package.scala
Due: Label core PRs

gnirs enum-inferring logic
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsReadMode.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsWellDepth.scala
Due: Label core PRs

Update clue to 0.53.1
  build.sbt
Due: none

Add science fov values for resident visitors
  modules/core/shared/src/main/scala/lucuma/core/geom/visitors/package.scala
Due: Label core PRs

Update flake
  flake.nix
Due: none

Rename package
  modules/core/shared/src/main/scala/lucuma/core/geom/visitors/package.scala
Due: Label core PRs

Relax RUWE constraint on guide star searches
  modules/catalog/shared/src/main/scala/lucuma/catalog/votable/ADQLInterpreter.scala
Due: Label catalog PRs

add declared ongoing state
  modules/core/shared/src/main/scala/lucuma/core/enums/ExecutionState.scala
Due: Label core PRs
