Repository gemini-hlsw/lucuma-core: changes, and which Mergify rules are due for each by the changed paths.
All: Label core PRs, Label testkit PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=scala-steward
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 2.13.8, temurin@17, rootJS)
  - status-success=Build and Test (ubuntu-latest, 2.13.8, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label core PRs
  conditions:
  - files~=^modules/core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^modules/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^modules/tests/
  actions:
    label:
      add:
      - tests
      remove: []

AirMassConstraint.toBigDecimal
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/AgsSelectionApp.scala
  modules/core/shared/src/main/scala/lucuma/core/conditions/package.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/SkyBackground.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/WaterVapor.scala
  modules/core/shared/src/main/scala/lucuma/core/model/CloudExtinction.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ConstraintSet.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ElevationRange.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Extinction.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ImageQuality.scala
  modules/core/shared/src/main/scala/lucuma/core/model/package.scala
  modules/core/shared/src/main/scala/lucuma/core/model/validation/ModelValidators.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbElevationRange.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ElevationRangeSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

fix typo, bump base vesion
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/package.scala
Due: Label core PRs

revert test results
  modules/tests/shared/src/test/scala/lucuma/core/conditions/ConditionsLikelihoodSuite.scala
Due: Label tests PRs

Add some logic to F2 enums
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/F2Decker.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/F2ReadMode.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/F2WindowCover.scala
Due: Label core PRs

Actually we need window cover depend on the obs type rather than step type
  modules/core/shared/src/main/scala/lucuma/core/enums/F2WindowCover.scala
Due: Label core PRs

rearrange, add validators
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/F2ReadMode.scala
  modules/core/shared/src/main/scala/lucuma/core/math/validation/MathValidators.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ImageQuality.scala
  modules/core/shared/src/main/scala/lucuma/core/model/validation/ModelValidators.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/ValidSplitEpi.scala
  modules/core/shared/src/main/scala/lucuma/core/optics/ValidWedge.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/Display.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/TreeMap.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/package.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/timespan.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/timespan/package.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/validation.scala
  modules/core/shared/src/main/scala/lucuma/core/util/NewType.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/InputValidSplitEpi.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/InputValidWedge.scala
  modules/core/shared/src/main/scala/lucuma/core/validation/package.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/validation/ModelValidatorsSuite.scala
Due: Label core PRs, Label tests PRs

Avoid failing on bundlemon
  .github/workflows/ci.yml
  project/plugins.sbt
Due: none

Add toSentenceCase
  modules/core/shared/src/main/scala/lucuma/core/syntax/String.scala
Due: Label core PRs

Remove old clubhouse workflow
  .github/workflows/clubhouse.yml
Due: none

Convert more old enumerations to enums
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthFilter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthFpu.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthGrating.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthStageMode.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthFilter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthGrating.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthStageMode.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/Site.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/package.scala
Due: Label core PRs

Use new sbt-lucuma
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/Site.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/package.scala
Due: Label core PRs

Move pixel scala calculations from explore
  modules/core/shared/src/main/scala/lucuma/core/geom/f2/F2OiwfsProbeArm.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/f2/F2PatrolField.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/f2/F2ScienceAreaGeometry.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/f2/package.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/package.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/package.scala
  modules/core/shared/src/main/scala/lucuma/core/math/units.scala
Due: Label core PRs

Add the default PA mode for mode types
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservingModeType.scala
Due: Label core PRs

initial metadata
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/data/Metadata.scala
  modules/core/shared/src/main/scala/lucuma/core/data/PerSite.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/Instrument.scala
  modules/core/shared/src/main/scala/lucuma/core/instances/TimeInstances.scala
  modules/core/shared/src/main/scala/lucuma/core/instances/all.scala
  modules/npm/src/main/scala/lucuma/core/exports.scala
  modules/testkit/src/main/scala/lucuma/core/data/ArbPerSite.scala
  modules/tests/shared/src/test/scala/lucuma/core/data/PerSiteSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

feedback
  modules/core/shared/src/main/scala/lucuma/core/data/Metadata.scala
  modules/core/shared/src/main/scala/lucuma/core/data/PerSite.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/Instrument.scala
  modules/core/shared/src/main/scala/lucuma/core/instances/TimeInstances.scala
  modules/core/shared/src/main/scala/lucuma/core/instances/all.scala
Due: Label core PRs

Add units to F2 enums
  modules/core/shared/src/main/scala/lucuma/core/enums/F2Fpu.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/F2LyotWheel.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/f2/F2OiwfsProbeArm.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/f2/F2PatrolField.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/f2/F2ScienceAreaGeometry.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/syntax/package.scala
  modules/core/shared/src/main/scala/lucuma/core/math/syntax/units.scala
  modules/core/shared/src/main/scala/lucuma/core/syntax/package.scala
Due: Label core PRs

Add geometry for the candidates area
  modules/core/shared/src/main/scala/lucuma/core/geom/f2/F2CandidatesArea.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/f2/F2PatrolField.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/f2/package.scala
Due: Label core PRs

Unify gmos and f2 geometry style
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/f2/F2CandidatesArea.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/f2/package.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosCandidatesArea.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosOiwfsProbeArm.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosPatroField.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/package.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
Due: Label core PRs, Label tests PRs

Remove SlewEvent
  modules/core/shared/src/main/scala/lucuma/core/enums/SlewStage.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ExecutionEvent.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbExecutionEvent.scala
Due: Label core PRs, Label testkit PRs

Restore removed functions and covert more enums
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosAmpGain.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosAmpReadMode.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosCustomSlitWidth.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosDtax.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosEOffsetting.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthFilter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthFilter.scala
Due: Label core PRs

disjoint interval map
  modules/core/shared/src/main/scala/lucuma/core/data/Availability.scala
  modules/core/shared/src/main/scala/lucuma/core/data/DisjointIntervalMap.scala
  modules/core/shared/src/main/scala/lucuma/core/data/Metadata.scala
  modules/core/shared/src/main/scala/lucuma/core/data/PerSite.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/Instrument.scala
  modules/core/shared/src/main/scala/lucuma/core/instances/InstantInstances.scala
  modules/core/shared/src/main/scala/lucuma/core/instances/all.scala
  modules/testkit/src/main/scala/lucuma/core/arb/ArbDiet.scala
  modules/testkit/src/main/scala/lucuma/core/arb/ArbRange.scala
  modules/testkit/src/main/scala/lucuma/core/data/ArbDisjointIntervalMap.scala
  modules/testkit/src/main/scala/lucuma/core/data/ArbPerSite.scala
  modules/tests/shared/src/test/scala/lucuma/core/data/DisjointIntervalMapSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

bump version
  build.sbt
Due: none

accessor for ObservingNight
  modules/core/shared/src/main/scala/lucuma/core/data/Availability.scala
Due: Label core PRs

scalafix
  modules/core/shared/src/main/scala/lucuma/core/data/Availability.scala
Due: Label core PRs

doc
  modules/core/shared/src/main/scala/lucuma/core/util/CalculatedValue.scala
  modules/core/shared/src/main/scala/lucuma/core/util/CalculationState.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/CalculatedValueSuite.scala
Due: Label core PRs, Label tests PRs

CalculationValue
  modules/core/shared/src/main/scala/lucuma/core/util/CalculationPhase.scala
  modules/core/shared/src/main/scala/lucuma/core/util/CalculationValue.scala
  modules/testkit/src/main/scala/lucuma/core/util/arb/ArbCalculationValue.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/CalculationPhaseSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/CalculationValueSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

rename
  modules/core/shared/src/main/scala/lucuma/core/util/CalculatedValue.scala
  modules/core/shared/src/main/scala/lucuma/core/util/CalculationState.scala
  modules/core/shared/src/main/scala/lucuma/core/util/CalculationValue.scala
  modules/testkit/src/main/scala/lucuma/core/util/arb/ArbCalculatedValue.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/CalculatedValueSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/CalculationStateSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/CalculationValueSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

incorprate PR assistance
  modules/core/shared/src/main/scala/lucuma/core/util/CalculatedValue.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/CalculatedValueSuite.scala
Due: Label core PRs, Label tests PRs

scalafix
  modules/tests/shared/src/test/scala/lucuma/core/util/CalculatedValueSuite.scala
Due: Label tests PRs

CalculatedValue (#1099)
  modules/core/shared/src/main/scala/lucuma/core/util/CalculatedValue.scala
  modules/core/shared/src/main/scala/lucuma/core/util/CalculationState.scala
  modules/testkit/src/main/scala/lucuma/core/util/arb/ArbCalculatedValue.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/CalculatedValueSuite.scala
  modules/tests/shared/src/test/scala/lucuma/core/util/CalculationStateSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

F2 Filters always have a wavelength
  modules/core/shared/src/main/scala/lucuma/core/enums/F2Filter.scala
Due: Label core PRs

Update base version
  build.sbt
Due: none

Add F2 sequence definitions
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ExecutionConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/InstrumentExecutionConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbInstrumentExecutionConfig.scala
Due: Label core PRs, Label testkit PRs

Add enum
  modules/core/shared/src/main/scala/lucuma/core/enums/FTSupportRole.scala
Due: Label core PRs

Renamed enum
  modules/core/shared/src/main/scala/lucuma/core/enums/ProposalSupportRole.scala
Due: Label core PRs

Add F2 sequence definitions (#1102)
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ExecutionConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/InstrumentExecutionConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbInstrumentExecutionConfig.scala
Due: Label core PRs, Label testkit PRs

Require custom mask filename
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/f2/F2FpuMask.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/f2/arb/ArbF2FpuMask.scala
Due: Label core PRs, Label testkit PRs

Add GMOS imaging observing mode type
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservingModeType.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Epoch.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gmos/GmosCcdMode.scala
  modules/core/shared/src/main/scala/lucuma/core/parser/MiscParsers.scala
  modules/core/shared/src/main/scala/lucuma/core/util/CalculatedValue.scala
Due: Label core PRs
