Repository gemini-hlsw/lucuma-core: changes, and which Mergify rules are due for each by the changed paths.
All: Label ags PRs, Label benchmarks PRs, Label catalog PRs, Label catalog-testkit PRs, Label catalog-tests PRs, Label core PRs, Label horizons PRs, Label npm PRs, Label testkit PRs, Label tests PRs

Label ags PRs:
  label:
    add:
    - ags
    remove: []

Label benchmarks PRs:
  label:
    add:
    - benchmarks
    remove: []

Label catalog PRs:
  label:
    add:
    - catalog
    remove: []

Label catalog-testkit PRs:
  label:
    add:
    - catalog-testkit
    remove: []

Label catalog-tests PRs:
  label:
    add:
    - catalog-tests
    remove: []

Label core PRs:
  label:
    add:
    - core
    remove: []

Label horizons PRs:
  label:
    add:
    - horizons
    remove: []

Label npm PRs:
  label:
    add:
    - npm
    remove: []

Label testkit PRs:
  label:
    add:
    - testkit
    remove: []

Label tests PRs:
  label:
    add:
    - tests
    remove: []

Update binary version
  build.sbt
Due: none

Improve the telluric star search with a simbad lookup
  modules/catalog/src/main/scala/lucuma/catalog/telluric/TelluricStar.scala
  modules/catalog/src/main/scala/lucuma/catalog/telluric/TelluricTargetsClient.scala
Due: Label catalog PRs

Add simbad client
  modules/catalog-testkit/jvm/src/main/scala/lucuma/catalog/clients/TelluricTargetsClientMock.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/TelluricTargetsQueryApp.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/TargetImportSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/clients/SimbadClient.scala
  modules/catalog/src/main/scala/lucuma/catalog/csv/TargetImport.scala
  modules/catalog/src/main/scala/lucuma/catalog/telluric/TelluricTargetsClient.scala
Due: Label catalog PRs, Label catalog-testkit PRs, Label catalog-tests PRs

Add simbad client mock
  modules/catalog-testkit/jvm/src/main/scala/lucuma/catalog/clients/SimbadClientMock.scala
  modules/catalog-testkit/jvm/src/main/scala/lucuma/catalog/clients/TelluricTargetsClientMock.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/TelluricTargetsQueryApp.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/TargetImportSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/clients/SimbadClient.scala
  modules/catalog/src/main/scala/lucuma/catalog/telluric/TelluricStar.scala
  modules/catalog/src/main/scala/lucuma/catalog/telluric/TelluricTargetsClient.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogSearch.scala
Due: Label catalog PRs, Label catalog-testkit PRs, Label catalog-tests PRs

Make searchTarget tolerant to simbad lookup failures
  modules/catalog/src/main/scala/lucuma/catalog/telluric/TelluricTargetsClient.scala
Due: Label catalog PRs

simplify simbad url creation
  modules/catalog/src/main/scala/lucuma/catalog/clients/SimbadClient.scala
Due: Label catalog PRs

Add tolerance to horizons test
  modules/horizons-tests/shared/src/test/scala/lucuma/horizons/HorizonsClientEphemerisSuite.scala
Due: none

Expose geometries used in ags for diagnostics
  modules/ags/src/main/scala/lucuma/ags/Ags.scala
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
  modules/ags/src/main/scala/lucuma/ags/AgsVisualization.scala
Due: Label ags PRs

Consider the blind offset as an extra shape
  modules/ags/src/main/scala/lucuma/ags/Ags.scala
Due: Label ags PRs

Add demo for gmos with ags
  build.sbt
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsAgsDemo.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
Due: Label tests PRs

scalafix
  modules/ags/src/main/scala/lucuma/ags/Ags.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsAgsDemo.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
Due: Label ags PRs, Label tests PRs

cleanup
  modules/ags/src/main/scala/lucuma/ags/Ags.scala
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
  modules/ags/src/main/scala/lucuma/ags/AgsVisualization.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsAgsDemo.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
Due: Label ags PRs, Label tests PRs

add test client
  modules/horizons-tests/shared/src/test/scala/lucuma/horizons/HorizonsClientEphemerisSuite.scala
  modules/horizons/src/main/scala/lucuma/horizons/AbstractHorizonsClient.scala
  modules/horizons/src/main/scala/lucuma/horizons/HorizonsClient.scala
Due: Label horizons PRs

Fix rotation of acq offsets
  modules/ags/src/main/scala/lucuma/ags/Ags.scala
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
  modules/ags/src/main/scala/lucuma/ags/AgsVisualization.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/AgsSuite.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/flamingos2/Flamingos2PatrolField.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosPatroField.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsAgsDemo.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
Due: Label ags PRs, Label catalog-tests PRs, Label core PRs, Label tests PRs

Remove unused dependencies
  build.sbt
Due: none

Cleanup
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsAgsDemo.scala
Due: Label tests PRs

Fix test
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/AgsSuite.scala
Due: Label catalog-tests PRs

Add ability to proxy the horizons URI
  modules/horizons/src/main/scala/lucuma/horizons/HorizonsClient.scala
Due: Label horizons PRs

Add Epoch.MinValue and Epoch.MaxValue
  modules/core/shared/src/main/scala/lucuma/core/math/Epoch.scala
Due: Label core PRs

Fix parsing of rv and parallax for Gavo/EsaLite
  modules/catalog-testkit/shared/src/main/scala/lucuma/catalog/votable/VoTableSamples.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/GaiaQueryApp.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/clients/GaiaClientSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/VoTableParser.scala
Due: Label catalog PRs, Label catalog-testkit PRs, Label catalog-tests PRs

Instead of looking for id use the per adapter parallx and rv ucds
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/Ucd.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/VoTableParser.scala
Due: Label catalog PRs

datalab
  modules/catalog-testkit/shared/src/main/scala/lucuma/catalog/votable/VoTableSamples.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/clients/GaiaClientSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
Due: Label catalog PRs, Label catalog-testkit PRs, Label catalog-tests PRs

Instead of looking for id use the per adapter parallx and rv ucds
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
Due: Label catalog PRs

Cache shape evaluation
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
Due: Label ags PRs

Reverts some refactorings that had a non trivial performance impact, also cache some expensive geometry calculations
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
Due: Label ags PRs

Do bounding box check before contains
  build.sbt
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/BoundingOffsets.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/Shape.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/JtsShape.scala
Due: Label ags PRs, Label core PRs

Some geom-ags benchmarks
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
  modules/benchmarks/src/main/scala/lucuma/ags/AgsParamsBenchmark.scala
  modules/benchmarks/src/main/scala/lucuma/core/ShapeExpressionBenchmark.scala
Due: Label ags PRs, Label benchmarks PRs

Update version
  build.sbt
Due: none

Exclude science and blind offsets zones for guidestars
  modules/ags/src/main/scala/lucuma/ags/Ags.scala
Due: Label ags PRs

uniform
  modules/core/shared/src/main/scala/lucuma/core/geom/OffsetGenerator.scala
  modules/tests/shared/src/test/scala/lucuma/core/geom/OffsetGeneratorSuite.scala
Due: Label core PRs, Label tests PRs

uniform (#1252)
  modules/core/shared/src/main/scala/lucuma/core/geom/OffsetGenerator.scala
  modules/tests/shared/src/test/scala/lucuma/core/geom/OffsetGeneratorSuite.scala
Due: Label core PRs, Label tests PRs

Improve SED matching
  modules/catalog-tests/jvm/src/main/resources/simbad-sed-test-data-full.dat
  modules/catalog-tests/jvm/src/main/resources/simbad-sed-test-data.dat
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/SimbadSEDTestApp.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherDataSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherFullDataSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SimbadSEDMatcher.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarLibraryParameters.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarPhysics.scala
Due: Label catalog PRs, Label catalog-tests PRs

Add heuristics to read SED from simbad
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/TargetImportSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SimbadSEDMatcher.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/VoTableParser.scala
Due: Label catalog PRs, Label catalog-tests PRs

Improve tests and integrate onto the regular parser
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/ParseSimbadFileSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SimbadSEDMatcher.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SpectralTypeParsers.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/VoTableParser.scala
Due: Label catalog PRs, Label catalog-tests PRs

Require that acq and science offsets be guided at the typelevel
  modules/ags/src/main/scala/lucuma/ags/Ags.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/AgsSelectionApp.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/AgsSelectionStreamApp.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/ags/7060.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/AgsSuite.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsAgsDemo.scala
Due: Label ags PRs, Label catalog-tests PRs, Label tests PRs

Include Guided State for each offset on SequenceDigest
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/SequenceDigest.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbSequenceDigest.scala
Due: Label core PRs, Label testkit PRs

cleanup
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/SimbadSEDTestApp.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherDataSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherFullDataSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SimbadSEDMatcher.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SpectralTypeParsers.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarLibraryParameters.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarPhysics.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/VoTableParser.scala
Due: Label catalog PRs, Label catalog-tests PRs

scalafmt
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/SimbadSEDTestApp.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherDataSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/SimbadSEDMatcherSuite.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SimbadSEDMatcher.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/SpectralTypeParsers.scala
  modules/catalog/src/main/scala/lucuma/catalog/votable/StellarLibraryParameters.scala
Due: Label catalog PRs, Label catalog-tests PRs

Store TelescopeConfig on the sequence digest
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/SequenceDigest.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbSequenceDigest.scala
Due: Label core PRs, Label testkit PRs

Path conditions:
  Label ags PRs: any of: ^modules/ags/
  Label benchmarks PRs: any of: ^modules/benchmarks/
  Label catalog PRs: any of: ^modules/catalog/
  Label catalog-testkit PRs: any of: ^modules/catalog-testkit/
  Label catalog-tests PRs: any of: ^modules/catalog-tests/
  Label core PRs: any of: ^modules/core/
  Label horizons PRs: any of: ^modules/horizons/
  Label npm PRs: any of: ^modules/npm/
  Label testkit PRs: any of: ^modules/testkit/
  Label tests PRs: any of: ^modules/tests/
