Repository gemini-hlsw/lucuma-core: changes, and which Mergify rules are due for each by the changed paths.
All: Label ags PRs, Label catalog PRs, Label catalog-testkit PRs, Label catalog-tests PRs, Label core PRs, Label horizons PRs, Label horizons-tests PRs, Label npm PRs, Label testkit PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJS)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label ags PRs
  conditions:
  - files~=^modules/ags/
  actions:
    label:
      add:
      - ags
      remove: []
- name: Label catalog PRs
  conditions:
  - files~=^modules/catalog/
  actions:
    label:
      add:
      - catalog
      remove: []
- name: Label catalog-testkit PRs
  conditions:
  - files~=^modules/catalog-testkit/
  actions:
    label:
      add:
      - catalog-testkit
      remove: []
- name: Label catalog-tests PRs
  conditions:
  - files~=^modules/catalog-tests/
  actions:
    label:
      add:
      - catalog-tests
      remove: []
- name: Label core PRs
  conditions:
  - files~=^modules/core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label horizons PRs
  conditions:
  - files~=^modules/horizons/
  actions:
    label:
      add:
      - horizons
      remove: []
- name: Label horizons-tests PRs
  conditions:
  - files~=^modules/horizons-tests/
  actions:
    label:
      add:
      - horizons-tests
      remove: []
- name: Label npm PRs
  conditions:
  - files~=^modules/npm/
  actions:
    label:
      add:
      - npm
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^modules/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^modules/tests/
  actions:
    label:
      add:
      - tests
      remove: []

Don't use z prime for acquisition
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthFilter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosSouthFilter.scala
Due: Label core PRs

Update scala.js
  build.sbt
  project/plugins.sbt
Due: none

Use full gaia for blind offset searches instead of gaia lite
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/BlindOffsetApp.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/clients/GaiaClient.scala
Due: Label catalog PRs, Label catalog-tests PRs

Add a gaia 3 esa proxy
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/BlindOffsetApp.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
Due: Label catalog PRs, Label catalog-tests PRs

Add tracing to gaia calls
  build.sbt
  modules/catalog-testkit/jvm/src/main/scala/lucuma/catalog/clients/GaiaClientMock.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/AgsSelectionApp.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/AgsSelectionStreamApp.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/BlindOffsetApp.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/DataLabQueryApp.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/GaiaQueryApp.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/GaiaQueryPMApp.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/catalog/GhostAgsSelectionApp.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/ags/7060.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/clients/GaiaClientSuite.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/clients/GaiaClient.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/clients/GaiaClientImpl.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
Due: Label catalog PRs, Label catalog-testkit PRs, Label catalog-tests PRs

Update binary version
  build.sbt
Due: none

Use gaia 3 esa proxy
  modules/catalog/shared/src/main/scala/lucuma/catalog/clients/GaiaClient.scala
Due: Label catalog PRs

wip
  modules/core/shared/src/main/scala/lucuma/core/data/Metadata.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/Instrument.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservingModeType.scala
  modules/core/shared/src/main/scala/lucuma/core/model/probes.scala
Due: Label core PRs

Add ArbGhostStaticConfig
  modules/testkit/src/main/scala/lucuma/core/model/sequence/ghost/arb/ArbGhostStaticConfig.scala
Due: Label testkit PRs

Add ArbGhostStaticConfig (#1362)
  modules/testkit/src/main/scala/lucuma/core/model/sequence/ghost/arb/ArbGhostStaticConfig.scala
Due: Label testkit PRs

Add GHOST to InstrumentExecutionConfig
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/InstrumentExecutionConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbInstrumentExecutionConfig.scala
Due: Label core PRs, Label testkit PRs

Add ghost type alias
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ExecutionConfig.scala
Due: Label core PRs

Add new enum for proposals
  modules/core/shared/src/main/scala/lucuma/core/enums/ConsiderForBand3.scala
Due: Label core PRs

Add GHOST to InstrumentExecutionConfig (#1363)
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ExecutionConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/InstrumentExecutionConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbInstrumentExecutionConfig.scala
Due: Label core PRs, Label testkit PRs

Minor convenience, rename.
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostDetector.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostDynamicConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/ghost/arb/ArbGhostDynamicConfig.scala
Due: Label core PRs, Label testkit PRs

mima and NonEmptyString description
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostDetector.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostDynamicConfig.scala
Due: Label core PRs

Remove description
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostDetector.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostDynamicConfig.scala
Due: Label core PRs

Shortcut 8293: Minor convenience, rename. (#1365)
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostDetector.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostDynamicConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/ghost/arb/ArbGhostDynamicConfig.scala
Due: Label core PRs, Label testkit PRs

Add guide and slit viewing camera times
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostStaticConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/ghost/arb/ArbGhostStaticConfig.scala
Due: Label core PRs, Label testkit PRs

mima
  build.sbt
Due: none

Remove guide camera exposure time
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostStaticConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/ghost/arb/ArbGhostStaticConfig.scala
Due: Label core PRs, Label testkit PRs

Shortcut 8293: Add guide and slit viewing camera times (#1366)
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostStaticConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/ghost/arb/ArbGhostStaticConfig.scala
Due: Label core PRs, Label testkit PRs

Update atom digest
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/AtomDigest.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbAtomDigest.scala
Due: Label core PRs, Label testkit PRs

Update `AtomDigest` (#1367)
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/AtomDigest.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbAtomDigest.scala
Due: Label core PRs, Label testkit PRs

Order by overall detector estimate
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/DetectorEstimate.scala
Due: Label core PRs

Order by overall detector estimate (#1368)
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/DetectorEstimate.scala
Due: Label core PRs

gnirs configurations
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsAcquisitionMirror.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsCamera.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsDecker.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsDisperser.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsDisperserOrder.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsFilter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsFpuOther.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsFpuSlit.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsGrating.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsPixelScale.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsReadMode.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsWellDepth.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservingModeType.scala
  modules/core/shared/src/main/scala/lucuma/core/math/package.scala
  modules/core/shared/src/main/scala/lucuma/core/model/ExposureTimeMode.scala
  modules/core/shared/src/main/scala/lucuma/core/model/probes.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/InstrumentExecutionConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/flamingos2/Flamingos2StaticConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gnirs/GnirsAcquisitionMirrorMode.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gnirs/GnirsDynamicConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gnirs/GnirsFocus.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gnirs/GnirsStaticConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/util/Display.scala
  modules/core/shared/src/main/scala/lucuma/core/util/NewType.scala
  modules/core/shared/src/main/scala/lucuma/core/util/package.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/gnirs/arb/ArbGnirsAcquisitionMirrorMode.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/gnirs/arb/ArbGnirsDynamicConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/gnirs/arb/ArbGnirsStaticConfig.scala
Due: Label core PRs, Label testkit PRs

bump base version
  build.sbt
Due: none

address pr comments for gnirs configs
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsDecker.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsFpuOther.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsFpuSlit.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/InstrumentExecutionConfig.scala
Due: Label core PRs

add optics for gnirs classes
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gnirs/GnirsAcquisitionMirrorMode.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gnirs/GnirsDynamicConfig.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gnirs/GnirsFocus.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gnirs/GnirsStaticConfig.scala
Due: Label core PRs

wip
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservingModeType.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Configuration.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/InstrumentExecutionConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbConfiguration.scala
Due: Label core PRs, Label testkit PRs

add coadds to gnirs config, update arbs
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gnirs/GnirsDynamicConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbExposureTimeMode.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/gnirs/arb/ArbGnirsDynamicConfig.scala
Due: Label core PRs, Label testkit PRs

remove coadds from etm
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/ExposureTimeMode.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbExposureTimeMode.scala
Due: Label core PRs, Label testkit PRs

Initial GHOST configuration
  modules/core/shared/src/main/scala/lucuma/core/model/Configuration.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbConfiguration.scala
Due: Label core PRs, Label testkit PRs

Initial GHOST configuration (#1374)
  modules/core/shared/src/main/scala/lucuma/core/model/Configuration.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbConfiguration.scala
Due: Label core PRs, Label testkit PRs

Add slit viewing camera exposure time to dynamic config
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ghost/GhostDynamicConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/ghost/arb/ArbGhostDynamicConfig.scala
Due: Label core PRs, Label testkit PRs

version
  build.sbt
Due: none

Switch to the telluric XHIP+Simbad catalog server
  modules/catalog-testkit/jvm/src/main/resources/telluric/sample-stars.json
  modules/catalog/shared/src/main/scala/lucuma/catalog/telluric/TelluricSearchQuery.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/telluric/TelluricStar.scala
Due: Label catalog PRs, Label catalog-testkit PRs
