Repository gemini-hlsw/lucuma-core: changes, and which Mergify rules are due for each by the changed paths.
All: Label ags PRs, Label catalog PRs, Label catalog-testkit PRs, Label catalog-tests PRs, Label core PRs, Label horizons PRs, Label horizons-tests PRs, Label npm PRs, Label testkit PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJS)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label ags PRs
  conditions:
  - files~=^modules/ags/
  actions:
    label:
      add:
      - ags
      remove: []
- name: Label catalog PRs
  conditions:
  - files~=^modules/catalog/
  actions:
    label:
      add:
      - catalog
      remove: []
- name: Label catalog-testkit PRs
  conditions:
  - files~=^modules/catalog-testkit/
  actions:
    label:
      add:
      - catalog-testkit
      remove: []
- name: Label catalog-tests PRs
  conditions:
  - files~=^modules/catalog-tests/
  actions:
    label:
      add:
      - catalog-tests
      remove: []
- name: Label core PRs
  conditions:
  - files~=^modules/core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label horizons PRs
  conditions:
  - files~=^modules/horizons/
  actions:
    label:
      add:
      - horizons
      remove: []
- name: Label horizons-tests PRs
  conditions:
  - files~=^modules/horizons-tests/
  actions:
    label:
      add:
      - horizons-tests
      remove: []
- name: Label npm PRs
  conditions:
  - files~=^modules/npm/
  actions:
    label:
      add:
      - npm
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^modules/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^modules/tests/
  actions:
    label:
      add:
      - tests
      remove: []

Move Testresources to catalog-testkit
  build.sbt
  modules/catalog-testkit/jvm/src/main/scala/lucuma/catalog/TestResources.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/BlindOffsetFileTestSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/ParseGaiaFileSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/ParseSimbadFileSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/TargetImportSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/TestResources.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/mos/MosMaskReaderErrorSuite.scala
Due: Label catalog-testkit PRs, Label catalog-tests PRs

increase test tolerance to avoid spurious fails
  modules/tests/shared/src/test/scala/lucuma/core/geom/ShapeExpressionSuite.scala
Due: Label tests PRs

gnirs acquisition filters per mode
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsFilter.scala
  modules/tests/shared/src/test/scala/lucuma/core/enums/GnirsFilterSuite.scala
Due: Label core PRs, Label tests PRs

add altair mode model
  modules/core/shared/src/main/scala/lucuma/core/enums/AltairMode.scala
Due: Label core PRs

get R band from Gaia, needed for Altair
  modules/catalog-testkit/shared/src/main/scala/lucuma/catalog/arb/ArbBrightnessConstraints.scala
  modules/catalog-testkit/shared/src/main/scala/lucuma/catalog/votable/VoTableSamples.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/BrightnessConstraintsSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/GaiaPhotometrySuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/AdaptersSuite.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/BandsList.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/GaiaPhotometry.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/votable/VoTableParser.scala
Due: Label catalog PRs, Label catalog-testkit PRs, Label catalog-tests PRs

Add calibrationCount field
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/ExecutionDigest.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbExecutionDigest.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/ExecutionDigestSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Update binary version
  build.sbt
Due: none

address pr comments
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/GaiaPhotometrySuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/votable/AdaptersSuite.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/GaiaPhotometry.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/votable/CatalogAdapter.scala
Due: Label catalog PRs, Label catalog-tests PRs

fix format
  modules/catalog-tests/jvm/src/main/scala/lucuma/ags/AltairAgsSelectionApp.scala
Due: Label catalog-tests PRs

on the fly, memoized, r band value for gs candidates
  modules/ags/src/main/scala/lucuma/ags/GuideStarCandidate.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/ags/AltairAgsSelectionApp.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/GuideStarCandidateSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/GaiaPhotometrySuite.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/GaiaPhotometry.scala
Due: Label ags PRs, Label catalog PRs, Label catalog-tests PRs

add guideprobe to AltairMode
  modules/core/shared/src/main/scala/lucuma/core/enums/AltairMode.scala
Due: Label core PRs

altair ags
  build.sbt
  modules/ags/src/main/scala/lucuma/ags/Ags.scala
  modules/ags/src/main/scala/lucuma/ags/AgsAnalysis.scala
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
  modules/ags/src/main/scala/lucuma/ags/GuideStarCandidate.scala
  modules/ags/src/main/scala/lucuma/ags/package.scala
  modules/catalog-testkit/shared/src/main/scala/lucuma/ags/arb/ArbGuideStarCandidate.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/ags/AltairAgsSelectionApp.scala
  modules/catalog-tests/jvm/src/main/scala/lucuma/ags/ShortCut9024App.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/9024.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/AgsSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/GuideStarCandidateSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/LimitsSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/catalog/GaiaPhotometrySuite.scala
  modules/catalog/shared/src/main/scala/lucuma/catalog/GaiaPhotometry.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GuideProbe.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/altair/AltairPatrolField.scala
  modules/tests/shared/src/test/scala/lucuma/core/geom/altair/AltairPatrolFieldSuite.scala
Due: Label ags PRs, Label catalog PRs, Label catalog-testkit PRs, Label catalog-tests PRs, Label core PRs, Label tests PRs

avoid unnecessary computations, add altair demo
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsAltairDemo.scala
Due: Label ags PRs, Label tests PRs

model additions the ODB needs for Altair on GNIRS
  modules/core/shared/src/main/scala/lucuma/core/enums/AltairNdFilter.scala
  modules/core/shared/src/main/scala/lucuma/core/model/probes.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ProbesSuite.scala
Due: Label core PRs, Label tests PRs

Remove lens tests
  modules/tests/shared/src/test/scala/lucuma/core/model/sequence/ExecutionDigestSuite.scala
Due: Label tests PRs

Use Map for Enumerated `fromTag` and `Decoder` lookup
  modules/core/shared/src/main/scala/lucuma/core/enums/Band.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosGratingOrder.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosNorthDetector.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GmosRoi.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GpiASU.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GpiAdc.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GpiApodizer.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GpiCalEntranceShutter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GpiCassegrain.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GpiDisperser.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GpiEntranceShutter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GpiFPM.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GpiFilter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GpiLyot.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GpiObservingMode.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GpiPupilCamera.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GpiReadMode.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GpiReferenceArmShutter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GpiSamplingMode.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GpiScienceArmShutter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GsaoiFilter.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GsaoiOdgwSize.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GsaoiReadMode.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GsaoiRoi.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GsaoiUtilityWheel.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/Half.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/TwilightType.scala
  modules/core/shared/src/main/scala/lucuma/core/util/Enumerated.scala
Due: Label core PRs

fix altair demo and collapse overloaded method
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/model/probes.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsAltairDemo.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ProbesSuite.scala
Due: Label core PRs, Label tests PRs

add altair to configuration request
  modules/core/shared/src/main/scala/lucuma/core/model/Configuration.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbConfiguration.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ConfigurationSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

bump base version
  build.sbt
Due: none

add AirMass Zenith constant
  modules/core/shared/src/main/scala/lucuma/core/model/package.scala
Due: Label core PRs

ObservationPriority enum
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservationPriority.scala
Due: Label core PRs

Set the default value
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservationPriority.scala
Due: Label core PRs

Evaluate the probe arm once and place it per guide star
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/ProbeArmPlacementSuite.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/BoundingOffsets.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/Shape.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/flamingos2/Flamingos2OiwfsProbeArm.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosOiwfsProbeArm.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/JtsShape.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/pwfs/PwfsProbeArm.scala
Due: Label ags PRs, Label catalog-tests PRs, Label core PRs

Move the PWFS probe arm branches into SingleProbeAgsParams
  modules/ags/src/main/scala/lucuma/ags/Ags.scala
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/AgsParamsVariants.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/ProbeArmPlacementSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/ShapePlacementSuite.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/Shape.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/JtsShape.scala
Due: Label ags PRs, Label catalog-tests PRs, Label core PRs

Evaluate the science area and patrol field once and place them per position
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/AgsParamsVariants.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/ProbeArmPlacementSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/ShapePlacementSuite.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/Shape.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/JtsShape.scala
Due: Label ags PRs, Label catalog-tests PRs, Label core PRs

Iterate positions with their geometry instead of looking them up
  modules/ags/src/main/scala/lucuma/ags/Ags.scala
Due: Label ags PRs

converter-wip
  build.sbt
  modules/itac/src/test/scala/lucuma/ocs/Anonymizer.scala
  modules/itac/src/test/scala/lucuma/ocs/Converter.scala
  modules/itac/src/test/scala/lucuma/ocs/Fixture_25B.scala
  modules/itac/src/test/scala/lucuma/ocs/Namer.scala
  modules/itac/src/test/scala/lucuma/ocs/ProposalXml.scala
  modules/itac/src/test/scala/lucuma/ocs/Test.scala
  modules/itac/src/test/scala/lucuma/ocs/extensions.scala
Due: none

Stop the patrol field fold once the intersection is empty
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/Shape.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/jts/JtsShape.scala
Due: Label ags PRs, Label core PRs

Update base version
  build.sbt
  modules/ags/src/main/scala/lucuma/ags/Ags.scala
Due: Label ags PRs

cleanup
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/AgsParamsVariants.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/ProbeArmPlacementSuite.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/ShapePlacementSuite.scala
Due: Label ags PRs, Label catalog-tests PRs

Latest version
  .github/workflows/ci.yml
Due: none

Migrate to sbt 2
  .github/workflows/ci.yml
  .gitignore
  build.sbt
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/BlindOffsetFileTestSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/ParseGaiaFileSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/ParseSimbadFileSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/TargetImportSuite.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/TestResources.scala
  modules/catalog-tests/jvm/src/test/scala/lucuma/catalog/mos/MosMaskReaderErrorSuite.scala
  project/build.properties
  project/plugins.sbt
Due: Label catalog-tests PRs

wip
  modules/itac/src/main/scala/log/package.scala
  modules/itac/src/main/scala/p1/ItacObservation.scala
  modules/itac/src/main/scala/p1/Proposal.scala
  modules/itac/src/test/scala/lucuma/ocs/Converter.scala
  modules/itac/src/test/scala/lucuma/ocs/Fixture_25B.scala
  modules/itac/src/test/scala/lucuma/ocs/Namer.scala
  modules/itac/src/test/scala/lucuma/ocs/ProposalXml.scala
  modules/itac/src/test/scala/lucuma/ocs/Test.scala
  modules/itac/src/test/scala/lucuma/ocs/extensions.scala
Due: none

Compute the guide speed once per candidate in the streaming API
  modules/ags/src/main/scala/lucuma/ags/Ags.scala
Due: Label ags PRs

Assert the placed and evaluated shapes overlap fully
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/ShapePlacementSuite.scala
Due: Label catalog-tests PRs

Add AGS benchmarks for the JVM and Node
  .mergify.yml
  build.sbt
  modules/benchmarks-js/src/main/scala/lucuma/bench/AgsBench.scala
  modules/benchmarks/src/main/scala/lucuma/bench/AgsAnalysisBenchmark.scala
Due: none

scalafmt
  modules/benchmarks/src/main/scala/lucuma/bench/AgsAnalysisBenchmark.scala
Due: none

sc-10482 Add GNIRS and Flamingos-2 imaging configuration modes
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/geom/gnirs/GnirsScienceAreaGeometry.scala
  modules/core/shared/src/main/scala/lucuma/core/model/Configuration.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbConfiguration.scala
  modules/tests/shared/src/test/scala/lucuma/core/model/ConfigurationSuite.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

Test that every ObservingModeType has exactly one Configuration.ObservingMode
  modules/tests/shared/src/test/scala/lucuma/core/model/ConfigurationSuite.scala
Due: Label tests PRs
