Repository gemini-hlsw/lucuma-core: changes, and which Mergify rules are due for each by the changed paths.
All: Label ags PRs, Label catalog PRs, Label catalog-testkit PRs, Label catalog-tests PRs, Label core PRs, Label horizons PRs, Label horizons-tests PRs, Label npm PRs, Label testkit PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJS)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label ags PRs
  conditions:
  - files~=^modules/ags/
  actions:
    label:
      add:
      - ags
      remove: []
- name: Label catalog PRs
  conditions:
  - files~=^modules/catalog/
  actions:
    label:
      add:
      - catalog
      remove: []
- name: Label catalog-testkit PRs
  conditions:
  - files~=^modules/catalog-testkit/
  actions:
    label:
      add:
      - catalog-testkit
      remove: []
- name: Label catalog-tests PRs
  conditions:
  - files~=^modules/catalog-tests/
  actions:
    label:
      add:
      - catalog-tests
      remove: []
- name: Label core PRs
  conditions:
  - files~=^modules/core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label horizons PRs
  conditions:
  - files~=^modules/horizons/
  actions:
    label:
      add:
      - horizons
      remove: []
- name: Label horizons-tests PRs
  conditions:
  - files~=^modules/horizons-tests/
  actions:
    label:
      add:
      - horizons-tests
      remove: []
- name: Label npm PRs
  conditions:
  - files~=^modules/npm/
  actions:
    label:
      add:
      - npm
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^modules/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^modules/tests/
  actions:
    label:
      add:
      - tests
      remove: []

Consistent Cfp types
  modules/core/shared/src/main/scala/lucuma/core/enums/GeminiCallForProposalsType.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/SubaruCallForProposalsType.scala
Due: Label core PRs

add exchange partners + enums
  modules/core/shared/src/main/scala/lucuma/core/enums/ExchangePartner.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/KeckInstrument.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/Observatory.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/PartnerLinkType.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/SubaruInstrument.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/SubaruProposalType.scala
  modules/core/shared/src/main/scala/lucuma/core/model/PartnerLink.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbPartnerLink.scala
Due: Label core PRs, Label testkit PRs

Shortcut 8952: add exchange partners + enums (#1462)
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/enums/ExchangePartner.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GeminiCallForProposalsType.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/KeckInstrument.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/Observatory.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/PartnerLinkType.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/SubaruCallForProposalsType.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/SubaruInstrument.scala
  modules/core/shared/src/main/scala/lucuma/core/model/PartnerLink.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbPartnerLink.scala
Due: Label core PRs, Label testkit PRs

Format js-exported coordinates with 3 decimals
  modules/npm/src/main/scala/lucuma/core/AngleJS.scala
  modules/npm/src/main/scala/lucuma/core/DeclinationJS.scala
  modules/npm/src/main/scala/lucuma/core/RightAscensionJS.scala
  modules/npm/src/main/scala/lucuma/core/exports.scala
  modules/npm/src/test/scala/lucuma/core/ExportsTest.scala
Due: Label npm PRs

Use signed degrees for JS exported dms
  modules/npm/src/main/scala/lucuma/core/exports.scala
  modules/npm/src/test/scala/lucuma/core/ExportsTest.scala
Due: Label npm PRs

Use js.Object instead of @JSExport for exported types
  modules/npm/src/main/scala/lucuma/core/AngleJS.scala
  modules/npm/src/main/scala/lucuma/core/DeclinationJS.scala
  modules/npm/src/main/scala/lucuma/core/ProperMotionJS.scala
  modules/npm/src/main/scala/lucuma/core/RightAscensionJS.scala
Due: Label npm PRs

gnirs ifu fpu and decker
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsDecker.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsFpuIfu.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gnirs/GnirsScienceAreaGeometry.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gnirs/package.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gnirs/GnirsFpu.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/gnirs/arb/ArbGnirsDynamicConfig.scala
Due: Label core PRs, Label testkit PRs

bump base version
  build.sbt
Due: none

hierarchical gnirs fpu
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gnirs/GnirsFpu.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/gnirs/arb/ArbGnirsDynamicConfig.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
Due: Label core PRs, Label testkit PRs, Label tests PRs

add gnirs ifu obsmodetype
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservingModeType.scala
  modules/core/shared/src/main/scala/lucuma/core/model/probes.scala
Due: Label core PRs

add gnirs ifu configuration
  modules/core/shared/src/main/scala/lucuma/core/model/Configuration.scala
  modules/testkit/src/main/scala/lucuma/core/model/arb/ArbConfiguration.scala
Due: Label core PRs, Label testkit PRs

Update ArbInstrumentExecutionConfig
  modules/core/shared/src/main/scala/lucuma/core/enums/Instrument.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/InstrumentExecutionConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbInstrumentExecutionConfig.scala
Due: Label core PRs, Label testkit PRs

Support external-to-gemini exchange observations
  modules/core/shared/src/main/scala/lucuma/core/data/Metadata.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservingModeType.scala
  modules/core/shared/src/main/scala/lucuma/core/model/probes.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/InstrumentExecutionConfig.scala
Due: Label core PRs

version
  build.sbt
Due: none

Shortcut 9121: exchange observations (#1480)
  build.sbt
  modules/core/shared/src/main/scala/lucuma/core/data/Metadata.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/Instrument.scala
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservingModeType.scala
  modules/core/shared/src/main/scala/lucuma/core/model/probes.scala
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/InstrumentExecutionConfig.scala
  modules/testkit/src/main/scala/lucuma/core/model/sequence/arb/ArbInstrumentExecutionConfig.scala
Due: Label core PRs, Label testkit PRs

Add outline for the GMOS masks
  modules/core/shared/src/main/scala/lucuma/core/geom/gmos/GmosScienceAreaGeometry.scala
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
Due: Label core PRs, Label tests PRs

Update binary version
  build.sbt
Due: none

Show ifu markers and for the ghost demo
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
Due: Label tests PRs

cleanup
  modules/ags/src/main/scala/lucuma/ags/Ags.scala
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
Due: Label ags PRs

Add pre-calculation of the protected shapes for optimization
  modules/ags/src/main/scala/lucuma/ags/Ags.scala
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
Due: Label ags PRs

Sample app to reproduce the case that lead to the bug being reported
  modules/catalog-tests/jvm/src/main/scala/lucuma/ags/ShortCut9024App.scala
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/9024.scala
Due: Label catalog-tests PRs

Add test for ghost vignetting
  modules/catalog-tests/shared/src/test/scala/lucuma/ags/9024.scala
Due: Label catalog-tests PRs

Print also overlaps flag
  modules/catalog-tests/jvm/src/main/scala/lucuma/ags/ShortCut9024App.scala
Due: Label catalog-tests PRs

Update the binary version
  build.sbt
Due: none

Update refined
  build.sbt
Due: none

declare gnirs ifu offset presets
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gnirs/package.scala
Due: Label core PRs

JS: show Declination dms with 2 decimals
  modules/npm/src/main/scala/lucuma/core/DeclinationJS.scala
  modules/npm/src/test/scala/lucuma/core/ExportsTest.scala
Due: Label npm PRs

JS: parseDmsString should have 2 decimals
  modules/npm/src/main/scala/lucuma/core/exports.scala
  modules/npm/src/test/scala/lucuma/core/ExportsTest.scala
Due: Label npm PRs

revert gnirs filter wavelength to ocs values
  modules/core/shared/src/main/scala/lucuma/core/enums/GnirsFilter.scala
Due: Label core PRs

gnirs obsmodetype
  modules/core/shared/src/main/scala/lucuma/core/enums/ObservingModeType.scala
  modules/core/shared/src/main/scala/lucuma/core/model/probes.scala
Due: Label core PRs

gnirs imaging and ifu ags + imaging geom
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gnirs/GnirsScienceAreaGeometry.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/gnirs/package.scala
  modules/tests/shared/src/test/scala/lucuma/core/geom/gnirs/GnirsScienceAreaGeometrySuite.scala
Due: Label ags PRs, Label core PRs, Label tests PRs

add jts demo
  modules/tests/jvm/src/main/scala/lucuma/core/geom/jts/demo/JtsDemo.scala
Due: Label tests PRs

gnirs acquisition offset constants
  modules/core/shared/src/main/scala/lucuma/core/model/sequence/gnirs/GnirsAcquisitionMode.scala
Due: Label core PRs

address pr comments
  modules/core/shared/src/main/scala/lucuma/core/geom/gnirs/GnirsScienceAreaGeometry.scala
  modules/core/shared/src/main/scala/lucuma/core/geom/syntax/package.scala
  modules/core/shared/src/main/scala/lucuma/core/math/Angle.scala
  modules/tests/shared/src/test/scala/lucuma/core/geom/gnirs/GnirsScienceAreaGeometrySuite.scala
Due: Label core PRs, Label tests PRs

gcal lamp short names
  modules/core/shared/src/main/scala/lucuma/core/enums/GcalContinuum.scala
Due: Label core PRs

more lamp short names
  modules/core/shared/src/main/scala/lucuma/core/enums/GcalContinuum.scala
Due: Label core PRs

GNIRS should use the side port
  modules/ags/src/main/scala/lucuma/ags/AgsParams.scala
Due: Label ags PRs
